Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2023-10, with the labels that each got.

#135 [Skyrat Mirror] interdyne - gives miners point cards, places sansufentanyl in the medical area
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
Labels: Map Modification

#137 [TG Mirror] Birdshot ordnance QoL
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

#147 Обновляет список запрещённых для (новых) тешарь и ГБСов работ
  tff_modular/master_files/code/modules/job/job_blacklist.dm
Labels: Balance, Code modification

#148 [Skyrat Mirror] [READY] CatEarHeadphones Donor item
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/head/catear_headphone.dmi
  modular_skyrat/modules/GAGS/icons/head/catear_headphone_inhand.dmi
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone.json
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone_worn.json
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone_worn_inhand_left.json
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone_worn_inhand_right.json
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites

#150 [TG Mirror] Fixes two improper calls to ADD_TRAIT (magic mirror, robo customer)
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/basic/space_fauna/robot_customer.dm
Labels: Fix

#151 [Skyrat Mirror] [MODULAR] You can now rename and describe any loadout item, not just plushies.
  code/__DEFINES/~skyrat_defines/loadouts.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
Labels: Quality of Life

#152 [TG Mirror] B.O.R.I.S. Module Bugfix
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Fix

#153 [TG Mirror] Fixes magic mirrors not being able to change your race (?)
  code/datums/dna.dm
  code/game/objects/structures/mirror.dm
  modular_skyrat/modules/customization/datums/dna.dm
Labels: Fix

#154 [TG Mirror] Adds 'Bloody Spreader' component that bloodies everything it touches
  code/__DEFINES/dcs/signals/signals_storage.dm
  code/datums/components/bloody_spreader.dm
  code/datums/materials/meat.dm
  code/datums/storage/storage.dm
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/antagonists/fugitive/hunters/hunter_gear.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/mapfluff/ruins/spaceruin_code/meateor.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/meteor_heart.dm
  tgstation.dme
Labels: Feature, Code modification

#155 [TG Mirror] Tints the screen for halloween
  code/_onclick/hud/rendering/render_plate.dm
Labels: Feature

#158 [TG Mirror] fixes oxyloss not knocking people out at 50
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#159 [TG Mirror] Medical beds show correct overlay
  code/game/objects/structures/beds_chairs/bed.dm
Labels: Fix

#160 Fixes a bug where your mother would delete your species after calling you a disappointment, rendering you a broken husk of a mob
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/modules/hallucination/mother.dm
Labels: Fix, TG Mirror

#161 Rebalances advanced regenerative mesh recipe
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Balance, TG Mirror

#162 Fixes ai shell deployment not unregistering a death signal properly
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: TG Mirror

#163 Fix tesla coil zaps.
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Fix, TG Mirror

#164 Fix husks fire decay to be slower and allow pyre rite to sacrifice husks
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/modules/religion/pyre_rites.dm
Labels: Fix, TG Mirror

#165 [MODULAR] Improves the UX of synth wounds + fixes RCDs on collapsed superstructures
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T3.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/secures_internals.dm
Labels: Fix, Quality of Life, Skyrat Mirror

#166 [DONATOR] Holocigar Ckey Add
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Skyrat Mirror

#168 Adds a smidge of information for species hard-dels
  code/modules/mob/living/carbon/human/_species.dm
Labels: TG Mirror

#169 arrows can be converted
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
Labels: Feature, Skyrat Mirror, Removal

#170 add stone to antfarm and remove smelted sheets
  modular_skyrat/modules/ashwalkers/code/buildings/antfarm.dm
Labels: Feature, Fix, Skyrat Mirror

#172 new syndicate item - bee smoker
  code/__DEFINES/ai/monsters.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/run_away_from_target.dm
  code/datums/ai/basic_mobs/targetting_datums/dont_target_friends.dm
  code/datums/ai/dog/dog_controller.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/datums/looping_sounds/item_sounds.dm
  code/modules/hydroponics/beekeeping/bee_smoker.dm
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  code/modules/mob/living/basic/farm_animals/bee/bee_ai_behavior.dm
  code/modules/mob/living/basic/farm_animals/bee/bee_ai_subtree.dm
  code/modules/mob/living/basic/heretic/star_gazer.dm
  code/modules/mob/living/basic/jungle/seedling/seedling_ai.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_ai.dm
  code/modules/mob/living/basic/lavaland/mook/mook_abilities.dm
  code/modules/mob/living/basic/lavaland/mook/mook_ai.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  code/modules/mob/living/basic/vermin/frog.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/uplink/uplink_items/job.dm
  icons/mob/inhands/equipment/hydroponics_lefthand.dmi
  icons/mob/inhands/equipment/hydroponics_righthand.dmi
  icons/obj/service/hydroponics/equipment.dmi
  sound/weapons/beesmoke.ogg
  tgstation.dme
Labels: Feature, Sprites, TG Mirror

#171 Makes supermatter charged singularity damage the eyes of viewers
  code/datums/components/vision_hurting.dm
  code/modules/power/singularity/singularity.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/mob.dm
  modular_skyrat/modules/cellguns/code/medigun_cells.dm
  tgstation.dme
Labels: Balance, TG Mirror, Mirroring conflict

#173 Fixes modified MA overlays potentially causing duplicate overlays
  code/game/atoms.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: TG Mirror

#175 Turns Holodeck Monkeys into actual Monkeys
  code/__DEFINES/mobs.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/holodeck/mobs.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_harvest.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_holodeck.png
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Balance, TG Mirror, Refactoring

#177 Allows domains to forgo giving bitrunners their disk items and spells if that is desired
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
Labels: Code modification, TG Mirror

#176 fixes gibtonite bomb
  code/datums/wires/explosive.dm
  code/modules/mining/ores_coins.dm
Labels: Fix, TG Mirror

#179 More Plumbing Fixes & Pill Press UI Changes
  code/__DEFINES/plumbing.dm
  code/__DEFINES/reagents.dm
  code/__DEFINES/~skyrat_defines/reagents.dm
  code/_globalvars/lists/plumbing.dm
  code/_globalvars/lists/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/modules/asset_cache/assets/chemmaster.dm
  code/modules/asset_cache/assets/patches.dm
  code/modules/asset_cache/assets/pills.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/ui_icons/patches/bandaid_1.png
  icons/ui_icons/patches/bandaid_2.png
  icons/ui_icons/patches/bandaid_3.png
  icons/ui_icons/patches/bandaid_4.png
  icons/ui_icons/patches/bandaid_blank.png
  icons/ui_icons/patches/bandaid_both.png
  icons/ui_icons/patches/bandaid_brute.png
  icons/ui_icons/patches/bandaid_brute_2.png
  icons/ui_icons/patches/bandaid_burn.png
  icons/ui_icons/patches/bandaid_burn_2.png
  icons/ui_icons/patches/bandaid_clown.png
  icons/ui_icons/patches/bandaid_colonthree.png
  icons/ui_icons/patches/bandaid_exclaimationpoint.png
  icons/ui_icons/patches/bandaid_mix.png
  icons/ui_icons/patches/bandaid_monke.png
  icons/ui_icons/patches/bandaid_msic.png
  icons/ui_icons/patches/bandaid_questionmark.png
  icons/ui_icons/patches/bandaid_suffocation.png
  icons/ui_icons/patches/bandaid_suffocation_2.png
  icons/ui_icons/patches/bandaid_toxin.png
  icons/ui_icons/patches/bandaid_toxin_2.png
  icons/ui_icons/pills/pill1.png
  icons/ui_icons/pills/pill10.png
  icons/ui_icons/pills/pill11.png
  icons/ui_icons/pills/pill12.png
  icons/ui_icons/pills/pill13.png
  icons/ui_icons/pills/pill14.png
  icons/ui_icons/pills/pill15.png
  icons/ui_icons/pills/pill16.png
  icons/ui_icons/pills/pill17.png
  icons/ui_icons/pills/pill18.png
  icons/ui_icons/pills/pill19.png
  icons/ui_icons/pills/pill2.png
  icons/ui_icons/pills/pill20.png
  icons/ui_icons/pills/pill21.png
  icons/ui_icons/pills/pill22.png
  icons/ui_icons/pills/pill3.png
  icons/ui_icons/pills/pill4.png
  icons/ui_icons/pills/pill5.png
  icons/ui_icons/pills/pill6.png
  icons/ui_icons/pills/pill7.png
  icons/ui_icons/pills/pill8.png
  icons/ui_icons/pills/pill9.png
  tgstation.dme
  tgui/packages/tgui/interfaces/ChemPress.tsx
Labels: Code modification, Fix, TG Mirror

#178 Basic Constructs: Artificer
  _maps/RandomRuins/SpaceRuins/medieval1.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/shuttles/emergency_narnar.dmm
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/cmp.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/wounded_targetting.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_wounded_target.dm
  code/datums/ai/basic_mobs/targetting_datums/basic_targetting_datum.dm
  code/datums/components/healing_touch.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/events/portal_storm.dm
  code/modules/mob/living/basic/blob_minions/blob_ai.dm
  code/modules/mob/living/basic/clown/clown_ai.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/constructs/artificer.dm
  code/modules/mob/living/basic/constructs/construct_ai.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla_ai.dm
  code/modules/mob/living/basic/heretic/star_gazer.dm
  code/modules/mob/living/basic/icemoon/ice_whelp/ice_whelp_ai.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon_ai.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_ai.dm
  code/modules/mob/living/basic/lavaland/legion/legion_ai.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/space_fauna/faithless.dm
  code/modules/mob/living/basic/space_fauna/mushroom.dm
  code/modules/mob/living/basic/syndicate/syndicate_ai.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/constructs/juggernaut.dm
  code/modules/mob/living/simple_animal/hostile/constructs/wraith.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/abductor_ai.dm
  modular_skyrat/modules/clock_cult/code/mobs/clockwork_marauder.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/79015_simple_to_basic_construct_artificer.txt
Labels: Map Modification, TG Mirror, Refactoring, Mirroring conflict

#180 [MIRROR] RCD & RTD ui updates when switching between root categories
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RTD.dm
Labels: Fix, TG Mirror

#182 [MIRROR] Adds missing default biotypes to some damage procs
  code/modules/mob/living/damage_procs.dm
Labels: Fix, TG Mirror

#183 [MIRROR] fixes arrows to be different icons again
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: Fix, Skyrat Mirror

#184 [MIRROR] Fixes scream for me, and also fixes literally EVERY INSTANCE of non-random puncture wounds
  code/__DEFINES/wounds.dm
Labels: Fix, TG Mirror

#185 [MIRROR] Add new fitness skill and mechanics
  code/datums/skills/fitness.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/structures/gym/punching_bag.dm
  code/game/objects/structures/gym/weight_machine.dm
  icons/hud/screen_alert.dmi
  tgstation.dme
Labels: Feature, Sprites, TG Mirror

#189 [MIRROR] Adds Custom Announcement Dividers
  code/__DEFINES/announcements.dm
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/communications.dm
  code/controllers/subsystem/security_level.dm
  code/controllers/subsystem/shuttle.dm
  code/modules/security_levels/security_level_datums.dm
  code/modules/shuttle/emergency.dm
  modular_skyrat/modules/airlock_override/code/airlock_override.dm
  modular_skyrat/modules/alerts/code/security_level_datums.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Feature, TG Mirror

#187 [MIRROR] Advanced Robotics Techweb Tweak and General Techweb QOL
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance, Quality of Life, TG Mirror

#190 [MIRROR] [TRAMSTATION] Fixes a single disposals pipe hooked up wrong in the Pod Bay
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, Fix, TG Mirror

#186 [MIRROR] Expands the SS13.lua module by adding loop helpers and functions to get the script runner.
  code/modules/admin/verbs/lua/README.md
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  lua/SS13.lua
Labels: TG Mirror, Administration

#188 [MIRROR] [DONATOR] Dragon maid uniform
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, Skyrat Mirror, Icon changes

#191 [MIRROR] Make Centcom announcements a more masculine color
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Skyrat Mirror, Grammar

#193 [MIRROR] Halloween tile decals
  code/modules/holiday/holidays.dm
Labels: TG Mirror, Icon changes

#174 Removes progression from midround and latejoin traitor, renames reputation to threat level
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/code/event.dm
  tgui/packages/tgui/interfaces/TraitorObjectiveDebug.tsx
  tgui/packages/tgui/interfaces/Uplink/ObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: Balance, TG Mirror, Discuss First

#192 [MIRROR] Export scanner no longer shows shipping manifest value + manifest error changes
  code/__DEFINES/station.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/charter.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/department_order.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/manifest.dm
  code/modules/cargo/order.dm
  code/modules/cargo/universal_scanner.dm
Labels: Balance, TG Mirror

#195 [MIRROR] Skeleton Keys now fit in the Explorer's Webbing
  code/game/objects/items/storage/belt.dm
Labels: Fix, TG Mirror

#196 [MIRROR] Adds Oxyloss KO unit test
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/oxyloss_suffocation.dm
Labels: TG Mirror

#203 [MIRROR] It is now possible to survive the Mansus
  _maps/templates/lazy_templates/heretic_sacrifice.dmm
  code/game/objects/structures/bonfire.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_buff.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile/special/curse.dm
Labels: Map Modification, Balance, Fix, TG Mirror

#197 [MIRROR] Actually supports alpha passed into emissive stuff
  code/__DEFINES/lighting.dm
  code/__HELPERS/lighting.dm
Labels: TG Mirror

#209 [MIRROR] Don't play SM dusting noise for emitter beams
  code/modules/power/supermatter/supermatter_hit_procs.dm
Labels: Fix, TG Mirror

#206 [MIRROR] Adds Food Allergies as a counterpart to Medicine Allergies
  code/__DEFINES/food.dm
  code/datums/components/food/edible.dm
  code/datums/diseases/anaphylaxis.dm
  code/datums/mood_events/food_events.dm
  code/datums/quirks/negative_quirks/food_allergy.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/modules/client/preferences/food_allergy.dm
  code/modules/mob/living/taste.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/food_allergy.tsx
Labels: Feature, TG Mirror

#199 [MIRROR] Mafia can be played on your PDA
  _maps/map_files/Mafia/mafia_ayylmao.dmm
  _maps/map_files/Mafia/mafia_ball.dmm
  _maps/map_files/Mafia/mafia_gothic.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/Mafia/mafia_snow.dmm
  _maps/map_files/Mafia/mafia_spiderclan.dmm
  _maps/map_files/Mafia/mafia_syndie.dmm
  code/datums/saymode.dm
  code/game/area/areas/centcom.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/asset_cache/assets/headers.dm
  code/modules/mafia/_defines.dm
  code/modules/mafia/abilities/abilities.dm
  code/modules/mafia/abilities/investigative/investigate.dm
  code/modules/mafia/abilities/investigative/pray.dm
  code/modules/mafia/abilities/investigative/reveal.dm
  code/modules/mafia/abilities/investigative/thoughtfeed.dm
  code/modules/mafia/abilities/killing/alert.dm
  code/modules/mafia/abilities/killing/flicker_rampage.dm
  code/modules/mafia/abilities/killing/kill.dm
  code/modules/mafia/abilities/protective/heal.dm
  code/modules/mafia/abilities/protective/vest.dm
  code/modules/mafia/abilities/voting/changeling_kill.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mafia/roles/changelings/changeling.dm
  code/modules/mafia/roles/roles.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/file_system/programs/mafia_ntos.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  icons/obj/machines/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_pda.dmi
  icons/program_icons/mafia.gif
  tgstation.dme
  tgui/packages/tgui/interfaces/MafiaPanel.tsx
  tgui/packages/tgui/interfaces/NtosMafiaPanel.tsx
  tgui/packages/tgui/layouts/NtosWindow.js
Labels: Feature, Sprites, Map Modification, Balance, Fix, TG Mirror

#202 [MIRROR] Apply multiplier correctly when transferring reagents.
  code/datums/components/plumbing/reaction_chamber.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix, TG Mirror

#205 [MIRROR] Cooked meat no longer spreads blood around.
  code/game/objects/items/food/meatslab.dm
Labels: Fix, TG Mirror

#198 [MIRROR] Fixes manual revenant event trigger
  code/modules/events/ghost_role/revenant_event.dm
Labels: Fix, TG Mirror

#200 [MIRROR] Fixes some items produced by using plants not inheriting reagent purity
  code/datums/elements/food/food_trash.dm
  code/game/objects/items/food/misc.dm
  code/modules/hydroponics/grown/cereals.dm
Labels: Fix, TG Mirror

#201 [MIRROR] Demonic-Frost Miner Ruin Aesthetic Refresh
  _maps/RandomRuins/IceRuins/icemoon_surface_mining_site.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_mining_site.dmm
  code/modules/mapfluff/ruins/icemoonruin_code/mining_site.dm
  tgstation.dme
Labels: Feature, Map Modification, TG Mirror

#204 [MIRROR] Fix cqc kicks to only cause staminaloss when target is on the floor
  code/datums/martial/cqc.dm
Labels: Fix, TG Mirror

#210 [MIRROR] [MODULAR] Re-Replaces Demonic Watcher Trophy
  modular_skyrat/master_files/code/modules/mob/living/basic/icemoon/ice_demon.dm
  modular_skyrat/modules/modular_items/code/kinetic_crusher.dm
  tgstation.dme
Labels: Fix, Skyrat Mirror

#208 [MIRROR] Overclock safety setting for Gygax
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/working/ripley.dm
  tgui/packages/tgui/interfaces/Mecha/AlertPane.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
Labels: Feature, Fix, TG Mirror

#207 [MIRROR] Fix holodeck items from being eaten, crafted, recycled, juiced, or grinded
  code/datums/components/crafting/crafting.dm
  code/datums/components/food/edible.dm
  code/game/machinery/recycler.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Fix, TG Mirror

#213 [MIRROR] Light dreaming refactor + new dream
  code/__HELPERS/files.dm
  code/__HELPERS/text.dm
  code/controllers/subsystem/sounds.dm
  code/modules/flufftext/Dreaming.dm
Labels: Feature, TG Mirror

#194 Небольшой ремап генетики и гейтвея на джурней
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Modification

#214 [MIRROR] fixes not being able to walk over mook corpses and turns it all to a element
  code/datums/elements/move_force_on_death.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/lavaland/mook/mook.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  tgstation.dme
Labels: Fix, TG Mirror

#215 [MIRROR] Adds lighting height control (space color consistency)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_lighting.dm
  code/__DEFINES/lighting.dm
  code/datums/materials/_material.dm
  code/game/atoms.dm
  code/game/turfs/open/floor/glass.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_source.dm
Labels: Feature, TG Mirror

#216 [MIRROR] Admin outfit popup wording
  code/modules/admin/verbs/selectequipment.dm
Labels: Quality of Life, TG Mirror

#217 [MIRROR] Cargo Engineering Content Part 1 | My little machines that go wwwhrhhhr | Die of CO2 poisoning
  code/__DEFINES/machines.dm
  code/__DEFINES/~skyrat_defines/cargo_import_companies.dm
  code/__DEFINES/~skyrat_defines/colony_fabricator_misc.dm
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/wall_cell_charger.dm
  modular_skyrat/modules/colony_fabricator/code/colony_fabricator.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/equipment.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/computer_board.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/equipment.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/machine_boards.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/stock_parts.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/tools.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/colony_fabricator/code/looping_sounds.dm
  modular_skyrat/modules/colony_fabricator/code/machines/arc_furnace.dm
  modular_skyrat/modules/colony_fabricator/code/machines/power_storage_unit.dm
  modular_skyrat/modules/colony_fabricator/code/machines/rtg.dm
  modular_skyrat/modules/colony_fabricator/code/machines/solar_panels.dm
  modular_skyrat/modules/colony_fabricator/code/machines/solid_fuel_generator.dm
  modular_skyrat/modules/colony_fabricator/code/machines/thermomachine.dm
  modular_skyrat/modules/colony_fabricator/code/repacking_element.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
  modular_skyrat/modules/colony_fabricator/icons/cell_charger.dmi
  modular_skyrat/modules/colony_fabricator/icons/chemistry_machines.dmi
  modular_skyrat/modules/colony_fabricator/icons/machines.dmi
  modular_skyrat/modules/colony_fabricator/icons/packed_machines.dmi
  modular_skyrat/modules/colony_fabricator/icons/power_storage_unit/large_battery.dmi
  modular_skyrat/modules/colony_fabricator/icons/power_storage_unit/small_battery.dmi
  modular_skyrat/modules/colony_fabricator/icons/thermomachine.dmi
  modular_skyrat/modules/colony_fabricator/icons/tools.dmi
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_1.wav
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_2.wav
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_3.wav
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_4.wav
  modular_skyrat/modules/colony_fabricator/sound/attributions.txt
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_1.wav
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_2.wav
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_3.wav
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_4.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_end.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_1.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_2.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_3.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_4.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_start.wav
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_tools.dm
  modular_skyrat/modules/company_imports/code/company_datums.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  modular_skyrat/modules/polarized_windows/polarizer.dm
  tgstation.dme
Labels: Feature, Sprites, Skyrat Mirror

#218 [MIRROR] Tram door/panel hotfix
  .github/CODEOWNERS
  code/modules/transport/_transport_machinery.dm
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/tram/tram_controls.dm
  code/modules/transport/tram/tram_machinery.dm
  code/modules/transport/tram/tram_signals.dm
  code/modules/transport/tram/tram_structures.dm
  icons/obj/tram/crossing_signal.dmi
  icons/obj/tram/tram_sensor.dmi
  icons/obj/tram/tram_structure.dmi
  tools/UpdatePaths/Scripts/77777_Tram_2023.txt
  tools/UpdatePaths/Scripts/79093_tram_and_elevators_repath.txt
Labels: Sprites, Fix, Quality of Life, TG Mirror

#219 [MIRROR] Pies/rootwiches
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_lizard.dm
  icons/obj/food/lizard.dmi
  icons/obj/food/piecake.dmi
Labels: Feature, Sprites, TG Mirror

#220 [MIRROR] Adds a subtle ghost poll
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/components/orbit_poll.dm
  code/datums/components/spirit_holding.dm
  code/game/objects/items/devices/aicard_evil.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Feature, TG Mirror, Refactoring

#221 [MIRROR] Better looking ghost notifications
  code/__HELPERS/priority_announce.dm
  code/_onclick/hud/alert.dm
  code/modules/mob/mob_helpers.dm
Labels: Feature, TG Mirror

#222 [MIRROR] Prettifies Adminwho into an Examine Block
  code/modules/client/verbs/who.dm
Labels: Quality of Life, TG Mirror

#223 [MIRROR] Fixes crafting menu not detecting ingredients properly
  code/datums/components/crafting/crafting.dm
Labels: Fix, TG Mirror

#224 [MIRROR] Aquariums now have an internal feed storage. Fish catalogs as 25cr goodies.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_fish.dmm
  _maps/shuttles/emergency_tranquility.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_barber.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_barber.dmm
  code/datums/components/plumbing/_plumbing.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/general.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/cargo/packs/service.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish_catalog.dm
  tgui/packages/tgui/interfaces/Aquarium.tsx
  tools/UpdatePaths/Scripts/78958_fishing_catalog_manual.txt
Labels: Feature, Map Modification, Balance, Fix, Quality of Life, TG Mirror

#225 [MIRROR] Basic drones
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_rollerdome.dmm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/phobias.dm
  code/_onclick/hud/drones.dm
  code/_onclick/other_mobs.dm
  code/datums/components/holderloving.dm
  code/datums/saymode.dm
  code/datums/storage/storage.dm
  code/datums/wires/airlock.dm
  code/game/machinery/computer/robot.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/clothing/chameleon/chameleon_drone.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/basic/drone/drone_say.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
  code/modules/mob/living/basic/drone/drones_as_items.dm
  code/modules/mob/living/basic/drone/extra_drone_types.dm
  code/modules/mob/living/basic/drone/interaction.dm
  code/modules/mob/living/basic/drone/inventory.dm
  code/modules/mob/living/basic/drone/verbs.dm
  code/modules/mob/living/basic/drone/visuals_icons.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/shuttle/special.dm
  code/modules/tgui/states/notcontained.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/drone_adjustments/drone.dm
  modular_skyrat/modules/drone_adjustments/slide_component.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/79109_simple_to_basic_drone.txt
Labels: Map Modification, Fix, TG Mirror, Refactoring

#226 [MIRROR] Icecat camp but epic!! | Visual updates to stuff that made the before mentioned camp look awful | Hazardously concentrated amounts of :3
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_den.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_upper.dmm
  _maps/skyrat/automapper/automapper_config.toml
  code/game/objects/items/stacks/sheets/mineral.dm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/mapping/code/furniture.dm
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_skyrat/modules/mapping/icons/unique/furniture.dmi
  modular_skyrat/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_skyrat/modules/primitive_catgirls/code/map_items.dm
  modular_skyrat/modules/primitive_catgirls/icons/barrel.dmi
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
  modular_skyrat/modules/primitive_cooking_additions/code/cookware.dm
  modular_skyrat/modules/primitive_cooking_additions/code/cutting_board.dm
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_oven.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_stove.dm
  modular_skyrat/modules/primitive_cooking_additions/icons/millstone.dmi
  modular_skyrat/modules/primitive_structures/code/fencing.dm
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/primitive_structures/code/totally_thatch_roof.dm
  modular_skyrat/modules/primitive_structures/code/wall_torch.dm
  modular_skyrat/modules/primitive_structures/code/windows.dm
  modular_skyrat/modules/primitive_structures/code/wooden_ladder.dm
  modular_skyrat/modules/primitive_structures/icons/lighting.dmi
  modular_skyrat/modules/primitive_structures/icons/roofing.dmi
  modular_skyrat/modules/primitive_structures/icons/storage.dmi
  modular_skyrat/modules/primitive_structures/icons/windows.dmi
  modular_skyrat/modules/primitive_structures/icons/wooden_fence.dmi
  modular_skyrat/modules/primitive_structures/icons/wooden_gate.dmi
  modular_skyrat/modules/primitive_structures/icons/wooden_ladder.dmi
  modular_skyrat/modules/primitive_structures/readme.md
  tgstation.dme
Labels: Feature, Sprites, Map Modification, Skyrat Mirror, Icon changes

#227 [MIRROR] URL Clickabillity. OOC Notes/Flavor Text/Species lore
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: Quality of Life, Skyrat Mirror

#228 [MIRROR] worm farms take a little time to produce food, better fertilizer
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/wormfarm.dm
Labels: Feature, Balance, Code modification, Quality of Life, Skyrat Mirror, Removal

#229 [MIRROR] Reverts crafting hologram check
  code/datums/components/crafting/crafting.dm
Labels: TG Mirror

#230 [MIRROR] Updates signaler investigate code | Adds some nice QOL changes for signalers | Enforces cooldown on signaler circuitry
  code/__DEFINES/logging.dm
  code/_globalvars/logging.dm
  code/modules/admin/verbs/list_exposer.dm
  code/modules/assembly/signaler.dm
  code/modules/modular_computers/file_system/programs/signalcommander.dm
  code/modules/wiremod/components/action/radio.dm
  tgui/packages/tgui/interfaces/Signaler.js
Labels: Quality of Life, TG Mirror

#231 [MIRROR] Yawns no longer spread automatically
  code/modules/mob/living/emote.dm
Labels: Skyrat Mirror, Removal

#232 [MIRROR] Makes neck items default to small sized
  modular_skyrat/modules/modular_items/code/necklace.dm
Labels: Quality of Life, Skyrat Mirror

#234 [MIRROR] removes reagent requirements from medicells, makes the oppressive force cell a slime extract thing
  modular_skyrat/modules/cellguns/code/medigun_research.dm
  modular_skyrat/modules/cellguns/code/mediguns.dm
Labels: Balance, Skyrat Mirror

#236 [MIRROR] Pass reagent purity into food created via chemical reaction
  code/modules/food_and_drinks/recipes/food_mixtures.dm
Labels: Fix, TG Mirror

#237 [MIRROR] Fixes synth puncture wounds being assigned to a non-existant wound type
  code/__DEFINES/wounds.dm
Labels: Fix, Skyrat Mirror

#238 [MIRROR] lets roboticists wear mech suits in loadout (yeah its fucking modular i guess, its just a loadout addition)
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature, Skyrat Mirror

#239 [MIRROR] Replace error spaghetti in thunderdome kitchen
  _maps/map_files/generic/CentCom.dmm
Labels: Map Modification, Fix, TG Mirror

#240 [MIRROR] polymorphic belt shouldn't work on animated objects because it's buggy and weird.
  code/modules/mob/living/simple_animal/hostile/mimic.dm
Labels: Fix, TG Mirror

#233 [MIRROR] Intercom Resprite and Tweaks
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/items/devices/radio/intercom.dm
  code/modules/paperwork/paper_premade.dm
  icons/obj/machines/wallmounts.dmi
  modular_skyrat/modules/aesthetics/intercom/icons/intercom.dmi
Labels: Sprites, Map Modification, Quality of Life, TG Mirror, Icon changes, Grammar

#241 [MIRROR] Fixed runtimes when cliff turfs are destroyed
  code/game/turfs/open/cliff.dm
Labels: TG Mirror

#242 [MIRROR] Fixes infinite loop in bitrunning
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/modules/bitrunning/components/avatar_connection.dm
  code/modules/bitrunning/components/netpod_healing.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/server/obj_generation.dm
Labels: Fix, TG Mirror

#235 [MIRROR] Completely deprecates reagents in protolathe/circuit imprinter/techfab designs
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/research/designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/machinery/_production.dm
  code/modules/unit_tests/designs.dm
  modular_skyrat/modules/cellguns/code/medigun_research.dm
Labels: TG Mirror, Removal, Mirroring conflict

#243 [MIRROR] gives bitrunner landmarks an icon
  code/game/objects/effects/landmarks.dm
  icons/mob/landmarks.dmi
Labels: Sprites, TG Mirror

#244 [MIRROR] resprites air alarms
  icons/obj/machines/wallmounts.dmi
Labels: Sprites, TG Mirror, Icon changes

#248 [MIRROR] Adds new announcements to hallucination announcements
  code/modules/hallucination/station_message.dm
Labels: Fix, TG Mirror

#249 [MIRROR] surgical trays no longer animate when opened
  code/datums/storage/subtypes/surgery_tray.dm
Labels: Fix, TG Mirror

#247 [MIRROR] Pollution doesn't spawn when the subsystem is offline + only player-crafted bonfires produce smoke
  code/datums/components/crafting/tools.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/bonfire.dm
  modular_skyrat/modules/pollution/code/bonfire.dm
  modular_skyrat/modules/pollution/code/turf_open.dm
  tgstation.dme
Labels: Fix, Quality of Life, Skyrat Mirror

#251 [MIRROR] [no gbp] fixes mook village active turfs
  _maps/RandomRuins/LavaRuins/lavaland_surface_mookvillage.dmm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/planet.dm
Labels: Map Modification, TG Mirror

#252 [MIRROR] Minor signals memory optimization
  code/datums/signals.dm
Labels: TG Mirror

#250 [MIRROR] Plastic sheet creates 4 tiles via the tiles menu option
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix, TG Mirror

#254 [MIRROR] [no gbp] knock heretics refuge shenanigans fix
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/heretic/magic/caretaker.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
Labels: Fix, TG Mirror

#258 [MIRROR] fixes birdshot disconnected area
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror

#245 [MIRROR] Adds a Syndicate Monkey Agent beacon uplink item
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/traits.dm
  code/_globalvars/lists/names.dm
  code/datums/dna.dm
  code/game/objects/items/boxcutter.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/syndicate_monkey/syndicate_monkey.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/pins.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/uplink/uplink_items/clownops.dm
  code/modules/uplink/uplink_items/job.dm
  icons/mob/human/species/monkey/uniform.dmi
  strings/names/syndicate_monkey.txt
  tgstation.dme
Labels: Feature, Sprites, TG Mirror, Refactoring

#246 [MIRROR] Basic skeletons
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_b_1.dmm
  code/_globalvars/phobias.dm
  code/datums/elements/basic_eating.dm
  code/game/objects/structures/spawner.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
  code/modules/mob/living/basic/farm_animals/cow/_cow.dm
  code/modules/mob/living/basic/farm_animals/cow/cow_moonicorn.dm
  code/modules/mob/living/basic/ruin_defender/skeleton.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/snake/snake.dm
  code/modules/mob/living/basic/vermin/lizard.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/79206_simple_to_basic_skeletons.txt
Labels: Map Modification, TG Mirror, Refactoring

#255 [MIRROR] Adds a var to determine if anomaly-locked MOD modules can have cores uninstalled
  code/modules/mod/modules/_module.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/modules_science.dm
Labels: Feature, TG Mirror

#253 [MIRROR] Precalculates special list var names and avoids incorrect vv targets
  code/_globalvars/admin.dm
  code/modules/admin/view_variables/debug_variables.dm
Labels: TG Mirror

#257 [MIRROR] Infected Domain atmos fix
  _maps/virtual_domains/psyker_zombies.dmm
Labels: Map Modification, Fix, TG Mirror

#259 [MIRROR] Adds Examine hints for Railing Deconstruction
  code/game/objects/structures/railings.dm
Labels: Quality of Life, TG Mirror

#260 [MIRROR] scanning export barcodes now tells you who made them and the profit split
  code/modules/cargo/universal_scanner.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Quality of Life, TG Mirror

#262 [MIRROR] Fix crafting granters runtiming for food items
  code/game/objects/items/granters/crafting/_crafting_granter.dm
Labels: Fix, TG Mirror

#263 [MIRROR] Adds a drake borg to Service
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_serv.dmi
Labels: Feature, Sprites, Skyrat Mirror

#266 [MIRROR] Blackout qol
  code/datums/brain_damage/split_personality.dm
  code/datums/status_effects/debuffs/drunk.dm
  sound/attributions.txt
  sound/effects/sf_hiccup_male_01.ogg
Labels: Fix, Quality of Life, TG Mirror, Sound changes

#272 [MIRROR] Disabler SMG: We got laser carbine, so why not have automatic disabler?
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/stun.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/energy.dmi
  sound/weapons/taser3.ogg
Labels: Feature, Sprites, TG Mirror

#270 [MIRROR] fixes thermal pistols doing literally nothing on impact
  code/modules/projectiles/projectile/energy/thermal.dm
Labels: Fix, TG Mirror

#267 [MIRROR] Partially reverts ghost announcements
  code/__DEFINES/atom_hud.dm
  code/_onclick/hud/alert.dm
  code/game/objects/items/eightball.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/drone/drones_as_items.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/ghost_roles/venus_human_trap.dm
  code/modules/power/singularity/narsie.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_egg.dm
Labels: Fix, TG Mirror

#269 [MIRROR] issue fixes and qol for ant, worm, and ash farming
  modular_skyrat/modules/ashwalkers/code/buildings/antfarm.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/wormfarm.dm
Labels: Fix, Quality of Life, Skyrat Mirror

#271 [MIRROR] Clocking out now gives assistant-level access
  modular_skyrat/modules/time_clock/code/console.dm
Labels: Quality of Life, Skyrat Mirror

#273 [MIRROR] Zombies use the regenerator component
  code/datums/components/regenerator.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  code/modules/mob/living/basic/space_fauna/changeling/flesh_spider.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
Labels: TG Mirror, Refactoring

#274 [MIRROR] Prevent space-required station goals from running on planetary maps
  code/game/gamemodes/game_mode.dm
Labels: Fix, TG Mirror

#268 [MIRROR] Basic Constructs: Juggernaut
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/the_outlet.dmm
  _maps/shuttles/emergency_narnar.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/events/portal_storm.dm
  code/modules/mob/living/basic/constructs/construct_ai.dm
  code/modules/mob/living/basic/constructs/juggernaut.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/constructs/juggernaut.dm
  code/modules/projectiles/projectile.dm
  code/modules/spells/spell_types/shapeshift/shapechange.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/00000_simple_to_basic_construct_juggernaut.txt
Labels: Map Modification, TG Mirror, Refactoring

#275 [MIRROR] Adds a very slight animation to monkey cubes
  code/game/objects/items/food/monkeycube.dm
Labels: Quality of Life, TG Mirror

#276 [MIRROR] [Tramstation] Adds a single missing scrubber to the Radiation Shelter
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, Fix, TG Mirror

#277 [MIRROR] Converts some js to tsx
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  tgui/packages/tgui/interfaces/BlackMarketUplink.tsx
  tgui/packages/tgui/interfaces/BountyBoard.tsx
  tgui/packages/tgui/interfaces/BrigTimer.tsx
  tgui/packages/tgui/interfaces/Clipboard.tsx
  tgui/packages/tgui/interfaces/EightBallVote.tsx
  tgui/packages/tgui/interfaces/Signaler.tsx
  tgui/packages/tgui/interfaces/SmokeMachine.tsx
Labels: TG Mirror

#278 [MIRROR] [MODULAR] [CO-OP MODE] Adds A Few New Clothes
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/bow.dmi
  modular_skyrat/modules/GAGS/icons/bow_worn.dmi
  modular_skyrat/modules/GAGS/icons/cape.dmi
  modular_skyrat/modules/GAGS/icons/cape_worn.dmi
  modular_skyrat/modules/GAGS/icons/face_scarf.dmi
  modular_skyrat/modules/GAGS/icons/face_scarf_worn.dmi
  modular_skyrat/modules/GAGS/icons/maid_costume.dmi
  modular_skyrat/modules/GAGS/icons/maid_costume_worn.dmi
  modular_skyrat/modules/GAGS/icons/warm_coat.dmi
  modular_skyrat/modules/GAGS/icons/warm_coat_worn.dmi
  modular_skyrat/modules/GAGS/icons/warm_sweater.dmi
  modular_skyrat/modules/GAGS/icons/warm_sweater_worn.dmi
  modular_skyrat/modules/GAGS/json_configs/cloak/long_cape.json
  modular_skyrat/modules/GAGS/json_configs/cloak/robe_cape.json
  modular_skyrat/modules/GAGS/json_configs/cloak/wide_cape.json
  modular_skyrat/modules/GAGS/json_configs/costumes/maid_arm_covers.json
  modular_skyrat/modules/GAGS/json_configs/costumes/maid_costume.json
  modular_skyrat/modules/GAGS/json_configs/costumes/maid_headband.json
  modular_skyrat/modules/GAGS/json_configs/costumes/maid_neck_cover.json
  modular_skyrat/modules/GAGS/json_configs/head/back_bow.json
  modular_skyrat/modules/GAGS/json_configs/head/large_bow.json
  modular_skyrat/modules/GAGS/json_configs/head/small_bow.json
  modular_skyrat/modules/GAGS/json_configs/head/sweet_bow.json
  modular_skyrat/modules/GAGS/json_configs/neck/face_scarf.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/long_skirt.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/medium_skirt.json
  modular_skyrat/modules/GAGS/json_configs/sweater/heart_sweater.json
  modular_skyrat/modules/GAGS/json_configs/sweater/warm_sweater.json
  modular_skyrat/modules/GAGS/json_configs/winter_coat/warm_coat.json
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
  modular_skyrat/modules/customization/modules/clothing/head/costume.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/customization/modules/clothing/neck/cloaks.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites, Skyrat Mirror

#261 [MIRROR] nerfs the new engineering machine's prybar, toolspeed also: removes the RCD from it
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/tools.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
Labels: Balance, Skyrat Mirror

#279 [MIRROR] Nanotrasen basic mobs.
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/derelictferry.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/prisonshuttle.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/syndibase.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/vaulttango.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/wreckedfriendship.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomRuins/SpaceRuins/waystation.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/research.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/basic_mobs/basic_subtrees/call_reinforcements.dm
  code/datums/ai/basic_mobs/basic_subtrees/travel_to_point.dm
  code/game/machinery/computer/arcade/orion.dm
  code/game/machinery/computer/arcade/orion_event.dm
  code/game/objects/structures/spawner.dm
  code/modules/events/portal_storm.dm
  code/modules/events/shuttle_loan/shuttle_loan_datum.dm
  code/modules/mapfluff/ruins/spaceruin_code/forgottenship.dm
  code/modules/mob/living/basic/syndicate/syndicate_ai.dm
  code/modules/mob/living/basic/trooper/nanotrasen.dm
  code/modules/mob/living/basic/trooper/russian.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
  code/modules/mob/living/basic/trooper/trooper.dm
  code/modules/mob/living/basic/trooper/trooper_ai.dm
  code/modules/mob/living/simple_animal/hostile/nanotrasen.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/procedural_mapping/mapGenerators/syndicate.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/modules/moretraitoritems/code/spawnergrenade.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78917_simple_to_basic_nanotrasen.txt
Labels: Map Modification, Fix, TG Mirror, Refactoring

#256 [MIRROR] [Non-modular] Reverts desword block_chance nerf
  code/game/objects/items/dualsaber.dm
Labels: Balance, Skyrat Mirror

#281 [MIRROR] Fix typo in millstone description
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
Labels: Skyrat Mirror, Grammar

#283 [MIRROR] [Modular] Better Employment Contracts, Again
  modular_skyrat/master_files/code/modules/paperwork/employment_contract.dm
  tgstation.dme
Labels: Feature, Skyrat Mirror

#286 [MIRROR] Revert "[Non-modular] Reverts desword block_chance nerf"
  code/game/objects/items/dualsaber.dm
Labels: Skyrat Mirror, Mirroring conflict

#280 [MIRROR] Marks the flatpacked Fabricator and RTG imports as 'restricted'
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Balance, Skyrat Mirror

#284 [MIRROR] OPFOR Items Reloaded
  code/__DEFINES/~skyrat_defines/examine_defines.dm
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  modular_skyrat/master_files/code/game/objects/items/hhmirror.dm
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/contractor/code/items/boxes.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon_bodypart.dm
  modular_skyrat/modules/moretraitoritems/code/cultist.dm
  modular_skyrat/modules/moretraitoritems/code/mafioso.dm
  modular_skyrat/modules/moretraitoritems/code/ocelot_revolver.dm
  modular_skyrat/modules/moretraitoritems/code/pirate.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
  modular_skyrat/modules/moretraitoritems/code/weaponry.dm
  modular_skyrat/modules/moretraitoritems/code/weapons.dm
  modular_skyrat/modules/moretraitoritems/icons/3516.dmi
  modular_skyrat/modules/moretraitoritems/icons/3516_mag.dmi
  modular_skyrat/modules/moretraitoritems/icons/alien.dmi
  modular_skyrat/modules/moretraitoritems/sound/fire.ogg
  modular_skyrat/modules/moretraitoritems/sound/fire2.ogg
  modular_skyrat/modules/moretraitoritems/sound/release.ogg
  modular_skyrat/modules/moretraitoritems/sound/reload.ogg
  modular_skyrat/modules/moretraitoritems/sound/slide.ogg
  modular_skyrat/modules/moretraitoritems/sound/wakeup.ogg
  modular_skyrat/modules/novaya_ert/code/belt.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/antagonist_powers.dm
  modular_skyrat/modules/opposing_force/code/equipment/biology.dm
  modular_skyrat/modules/opposing_force/code/equipment/bombs.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  modular_skyrat/modules/opposing_force/code/equipment/gadgets.dm
  modular_skyrat/modules/opposing_force/code/equipment/guns.dm
  modular_skyrat/modules/opposing_force/code/equipment/implants.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
  modular_skyrat/modules/opposing_force/code/equipment/martial_arts.dm
  modular_skyrat/modules/opposing_force/code/equipment/melee.dm
  modular_skyrat/modules/opposing_force/code/equipment/misc.dm
  modular_skyrat/modules/opposing_force/code/equipment/modsuit.dm
  modular_skyrat/modules/opposing_force/code/equipment/pistols.dm
  modular_skyrat/modules/opposing_force/code/equipment/rifles.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
  modular_skyrat/modules/opposing_force/code/equipment/shotguns.dm
  modular_skyrat/modules/opposing_force/code/equipment/spells.dm
  modular_skyrat/modules/opposing_force/code/equipment/submachineguns.dm
  modular_skyrat/modules/opposing_force/code/equipment/uplink.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
  modular_skyrat/modules/robohand/code/silverhand_bundle.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: Feature, Sprites, Balance, Code modification, Fix, Skyrat Mirror

#287 [MIRROR] Add smoke particles to fireplace
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/structures/fireplace.dm
Labels: Quality of Life, TG Mirror

#289 [MIRROR] Fixed hair gradients on hair with Y offsets
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Fix, TG Mirror

#288 [MIRROR] Gorilla attack cooldown
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
Labels: Fix, TG Mirror

#290 [MIRROR] Adds charges to omens and omen smiting. Reduces omen bad luck if nobody's nearby.
  code/datums/components/omen.dm
  code/game/machinery/doors/door.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/smites/bad_luck.dm
Labels: Fix, Quality of Life, TG Mirror, Refactoring

#291 [MIRROR] Scatter laser shells now use the scatter laser beam, and makes them significantly easier to make. Projectiles can now have damage falloff.
  code/datums/components/crafting/weapon_ammo.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Balance, TG Mirror, Refactoring

#292 [MIRROR] Fixed hair gradients not applying properly on dismembered heads
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Fix, TG Mirror, Mirroring conflict

#285 [MIRROR] Adds some actually useful items to the loadout
  modular_skyrat/modules/black_mesa/code/armaments/armament_miscellaneous.dm
  modular_skyrat/modules/black_mesa/code/rationpacks.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  modular_skyrat/modules/modular_items/code/cross.dm
  tgui/packages/tgui/interfaces/LoadoutManager.js
Labels: Feature, Code modification, Skyrat Mirror

#293 [MIRROR] Renames the juggernaut UpdatePaths script
  tools/UpdatePaths/Scripts/79170_simple_to_basic_construct_juggernaut.txt
Labels: TG Mirror

#294 [MIRROR] Reworks the styling of the announcements and expands major announcements to also be colourable.
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/communications.dm
  code/modules/admin/verbs/commandreport.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/antagonists/pirate/pirate_gangs.dm
  code/modules/antagonists/wizard/grand_ritual/finales/all_access.dm
  code/modules/antagonists/wizard/grand_ritual/finales/armageddon.dm
  code/modules/events/shuttle_insurance.dm
  code/modules/mob/mob_helpers.dm
  code/modules/shuttle/emergency.dm
  modular_skyrat/modules/autotransfer/code/shuttle.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/interfaces/CommandReport.tsx
Labels: Feature, TG Mirror, Removal, Administration

#296 [MIRROR] Fixes a CRITICAL bug in the feedback messages of towels
  modular_skyrat/master_files/code/modules/clothing/towels.dm
Labels: Skyrat Mirror, Grammar

#297 [MIRROR] Updated README.md, added tableview
  README.md
Labels: TG Mirror, Mirroring conflict

#300 [MIRROR] mag check - examining magazines now tells you what's the next/ready round
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
Labels: Quality of Life, TG Mirror, Grammar

#301 [MIRROR] numerical stacking on med pouches kinda sucks actually
  modular_skyrat/modules/food_replicator/code/storage.dm
  modular_skyrat/modules/modular_items/code/bags.dm
Labels: Quality of Life, Skyrat Mirror

#302 [MIRROR] Fix delta security alert using level blue announcement
  modular_skyrat/modules/alerts/code/security_level_datums.dm
Labels: Skyrat Mirror

#305 [MIRROR] [no gbp] fixes venus human traps dying under literally any condition
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Fix, TG Mirror

#303 [MIRROR] Donation Item for Vexcint
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites, Skyrat Mirror

#307 [MIRROR] Fix wigs being offset too far by mob height
  code/modules/clothing/head/wig.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix, TG Mirror

#299 [MIRROR] ends the practice of disassembling nakamura-sold MOD modules
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
Labels: Skyrat Mirror

#295 [MIRROR] [MODULAR] Good Assistant Points: Help the station, get credits and chicken nuggets!
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/cargo/code/items/gbp_punchcard.dm
  modular_skyrat/modules/cargo/icons/punchcard.dmi
  tff_modular/modules/modular_automapper/automapper.dm
  tgstation.dme
Labels: Feature, Sprites, Map Modification, Skyrat Mirror, Mirroring conflict
