Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2023-11, with the labels that each got.

#375 [MIRROR] You cannot store ammo casings (individual bullets) and ammo boxes (like magazines) in your suit storage
  code/__DEFINES/inventory.dm
  code/modules/clothing/spacesuits/bountyhunter.dm
  code/modules/clothing/spacesuits/freedom.dm
  code/modules/clothing/spacesuits/pirate.dm
  code/modules/clothing/spacesuits/specialops.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/mod/mod_theme.dm
Labels: Quality of Life, TG Mirror

#382 [MIRROR] Buckshot no longer instantly deletes itself except when used pointblank. Oops
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Fix, TG Mirror

#369 [MIRROR] Sorts the modular skirts_dresses.dm file, properly subtypes the new Medium/Long skirts and fixes their broken toggleability
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Fix, Skyrat Mirror

#368 [MIRROR] fixes signal circuit not working | refactors name of timer cooldown macros to be inherent, also docs them
  code/__DEFINES/cooldowns.dm
  code/datums/components/bumpattack.dm
  code/datums/emotes.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/turfs/closed/minerals.dm
  code/modules/assembly/signaler.dm
  code/modules/cargo/expressconsole.dm
  code/modules/mob/living/emote.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/mecha_movement.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/wiremod/components/action/pathfind.dm
  code/modules/wiremod/components/action/radio.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/action/speech.dm
  code/modules/wiremod/components/bci/hud/target_intercept.dm
  code/modules/wiremod/components/sensors/view_sensor.dm
Labels: Fix, TG Mirror

#370 [MIRROR] Remove duplicate pipe on pirate ship
  _maps/shuttles/pirate_ex_interdyne.dmm
Labels: Map Modification, TG Mirror, Removal

#371 [MIRROR] Remove duplicate power computer on oldstation ruin
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Modification, TG Mirror, Removal

#372 [MIRROR] Fixes mod reskins not having their icon in radial menu when using different dmi path
  code/modules/mod/mod_paint.dm
Labels: Code modification, TG Mirror

#373 [MIRROR] Fixes centcom exploit + general code maintenance
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/launch_pad.dm
Labels: Fix, TG Mirror

#374 [MIRROR] knock path heretic id card can now create inverted portals
  code/modules/antagonists/heretic/items/keyring.dm
Labels: Feature, TG Mirror

#377 [MIRROR] Remove duplicate light in battlecruiser starfury
  _maps/templates/battlecruiser_starfury.dmm
Labels: Map Modification, TG Mirror, Removal

#378 [MIRROR] Gives the Revolvers on the Nuke Ops uplink Syndicate Firing Pins
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix, TG Mirror

#381 [MIRROR] Remove duplicate space heater from snowcabin ruin
  _maps/RandomZLevels/SnowCabin.dmm
Labels: Map Modification, TG Mirror, Removal

#389 [MIRROR] Nullchecks Client on `tgui_alert()` and siblings
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/checkboxes.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
Labels: TG Mirror

#387 [MIRROR] Makes stack trace errors set file and line number to caller
  code/__DEFINES/stack_trace.dm
  code/__HELPERS/stack_trace.dm
  code/modules/error_handler/error_handler.dm
Labels: TG Mirror

#383 [MIRROR] Practice Carbine Dual Wielding Fix
  code/modules/projectiles/guns/energy/laser.dm
Labels: Fix, TG Mirror

#379 [MIRROR] Modular Shield Generators now play well with shuttles
  code/game/machinery/modular_shield.dm
Labels: Fix, TG Mirror

#384 [MIRROR] Chameleon projector can be used on storage items.
  code/datums/storage/storage.dm
  code/game/objects/items/devices/chameleonproj.dm
Labels: Fix, TG Mirror

#391 [MIRROR] Remove duplicate machinery from icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, TG Mirror, Removal

#392 [MIRROR] Remove duplicate northstar message monitor computer
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Modification, TG Mirror, Removal

#393 [MIRROR] Remove duplicate machinery from russian derelict
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
Labels: Map Modification, TG Mirror, Removal

#394 [MIRROR] Remove duplicate syndi turret on waystation ruin
  _maps/RandomRuins/SpaceRuins/waystation.dmm
Labels: Map Modification, TG Mirror, Removal

#395 [MIRROR] Remove duplicate HoP shutter from birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror, Removal

#388 [MIRROR] Every kind of animal can hallucinate their mother
  code/modules/hallucination/mother.dm
Labels: Fix, TG Mirror

#396 Исправление бага c Активистами
  tff_modular/modules/custom_revolution/code/rev_head_role.dm
  tff_modular/modules/custom_revolution/code/rev_team_role.dm
Labels: Fix

#376 [MIRROR] Changes the Malf Ability "Robotics Factory" to be purchasable multiple times.
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: Balance, TG Mirror

#380 [MIRROR] Removes 3 bitrunner computer consoles from birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror, Removal

#385 [MIRROR] Adds the whiteship dock marker to the Metastation arrivals
  _maps/skyrat/automapper/templates/metastation/metastation_arrivals.dmm
Labels: Map Modification, Fix, Skyrat Mirror

#390 [MIRROR] Holobarrier toggle removal
  code/game/objects/structures/holosign.dm
Labels: TG Mirror, Removal

#386 [MIRROR] Moves Flightpotion wings from species datum to chest bodypart, other flightpotion tweaks
  code/__DEFINES/traits.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/plasmaman_bodyparts.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/wings.dm
  modular_skyrat/master_files/code/modules/surgery/organs/external/wings/functional_wings.dm
  modular_skyrat/master_files/code/modules/surgery/organs/external/wings/wings.dm
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/bodyparts/code/moth_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  tgstation.dme
Labels: Quality of Life, TG Mirror, Refactoring

#398 [MIRROR] Steam vent tooltips
  code/game/objects/structures/maintenance.dm
Labels: Quality of Life, TG Mirror

#399 [MIRROR] Allows RPD Upgrade Disks to be installed by hand
  code/game/objects/items/rcd/RPD.dm
Labels: Quality of Life, TG Mirror

#403 [MIRROR] Security Pen and Penlight improvement
  code/__DEFINES/inventory.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/paperwork/pen.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/effects.dmi
  icons/obj/lighting.dmi
  icons/obj/service/bureaucracy.dmi
  strings/tips.txt
Labels: Sprites, Code modification, Quality of Life, TG Mirror, Icon changes

#400 [MIRROR] Limits plumbing reaction chamber ph balance attempts
  code/modules/plumbing/plumbers/reaction_chamber.dm
Labels: Fix, TG Mirror

#401 [MIRROR] Plumbing Bottler deals with specific container types
  code/modules/plumbing/plumbers/bottler.dm
Labels: Fix, TG Mirror

#404 [MIRROR] basic mobs use their disarm response when shoved by humans
  code/modules/mob/living/basic/basic_defense.dm
Labels: TG Mirror, Grammar

#405 [MIRROR] Basic Constructs: Proteon
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/clericden.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/the_outlet.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/lists/mobs.dm
  code/_globalvars/phobias.dm
  code/_onclick/hud/alert.dm
  code/game/objects/structures/traps.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/mapfluff/ruins/spaceruin_code/clericsden.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/constructs/construct_ai.dm
  code/modules/mob/living/basic/constructs/proteon.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_ai.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/constructs/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/transform_procs.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/00000_simple_to_basic_construct_proteon.txt
Labels: Map Modification, TG Mirror, Refactoring

#428 [MIRROR] Fixes observer mind selection
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix, TG Mirror

#425 [MIRROR] Renames simple to basic proteon UpdatePaths script
  tools/UpdatePaths/Scripts/79425_simple_to_basic_construct_proteon.txt
Labels: TG Mirror

#422 [MIRROR] Remove duplicate machinery from meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, TG Mirror, Removal

#421 [MIRROR] swaps one of the fridges in snowcabin to be in line with the rest
  _maps/RandomZLevels/SnowCabin.dmm
Labels: Map Modification, TG Mirror

#420 [MIRROR] Cleans up signal use in bitrunning
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/modules/bitrunning/alerts.dm
  code/modules/bitrunning/components/avatar_connection.dm
  code/modules/bitrunning/objects/hololadder.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/objects/quantum_console.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/quantum_server.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/server/util.dm
  tgstation.dme
Labels: Feature, TG Mirror

#419 [MIRROR] Fixes eavesdropping on sillycons
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix, TG Mirror

#418 [MIRROR] Changes the description of mothic rations poster (lore pr) (very important)
  code/game/objects/effects/posters/contraband.dm
Labels: TG Mirror, Grammar

#417 [MIRROR] Changelings take much longer to revive when killed by Megafauna
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: Balance, TG Mirror

#416 [MIRROR] Fixes heretic bitrunner issue
  code/modules/antagonists/heretic/heretic_antag.dm
Labels: Fix, TG Mirror

#415 [MIRROR] Removes virtual-specific megafauna, fixes boss map issues
  _maps/virtual_domains/ash_drake.dmm
  _maps/virtual_domains/blood_drunk_miner.dmm
  _maps/virtual_domains/bubblegum.dmm
  _maps/virtual_domains/colossus.dmm
  _maps/virtual_domains/hierophant.dmm
  _maps/virtual_domains/wendigo.dmm
  code/modules/bitrunning/components/virtual_elite_mob.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/virtual_domain/domains/ash_drake.dm
  code/modules/bitrunning/virtual_domain/domains/blood_drunk_miner.dm
  code/modules/bitrunning/virtual_domain/domains/bubblegum.dm
  code/modules/bitrunning/virtual_domain/domains/colossus.dm
  code/modules/bitrunning/virtual_domain/domains/hierophant.dm
  code/modules/bitrunning/virtual_domain/domains/legion.dm
  code/modules/bitrunning/virtual_domain/domains/wendigo.dm
  code/modules/mob/living/living_defines.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Map Modification, Fix, TG Mirror, Removal

#414 [MIRROR] Fix autosurgeons not respecting implant time
  code/modules/surgery/organs/autosurgeon.dm
Labels: TG Mirror

#412 [MIRROR] [no gbp] venus human traps actually heal in kudzu
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Fix, TG Mirror

#413 [MIRROR] Fix fireplace smoke particles to work properly with all directions
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/structures/fireplace.dm
Labels: Fix, TG Mirror

#411 [MIRROR] Allows possessed blades to be possessed again
  code/datums/components/spirit_holding.dm
Labels: Fix, TG Mirror

#423 [MIRROR] Removes a coffeepot from birdshots security breakroom
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror, Removal

#409 [MIRROR] Fixes a bug that caused space dragon's carp to often die in one hit (especially against lasers)
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
Labels: Fix, TG Mirror

#407 [MIRROR] Gorilla and dexterity holoparasite can now take things out of the backpack while holding it in his hand.
  code/datums/elements/dextrous.dm
Labels: Fix, TG Mirror

#406 [MIRROR] Fixes turrets being invisible
  code/__DEFINES/sight.dm
  code/game/atoms.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_cover.dm
Labels: Fix, TG Mirror

#408 [MIRROR] Boot occupants now perform unarmed attacks
  code/modules/clothing/shoes/cowboy.dm
Labels: Code modification, TG Mirror

#410 [MIRROR] Mobs will not path into dangerous turfs.
  code/_globalvars/lists/mobs.dm
  code/datums/ai/idle_behaviors/idle_random_walk.dm
  code/datums/ai/movement/ai_movement_basic_avoidance.dm
  code/datums/ai/movement/ai_movement_dumb.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
Labels: Fix, TG Mirror

#424 [MIRROR] some balance changes for seed meshes
  modular_skyrat/modules/ashwalkers/code/items/ash_seedmesh.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench_recipes.dm
Labels: Balance, Quality of Life, Skyrat Mirror

#427 [MIRROR] Removes virtual-specific subtypes of drinking glass + adds a new fishing map
  _maps/virtual_domains/beach_bar.dmm
  _maps/virtual_domains/breeze_bay.dmm
  code/modules/bitrunning/components/bitrunning_points.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/virtual_domain/domains/beach_bar.dm
  code/modules/bitrunning/virtual_domain/domains/breeze_bay.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  tgstation.dme
Labels: Map Modification, TG Mirror

#352 [MIRROR] add lizard gas station to icebox ruins
  _maps/RandomRuins/IceRuins/icemoon_surface_gas.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  config/iceruinblacklist.txt
Labels: Feature, Map Modification, Config, TG Mirror

#426 [MIRROR] Wall smashing > Wall tearing
  code/datums/elements/tear_wall.dm
  code/datums/elements/wall_tearer.dm
  code/modules/antagonists/heretic/magic/ascended_shapeshift.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  code/modules/mob/living/basic/jungle/seedling/seedling.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/mook/mook.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
  tgstation.dme
Labels: Balance, TG Mirror

#341 Alt Teshari REFACTOR and QoL
  config/game_options.txt
  tff_modular/master_files/code/datum/components/human_holder.dm
  tff_modular/master_files/code/datum/components/weak_body.dm
  tff_modular/master_files/code/game/objectes/items/human_holder.dm
  tff_modular/master_files/code/game/objectes/items/ridable.dm
  tff_modular/master_files/code/game/objectes/items/storage.dm
  tff_modular/master_files/code/modules/mob/living/carbon/human/_human.dm
  tff_modular/modules/teshari_reborn/code/teshari_bodypart.dm
  tgstation.dme
Labels: Config, Balance, Code modification, Fix, Quality of Life, Removal

#430 [MIRROR] Blacklists some organs from being bioscrambled
  code/__DEFINES/research/anomalies.dm
Labels: Fix, Skyrat Mirror

#432 [MIRROR] Better feedback on fulton extraction
  code/modules/mining/fulton.dm
Labels: Fix, Quality of Life, TG Mirror

#433 [MIRROR] Fixes Virology bounties
  code/modules/cargo/bounties/virus.dm
Labels: Fix, TG Mirror

#434 [MIRROR] Caches data for paintings we have saved
  code/controllers/subsystem/persistent_paintings.dm
Labels: Fix, TG Mirror

#435 [MIRROR] Fix admins without `R_POLL` getting (an unusable) poll verb
  code/modules/admin/admin_verbs.dm
Labels: TG Mirror, Administration

#436 [MIRROR] Makes softspoken quirk no longer apply when using sign language
  code/modules/mob/living/living_say.dm
Labels: Fix, TG Mirror

#437 [MIRROR] Allows TGUI labelled lists to use tooltips, and enables this behavior on preferencelists + adds descs to most character preferences
  code/modules/client/preferences/README.md
  tgui/packages/tgui/components/LabeledList.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_emote_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_hologram_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/pda.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/persistent_scars.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/playtime_reward_cloak.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/prisoner_crime.tsx
Labels: Quality of Life, TG Mirror

#439 [MIRROR] Re-adds TRAIT_TRASHMAN to the Hydraulic arms module
  modular_skyrat/master_files/code/modules/mod/modules/modules_supply.dm
  tgstation.dme
Labels: Fix, Skyrat Mirror

#440 [MIRROR] Add fingerprint data for holobarriers
  code/game/objects/items/holosign_creator.dm
Labels: TG Mirror, Administration

#441 [MIRROR] Reworks Rolling Table Code
  code/game/objects/structures/tables_racks.dm
Labels: TG Mirror

#442 [MIRROR] Port salute emote sound from CM SS13
  code/modules/mob/living/carbon/human/emote.dm
  sound/misc/salute.ogg
Labels: TG Mirror, Sound changes

#397 Перемещение стартового оружия БЩ в маяк доставки с выбором снаряжения.
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/closet.dm
  tff_modular/modules/blueshield-rearm/code/weapon_beacon.dm
  tgstation.dme
Labels: Quality of Life

#443 [MIRROR] Gets some of the easy-bad species procs
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/zombie/organs.dm
  modular_skyrat/master_files/code/modules/mod/modules/modules_supply.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
Labels: Code modification, TG Mirror, Mirroring conflict

#438 [MIRROR] Basic Shades
  code/__DEFINES/is_helpers.dm
  code/_globalvars/phobias.dm
  code/datums/components/spirit_holding.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/library/bibles.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/cult/constructs/artificer.dm
  code/modules/mob/living/basic/cult/constructs/construct_ai.dm
  code/modules/mob/living/basic/cult/constructs/harvester.dm
  code/modules/mob/living/basic/cult/constructs/juggernaut.dm
  code/modules/mob/living/basic/cult/constructs/proteon.dm
  code/modules/mob/living/basic/cult/constructs/wraith.dm
  code/modules/mob/living/basic/cult/shade.dm
  code/modules/mob/transform_procs.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: TG Mirror, Refactoring

#444 [MIRROR] Retain filtering capabilities for paintings
  code/controllers/subsystem/persistent_paintings.dm
Labels: Fix, TG Mirror, Mirroring conflict

#445 [MIRROR] prevents infinite paper glitch in HFR framework
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
Labels: Fix, TG Mirror

#446 [MIRROR] [no gbp] Don't try and have a status effect destroy walls
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
Labels: Fix, TG Mirror

#447 [MIRROR] buffs my reward item
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Skyrat Mirror

#448 [MIRROR] Basic Wizards
  code/__DEFINES/ai/monsters.dm
  code/_globalvars/phobias.dm
  code/modules/mob/living/basic/ruin_defender/wizard/wizard.dm
  code/modules/mob/living/basic/ruin_defender/wizard/wizard_ai.dm
  code/modules/mob/living/basic/ruin_defender/wizard/wizard_spells.dm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/79476_simple_to_basic_wizard.txt
Labels: TG Mirror

#449 [MIRROR] Remove duplicate lighting from beach bar domain
  _maps/virtual_domains/beach_bar.dmm
Labels: Map Modification, TG Mirror, Removal

#450 [MIRROR] Initializes on_finish_callbacks in the JPS move loop
  code/controllers/subsystem/movement/movement_types.dm
Labels: Fix, TG Mirror

#451 [MIRROR] Mafia now starts without admin intervention
  _maps/map_files/Mafia/mafia_ayylmao.dmm
  _maps/map_files/Mafia/mafia_ball.dmm
  _maps/map_files/Mafia/mafia_gothic.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/Mafia/mafia_snow.dmm
  _maps/map_files/Mafia/mafia_spiderclan.dmm
  _maps/map_files/Mafia/mafia_syndie.dmm
  _maps/map_files/Mafia/mafia_unit_test.dmm
  code/__HELPERS/_lists.dm
  code/datums/mapgen/_MapGenerator.dm
  code/datums/mocking/client.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/controller_ui.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mafia/roles/roles.dm
  code/modules/mapping/map_template.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/computers/item/laptop_presets.dm
  code/modules/modular_computers/file_system/programs/mafia_ntos.dm
  code/modules/procedural_mapping/mapGenerator.dm
  code/modules/procedural_mapping/mapGeneratorModule.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mafia.dm
  tgstation.dme
Labels: Map Modification, Fix, TG Mirror

#452 [MIRROR] The OpenDream TGUI fix
  tgui/public/tgui.html
Labels: TG Mirror

#453 [MIRROR] Station announcements cleanup
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/components/cult_ritual_item.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/knock_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/antagonists/wizard/grand_ritual/finales/cheese.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/processor_overload.dm
  code/modules/events/radiation_leak.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/tram_malfunction.dm
  code/modules/hallucination/station_message.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/shuttle/emergency.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Code modification, TG Mirror, Grammar

#455 [MIRROR] Split persistence into subfiles
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/persistence/counter_delamination.dm
  code/controllers/subsystem/persistence/counter_tram_hits.dm
  code/controllers/subsystem/persistence/custom_outfits.dm
  code/controllers/subsystem/persistence/engravings.dm
  code/controllers/subsystem/persistence/photo_albums.dm
  code/controllers/subsystem/persistence/recipes.dm
  code/controllers/subsystem/persistence/scars.dm
  code/controllers/subsystem/persistence/tattoos.dm
  code/controllers/subsystem/persistence/trophies.dm
  tgstation.dme
Labels: TG Mirror

#454 [MIRROR] fertilizer is a stackable item now + some balance for worms
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/wormfarm.dm
Labels: Balance, Quality of Life, Skyrat Mirror

#431 Blooper bug fix
  code/modules/antagonists/changeling/changeling.dm
  tff_modular/modules/blooper/atoms_movable.dm
  tff_modular/modules/blooper/bark.dm
Labels: Feature, Fix

#457 [MIRROR] Makes synthetic critical slashes mangle exterior instead of interior
  modular_skyrat/modules/medical/code/wounds/synth/robotic_slash.dm
Labels: Fix, Skyrat Mirror

#458 [MIRROR] Re-adds rounding tweaks for reagent volumes & plumbing reaction chamber tweaks
  code/__DEFINES/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/game/atoms.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Fix, TG Mirror

#459 [MIRROR] Coloured holobarriers
  code/game/objects/items/holosign_creator.dm
Labels: Quality of Life, TG Mirror

#460 [MIRROR] [MODULAR]Combat Cybernetic Implants listing change
  modular_skyrat/modules/implants/code/medical_designs.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
Labels: Feature, Skyrat Mirror, Removal

#461 [MIRROR] Ports over the CM13 Zippo lighter sounds
  code/game/objects/items/cigs_lighters.dm
  modular_skyrat/master_files/sound/items/zippo_close.ogg
  modular_skyrat/master_files/sound/items/zippo_open.ogg
Labels: Skyrat Mirror

#463 [MIRROR] new wizard ability and basic leaper refactor
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/research.dm
  code/__DEFINES/vehicles.dm
  code/_globalvars/lists/xenobiology.dm
  code/datums/ai/basic_mobs/basic_subtrees/go_for_swim.dm
  code/datums/components/explode_on_attack.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_mob.dm
  code/game/objects/items/frog_statue.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_abilities.dm
  code/modules/mob/living/basic/jungle/leaper/leaper.dm
  code/modules/mob/living/basic/jungle/leaper/leaper_abilities.dm
  code/modules/mob/living/basic/jungle/leaper/leaper_ai.dm
  code/modules/mob/living/basic/vermin/crab.dm
  code/modules/mob/living/basic/vermin/frog.dm
  code/modules/mob/living/simple_animal/hostile/jungle/_jungle_mobs.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/spells/spell_types/conjure/_conjure.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/effects/effects.dmi
  icons/mob/simple/jungle/leaper.dmi
  icons/obj/weapons/guns/magic.dmi
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  sound/items/frog_statue_release.ogg
  tgstation.dme
Labels: Feature, Sprites, TG Mirror, Refactoring

#464 [MIRROR] Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: TG Mirror

#465 [MIRROR] You can fish out of hydroponics trays
  code/__DEFINES/botany.dm
  code/datums/components/fishing_spot.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/korta_nut.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/tea_coffee.dm
  code/modules/hydroponics/grown/tobacco.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/grown/weeds/nettle.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/lavaland/ash_flora.dm
Labels: Feature, TG Mirror

#466 [MIRROR] Drunken Blackout cannot be gained randomly.
  code/datums/brain_damage/split_personality.dm
Labels: Fix, TG Mirror

#467 [MIRROR] Adds some trailing commas to lists, fixes typo
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
Labels: Code modification, TG Mirror

#468 [MIRROR] Makes tails stop wagging in death
  code/modules/surgery/organs/external/tails.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/tail_wag.dm
Labels: Fix, TG Mirror

#469 [MIRROR] Fixes mafia achievements desyncing you from the database
  code/modules/mafia/controller.dm
Labels: TG Mirror

#470 [MIRROR] Makes paraplegic no longer exclusive with spacer/settler
  code/controllers/subsystem/processing/quirks.dm
Labels: Balance, TG Mirror

#471 [MIRROR] [MODULAR] Re-writes nearly all preference descriptions since the recent preference tooltip PR exposed how weird they are
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/genitals.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/headshot.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Quality of Life, Skyrat Mirror

#472 [MIRROR] Fix incorrect metabolization rates in chem dispenser's reagent lookup
  code/modules/reagents/chemistry/holder.dm
Labels: Fix, TG Mirror

#473 [MIRROR] [No GBP] Traders use Pick() to select their first customer
  code/datums/ai/generic/find_and_set.dm
Labels: TG Mirror

#475 [MIRROR] Makes notepad available for laptops and consoles
  code/modules/modular_computers/file_system/programs/notepad.dm
Labels: Quality of Life, TG Mirror

#474 [MIRROR] Meta Disposals fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, Fix, TG Mirror

#476 [MIRROR] Walls built next to firelocks no longer hold onto their alarms
  code/game/machinery/doors/firedoor.dm
Labels: Fix, TG Mirror

#477 [MIRROR] Improve emote help text display
  code/modules/mob/emote.dm
Labels: Quality of Life, TG Mirror

#478 [MIRROR] Fixes synthflesh not causing toxin damage on healing brute/burn.
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Fix, TG Mirror

#479 [MIRROR] Fix light eater affecting lava, space, openspace, and transparent turfs
  code/datums/elements/light_eater.dm
Labels: Fix, TG Mirror

#480 [MIRROR] Improves slip component docs
  code/datums/components/slippery.dm
Labels: TG Mirror

#481 [MIRROR] Adds a user type to integrated circuits, refactors the list pick component.
  code/__DEFINES/traits.dm
  code/__DEFINES/wiremod.dm
  code/controllers/subsystem/circuit_component.dm
  code/modules/tgui_input/list.dm
  code/modules/wiremod/components/list/assoc_list_pick.dm
  code/modules/wiremod/components/list/assoc_literal.dm
  code/modules/wiremod/components/list/list_pick.dm
  code/modules/wiremod/datatypes/datum.dm
  code/modules/wiremod/datatypes/entity.dm
  code/modules/wiremod/datatypes/user.dm
  code/modules/wiremod/shell/bot.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  code/modules/wiremod/shell/controller.dm
  code/modules/wiremod/shell/keyboard.dm
  code/modules/wiremod/shell/module.dm
  code/modules/wiremod/shell/moneybot.dm
  tgstation.dme
Labels: Feature, TG Mirror

#482 [MIRROR] Adds a sleeve of tiling colors for several holidays.
  code/__DEFINES/colors.dm
  code/datums/station_traits/_station_trait.dm
  code/game/objects/effects/decals/decal.dm
  code/modules/holiday/holidays.dm
Labels: TG Mirror, Icon changes

#483 [MIRROR] Lightswitches have tooltips and can be deconstructed.
  code/game/machinery/lightswitch.dm
Labels: Quality of Life, TG Mirror

#484 [MIRROR] Fix some tramstation decals not using station colors
  code/game/turfs/open/floor/misc_floor.dm
Labels: Fix, TG Mirror

#485 [MIRROR] Increment icon smoothing MAX_S_TURF define
  code/__DEFINES/icon_smoothing.dm
Labels: Fix, TG Mirror

#486 [MIRROR] Fixes Shaving Beards + Mirror Code Improvement
  code/game/objects/structures/mirror.dm
Labels: Fix, TG Mirror

#487 [MIRROR] Adds Maltroach bar sign!
  code/game/machinery/barsigns.dm
  icons/obj/machines/barsigns.dmi
  modular_skyrat/modules/barsigns/icons/barsigns.dmi
Labels: Feature, Sprites, TG Mirror

#489 [MIRROR] [modular] you can place torches on walls
  modular_skyrat/modules/ashwalkers/code/turfs/closed_turfs.dm
  tgstation.dme
Labels: Feature, Skyrat Mirror

#491 [MIRROR] Slimes can only reproduce out in the open
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: Fix, TG Mirror

#492 [MIRROR] All vehicles can no longer cross Force Fields
  code/modules/power/singularity/containment_field.dm
Labels: Fix, TG Mirror

#490 [MIRROR] Renames the icon var in barsign datums to icon_state for sanity
  code/game/machinery/barsigns.dm
  code/modules/unit_tests/barsigns.dm
  modular_skyrat/modules/barsigns/code/barsigns.dm
Labels: TG Mirror, Mirroring conflict

#493 [MIRROR] Being drunk gives a chance to harm yourself when working out
  code/game/objects/structures/gym/weight_machine.dm
Labels: Feature, TG Mirror

#494 [MIRROR] Reverts reverted toast icons
  code/__HELPERS/icons.dm
  code/modules/buildmode/buildmode.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix, TG Mirror

#495 [MIRROR] Fix nuclear operative induction implants
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix, TG Mirror

#496 [MIRROR] sets the leaper move and pull forces to strong
  code/modules/mob/living/basic/jungle/leaper/leaper.dm
Labels: Balance, TG Mirror

#497 [MIRROR] Fixes deleted organs trying to get infected from the owner
  code/modules/surgery/organs/_organ.dm
Labels: TG Mirror

#498 [MIRROR] Locker deconstruction message spellcheck
  code/game/objects/structures/crates_lockers/closets.dm
Labels: TG Mirror, Grammar

#500 [MIRROR] Adds wibbles to certain anomalous entities
  code/datums/brain_damage/special.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/game/objects/effects/portals.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/events/wormholes.dm
  code/modules/hallucination/hazard.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Feature, TG Mirror

#503 [MIRROR] Flightpotion/health analyzer balance tweak
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Balance, TG Mirror

#506 [MIRROR] Increases the time it takes for venus human traps to die off vines from 5 to 8 seconds
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Balance, TG Mirror

#507 [MIRROR] Balances the stormtrooper shotgun mob
  code/modules/mob/living/basic/trooper/trooper_ai.dm
Labels: Balance, TG Mirror

#508 [MIRROR] Adds engi improvised weapon - rebar crossbow + Engi Exclusive Tot Shop Variant
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/rebarxbowsyndie.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/uplink/uplink_items/job.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  icons/obj/weapons/guns/projectiles.dmi
  tgstation.dme
Labels: Feature, Sprites, TG Mirror, Icon changes

#509 [MIRROR] Plonts takke2
  code/game/objects/items/food/misc.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/sugarcane.dm
  icons/obj/service/hydroponics/growing.dmi
  icons/obj/service/hydroponics/growing_vegetables.dmi
  icons/obj/service/hydroponics/harvest.dmi
  icons/obj/service/hydroponics/seeds.dmi
Labels: Feature, Sprites, TG Mirror

#510 [MIRROR] Preventing ferment override
  modular_skyrat/modules/morefermentplants/code/beans.dm
Labels: Skyrat Mirror, Removal

#511 [MIRROR] Fixes the Edit Name button of Soulcatcher Hosts
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_tgui.dm
Labels: Fix, Skyrat Mirror

#512 [MIRROR] [modular] reagent forge weapons can be renamed
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
Labels: Feature, Skyrat Mirror

#514 [MIRROR] [SEMI-MODULAR] Snail Deboning & Limbs Be Growing
  modular_skyrat/master_files/code/game/machinery/limbgrower.dm
  modular_skyrat/master_files/code/modules/research/designs/limbgrower_designs.dm
  modular_skyrat/modules/bodyparts/code/snail_bodyparts.dm
  tgstation.dme
Labels: Fix, Quality of Life, Skyrat Mirror

#516 [MIRROR] Fix holodeck items from being juiced or grinded with a biogenerator or pestle and mortar
  code/modules/hydroponics/biogenerator.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: Fix, TG Mirror

#515 [MIRROR] Automatic fire for mobs
  code/datums/components/ranged_mob_full_auto.dm
  code/modules/mob/living/basic/trooper/nanotrasen.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  tgstation.dme
Labels: Quality of Life, TG Mirror

#517 [MIRROR] Fixes Wiki Book Manuals not working
  code/game/objects/items/manuals.dm
  code/game/objects/items/wiki_manuals.dm
  code/modules/library/book.dm
  modular_skyrat/master_files/code/game/objects/items/wiki_manuals.dm
  tgstation.dme
Labels: Fix, TG Mirror

#518 [MIRROR] Reagent machinery code maintainence
  code/_globalvars/lists/reagents.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/modules/plumbing/plumbers/filter.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/plumbing/plumbers/synthesizer.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/surgery/tools.dm
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/PortableChemMixer.tsx
Labels: Code modification, Quality of Life, TG Mirror

#521 [MIRROR] Changes Cryo cells to use machine direction instead of hardcoded one on startup.
  code/modules/atmospherics/machinery/components/unary_devices/machine_connector.dm
Labels: Fix, TG Mirror

#522 [MIRROR] Bandolier quality of life and minor buff
  code/game/objects/items/storage/belt.dm
Labels: Balance, Quality of Life, TG Mirror

#502 [MIRROR] Material market buy buttons greys out correctly
  code/modules/cargo/materials_market.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: Fix, TG Mirror

#519 [MIRROR] Splits up the plane masters file to be easier to browse and reference
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/plane_masters/_plane_master.dm
  code/_onclick/hud/rendering/plane_masters/camera_static.dm
  code/_onclick/hud/rendering/plane_masters/clickcatcher.dm
  code/_onclick/hud/rendering/plane_masters/core_game_planes.dm
  code/_onclick/hud/rendering/plane_masters/default.dm
  code/_onclick/hud/rendering/plane_masters/in_world_chat.dm
  code/_onclick/hud/rendering/plane_masters/lighting.dm
  code/_onclick/hud/rendering/plane_masters/parallax.dm
  code/_onclick/hud/rendering/plane_masters/pipecrawl.dm
  code/_onclick/hud/rendering/plane_masters/simple_plane_masters.dm
  tgstation.dme
Labels: TG Mirror

#523 [MIRROR] Examining circuit boards now displays their detailed names correctly if required
  code/game/objects/items/circuitboards/circuitboard.dm
Labels: Fix, TG Mirror

#524 [MIRROR] Removes unused vars from cargo & economy.
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/modules/cargo/materials_market.dm
  code/modules/cargo/order.dm
  code/modules/shuttle/supply.dm
Labels: Code modification, TG Mirror

#525 [MIRROR] [MODULAR] Brings emissive barsigns to skyrat, reorganizes our modular files
  code/__DEFINES/~skyrat_defines/barsigns.dm
  code/game/machinery/barsigns.dm
  code/modules/unit_tests/barsigns.dm
  modular_skyrat/modules/barsigns/code/barsigns.dm
  modular_skyrat/modules/barsigns/icons/barsigns.dmi
  modular_skyrat/modules/barsigns/icons/barsigns96x96.dmi
  tgstation.dme
Labels: Sprites, Skyrat Mirror

#526 [MIRROR] Final precision rounding for reagent volumes
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/datums/ductnet.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix, TG Mirror
