Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2023-12, with the labels that each got.

#892 [MIRROR] Give Bitrunning Den autoname cameras
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, Fix, TG Mirror

#895 [MIRROR] Fixes cyber cops being equipped with the cyber tac outfit
  code/modules/bitrunning/antagonists/_parent.dm
  code/modules/bitrunning/antagonists/cyber_police.dm
  code/modules/bitrunning/antagonists/cyber_tac.dm
Labels: Fix, TG Mirror

#894 [MIRROR] Removes the `infinite_reskin` variable from `/obj` and converts it into a flag
  code/__DEFINES/obj_flags.dm
  code/game/objects/objs.dm
  code/modules/clothing/under/accessories/badges.dm
Labels: TG Mirror

#898 [MIRROR] Fix typo in spacer negative moodlet
  code/datums/status_effects/debuffs/spacer.dm
Labels: TG Mirror, Grammar

#900 [MIRROR] Lings no longer get impossible identity theft objectives
  code/game/gamemodes/objective.dm
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix, TG Mirror

#904 [MIRROR] xenobio shield gens can be rebuilt + some code cleanup and changes
  code/datums/wires/shieldwallgen.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  icons/obj/machines/shield_generator.dmi
  tgstation.dme
Labels: Sprites, Fix, Quality of Life, TG Mirror

#905 [MIRROR] Fix bug where MMI's cannot open doors
  code/modules/admin/admin_verbs.dm
  code/modules/jobs/access.dm
Labels: Fix, TG Mirror, Administration

#906 [MIRROR] Gives the singularity more processing time
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/processing/singulo.dm
Labels: Code modification, TG Mirror

#907 [MIRROR] Fixes Callback Trait Addition/Removal Oversight
  code/__HELPERS/traits.dm
Labels: TG Mirror

#910 [MIRROR] Updates the style guide to include the proper use of the `::` operator
  .github/guides/STYLE.md
Labels: TG Mirror

#911 [MIRROR] Fixes Icebox lower chemistry lab shutters
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, Fix, TG Mirror

#912 [MIRROR] fix parrots sometimes not appearing dead
  code/modules/mob/living/basic/pets/parrot/_parrot.dm
Labels: Fix, TG Mirror

#913 [MIRROR] Certain ID trims affect secbot response
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/robots.dm
  code/datums/components/security_vision.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/outfits.dm
  code/datums/id_trim/syndicate.dm
  code/modules/mob/living/basic/trooper/nanotrasen.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/mob.dm
  modular_skyrat/master_files/code/datums/id_trim/solfed.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/novaya_ert/code/id.dm
  tgstation.dme
Labels: Feature, TG Mirror

#917 [MIRROR] Disables mod links from virtual modsuits
  code/game/machinery/suit_storage_unit.dm
  code/modules/bitrunning/antagonists/cyber_police.dm
  code/modules/bitrunning/antagonists/cyber_tac.dm
  code/modules/bitrunning/outfits.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/mod/mod_control.dm
Labels: Fix, TG Mirror

#916 [MIRROR] psyker echolocatione improvementa
  code/datums/components/echolocation.dm
  code/modules/religion/burdened/psyker.dm
Labels: Fix, Quality of Life, TG Mirror

#915 [MIRROR] Fixes crafting menu incorrect use of reagents
  code/datums/components/crafting/crafting.dm
Labels: Fix, TG Mirror

#914 [MIRROR] Sign Language action now properly updates its background when toggled
  code/datums/actions/mobs/sign_language.dm
Labels: Fix, TG Mirror

#918 [MIRROR] woe, REM/seconds_per_tick upon thee - TWitch overdoses now respect REM
  modular_skyrat/modules/deforest_medical_items/code/chemicals/twitch.dm
Labels: Fix, Skyrat Mirror

#919 [MIRROR] Honorbound Sect Improvements: Creatures are not Innocent, and Neither is the Blatantly Evil. Declarations are Cheaper, too
  code/modules/religion/honorbound/honorbound_rites.dm
  code/modules/religion/honorbound/honorbound_trauma.dm
Labels: Balance, TG Mirror

#932 [MIRROR] Cargo-ordered bar signs don't come with access restrictions
  code/game/machinery/barsigns.dm
  code/modules/cargo/packs/service.dm
Labels: Quality of Life, TG Mirror

#936 [MIRROR] Meat Hook Rework (Accidental Features)
  code/datums/elements/climbable.dm
  code/datums/forced_movement.dm
  code/game/atoms_movable.dm
  code/modules/projectiles/guns/special/meat_hook.dm
  tgstation.dme
Labels: Balance, Fix, TG Mirror

#938 [MIRROR] Removes misformatted entry in `traits_by_type`.
  code/_globalvars/traits/_traits.dm
Labels: TG Mirror

#923 [MIRROR] Fixes an outfit typo
  code/modules/bitrunning/virtual_domain/domains/pipedream.dm
Labels: TG Mirror, Grammar

#924 [MIRROR] Fixes smartfridges showing overlays when there is nothing inside
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Fix, TG Mirror

#930 [MIRROR] Makes the QM Skirt Work For Digi Legs
  code/modules/clothing/under/jobs/cargo.dm
Labels: Fix, TG Mirror

#942 [MIRROR] Fixes blocking tackles forcing people to be stunned when they shouldn't be (both tackler and potentially blocker)
  code/datums/components/tackle.dm
Labels: Fix, TG Mirror

#933 [MIRROR] Ports feral cats and feral cat grenades from Hippie
  code/__DEFINES/mobfactions.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/modules/mob/living/basic/pets/cat/feral.dm
  code/modules/uplink/uplink_items/dangerous.dm
  tgstation.dme
Labels: Feature, TG Mirror, Mirroring conflict

#945 [MIRROR] Adds Mob Tag data to log messages + player panel
  code/__HELPERS/logging/_logging.dm
  code/__HELPERS/logging/mob.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/client/player_details.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
Labels: TG Mirror, Administration

#953 [MIRROR] Turns the fake announcement device into a custom announcement device
  modular_skyrat/modules/moretraitoritems/code/fake_announcement.dm
  modular_skyrat/modules/moretraitoritems/code/traitor_announcer.dm
  modular_skyrat/modules/opposing_force/code/equipment/uplink.dm
  tgstation.dme
Labels: Feature, Skyrat Mirror

#957 [MIRROR] Minor Hotel Additions.
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
Labels: Feature, Map Modification, Skyrat Mirror

#966 [MIRROR] Fixes misapplication of `CAN_BE_DIRTY_1` (floors should now spawn dirty)
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/misc.dm
Labels: TG Mirror

#964 [MIRROR] Moves the new "Turn Target into MMI" verb into a VV dropdown option and rewrites the code around it.
  code/__DEFINES/vv.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: TG Mirror, Administration

#921 [MIRROR] Armor tech of the current* year | Protect yourself from all them "guncargos" the old people keep warning you about
  code/__DEFINES/~skyrat_defines/armor_defines.dm
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/specialist_armor/code/cargo_packs.dm
  modular_skyrat/modules/specialist_armor/code/clothing_bullet_damage_component.dm
  modular_skyrat/modules/specialist_armor/code/hardened.dm
  modular_skyrat/modules/specialist_armor/code/peacekeeper.dm
  modular_skyrat/modules/specialist_armor/code/sacrificial.dm
  modular_skyrat/modules/specialist_armor/icons/armor.dmi
  modular_skyrat/modules/specialist_armor/icons/armor_worn.dmi
  tgstation.dme
Labels: Feature, Sprites, Skyrat Mirror, Icon changes

#952 [MIRROR] Gives Security The Correct Tackle Gloves
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Fix, Skyrat Mirror

#955 [MIRROR] Retools `IS_SPINNING_1` into a trait
  code/__DEFINES/_flags.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/traits/_traits.dm
  code/game/machinery/dna_infuser/organ_sets/roach_organs.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/assembly/flash.dm
  code/modules/basketball/basketball.dm
  code/modules/basketball/hoop.dm
  code/modules/mob/mob.dm
Labels: TG Mirror, Mirroring conflict

#929 [MIRROR] basic cats and mini kitchen helpers
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
  _maps/RandomRuins/SpaceRuins/mrow_thats_right.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_hugcage.dmm
  _maps/shuttles/skyrat/whiteship_blueshift.dmm
  _maps/virtual_domains/pipedream.dmm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/basic_mobs/basic_subtrees/find_food.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/ai/generic/find_and_set.dm
  code/datums/ai/hunting_behavior/hunting_behaviors.dm
  code/datums/components/bakeable.dm
  code/datums/elements/consumable_mob.dm
  code/datums/memory/_memory.dm
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_zero_entries.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/cat_house.dm
  code/modules/antagonists/heretic/magic/eldritch_shapeshift.dm
  code/modules/antagonists/traitor/objectives/kill_pet.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/explorer_drone/loot.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mob/living/basic/pets/cat/bread_cat_ai.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/basic/pets/cat/cat_ai.dm
  code/modules/mob/living/basic/pets/cat/keeki.dm
  code/modules/mob/living/basic/pets/cat/kitten_ai.dm
  code/modules/mob/living/basic/pets/cat/runtime.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  code/modules/mob/living/basic/space_fauna/demon/demon_subtypes.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/pets.dmi
  icons/mob/simple/pets.dmi
  modular_skyrat/master_files/code/modules/antagonists/traitor/objectives/kill_pet.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/79800_basic_cats.txt
Labels: Feature, Sprites, Map Modification, TG Mirror, Refactoring, Mirroring conflict

#941 [MIRROR] Reaction patches & maintenance
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/recipes.dm
Labels: Code modification, Fix, TG Mirror

#951 [MIRROR] Micros bucketJoin with operator""
  code/controllers/subsystem/timer.dm
Labels: TG Mirror

#934 [MIRROR] Blood brothers is now a single person conversion antagonist
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/components/can_flash_from_behind.dm
  code/datums/memory/general_memories.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/carbon/inventory.dm
  modular_skyrat/modules/oneclickantag/code/oneclickantag.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoBrother.tsx
Labels: Feature, TG Mirror

#947 [MIRROR] Removes holiday restriction on Christmas clothes in loadouts
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Skyrat Mirror, Removal

#961 [MIRROR] Roasts (Now without plates)
  code/game/objects/items/food/meatdish.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  icons/obj/food/meat.dmi
Labels: Feature, Sprites, TG Mirror

#962 [MIRROR] Fixing elevation furthermore
  code/datums/elements/elevation.dm
Labels: Fix, TG Mirror

#963 [MIRROR] gives sectech restockers a name
  code/modules/vending/security.dm
Labels: Fix, TG Mirror

#968 [MIRROR] Adds medical record descriptions for quirks without any
  code/datums/quirks/neutral_quirks/heretochromatic.dm
  code/datums/quirks/positive_quirks/signer.dm
  code/datums/quirks/positive_quirks/spacer.dm
  code/datums/quirks/positive_quirks/voracious.dm
  code/modules/unit_tests/quirks.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
  modular_skyrat/modules/paycheck_rations/code/quirk.dm
Labels: Feature, TG Mirror

#954 [MIRROR] Fixes hole in Birdshot hallway
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, Fix, TG Mirror, Mirroring conflict

#969 [MIRROR] Fixes the labeler in accordance to the new action version
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Skyrat Mirror, Mirroring conflict

#971 [MIRROR] Express Console Code Improvement
  code/modules/cargo/expressconsole.dm
Labels: TG Mirror

#972 [MIRROR] Instant Delete Pipes with RPD
  code/game/objects/items/rcd/RPD.dm
Labels: Balance, TG Mirror

#950 [MIRROR] Fixes damage ranging on feral cats
  code/modules/mob/living/basic/pets/cat/feral.dm
Labels: Fix, TG Mirror, Mirroring conflict

#970 [MIRROR] Fix void adaptation not reapplying when born from a headslug
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix, TG Mirror

#973 [MIRROR] Fix character prefs augments page boundaries
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
Labels: Fix, Skyrat Mirror

#974 [MIRROR] Validate partial GAP punches before paying out
  modular_skyrat/modules/cargo/code/items/gbp_punchcard.dm
Labels: Fix, Skyrat Mirror

#975 [MIRROR] Makes the Modern Glasses breakable
  code/_globalvars/lists/quirks.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/modular_ert/code/pizza/pizza_outfit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
Labels: Fix, Skyrat Mirror

#956 [MIRROR] Falling down a z-level while standing up can (occasionally) break your legs. Felinids will now always land on their feet (for better or for worse).
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/basic/lavaland/mook/mook_abilities.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/living.dm
  code/modules/mod/modules/modules_general.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human.dm
  modular_skyrat/modules/moretraitoritems/code/traitor_announcer.dm
  tgstation.dme
Labels: Feature, TG Mirror, Mirroring conflict

#965 [MIRROR] The maintenance crate spawning crate is now a spawner
  _maps/RandomRuins/IceRuins/icemoon_surface_gas.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/alientoollab.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/map_files/Basketball/greytide_worldwide.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_attachment_a_3.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_attachment_b_1.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/modular_generic/ice_l_storage.dmm
  _maps/modular_generic/station_l_crates.dmm
  _maps/shuttles/pirate_grey.dmm
  _maps/shuttles/whiteship_tram.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_ntrep_office.dmm
  _maps/virtual_domains/pipedream.dmm
  code/__DEFINES/loot.dm
  code/game/objects/effects/spawners/random/structure.dm
  code/game/objects/structures/crates_lockers/crates.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/80083_crate_spawner_rework.txt
Labels: Map Modification, TG Mirror, Mirroring conflict

#977 [MIRROR] Fixes the AI painting manager showing invalid choices and the search function (doesn't fix lag)
  code/controllers/subsystem/persistent_paintings.dm
Labels: TG Mirror

#979 [MIRROR] Reworks `invisimin` variable to a trait
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/mob_defines.dm
Labels: TG Mirror

#980 [MIRROR] Moves `thinking_IC` variable to a trait
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/mob/mob_defines.dm
  code/modules/tgui_input/say_modal/typing.dm
Labels: TG Mirror

#982 [MIRROR] Expands issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: TG Mirror

#983 [MIRROR] The NTSS Independence: Reimagined
  _maps/shuttles/emergency_cruise.dmm
Labels: Feature, Map Modification, TG Mirror

#984 [MIRROR] Fix get_icon_dimensions being a memory hole where ram goes to die
  code/__HELPERS/icons.dm
Labels: TG Mirror

#989 [MIRROR] Fixes? / Removes stagger shoving animation on corpses.
  code/datums/status_effects/debuffs/staggered.dm
Labels: TG Mirror, Removal

#990 [MIRROR] Nar'Sie Only Ends The Round After Specific Proc Is Called
  code/__DEFINES/vv.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/power/singularity/narsie.dm
Labels: TG Mirror, Administration

#992 [MIRROR] Clean soups
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
  modular_skyrat/modules/supersoups/code/soup_mixtures.dm
  modular_skyrat/modules/supersoups/code/stove.dm
  tgstation.dme
Labels: Quality of Life, Skyrat Mirror

#993 [MIRROR] Chasms prevent teleportation
  code/datums/components/chasm.dm
  code/datums/helper_datums/teleport.dm
Labels: Balance, TG Mirror

#996 [MIRROR] [MODULAR] Lighting range and power adjustments
  modular_skyrat/master_files/code/modules/power/lighting/light_mapping_helpers.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
Labels: Code modification, Skyrat Mirror

#998 [MIRROR] Adding Hawaiian digi under + Fix digi BloodRed pajamas
  modular_skyrat/master_files/code/modules/clothing/under/syndicate.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature, Sprites, Fix, Skyrat Mirror

#997 [MIRROR] Primitive storage 2: food and flower boogaloo
  code/modules/mining/lavaland/ash_flora.dm
  icons/obj/mining_zones/ash_flora.dmi
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/primitive_structures/icons/storage.dmi
Labels: Feature, Sprites, Skyrat Mirror

#1002 [MIRROR] Makes xenobotany plants more interesting.
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/amauri.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/gelthi.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/jurlmah.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/nofruit.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/shand.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/surik.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/telriis.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/thaadra.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/vale.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/vaporsac.dm
Labels: Feature, Skyrat Mirror

#1004 [MIRROR] Uses old Sol Police sprites for a Police Cap reskin.
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Feature, Sprites, Skyrat Mirror

#1006 [MIRROR] Adds metal shelf recipe
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Feature, Skyrat Mirror

#1007 [MIRROR] Gasping in shock, but for non-humans!
  code/modules/mob/living/emote.dm
Labels: Fix, Skyrat Mirror

#1012 [MIRROR] Fix build mode preview spawning atoms needlessly
  code/modules/buildmode/buildmode.dm
Labels: TG Mirror

#1013 [MIRROR] Fix cult halo and eyes affecting deconverted cultists
  code/datums/elements/cult_eyes.dm
  code/datums/elements/cult_halo.dm
Labels: Fix, TG Mirror

#1015 [MIRROR] Deletes unused hydroponics code
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/sample.dm
  code/modules/unit_tests/plantgrowth_tests.dm
  icons/obj/service/hydroponics/seeds.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#1016 [MIRROR] Makes mutations clean up after themselves
  code/datums/dna.dm
  code/datums/mutations/_mutations.dm
  code/datums/mutations/body.dm
  code/game/objects/items/dna_injector.dm
Labels: Fix, TG Mirror

#1017 [MIRROR] Good Assistant Points Punchcard. Now in Wallets!
  code/game/objects/items/storage/wallets.dm
Labels: Quality of Life, Skyrat Mirror

#1018 [MIRROR] Adds the narcolepsy trauma as a pickable quirk
  modular_skyrat/master_files/code/datums/quirks/negative_quirks/narcolepsy.dm
  tgstation.dme
Labels: Feature, Skyrat Mirror

#1020 [MIRROR] TGUI Stack Zebra Mode
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/stories/Stack.stories.jsx
  tgui/packages/tgui/styles/components/Stack.scss
Labels: Feature, TG Mirror

#1000 [MIRROR] Lopland holobadges in the loadout & security vendor! Also fixes them for detectives!
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/modules/customization/modules/clothing/under/accessories.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  tff_modular/modules/redsec/code/vending.dm
Labels: Feature, Sprites, Fix, Skyrat Mirror, Mirroring conflict

#991 [MIRROR] Display not Dislpay.
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Skyrat Mirror

#1009 [MIRROR] fixes the colorable maid-dress to not be missing a pixel in the middle, for females
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
Labels: Fix, Skyrat Mirror

#1001 [MIRROR] Fixes gutlunch troughs being uncraftable
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Skyrat Mirror

#901 Rebalance Sol Rifles
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: Balance, Test Merged

#1022 [MIRROR] [MODULAR] Grants Hearthkin Transcendent Olfaction (& One Other Thing)
  modular_skyrat/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_skyrat/modules/primitive_catgirls/code/species.dm
Labels: Feature, Skyrat Mirror

#1023 [MIRROR] [modular] Adds hair ties
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/games.dm
  modular_skyrat/modules/opposing_force/code/equipment/gadgets.dm
  modular_skyrat/modules/salon/code/barbervend.dm
  modular_skyrat/modules/salon/code/hair_tie.dm
  modular_skyrat/modules/salon/icons/items.dmi
  tgstation.dme
Labels: Feature, Sprites, Skyrat Mirror

#985 [MIRROR] adds a propeller hat, rainbow bowtie, and a swirl lollipop
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/food/sweets.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/snack.dm
  icons/mob/clothing/head/hats.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/items/food_lefthand.dmi
  icons/mob/inhands/items/food_righthand.dmi
  icons/obj/clothing/head/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/food/food.dmi
Labels: Feature, Sprites, TG Mirror

#1024 [MIRROR] [Modular] Hash is no longer recursive
  modular_skyrat/modules/morenarcotics/code/thc.dm
  modular_skyrat/modules/morenarcotics/code/thc_item.dm
Labels: Fix, Skyrat Mirror

#1025 [MIRROR] No longer stuck inside legion when you revive
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/death.dm
Labels: TG Mirror

#1026 [MIRROR] Synthetic Humanoids. Now taste-less and less picky!
  modular_skyrat/modules/synths/code/bodyparts/tongue.dm
Labels: Quality of Life, Skyrat Mirror

#1028 [MIRROR] Fixes issues on guns with BOLT_TYPE_LOCKING
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix, TG Mirror

#1029 [MIRROR] Adds wound armor to heretic robes and gives heretic blades knife level wounding
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
Labels: Balance, TG Mirror

#1030 [MIRROR] Cups end their attack chain early when attacked with specific items
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: Fix, TG Mirror

#1031 [MIRROR] Addresses Icon Smoothing Runtimes
  code/__HELPERS/icon_smoothing.dm
Labels: TG Mirror

#1033 [MIRROR] Abductor Ship Bitrunner Domain
  _maps/safehouses/abductor.dmm
  _maps/virtual_domains/abductor_ship.dmm
  code/modules/bitrunning/outfits.dm
  code/modules/bitrunning/virtual_domain/domains/abductor_ship.dm
  code/modules/bitrunning/virtual_domain/modular_mob_segment.dm
  code/modules/mob/living/basic/trooper/abductor.dm
  strings/modular_maps/safehouse.toml
  tgstation.dme
Labels: Feature, Map Modification, TG Mirror

#1036 [MIRROR] General maintenance for canisters
  code/__DEFINES/atmospherics/atmos_machinery.dm
  code/_globalvars/lists/canisters.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_objects.dm
  code/datums/greyscale/json_configs/canister_proto.json
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/vehicles/mecha/equipment/tools/air_tank.dm
  icons/obj/pipes_n_cables/prototype_canister.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Canister.tsx
Labels: Sprites, Code modification, Fix, TG Mirror, Refactoring

#1034 [MIRROR] Adds neck-snapping to CQC and Sleeping carp
  code/datums/martial/cqc.dm
  code/datums/martial/sleeping_carp.dm
Labels: Feature, TG Mirror

#1032 [MIRROR] Removes an exploit that can farm Russian revolver moodlets, adds Russian revolvers to the contraband section of games vendors
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/vending/games.dm
Labels: Feature, Fix, TG Mirror

#1035 [MIRROR] Adds Short tail for Lizards
  code/datums/sprite_accessories.dm
  icons/mob/human/species/lizard/lizard_tails.dmi
Labels: Feature, Sprites, TG Mirror

#1037 [MIRROR] Reactions correctly respect the `REACTION_HEAT_ARBITARY` flag
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix, TG Mirror

#1040 [MIRROR] fixes punished sect instant transformation from changing species
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/datums/quirks/negative_quirks/body_purist.dm
  code/modules/antagonists/traitor/objectives/assassination.dm
  code/modules/religion/burdened/burdened_trauma.dm
  code/modules/religion/religion_sects.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix, TG Mirror

#1041 [MIRROR] Fixes coffin cookie being invisible
  code/game/objects/items/food/pastries.dm
  code/modules/events/holiday/halloween.dm
Labels: Fix, TG Mirror

#1042 [MIRROR] Removes missing context from Skyrat UI files, and labels the Skyrat UI files.
  tgui/packages/tgui/interfaces/AmmoWorkbench.jsx
  tgui/packages/tgui/interfaces/AntagInfoAssaultops.tsx
  tgui/packages/tgui/interfaces/AntagInfoClock.tsx
  tgui/packages/tgui/interfaces/AntagInfoOpfor.tsx
  tgui/packages/tgui/interfaces/AntagInfoRules.tsx
  tgui/packages/tgui/interfaces/ArmamentStation.jsx
  tgui/packages/tgui/interfaces/BluespaceArtillery.tsx
  tgui/packages/tgui/interfaces/BorerChem.jsx
  tgui/packages/tgui/interfaces/BorerEvolution.tsx
  tgui/packages/tgui/interfaces/CargoImportConsole.jsx
  tgui/packages/tgui/interfaces/ChemPress.jsx
  tgui/packages/tgui/interfaces/ClockworkResearch.tsx
  tgui/packages/tgui/interfaces/ClockworkSlab.jsx
  tgui/packages/tgui/interfaces/CommandReportConsole.jsx
  tgui/packages/tgui/interfaces/CrewConsoleSkyrat.jsx
  tgui/packages/tgui/interfaces/CrewConsoleSkyratBlueshield.jsx
  tgui/packages/tgui/interfaces/CryopodConsole.jsx
  tgui/packages/tgui/interfaces/DelamProcedure.tsx
  tgui/packages/tgui/interfaces/EventPanel.jsx
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
  tgui/packages/tgui/interfaces/GlassBlowing.tsx
  tgui/packages/tgui/interfaces/IntensityCredits.tsx
  tgui/packages/tgui/interfaces/InteractionMenu.tsx
  tgui/packages/tgui/interfaces/LoadoutManager.jsx
  tgui/packages/tgui/interfaces/MicrofusionGunControl.jsx
  tgui/packages/tgui/interfaces/MilkingMachine.jsx
  tgui/packages/tgui/interfaces/NifPanel.jsx
  tgui/packages/tgui/interfaces/NifSoulPoem.jsx
  tgui/packages/tgui/interfaces/NightmareInfo.jsx
  tgui/packages/tgui/interfaces/NtosCrewManifest.jsx
  tgui/packages/tgui/interfaces/NtosNetDownloader.jsx
  tgui/packages/tgui/interfaces/NtosNewsArchive.jsx
  tgui/packages/tgui/interfaces/NtosNifsoftCatalog.jsx
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
  tgui/packages/tgui/interfaces/ParticleAccelerator.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/LanguagesMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
  tgui/packages/tgui/interfaces/RecordManifest.jsx
  tgui/packages/tgui/interfaces/ServerControlPanel.jsx
  tgui/packages/tgui/interfaces/Signalvib.jsx
  tgui/packages/tgui/interfaces/Soulcatcher.jsx
  tgui/packages/tgui/interfaces/SoulcatcherUser.jsx
  tgui/packages/tgui/interfaces/StoryManager.tsx
  tgui/packages/tgui/interfaces/TimeClock.jsx
Labels: Fix, Skyrat Mirror

#1043 [MIRROR] Fixed false anomaly announcements.
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/anomaly/anomaly_bioscrambler.dm
  code/modules/events/anomaly/anomaly_bluespace.dm
  code/modules/events/anomaly/anomaly_dimensional.dm
  code/modules/events/anomaly/anomaly_ectoplasm.dm
  code/modules/events/anomaly/anomaly_flux.dm
  code/modules/events/anomaly/anomaly_grav.dm
  code/modules/events/anomaly/anomaly_hallucination.dm
  code/modules/events/anomaly/anomaly_pyro.dm
  code/modules/events/anomaly/anomaly_vortex.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/grey_tide.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/vent_clog.dm
Labels: Fix, TG Mirror

#1044 [MIRROR] basic cleanbots refactor and new janitor skillchip
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_casino.dmm
  _maps/shuttles/emergency_shadow.dmm
  _maps/shuttles/emergency_tranquility.dmm
  _maps/shuttles/ruin_cyborg_mothership.dmm
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/ai/bot_keys.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/befriend_target.dm
  code/datums/components/cleaner.dm
  code/datums/components/crafting/robot.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/mop.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/library/skill_learning/job_skillchips/janitor.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_abilities.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/80100_cleanbots.txt
Labels: Feature, Map Modification, Fix, TG Mirror, Refactoring

#1039 [MIRROR] Fixes false walls icons using the wrong icon files
  code/game/objects/structures/false_walls.dm
Labels: Fix, TG Mirror, Mirroring conflict

#1047 [MIRROR] Pyrosium reactions sets temperature & causes reactions inside holder
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix, TG Mirror

#1049 [MIRROR] Updates the modularization guide with TGUI instructions
  modular_skyrat/readme.md
Labels: Skyrat Mirror

#1050 [MIRROR] Add hotkey and screentip to tracking beacons
  code/game/objects/items/devices/beacon.dm
Labels: Quality of Life, TG Mirror

#1053 [MIRROR] Changes Virology Rather Than Killing It
  code/__DEFINES/diseases.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/floor_diseases/carpellosis.dm
  code/datums/diseases/brainrot.dm
  code/datums/diseases/chronic_illness.dm
  code/datums/diseases/decloning.dm
  code/datums/diseases/dna_spread.dm
  code/datums/diseases/gastrolisis.dm
  code/datums/diseases/gbs.dm
  code/datums/diseases/magnitis.dm
  code/datums/diseases/parrotpossession.dm
  code/datums/diseases/retrovirus.dm
  code/datums/diseases/rhumba_beat.dm
  code/datums/diseases/transformation.dm
  code/datums/diseases/wizarditis.dm
  code/datums/id_trim/jobs.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/modules/antagonists/disease/disease_disease.dm
  code/modules/antagonists/revenant/revenant_blight.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Balance, TG Mirror

#1051 [MIRROR] Air Alarm Circuit fix 2: It works this time
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_circuit.dm
Labels: TG Mirror

#1052 [MIRROR] Big baked rice complexity fix.
  code/game/objects/items/food/moth.dm
Labels: Fix, TG Mirror

#1056 [MIRROR] Refactors Object Possession into a Component (moar modular, less `/mob` vars)
  code/__DEFINES/alerts.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/_onclick/hud/alert.dm
  code/datums/components/object_possession.dm
  code/modules/admin/verbs/possess.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  modular_skyrat/modules/hydra/code/neutral.dm
  tgstation.dme
Labels: Quality of Life, TG Mirror, Administration

#1057 [MIRROR] Logging fixes and catches
  code/__DEFINES/_protect.dm
  code/__DEFINES/logging.dm
  code/modules/logging/categories/log_category_internal.dm
  code/modules/logging/log_category.dm
  code/modules/logging/log_entry.dm
  code/modules/logging/log_holder.dm
  tgstation.dme
Labels: TG Mirror

#1059 [MIRROR] CIN plasmapistols now fit in energy holsters
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Balance, Skyrat Mirror

#1062 [MIRROR] Slimepeople Can Get Wings from Strange Elixirs
  code/datums/sprite_accessories.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  icons/mob/human/species/wings.dmi
  modular_skyrat/modules/customization/modules/surgery/organs/wings.dm
Labels: Feature, Sprites, TG Mirror

#1063 [MIRROR] Fixes random species features not being applied when spawning randomized mobs
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/dna.dm
  code/modules/surgery/organs/external/tails.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/monkey.dm
Labels: Fix, Skyrat Mirror

#1064 [MIRROR] [No GBP] Updates the medicine given with the narcolepsy quirk
  modular_skyrat/master_files/code/datums/quirks/negative_quirks/narcolepsy.dm
Labels: Fix, Skyrat Mirror

#1055 [MIRROR] Healing Virus Selfcure Hotfix
  code/datums/diseases/_disease.dm
Labels: Fix, TG Mirror, Mirroring conflict

#1061 [MIRROR] "Security Implant" rework, prisoner management console updates
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/implants.dm
  code/_globalvars/lists/objects.dm
  code/game/data_huds.dm
  code/game/machinery/computer/prisoner/_prisoner.dm
  code/game/machinery/computer/prisoner/management.dm
  code/game/machinery/computer/teleporter.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_track.dm
  code/game/objects/items/implants/security/implant_beacon.dm
  code/game/objects/items/implants/security/implant_chem.dm
  code/game/objects/items/implants/security/implant_exile.dm
  code/game/objects/items/implants/security/implant_noteleport.dm
  code/game/objects/items/implants/security/implant_track.dm
  code/game/objects/items/storage/boxes/implant_boxes.dm
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/game/objects/items/teleportation.dm
  code/modules/cargo/packs/security.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  icons/mob/huds/hud.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PrisonerManagement.tsx
Labels: Feature, Sprites, Balance, Code modification, TG Mirror, Grammar

#1066 [MIRROR] New Cleanbot and Bucket sprites (No GAGS)
  code/datums/greyscale/config_types/greyscale_configs/greyscale_items.dm
  code/datums/greyscale/json_configs/buckets.json
  code/datums/greyscale/json_configs/buckets_bot.json
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  icons/mob/clothing/head/utility.dmi
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/mob/silicon/aibots.dmi
  icons/obj/medical/reagent_fillings.dmi
  icons/obj/service/janitor.dmi
Labels: Sprites, TG Mirror, Removal, Icon changes

#1068 [MIRROR] Fixes genetics console right click
  tgui/packages/tgui/interfaces/DnaConsole/DnaConsoleSequencer.jsx
Labels: Fix, TG Mirror

#1069 [MIRROR] Goldgrubs no longer block death bolts, even while alive.
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
Labels: Fix, TG Mirror

#1070 [MIRROR] Modular room hole patching
  _maps/modular_generic/station_l_crates.dmm
Labels: Map Modification, Fix, TG Mirror

#1082 [MIRROR] Fixes character screen
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/tff/character_voice.tsx
Labels: Fix, TG Mirror

#1075 [MIRROR] Fixes stamps
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: Fix, TG Mirror

#1076 [MIRROR] Dropdown selection fix
  tgui/packages/tgui/components/Dropdown.tsx
Labels: Fix, TG Mirror

#1067 [MIRROR] Fix some shenanigans involving interaction order with wound tending
  code/_onclick/item_attack.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, TG Mirror

#1071 [MIRROR] Fixes a bunch of AI related CI runtimes
  code/datums/ai/basic_mobs/basic_subtrees/opportunistic_ventcrawler.dm
  code/datums/ai/generic/generic_subtrees.dm
  code/datums/ai/hunting_behavior/hunting_behaviors.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/ai/monkey/monkey_subtrees.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
  code/modules/mob/living/basic/pets/cat/cat_ai.dm
  code/modules/mob/living/basic/pets/parrot/parrot_ai/parrot_perching.dm
Labels: Fix, TG Mirror

#1072 [MIRROR] Balance changes to swords, energy shields and modsuit shields.
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/obj/weapons/shields.dmi
Labels: Sprites, Balance, TG Mirror

#1077 [MIRROR] Fixes painting
  tgui/packages/tgui/interfaces/Canvas.tsx
Labels: Fix, TG Mirror

#1073 [MIRROR] Remove delayed in MassInsert
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/dbcore.dm
  modular_skyrat/master_files/code/controllers/subsystem/dbcore.dm
Labels: TG Mirror

#1079 [MIRROR] Atmos wrench act & small typo fix
  code/__DEFINES/tools.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix, TG Mirror, Grammar

#1078 [MIRROR] Blackout drunkard warning adjustment
  code/datums/brain_damage/split_personality.dm
Labels: Quality of Life, TG Mirror

#1080 [MIRROR] Updates the Gold palette used on the HoS Shako hat
  icons/mob/large-worn-icons/64x64/head.dmi
  icons/obj/clothing/head/hats.dmi
Labels: Sprites, TG Mirror, Icon changes

#1081 [MIRROR] Update cable coil examine text
  code/modules/power/cable.dm
Labels: Fix, TG Mirror

#1083 [MIRROR] Prevents something fucky with elevation and glass tables
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/elevation.dm
Labels: Fix, TG Mirror

#1084 [MIRROR] [no gbp] some few bot fixes
  code/datums/station_traits/negative_traits.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/robot_control.dm
Labels: Fix, TG Mirror

#1088 [MIRROR] Fixes reinforced walls reverting to the TG icon files when updating
  code/game/turfs/closed/wall/reinf_walls.dm
  modular_skyrat/modules/aesthetics/walls/code/walls.dm
Labels: Fix, Skyrat Mirror

#1085 [MIRROR] Void Raptor / Blueshift perma tweaks and MOD module additions
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification, Fix, Quality of Life, Skyrat Mirror

#1086 [MIRROR] [MODULAR] Readd fan_out_items to armory spawner
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: Skyrat Mirror

#1087 [MIRROR] Adds Short tail override and mutant color alt
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Code modification, Skyrat Mirror

#1027 [MIRROR] Fixes for garbage truck ruins.
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck2.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
  code/game/area/areas/ruins/space.dm
  config/spaceruinblacklist.txt
  icons/obj/weapons/hammer.dmi
Labels: Sprites, Map Modification, Config, Fix, TG Mirror, Icon changes

#1091 [MIRROR] Goose are now birds!
  code/_globalvars/phobias.dm
Labels: Fix, TG Mirror

#1092 [MIRROR] Fixes loadout menu crashes
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
Labels: Fix, Skyrat Mirror

#1060 [MIRROR] Converts some of tgui-panel to typescript
  tgui/package.json
  tgui/packages/tgui-panel/Notifications.tsx
  tgui/packages/tgui-panel/Panel.tsx
  tgui/packages/tgui-panel/audio/hooks.ts
  tgui/packages/tgui-panel/audio/player.js
  tgui/packages/tgui-panel/audio/reducer.ts
  tgui/packages/tgui-panel/audio/selectors.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/packages/tgui-panel/chat/selectors.ts
  tgui/packages/tgui-panel/game/actions.ts
  tgui/packages/tgui-panel/game/hooks.ts
  tgui/packages/tgui-panel/game/reducer.ts
  tgui/packages/tgui-panel/game/selectors.ts
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/ping/actions.ts
  tgui/packages/tgui-panel/ping/reducer.ts
  tgui/packages/tgui-panel/ping/selectors.ts
  tgui/packages/tgui-panel/settings/actions.ts
  tgui/packages/tgui-panel/settings/hooks.ts
  tgui/packages/tgui-panel/settings/model.ts
  tgui/packages/tgui-panel/settings/selectors.ts
  tgui/packages/tgui-panel/telemetry.js
  tgui/packages/tgui-panel/themes.ts
  tgui/yarn.lock
Labels: TG Mirror, Mirroring conflict

#1089 [MIRROR] Updates ocky icky phobia to more modern lingo
  code/_globalvars/phobias.dm
  strings/phobia.json
Labels: TG Mirror, Administration

#1090 [MIRROR] Adds new black market pin
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/pinnable_accessory.dm
  code/game/data_huds.dm
  code/game/objects/items/devices/spyglasses.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/medals.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
  tgstation.dme
Labels: Feature, Sprites, TG Mirror

#1093 [MIRROR] Makes the Snout Clown Mask Consistent.
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
Labels: Sprites, Skyrat Mirror, Icon changes

#1094 [MIRROR] Laser pointers. Now more accessible!
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/modular_vending/code/games.dm
Labels: Quality of Life, Skyrat Mirror
