Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-10, with the labels that each got.

#5069 [MIRROR] Fixes the disposals outside of Wawa's NTrep office.
  _maps/nova/automapper/templates/wawastation/wawastation_ntrep_office.dmm
Labels: Map Modification, Fix, Nova Mirror

#5070 [MIRROR] Bandaid fix for IPCs missing hands.
  modular_nova/modules/bodyparts/icons/ipc_parts.dmi
Labels: Sprites, Fix, Nova Mirror

#5072 [MIRROR] Snowglobe Perma Tweaks
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Quality of Life, Nova Mirror

#5074 [MIRROR] Slime&Podperson tweaks
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Balance, Nova Mirror

#5075 [MIRROR] Interdyne Vendor Fixes
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
Labels: Map Modification, Fix, Nova Mirror

#5076 [MIRROR] make able read paper from folder
  code/modules/paperwork/paper.dm
Labels: Quality of Life, Nova Mirror

#5082 [MIRROR] Fixes Aggressive Brushing
  modular_nova/modules/hairbrush/code/hairbrush.dm
Labels: Fix, Nova Mirror

#5079 [MIRROR] Adds green pin to loadout accessories.
  modular_nova/modules/customization/modules/clothing/under/accessories.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_accessory.dm
Labels: Feature, Fix, Nova Mirror

#5078 [MIRROR] add skrell laugh
  modular_nova/modules/emotes/code/laugh_datums.dm
  modular_nova/modules/emotes/sound/emotes/skrelllaugh1.ogg
  modular_nova/modules/emotes/sound/emotes/skrelllaugh2.ogg
Labels: Sound changes, Nova Mirror

#5080 [MIRROR] Expands the item and ability selection of bitrunning disks (ft. Finally Being Able To Treat Your Teammates)
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_nova/modules/bitrunning/code/disks.dm
  modular_nova/modules/bitrunning/code/flair.dm
  modular_nova/modules/bitrunning/code/mobs.dm
  modular_nova/modules/bitrunning/code/spells.dm
  modular_nova/modules/bitrunning/icons/spells.dmi
  modular_nova/modules/bitrunning/icons/spells_lefthand.dmi
  modular_nova/modules/bitrunning/icons/spells_righthand.dmi
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5083 [MIRROR] Minor Loadout Accessory Tweaks
  modular_nova/modules/Syndie_edits/code/syndie_edits.dm
  modular_nova/modules/customization/modules/clothing/under/accessories.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/lewd_maid.dm
Labels: Quality of Life, Mirroring conflict, Nova Mirror

#5081 Fluff cloak (Sprite + code)
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/obj/clothing/cloaks.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#5087 [MIRROR] New clothing and New teshari variants
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/icons/mob/clothing/species/teshari/ears.dmi
  modular_nova/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_nova/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_nova/master_files/icons/mob/clothing/suits/labcoat_teshari.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/loose_pants.dmi
  modular_nova/modules/GAGS/icons/neck/tesharian_mantle.dmi
  modular_nova/modules/GAGS/icons/neck/tesharian_mantle_teshari.dmi
  modular_nova/modules/GAGS/icons/sweaters_teshari.dmi
  modular_nova/modules/GAGS/json_configs/loose_pants/loose_pants.json
  modular_nova/modules/GAGS/json_configs/loose_pants/loose_pants_worn.json
  modular_nova/modules/GAGS/json_configs/neck/tesharian_mantle.json
  modular_nova/modules/customization/modules/clothing/neck/_neck.dm
  modular_nova/modules/customization/modules/clothing/under/misc.dm
  modular_nova/modules/customization/modules/clothing/under/sweaters.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites, Nova Mirror

#5088 [MIRROR] Adds more direction sprites for the E3N hands.
  modular_nova/modules/bodyparts/icons/ipc_parts.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5089 [MIRROR] Fix: Augments+ Bodyshape Flags
  modular_nova/modules/customization/modules/client/augment/limbs.dm
Labels: Fix, Nova Mirror

#5090 [MIRROR] Add pharmacy to ghost cafe medical department
  _maps/map_files/generic/CentCom_nova_z2.dmm
  code/controllers/subsystem/explosions.dm
Labels: Map Modification, Quality of Life, Nova Mirror

#5085 Bunny additional
  tff_modular/modules/bunny/code/bunnydrobe.dm
  tff_modular/modules/bunny/code/clothing/suit.dm
  tff_modular/modules/bunny/code/clothing/under.dm
  tff_modular/modules/bunny/icons/mob/under_digi.dmi
  tff_modular/modules/vending/vends/autodrobe.dm
  tff_modular/modules/vending/vends/clothing.dm
  tff_modular/modules/vending/vends/wardrobe/cent_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/magivend.dm
  tff_modular/modules/vending/vends/wardrobe/sec_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/syndie_wardrobe.dm
  tgstation.dme
Labels: Feature, Sprites, Balance, Removal

#5092 [MIRROR] Fixes Void Raptor solars
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification, Fix, Nova Mirror

#5086 Synth healing speed buff
  tff_modular/master_files/code/game/objects/items/tools/weldingtool.dm
  tff_modular/master_files/code/modules/power/cable.dm
  tgstation.dme
Labels: Balance

#5096 [MIRROR] Taur fullbody fix
  code/modules/clothing/suits/_suits.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_nova/master_files/code/game/objects/items.dm
  modular_nova/master_files/icons/mob/clothing/suit_taur_paw.dmi
Labels: Sprites, Fix, Icon changes, Nova Mirror

#5097 [MIRROR] Gives borg bacon/cloth snacks a proper taste
  modular_nova/modules/borg_buffs/code/snack_dispensor.dm
Labels: Fix, Nova Mirror

#5098 [MIRROR] .38 revolver is now 500 bucks (or credits if you will)
  modular_nova/master_files/code/modules/cargo/goodies.dm
Labels: Balance, Nova Mirror

#5100 [MIRROR] detective gaming tweak
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_nova/master_files/code/modules/jobs/job_types/detective.dm
Labels: Quality of Life, Nova Mirror

#5101 [MIRROR] Fix clockout for NTC and Blueshield
  modular_nova/master_files/code/datums/id_trim/jobs.dm
Labels: Fix, Nova Mirror

#5102 [MIRROR] Removes the service bell ambience from Hilberts areas
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
Labels: Removal, Nova Mirror

#5103 [MIRROR] disables phasic ammo printing
  modular_nova/modules/aesthetics/guns/code/guns.dm
Labels: Balance, Nova Mirror

#5106 [MIRROR] Fixes taur legs + augments not getting the correct footstep sounds from prefs
  modular_nova/master_files/code/modules/client/preferences/footstep_sound.dm
  modular_nova/master_files/code/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/bodyparts/code/_mutant_bodyparts.dm
  modular_nova/modules/customization/modules/client/augment/limbs.dm
Labels: Fix, Nova Mirror

#5107 [MIRROR] Akula have been cured of the purple skin epidemic
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
Labels: Fix, Nova Mirror

#5099 Blueshield medibag buff
  modular_nova/modules/blueshield/code/medkit.dm
Labels: Balance

#5105 Security weapon beacon
  tff_modular/modules/security-rearm/code/outfit.dm
  tff_modular/modules/security-rearm/code/security_beacon.dm
  tff_modular/modules/security-rearm/code/wespe.dm
  tgstation.dme
Labels: Balance

#5113 Teshari job limitations
  tff_modular/master_files/code/modules/job/job_blacklist.dm
Labels: Removal

#5110 [MIRROR] Void Raptor - Airless Window Fixes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification, Fix, Nova Mirror

#5111 [MIRROR] Adds Functional/ Non-Functional modes to suits
  modular_nova/modules/clothing_improvements/code/functional_toggle.dm
  modular_nova/modules/kahraman_equipment/code/clothing/clothing.dm
  tgstation.dme
Labels: Balance, Quality of Life, Nova Mirror

#5116 UEDHighCommand Wikired item
  tff_modular/master_files/icons/donator/mob/clothing/under.dmi
  tff_modular/master_files/icons/donator/mob/clothing/under_digi.dmi
  tff_modular/master_files/icons/donator/obj/clothing/under.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Feature, Sprites

#5119 [MIRROR] Snowglobe Nitpicks
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Quality of Life, Nova Mirror

#5120 [MIRROR] Space Ruin - Black Market Trader Balance pass
  _maps/RandomRuins/SpaceRuins/nova/blackmarket.dmm
  modular_nova/modules/mapping/code/mob_spawns.dm
Labels: Feature, Map Modification, Balance, Removal, Nova Mirror

#5121 [MIRROR] Space Ruin - Cheese mitigation for NT Research Ship
  _maps/RandomRuins/SpaceRuins/nova/scrapheap.dmm
Labels: Map Modification, Balance, Nova Mirror

#5123 [MIRROR] XenoArch Artifacts Fixes And Additions
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_autocloner.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_replicator.dm
  modular_nova/modules/xenoarchartifacts/effects/blood.dm
  modular_nova/modules/xenoarchartifacts/effects/celldrain.dm
  modular_nova/modules/xenoarchartifacts/effects/dnaswitch.dm
  modular_nova/modules/xenoarchartifacts/effects/gas.dm
  modular_nova/modules/xenoarchartifacts/effects/gravity.dm
  modular_nova/modules/xenoarchartifacts/effects/machinery_mess.dm
  modular_nova/modules/xenoarchartifacts/effects/stun.dm
  modular_nova/modules/xenoarchartifacts/effects/temperature.dm
  modular_nova/modules/xenoarchartifacts/machines/geosample_analyzer.dm
  modular_nova/modules/xenoarchartifacts/obj/artifact_stabilizer.dm
Labels: Fix, Nova Mirror

#5124 [MIRROR] Adds radiation suits to non functional blacklist
  modular_nova/modules/clothing_improvements/code/functional_toggle.dm
Labels: Fix, Nova Mirror

#5125 [MIRROR] Removes Regular Fireaxe from being equipped in exosuits (no sprites)
  code/__DEFINES/~nova_defines/colony_fabricator_misc.dm
  modular_nova/modules/kahraman_equipment/code/clothing/mod.dm
Labels: Removal, Nova Mirror

#5126 [MIRROR] Synth deathsound
  modular_nova/modules/synths/code/species/synthetic.dm
Labels: Feature, Nova Mirror

#5127 [MIRROR] Swaps a couple of DS2 medkits for burn/toxin ones.
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
Labels: Feature, Map Modification, Nova Mirror

#5128 [MIRROR] Remove extra chef vendor on interdyne
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
Labels: Map Modification, Nova Mirror

#5129 [MIRROR] fixes rengo bayonet offset + makes it properly 2h
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
Labels: Nova Mirror

#5130 [MIRROR] Serenity - CE Keycard Auth
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Map Modification, Fix, Nova Mirror

#5131 [MIRROR] Forged Weapons Bane list expanded and span made it clear what they do.
  modular_nova/modules/reagent_forging/code/forge_weapons.dm
Labels: Balance, Quality of Life, Nova Mirror

#5134 [MIRROR] The Quartermaster is no longer in possession of high contraband at round start
  code/datums/id_trim/jobs.dm
  tff_modular/master_files/code/modules/job/job_trim.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#5137 [MIRROR] Add: Northeastern Duck Boots
  modular_nova/master_files/icons/mob/clothing/feet.dmi
  modular_nova/master_files/icons/obj/clothing/shoes.dmi
  modular_nova/modules/customization/modules/clothing/shoes/shoes.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites, Nova Mirror

#5136 [MIRROR] Augments+ Ears & Extras
  code/__DEFINES/~nova_defines/augment.dm
  modular_nova/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_nova/modules/customization/modules/client/augment/implants.dm
  modular_nova/modules/customization/modules/client/augment/organs.dm
  modular_nova/modules/roundstart_implants/code/loadout_subtypes.dm
  modular_nova/modules/synths/code/bodyparts/power_cord.dm
Labels: Feature, Quality of Life, Mirroring conflict, Nova Mirror

#5135 [MIRROR] new felinid/taj meow/purr sounds, 5 second emote cooldown reverted (mostly)
  modular_nova/master_files/code/datums/emotes.dm
  modular_nova/master_files/code/game/sound.dm
  modular_nova/modules/emotes/code/emotes.dm
  modular_nova/modules/emotes/sound/emotes/meow.ogg
Labels: Removal, Sound changes, Nova Mirror

#5138 Quickfix ff_categories
  tff_modular/modules/vending/vends/autodrobe.dm
  tff_modular/modules/vending/vends/clothing.dm
Labels: Fix
