Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-09, with the labels that each got.

#4982 [MIRROR] Sneezes will no longer sound like bullets upon impact
  code/modules/projectiles/projectile.dm
  modular_nova/master_files/code/game/sound.dm
  modular_nova/modules/primitive_structures/code/furniture.dm
Labels: Fix, Nova Mirror

#4985 [MIRROR] fix announcer text len
  modular_nova/modules/moretraitoritems/code/traitor_announcer.dm
Labels: Fix, Nova Mirror

#4986 [MIRROR] Fix of detective board placing
  code/game/objects/structures/detectiveboard.dm
Labels: Fix, Nova Mirror

#4983 [MIRROR] Fixes doubled up radio sounds
  code/datums/emotes.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/modular_computers/computers/item/pda.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/modules/goofsec/code/sol_fed.dm
  modular_nova/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/strapon.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/_masturbation_item.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_nova/modules/radiosound/code/headset.dm
  modular_nova/modules/radiosound/code/radio.dm
  modular_nova/modules/radiosound/sound/radio/radio_chirp.ogg
  modular_nova/modules/radiosound/sound/radio/walkie_talkie.ogg
  modular_nova/modules/reagent_forging/code/anvil.dm
  tgstation.dme
Labels: Feature, Fix, Mirroring conflict, Nova Mirror

#4989 [MIRROR] Balance reagent weapons
  code/__DEFINES/inventory.dm
  code/__DEFINES/~nova_defines/colony_fabricator_misc.dm
  code/datums/storage/subtypes/pockets.dm
  modular_nova/modules/reagent_forging/code/forge_weapons.dm
Labels: Balance, Quality of Life, Nova Mirror

#4990 [MIRROR] Fixes moth dash granting permanent flight in certain circumstances
  modular_nova/modules/customization/modules/surgery/organs/wings.dm
Labels: Fix, Nova Mirror

#4991 [MIRROR] Personal item fix
  modular_nova/master_files/icons/donator/mob/clothing/neck.dmi
  modular_nova/master_files/icons/donator/obj/clothing/cloaks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, Nova Mirror

#4992 [MIRROR] Fix: Donator Items for Mrsanderp
  modular_nova/master_files/icons/obj/food/martian_italian.dmi
  modular_nova/modules/customization/modules/food_and_drinks/~donator/food/donator_foods.dm
  modular_nova/modules/customization/modules/food_and_drinks/~donator/food/donator_items.dm
  modular_nova/modules/customization/modules/food_and_drinks/~donator/recipes/donator_recipes.dm
  modular_nova/modules/mrsanderp_foods/README.md
  tgstation.dme
Labels: Sprites, Fix, Nova Mirror

#4993 [MIRROR] Scouter mesons (and engine glasses)
  modular_nova/modules/meson_scouter/code/meson_scouter.dm
  modular_nova/modules/meson_scouter/icons/meson-scouter_mob.dmi
  modular_nova/modules/meson_scouter/icons/meson_scouter.dmi
  tgstation.dme
Labels: Feature, Sprites, Icon changes, Nova Mirror

#4994 [MIRROR] Hyperhazel's donator item
  modular_nova/master_files/icons/donator/mob/clothing/custom_w.dmi
  modular_nova/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_nova/master_files/icons/donator/obj/clothing/necklaces.dmi
  modular_nova/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_nova/master_files/icons/donator/obj/custom.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites, Mirroring conflict, Nova Mirror

#4995 [MIRROR] Removes the Sloth Ruin from the pool
  config/lavaruinblacklist.txt
Labels: Config, Removal, Nova Mirror

#4996 [MIRROR] Readds the LTSRBT board (LTSRBTB) to the Black Market Uplink
  code/modules/cargo/markets/market_items/tools.dm
Labels: Feature, Nova Mirror

#4998 [MIRROR] [Modular] 'Dawn'/'Voskhod' armored space suits
  _maps/shuttles/nova/pirate_nri_raider.dmm
  modular_nova/modules/aesthetics/posters/contraband.dmi
  modular_nova/modules/aesthetics/posters/posters.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/outfit.dm
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/novaya_ert/code/space_suit.dm
  modular_nova/modules/novaya_ert/icons/armor.dmi
  modular_nova/modules/novaya_ert/icons/wornarmor.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts_Skyrat/21493_posters_to_dir.txt
Labels: Feature, Sprites, Map Modification, Quality of Life, Removal, Nova Mirror

#4999 [MIRROR] Fixes bluesec night vision goggles having invisible icons
  modular_nova/master_files/icons/mob/clothing/eyes.dmi
  modular_nova/master_files/icons/obj/clothing/glasses.dmi
  modular_nova/modules/better_vox/icons/clothing/eyes.dmi
Labels: Sprites, Fix, Nova Mirror

#4979 Modular vending products
  modular_nova/modules/modular_vending/code/vending.dm
  tff_modular/modules/vending/vending.dm
  tgstation.dme
Labels: Code modification

#5001 [MIRROR] Changes SolFed radio channel key from l to f
  code/__DEFINES/~nova_defines/mapping.dm
  code/__DEFINES/~nova_defines/solfed.dm
  code/modules/mob/living/living_say.dm
  modular_nova/modules/advanced_engineering/readme.md
Labels: Fix, Nova Mirror

#4988 Микроапдейт редсека
  tff_modular/modules/redsec_reskins/code/redsec.dm
Labels: Feature

#5002 [MIRROR] Updates the jobconfig.toml file on the codebase to match the one on the server
  config/jobconfig.toml
Labels: Config, Configs, Config changes, Nova Mirror

#5003 [MIRROR] Fixes missing ) in the Random Event admin messages
  code/modules/events/_event.dm
Labels: Fix, Nova Mirror

#5004 [MIRROR] unapologetic lanca/rengo buff - detachable 10-rounders for funsies
  _maps/virtual_domains/ancientmilsim_nova.dmm
  modular_nova/master_files/code/game/objects/structures/crates_lockers/secure/cargo.dm
  modular_nova/master_files/code/modules/cargo/markets/market_items/weapons.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_nova/modules/modular_weapons/code/conversion_kits.dm
  modular_nova/modules/modular_weapons/code/overrides/mystery_box_additions.dm
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/guns40x.dmi
  modular_nova/modules/novaya_ert/code/advanced_choice_beacon.dm
  modular_nova/modules/novaya_ert/code/toolbox.dm
  modular_nova/modules/time_clock/code/console_tgui.dm
  tools/UpdatePaths/Scripts_Nova/4325_rengomaxxing.txt
Labels: Sprites, Map Modification, Balance, Nova Mirror

#5005 [MIRROR] Increases the amount of items per Goodie briefcase, reduces the S&H tax
  code/modules/shuttle/supply.dm
Labels: Balance, Nova Mirror

#5006 [MIRROR] Death to Xenomorphs, long live Xenomorphs
  modular_nova/master_files/code/modules/mob/basic/alien/_alien.dm
  modular_nova/master_files/code/modules/mob/basic/alien/drone.dm
  modular_nova/master_files/code/modules/mob/basic/alien/queen.dm
  modular_nova/master_files/code/modules/mob/basic/alien/sentinel.dm
  modular_nova/master_files/icons/mob/big_xenos.dmi
  modular_nova/master_files/icons/mob/xeno_actions.dmi
  modular_nova/modules/xenos_nova_redo/code/base_nova_xeno.dm
  modular_nova/modules/xenos_nova_redo/code/human_defense.dm
  modular_nova/modules/xenos_nova_redo/code/larva.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/defender.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/drone.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/praetorian.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/queen.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/ravager.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/rouny.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/sentinel.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/spitter.dm
  modular_nova/modules/xenos_nova_redo/code/xeno_types/warrior.dm
  modular_nova/modules/xenos_nova_redo/icons/big_xenos.dmi
  modular_nova/modules/xenos_nova_redo/readme.md
  modular_nova/modules/xenos_nova_redo/sound/alien_hiss.ogg
  modular_nova/modules/xenos_nova_redo/sound/alien_queen_screech.ogg
  modular_nova/modules/xenos_nova_redo/sound/alien_roar1.ogg
  modular_nova/modules/xenos_nova_redo/sound/alien_roar2.ogg
  modular_nova/modules/xenos_nova_redo/sound/alien_spitacid.ogg
  modular_nova/modules/xenos_nova_redo/sound/alien_spitacid2.ogg
  modular_nova/modules/xenos_nova_redo/sound/alien_tail_swipe.ogg
  tgstation.dme
Labels: Feature, Sprites, Removal, Mirroring conflict, Icon changes, Nova Mirror

#5007 [MIRROR] Ouroboros fixes and tweaks
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Modification, Fix, Nova Mirror

#5008 [MIRROR] [No GBP] Fixes an oversight with high-cap goodie cases
  modular_nova/modules/cargo/code/goodies.dm
Labels: Fix, Nova Mirror

#5014 [MIRROR] Scouter engi-meson fix
  modular_nova/modules/meson_scouter/icons/meson_scouter.dmi
Labels: Sprites, Fix, Nova Mirror

#5015 [MIRROR] Adjust Pavise, Hammer and Shovel based on heartkin feedback
  modular_nova/modules/reagent_forging/code/forge_weapons.dm
Labels: Balance, Nova Mirror

#5016 [MIRROR] Gets an LTSRBT board to the Black Market trader
  _maps/RandomRuins/SpaceRuins/nova/blackmarket.dmm
Labels: Feature, Map Modification, Nova Mirror

#5017 [MIRROR] Adds LTSRBT boards to the trash piles, smuggler satchels, and Underworld Connections quirk's mail goodies
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/random/contraband.dm
  modular_nova/master_files/code/game/objects/structures/trash_pile.dm
  modular_nova/modules/underworld_connections/code/underworld_connections_quirk.dm
Labels: Feature, Fix, Nova Mirror

#5018 [MIRROR] Removes LTSRBT from Cargo
  code/modules/cargo/packs/imports.dm
Labels: Balance, Nova Mirror

#5020 [MIRROR] removes the safety from the SC/FISHER
  modular_nova/modules/gun_safety/code/safety_additions.dm
Labels: Fix, Nova Mirror

#5021 [MIRROR] Make rings fire and lava proof
  modular_nova/modules/modular_items/code/ring.dm
  tgstation.dme
Labels: Quality of Life, Nova Mirror

#5022 [MIRROR] feature(tails): add colorable monkey tails
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Nova Mirror

#5023 [MIRROR] feature(hemophages): add crying sound to hemo
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
Labels: Feature, Nova Mirror

#5026 [MIRROR] Precolored sneakers no longer allow greyscale in loadout
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: Fix, Nova Mirror

#5027 [MIRROR] Fix synthetic check on crew monitor
  code/game/machinery/computer/crew.dm
Labels: Fix, Nova Mirror

#5028 [MIRROR] Fixes orbit menu job filter not showing colors for Nova jobs
  tgui/packages/tgui/interfaces/Orbit/constants.ts
Labels: Fix, Nova Mirror

#5029 [MIRROR] Fixes rogue Deforest Medvend machines being extremely vicious and aggressive no matter what
  modular_nova/modules/deforest_medical_items/code/vendor.dm
Labels: Fix, Nova Mirror

#5032 [MIRROR] Examine will no longer exclaim for everything
  code/modules/mob/mob.dm
Labels: Grammar, Nova Mirror

#5033 [MIRROR] Restores SSD timer on examine
  code/modules/mob/living/carbon/examine.dm
Labels: Fix, Nova Mirror

#5034 [MIRROR] External Shuttle Rework
  code/modules/shuttle/emergency.dm
  modular_nova/master_files/code/modules/shuttle/shuttle.dm
  modular_nova/modules/aesthetics/airlock/code/airlock.dm
Labels: Fix, Nova Mirror

#4997 Nimb without Supporter+
  tff_modular/master_files/icons/donator/mob/clothing/head.dmi
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/obj/clothing/head.dmi
  tff_modular/modules/loadout/code/clothing/grayscale.dm
  tff_modular/modules/loadout/code/clothing/neck.dm
  tff_modular/modules/loadout/code/loadout/neck.dm
  tff_modular/modules/loadout/icons/mob/clothing/head.dmi
  tff_modular/modules/loadout/icons/mob/clothing/neck.dmi
  tff_modular/modules/loadout/icons/obj/clothing/head.dmi
  tff_modular/modules/loadout/icons/obj/clothing/neck.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
  tgstation.dme
Labels: Stale, Sprites, Quality of Life

#5000 Safety Coverage
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  tgstation.dme
Labels: Removal

#5038 Return free Nova loadout
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  tgstation.dme
Labels: Fix

#5039 [MIRROR] Primitive vending machines are free again
  modular_nova/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
  modular_nova/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_nova/modules/primitive_catgirls/code/clothing_vendor.dm
Labels: Fix, Nova Mirror

#5040 [MIRROR] adds the cringe weaver
  modular_nova/master_files/icons/obj/drinks.dmi
  modular_nova/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_nova/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature, Sprites, Nova Mirror

#5043 [MIRROR] Fishing snails lubing floors
  code/datums/elements/lube_walking.dm
Labels: Fix, Nova Mirror

#5044 [MIRROR] People who join, at all, get double the starting cash compared to people who don't
  code/__DEFINES/economy.dm
Labels: Feature, Nova Mirror

#5041 smol items
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/obj/clothing/cloaks.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#5045 [MIRROR] Fixes snail backpack bluespace anomaly core interaction
  modular_nova/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
Labels: Fix, Nova Mirror

#5046 [MIRROR] Bluespace snail shells will no longer eat additional inserted anomaly cores
  modular_nova/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
Labels: Fix, Quality of Life, Mirroring conflict, Nova Mirror

#5048 [MIRROR] Ports Salted Zen PKA Variants
  modular_nova/modules/goofsec/code/sec_clothing_overrides.dm
  modular_nova/modules/mining_pka/code/firing_pin.dm
  modular_nova/modules/mining_pka/code/kinetic_accelerator.dm
  modular_nova/modules/mining_pka/code/modkit.dm
  modular_nova/modules/mining_pka/code/projectiles.dm
  modular_nova/modules/mining_pka/icons/pka.dmi
  modular_nova/modules/mining_vendor_additions/code/order_mining.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5042 WHO'S READY FOR TOMORROW?
  code/datums/greyscale/_greyscale_config.dm
  tff_modular/master_files/icons/donator/mob/clothing/suit.dmi
  tff_modular/master_files/icons/donator/obj/clothing/suit.dmi
  tff_modular/modules/greyscale/json_configs/fjacket.json
  tff_modular/modules/greyscale/json_configs/fjacket_worn.json
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/clothes/greyscale.dm
  tff_modular/modules/~donator/loadout.dm
  tgstation.dme
Labels: Feature, Sprites

#5030 No barrp GAS
  tff_modular/master_files/code/modules/job/job_blacklist.dm
Labels: Fix

#5047 Modular vendings
  tff_modular/modules/bunny/code/bunnydrobe.dm
  tff_modular/modules/vending/vending.dm
  tff_modular/modules/vending/vends/autodrobe.dm
  tff_modular/modules/vending/vends/clothing.dm
  tff_modular/modules/vending/vends/wardrobe/atmos_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/bar_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/cargo_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/chap_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/chef_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/chem_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/coroner_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/curator_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/det_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/engi_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/hydro_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/jani_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/law_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/medi_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/robo_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/science_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/sec_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/viro_wardrobe.dm
  tgstation.dme
Labels: Feature, Code modification

#5050 [MIRROR] Brings back saltpetre to upgraded chem dispensers.
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix, Nova Mirror

#5051 [MIRROR] Plastic panels no longer multiply by 10 times their cost when built.
  modular_nova/modules/colony_fabricator/code/design_datums/construction.dm
Labels: Fix, Nova Mirror

#5052 [MIRROR] Makes colony appliances show descriptions in the rapid construction fabricator.
  modular_nova/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_nova/modules/colony_fabricator/code/appliances/co2_cracker.dm
  modular_nova/modules/colony_fabricator/code/appliances/foodricator.dm
  modular_nova/modules/colony_fabricator/code/appliances/kitchen_appliances/griddle.dm
  modular_nova/modules/colony_fabricator/code/appliances/kitchen_appliances/macrowave.dm
  modular_nova/modules/colony_fabricator/code/appliances/kitchen_appliances/range.dm
  modular_nova/modules/colony_fabricator/code/appliances/recycler.dm
  modular_nova/modules/colony_fabricator/code/appliances/wind_turbine.dm
  modular_nova/modules/colony_fabricator/code/colony_fabricator.dm
  modular_nova/modules/colony_fabricator/code/construction/doors.dm
  modular_nova/modules/colony_fabricator/code/construction/manual_door.dm
  modular_nova/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_nova/modules/colony_fabricator/code/machines/arc_furnace.dm
  modular_nova/modules/colony_fabricator/code/machines/ore_silo.dm
  modular_nova/modules/colony_fabricator/code/machines/power_storage_unit.dm
  modular_nova/modules/colony_fabricator/code/machines/rtg.dm
  modular_nova/modules/colony_fabricator/code/machines/solar_panels.dm
  modular_nova/modules/colony_fabricator/code/machines/solid_fuel_generator.dm
  modular_nova/modules/colony_fabricator/code/machines/stirling_generator.dm
  modular_nova/modules/colony_fabricator/code/machines/thermomachine.dm
  modular_nova/modules/kahraman_equipment/code/gps_beacon.dm
  modular_nova/modules/kahraman_equipment/code/ore_thumper.dm
  modular_nova/modules/kahraman_equipment/code/organic_printer.dm
Labels: Fix, Refactoring, Nova Mirror

#5059 [MIRROR] Quick-fix for telepathy message limit
  modular_nova/modules/telepathy_quirk/code/telepathy_action.dm
Labels: Fix, Nova Mirror

#5058 Возвращение стоимости в заниях спелла на реролл целей еретика
  modular_nova/master_files/code/modules/antagonists/heretic/knowledge/general_side.dm
Labels: Balance

#5060 [MIRROR] Fix adding list to list
  modular_nova/modules/modular_vending/code/vending.dm
Labels: Fix, Nova Mirror

#5063 [MIRROR] Xenoarchaeology Artifacts
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
  modular_nova/modules/xenoarchartifacts/artifacts/_DEFINES.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_autocloner.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_bluespace_crystal.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_machine.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_power_crystal.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact_replicator.dm
  modular_nova/modules/xenoarchartifacts/artifacts/effect.dm
  modular_nova/modules/xenoarchartifacts/artifacts/strange_rock.dm
  modular_nova/modules/xenoarchartifacts/effects/blood.dm
  modular_nova/modules/xenoarchartifacts/effects/bodyhorror.dm
  modular_nova/modules/xenoarchartifacts/effects/bodyswap.dm
  modular_nova/modules/xenoarchartifacts/effects/cellcharge.dm
  modular_nova/modules/xenoarchartifacts/effects/celldrain.dm
  modular_nova/modules/xenoarchartifacts/effects/disgust.dm
  modular_nova/modules/xenoarchartifacts/effects/dnaswitch.dm
  modular_nova/modules/xenoarchartifacts/effects/drugs.dm
  modular_nova/modules/xenoarchartifacts/effects/emp.dm
  modular_nova/modules/xenoarchartifacts/effects/feelings.dm
  modular_nova/modules/xenoarchartifacts/effects/gas.dm
  modular_nova/modules/xenoarchartifacts/effects/gravity.dm
  modular_nova/modules/xenoarchartifacts/effects/health.dm
  modular_nova/modules/xenoarchartifacts/effects/light.dm
  modular_nova/modules/xenoarchartifacts/effects/machinery_mess.dm
  modular_nova/modules/xenoarchartifacts/effects/noise.dm
  modular_nova/modules/xenoarchartifacts/effects/powernet.dm
  modular_nova/modules/xenoarchartifacts/effects/radiate.dm
  modular_nova/modules/xenoarchartifacts/effects/sleepy.dm
  modular_nova/modules/xenoarchartifacts/effects/stun.dm
  modular_nova/modules/xenoarchartifacts/effects/teleport.dm
  modular_nova/modules/xenoarchartifacts/effects/temperature.dm
  modular_nova/modules/xenoarchartifacts/effects/tesla.dm
  modular_nova/modules/xenoarchartifacts/icons/artifacts.dmi
  modular_nova/modules/xenoarchartifacts/icons/artifacts_64x32.dmi
  modular_nova/modules/xenoarchartifacts/icons/coop_mech.dmi
  modular_nova/modules/xenoarchartifacts/icons/machinery.dmi
  modular_nova/modules/xenoarchartifacts/icons/mecha.dmi
  modular_nova/modules/xenoarchartifacts/icons/mining.dmi
  modular_nova/modules/xenoarchartifacts/icons/tools.dmi
  modular_nova/modules/xenoarchartifacts/icons/worn.dmi
  modular_nova/modules/xenoarchartifacts/machines/artifact_analyzer.dm
  modular_nova/modules/xenoarchartifacts/machines/artifact_harvester.dm
  modular_nova/modules/xenoarchartifacts/machines/artifact_scanner.dm
  modular_nova/modules/xenoarchartifacts/machines/geosample_analyzer.dm
  modular_nova/modules/xenoarchartifacts/obj/artifact_stabilizer.dm
  modular_nova/modules/xenoarchartifacts/obj/exosuit.dm
  modular_nova/modules/xenoarchartifacts/obj/geosample.dm
  modular_nova/modules/xenoarchartifacts/obj/particle_battery.dm
  modular_nova/modules/xenoarchartifacts/obj/wave_scanner.dm
  tgstation.dme
Labels: Feature, Sprites, Mirroring conflict, Nova Mirror

#5064 [MIRROR] Fixes healthscanner not showing reagent scans unless you are blind
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Fix, Mirroring conflict, Nova Mirror

#5067 [MIRROR] Remove the Jaunter Creature from the gold slime pool
  modular_nova/modules/modular_creatures/code/creature.dm
  tgstation.dme
Labels: Balance, Nova Mirror
