Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-05, with the labels that each got.

#3135 [MIRROR] Fixes emote audio, refactors modular emotes slightly
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/emote.dm
  modular_nova/modules/emotes/code/dna_screams.dm
  modular_nova/modules/emotes/code/emotes.dm
  modular_nova/modules/emotes/code/laugh_emotes.dm
  modular_nova/modules/emotes/code/scream_emote.dm
  modular_nova/modules/ghostcafe/code/robot_ghostcafe.dm
  modular_nova/modules/indicators/code/combat_indicator.dm
  tff_modular/modules/emotes/code/dna_screams.dm
  tff_modular/modules/nabbers/code/nabber_emotes.dm
Labels: Nova Mirror

#3138 [MIRROR] Fixes monkeys falling over through windoors
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/modules/events/immovable_rod/immovable_rod.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/living.dm
Labels: TG Mirror

#3137 [MIRROR] Changeling clothes can now be removed by monkeys
  code/modules/antagonists/changeling/powers/transform.dm
Labels: TG Mirror

#3139 [MIRROR] Makes pod doors re-constructible
  code/__DEFINES/construction/structures.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: TG Mirror

#3141 [MIRROR] Debug uplinks shows all categories and doesnt lock
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/datums/components/uplink.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: Map Modification, TG Mirror

#3142 [MIRROR] Fixes cyborg tracking not always showing up
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: TG Mirror

#3143 [MIRROR] Fixes hypercharged slime core cells and circuit gun cells starting with an insignificant amount of charge.
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/wiremod/shell/gun.dm
Labels: TG Mirror

#3144 [MIRROR] Fixes a way to get a very long gold number
  code/game/machinery/computer/arcade/battle.dm
Labels: TG Mirror

#3145 [MIRROR] Wheelchair qol
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/modules/vehicles/wheelchair.dm
Labels: TG Mirror

#3136 [MIRROR] [MODULAR] removes (?) the stun from getting EMP'd with a NIF.
  modular_nova/modules/modular_implants/code/nifs.dm
Labels: Nova Mirror

#3146 [MIRROR] civilian bounty control terminal displays bounty description and payout of new bounty options
  code/game/machinery/civilian_bounties.dm
  tgui/packages/tgui/interfaces/CivCargoHoldTerminal.jsx
Labels: TG Mirror

#3147 [MIRROR] Vote clean up and admin additions
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/vote.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  code/datums/votes/map_vote.dm
  code/datums/votes/restart_vote.dm
  code/datums/votes/rock_the_vote.dm
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: TG Mirror

#3148 [MIRROR] Stamp papers quickly with a right click
  code/modules/paperwork/paper.dm
Labels: TG Mirror

#3149 [MIRROR] Fixes jousting bypassing pacifism + Some signal doc
  code/__DEFINES/dcs/signals/signals_object.dm
  code/_onclick/item_attack.dm
  code/datums/components/jousting.dm
Labels: TG Mirror

#3168 [MIRROR] Fixes transfer votes not working automatically
  modular_nova/modules/autotransfer/code/transfer_vote.dm
Labels: Nova Mirror

#3167 [MIRROR] Pharmacist's Harmacy: Adds new labcoat to chemdrobe
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
Labels: Sprites, Nova Mirror

#3151 [MIRROR] rad shutter directionals
  icons/obj/doors/shutters_radiation.dmi
Labels: Sprites, TG Mirror

#3152 [MIRROR] Add Access Restriction to Tramstation NT Rep door
  _maps/nova/automapper/templates/tramstation/tramstation_ntrep_office.dmm
Labels: Map Modification, Nova Mirror

#3153 [MIRROR] Zhenkov IPC - Dark Edition
  modular_nova/master_files/icons/mob/augmentation/zhenkovipc_dark.dmi
  modular_nova/modules/customization/_globalvars/lists.dm
Labels: Sprites, Nova Mirror

#3154 [MIRROR] More Machine Blessing Options
  code/modules/religion/rites.dm
Labels: TG Mirror

#3155 [MIRROR] Conveyors switches now use left and right click
  code/modules/recycling/conveyor.dm
Labels: TG Mirror

#3156 [MIRROR] Adds a station trait that brightens up IceBox's surface.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/area/areas/mining.dm
Labels: TG Mirror

#3157 [MIRROR] Fix warning on master
  code/modules/religion/rites.dm
Labels: TG Mirror, Mirroring conflict

#3158 [MIRROR] 13 year old singularity bug fixed
  code/datums/components/singularity.dm
  code/modules/power/singularity/singularity.dm
Labels: TG Mirror

#3159 [MIRROR] fixes a few problems in ai targetting
  code/datums/ai/_ai_controller.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/datums/ai/basic_mobs/basic_subtrees/capricious_retaliate.dm
  code/datums/ai/basic_mobs/basic_subtrees/target_retaliate.dm
Labels: TG Mirror

#3160 [MIRROR] Pacifists can no longer endlessly spam rocket launcher backblasts
  code/datums/elements/backblast.dm
Labels: TG Mirror

#3161 [MIRROR] Detective buff: Fixes detective's candy dispenser
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/pockets.dm
  code/modules/clothing/head/jobs.dm
Labels: TG Mirror

#3162 [MIRROR] Multiz deck revert
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: TG Mirror

#3163 [MIRROR] Fire ant colonies created by burning actually contain fire ants
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: TG Mirror

#3164 [MIRROR] Bump supported client api version to 515
  .github/max_required_byond_client.txt
Labels: TG Mirror

#3165 [MIRROR] Fix electrocution damage
  modular_nova/master_files/code/modules/power/powernet.dm
  tgstation.dme
Labels: Nova Mirror

#3166 [MIRROR] Adds department guard belts + equipment qol
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_nova/modules/goofsec/code/department_guards.dm
  modular_nova/modules/goofsec/code/lockers.dm
  modular_nova/modules/goofsec/icons/belt_worn.dmi
  modular_nova/modules/goofsec/icons/belts.dmi
  modular_nova/modules/modular_weapons/code/pepperball_gun.dm
  tgstation.dme
Labels: Sprites, Nova Mirror

#3170 [MIRROR] Adds debug dna disk to runtimestation
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Modification, TG Mirror

#3171 [MIRROR] Bepis techs can be found in bitrunning crates, removed from vendors
  code/modules/bitrunning/orders/bepis.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
Labels: TG Mirror

#3172 [MIRROR] Fixes lua breaking when registering signals on turfs
  lua/SS13_base.lua
  lua/handler_group.lua
Labels: TG Mirror

#3173 [MIRROR] The Skirtening 2024: Adds Security Skirts & Jumpsuit
  modular_nova/master_files/code/modules/clothing/under/jobs/security.dm
  modular_nova/master_files/icons/mob/clothing/under/security.dmi
  modular_nova/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_nova/master_files/icons/obj/clothing/under/security.dmi
  modular_nova/modules/goofsec/code/sec_clothing_overrides.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/sec_haul/code/misc/vending.dm
Labels: Sprites, Nova Mirror

#3174 [MIRROR] Fix crafting bypassing checks
  code/__DEFINES/crafting.dm
  code/controllers/subsystem/materials.dm
  code/datums/components/crafting/_recipes.dm
  code/datums/components/crafting/atmospheric.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/doors.dm
  code/datums/components/crafting/melee_weapon.dm
  code/datums/components/crafting/misc.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/structures.dm
  code/datums/components/crafting/tools.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/mining/ores_coins.dm
  modular_nova/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_nova/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_nova/modules/ashwalkers/code/items/ash_weapon.dm
  modular_nova/modules/colony_fabricator/code/construction/turfs.dm
  modular_nova/modules/icemoon_additions/code/icecat_recipes.dm
  modular_nova/modules/mapping/code/spaceship_items.dm
  modular_nova/modules/primitive_production/code/ceramics.dm
  modular_nova/modules/stone/code/stone.dm
  modular_nova/modules/tribal_extended/code/recipes.dm
Labels: TG Mirror

#3176 [MIRROR] Blood Brothers should start with objectives
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/antagonists/brother/brother.dm
Labels: TG Mirror

#3177 [MIRROR] Makes this list a little more downstream friendly (aka trailing comma pr)
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: TG Mirror, Mirroring conflict

#3169 [MIRROR] Changes the game client's logo to use the Nova Sector logo
  modular_nova/master_files/icons/ui_icons/common/nova_logo_32.png
Labels: Nova Mirror

#3175 [MIRROR] Cargo scanner no longer kidnaps people
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
Labels: TG Mirror

#3150 [MIRROR] make SSevents `frequeny_lower` and `frequency_upper` configurable, fix runtimes when no events were drafted to trigger
  code/__HELPERS/_lists.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/events.dm
  config/game_options.txt
Labels: Config, TG Mirror, Configs

#3178 [MIRROR] Fix missing crafting flags
  code/game/objects/items/stacks/stack_recipe.dm
Labels: TG Mirror, Mirroring conflict

#3179 [MIRROR] Adminmod now has radiation protect module
  code/modules/mod/mod_types.dm
Labels: TG Mirror

#3180 [MIRROR] Fixes traditional equipment having no name for its crate
  code/modules/cargo/packs/security.dm
Labels: TG Mirror

#3181 [MIRROR] Fixes laugh emote audio not respecting prefs
  modular_nova/modules/emotes/code/laugh_emotes.dm
Labels: Nova Mirror

#3182 [MIRROR] [s] Fixes a serious issue WRT The Interlink.
  _maps/map_files/generic/CentCom_nova_z2.dmm
  modular_nova/modules/mapping/code/buttons.dm
  modular_nova/modules/mapping/code/fence.dm
  tgstation.dme
Labels: Map Modification, Nova Mirror

#3186 [MIRROR] Fixes auxtools hanging on server shutdown.
  code/controllers/subsystem/lua.dm
Labels: TG Mirror

#3183 [MIRROR] Adds tail wag animations for fox
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
Labels: Sprites, Nova Mirror

#3187 [MIRROR] Anti-edgy DS-2 rewrite
  modular_nova/master_files/code/modules/paperwork/fax.dm
  modular_nova/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Labels: Nova Mirror

#3188 [MIRROR] Ports effigy-se #814 (Leashes)
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/_erp_disabled_item_enforcement.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/leash.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_nova/modules/modular_items/lewd_items/code/verbs.dm
  tgstation.dme
Labels: Nova Mirror

#3184 Add vulpkanin ears, snouts and hair
  tff_modular/modules/vulpkanin_accessories/code/ears.dm
  tff_modular/modules/vulpkanin_accessories/code/hair.dm
  tff_modular/modules/vulpkanin_accessories/code/snouts.dm
  tff_modular/modules/vulpkanin_accessories/icons/ears.dmi
  tff_modular/modules/vulpkanin_accessories/icons/hair.dmi
  tff_modular/modules/vulpkanin_accessories/icons/snouts.dmi
  tgstation.dme
Labels: Sprites

#3189 [MIRROR] Monkeys now use height offset (and monkey tail works)
  _maps/map_files/Birdshot/birdshot.dmm
  code/__DEFINES/DNA.dm
  code/__DEFINES/inventory.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/research/anomalies.dm
  code/__DEFINES/species_clothing_paths.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/bitfields.dm
  code/datums/datum.dm
  code/datums/dna.dm
  code/datums/sprite_accessories.dm
  code/modules/admin/player_panel.dm
  code/modules/antagonists/wizard/grand_ritual/finales/clown.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/client/preferences/species_features/monkey.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/abominations.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/transform_procs.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/transport/tram/tram_doors.dm
  code/modules/unit_tests/limbsanity.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_tallboy.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_holodeck.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_human_legged.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_monkey_freak.png
  icons/mob/human/species/monkey/bodyparts.dmi
  icons/mob/human/species/monkey/monkey_tail.dmi
  icons/mob/human/species/monkey/uniform.dmi
  modular_nova/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_nova/master_files/code/modules/clothing/under/color.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/security.dm
  modular_nova/master_files/code/modules/mob/living/human/monkey.dm
  modular_nova/master_files/icons/mob/clothing/species/monkey/uniform.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/monkey.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
Labels: Sprites, Map Modification, TG Mirror

#3190 [MIRROR] three more pais
  code/modules/pai/pai.dm
  icons/mob/silicon/pai.dmi
Labels: Sprites, TG Mirror

#3191 [MIRROR] [Minor fix] Raptor/Digi cybernetics recategorization
  modular_nova/modules/digitigrade_cybernetics/code/mechfabricator_designs.dm
  modular_nova/modules/tesh_augments/code/mechfabricator_designs.dm
Labels: Nova Mirror

#3192 [MIRROR] Adds differently layered alternate "cat, big" ears
  modular_nova/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Sprites, Nova Mirror

#3198 [MIRROR] Accursed protogen markings (bounty, and modular)
  modular_nova/master_files/icons/mob/body_markings/other_markings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Sprites, Nova Mirror

#3193 [MIRROR] Fix vote `can_be_initiated` mutating the active choices
  code/datums/votes/map_vote.dm
Labels: TG Mirror

#3196 [MIRROR] [SEMI-MODULAR] Taur rework Pt. 0: Lays groundwork for some taur reworks, gives taur legs names, etc.
  code/__DEFINES/~nova_defines/limbs.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_nova/modules/customization/modules/surgery/organs/taur_body.dm
  tgstation.dme
Labels: Nova Mirror

#3200 [MIRROR] temporarily soulless bodies dont appear as soulless on medhud
  code/game/data_huds.dm
Labels: TG Mirror

#3201 [MIRROR] Removes unused tutorial_instruction var
  code/modules/tutorials/tutorial_instruction.dm
Labels: TG Mirror

#3202 [MIRROR] Fixes a meter in Birdshot's atmosperics
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror

#3203 [MIRROR] Removes a loose power cable that fails tests in Icebox Maint
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, TG Mirror

#3205 [MIRROR] You can no longer shove abstract items into light sockets
  code/modules/power/lighting/light.dm
Labels: TG Mirror

#3204 [MIRROR] Move some scrubbers in the Blackmarket Burst shuttle
  _maps/shuttles/nova/ruin_blackmarket_burst.dmm
Labels: Map Modification, Nova Mirror

#3206 [MIRROR] Makes the medibeam process only on active use
  code/modules/projectiles/guns/special/medbeam.dm
Labels: TG Mirror

#3207 [MIRROR] Fixes runtime when an APC has a functional external power supply but no power cell inserted
  code/modules/power/apc/apc_main.dm
  code/modules/power/power.dm
Labels: TG Mirror

#3208 [MIRROR] Fixes inducers breaking when trying to charge a PDA/Modular Computer
  code/datums/components/shell.dm
Labels: TG Mirror

#3209 [MIRROR] Detective hat improvements regex, for real this time.
  code/modules/clothing/head/jobs.dm
Labels: TG Mirror

#3212 [MIRROR] Adds colourable Blind Personnel Blindfolds to loadout menu and select vendors
  modular_nova/master_files/code/modules/clothing/glasses/_glasses.dm
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/eyes.dmi
  modular_nova/modules/GAGS/icons/eyes_worn.dmi
  modular_nova/modules/GAGS/json_configs/blindfold_eyes/blindfoldcolor.json
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
  modular_nova/modules/modular_vending/code/medical.dm
Labels: Sprites, Nova Mirror

#3213 [MIRROR] Cyborg scream audio now uses the scream pref, all emote audio uses gender now
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/emote.dm
  modular_nova/master_files/code/modules/mob/living/sillicon/silicon.dm
  modular_nova/modules/emotes/code/laugh_emotes.dm
  modular_nova/modules/emotes/code/scream_emote.dm
  modular_nova/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_nova/modules/synths/code/bodyparts/silicon_alt_brains.dm
  tgstation.dme
Labels: Nova Mirror

#3214 [MIRROR] Virtual Domains now have certain areas protected from ghost role interference
  _maps/virtual_domains/pirates.dmm
  _maps/virtual_domains/psyker_zombies.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/__DEFINES/_flags.dm
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/modules/bitrunning/antagonists/ghost_role.dm
  code/modules/bitrunning/areas.dm
  code/modules/bitrunning/components/virtual_entity.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/spawners.dm
  tgstation.dme
Labels: Map Modification, TG Mirror

#3215 [MIRROR] RD get robo knowledges
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  code/__DEFINES/skills.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/rod_suplex.dm
  code/modules/library/skill_learning/job_skillchips/_job.dm
  code/modules/library/skill_learning/skillchip.dm
  tgstation.dme
Labels: Map Modification, TG Mirror

#3216 [MIRROR] Adds more spawn location to moldies
  modular_nova/modules/mold/code/mold_event.dm
  modular_nova/modules/mold/code/mold_structures.dm
Labels: Nova Mirror

#3218 [MIRROR] Fixes an icon for fox tail wag alt 2
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
Labels: Sprites, Nova Mirror

#3219 [MIRROR] Spies can now use other spies' uplinks.
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/spy/spy_uplink.dm
Labels: TG Mirror

#3220 [MIRROR] [SEMI-MODULAR] Reimplements some taur sprites gathering dust
  code/__DEFINES/inventory.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/utility.dm
  modular_nova/master_files/code/modules/clothing/taur_sprites/suit.dm
  modular_nova/master_files/icons/mob/clothing/suit_taur_hoof.dmi
  modular_nova/master_files/icons/mob/clothing/suit_taur_paw.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  tgstation.dme
Labels: Sprites, Nova Mirror

#3221 [MIRROR] Code cleanup: Sorting
  code/__HELPERS/hallucinations.dm
  code/__HELPERS/sorts/InsertSort.dm
  code/__HELPERS/sorts/MergeSort.dm
  code/__HELPERS/sorts/TimSort.dm
  code/__HELPERS/sorts/helpers.dm
  code/__HELPERS/sorts/sort_instance.dm
  code/controllers/subsystem/dcs.dm
  code/datums/datum.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/light_debug.dm
  code/modules/antagonists/malf_ai/malf_ai_module_picker.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/modular_computers/file_system/programs/emojipedia.dm
  code/modules/research/stock_parts.dm
  code/modules/unit_tests/unit_test.dm
  tgstation.dme
Labels: TG Mirror

#3222 [MIRROR] fixes autochangelog erroring on an empty pr body https://github.com/tgstation/tgstation/actions/runs/8977813552/job/24657813451 the changelog workflow errors when theres nothing in the pr body, which causes a useless notification. now it should be fixed
  tools/pull_request_hooks/changelogParser.js
Labels: TG Mirror

#3223 [MIRROR] Adds a small fishing pool on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/turfs/open/water.dm
Labels: Map Modification, TG Mirror

#3224 [MIRROR] blueprints status on photographs is no longer persistent
  code/modules/photography/_pictures.dm
Labels: TG Mirror

#3225 [MIRROR] Makes panic bunker bypass functional again
  modular_nova/modules/panicbunker/code/panicbunker.dm
Labels: Nova Mirror

#3226 [MIRROR] Adds a 'None' option to pod hair preferences
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_nova/master_files/icons/mob/species/podperson_hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Sprites, Nova Mirror

#3227 [MIRROR] Reading a photo with blueprints now requires squinting
  code/datums/wires/_wires.dm
Labels: TG Mirror

#3229 [MIRROR] Replace var-edited directional request consoles on void raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification, Nova Mirror

#3231 [MIRROR] Resting knockdown disarm immunity exploit fix
  code/modules/mob/living/living.dm
Labels: TG Mirror

#3199 [MIRROR] Greps for pronoun helper spelling mistakes
  code/__DEFINES/pronouns.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/gondola_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  tools/ci/check_grep.sh
Labels: TG Mirror

#3228 [MIRROR] Fixes flap emote not making any sound
  code/modules/mob/living/emote.dm
Labels: Nova Mirror

#3232 [MIRROR] Allows the Coroner's Ritual Knife to go in the Medical belt!
  code/game/objects/items/storage/belt.dm
Labels: TG Mirror

#3233 [MIRROR] Fixes floating pixels on railings
  icons/obj/railings.dmi
Labels: Sprites, TG Mirror

#3234 [MIRROR] Quick equip no longer throws balloon alerts
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/datums/storage/subtypes/pockets.dm
  code/modules/mob/inventory.dm
Labels: TG Mirror

#3235 [MIRROR] Pipegun updates and glowup
  _maps/RandomRuins/IceRuins/icemoon_underground_hermit.dmm
  _maps/deathmatch/maint_mania.dmm
  _maps/map_files/NorthStar/north_star.dmm
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/pipegun.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/clothing/suits/jacket.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wetfloor.dm
  code/modules/projectiles/ammunition/ballistic/junk.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/junk.dm
  icons/effects/random_spawners.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/projectiles.dmi
  icons/obj/weapons/guns/wide_guns.dmi
  tgstation.dme
Labels: Sprites, Map Modification, TG Mirror

#3236 [MIRROR] Fixes silicon reach @ teleporter
  code/game/machinery/computer/teleporter.dm
Labels: TG Mirror

#3237 [MIRROR] Add bump mining to mech drills
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Labels: TG Mirror

#3238 [MIRROR] Fix DNA infuser tier progression check
  code/game/machinery/dna_infuser/dna_infuser.dm
Labels: TG Mirror

#3239 [MIRROR] Unit test for black market items. Added missing bulwark module and jawed hook to the market.
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/cargo/markets/market_items/consumables.dm
  code/modules/cargo/markets/market_items/hostages.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/cargo/markets/market_items/stolen_goods.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/blackmarket.dm
Labels: TG Mirror

#3241 [MIRROR] Implements dynamic scaling for spies
  code/controllers/subsystem/dynamic/dynamic_rulesets.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
Labels: TG Mirror

#3242 [MIRROR] Removes another rogue cable under a disconnected SMES on Ice Box
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, TG Mirror

#3243 [MIRROR] Adds slight animation to entering a portal / teleporter
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
Labels: TG Mirror, Mirroring conflict

#3244 [MIRROR] Fix cult building
  code/game/objects/items/stacks/sheets/runed_metal.dm
  code/game/objects/items/stacks/stack_recipe.dm
Labels: TG Mirror

#3245 [MIRROR] Fix conveyor switches not working for cyborgs
  code/modules/recycling/conveyor.dm
Labels: TG Mirror

#3246 [MIRROR] Fixes Cursed Items wizard event
  code/modules/events/wizard/curseditems.dm
Labels: TG Mirror

#3247 [MIRROR] Fixes the stomach pump surgery not actually causing vomit nor decreasing reagent contents
  code/modules/surgery/stomachpump.dm
Labels: TG Mirror

#3248 [MIRROR] Adds animation to objects sliding into or out of morgue trays
  code/game/objects/structures/morgue.dm
Labels: TG Mirror

#3249 [MIRROR] Fixes logging runtime when admins trigger summon events
  code/modules/admin/verbs/secrets.dm
  code/modules/spells/spell_types/right_and_wrong.dm
Labels: TG Mirror

#3250 [MIRROR] Gives broken/burnt grass a smoothed texture, fixes issues with smoothed textures including a non-smoothed broken overlay displaying some black void
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/turfs.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/grass.dm
  code/game/turfs/open/planet.dm
  icons/turf/floors/grass_damaged.dmi
  icons/turf/floors/grass_damaged.png
  icons/turf/floors/grass_damaged.png.toml
Labels: Sprites, TG Mirror

#3251 [MIRROR] Fixes some missing poll_ghost_candidates sanity checking for ghost role based events
  code/modules/events/ghost_role/abductor.dm
  code/modules/events/ghost_role/alien_infestation.dm
  code/modules/events/ghost_role/sentience.dm
  code/modules/events/holiday/xmas.dm
Labels: TG Mirror

#3252 [MIRROR] Fixes deployable turrets not actually being undeployable.
  code/game/objects/structures/deployable_turret.dm
Labels: TG Mirror

#3253 [MIRROR] Fixes flap and wing emotes not updating wing sprites (for functional wings)
  code/modules/mob/living/emote.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/external/wings/wings.dm
Labels: TG Mirror, Mirroring conflict

#3254 [MIRROR] Screentips for sm shard
  code/modules/power/supermatter/supermatter_variants.dm
Labels: TG Mirror

#3255 [MIRROR] Laser decharge sound uses pitch instead of frequency
  code/modules/projectiles/guns/energy.dm
Labels: TG Mirror

#3256 [MIRROR] Add alt-click usage context to toggle_icon component
  code/datums/components/toggle_suit.dm
Labels: TG Mirror

#3257 [MIRROR] The labour camp shuttle paroles the user when they complete their points. The station return message specifies which prisoner returned.
  code/modules/mining/laborcamp/laborstacker.dm
Labels: TG Mirror

#3258 [MIRROR] Fix space heaters always saying Auto when panel is closed
  tgui/packages/tgui/interfaces/SpaceHeater.jsx
Labels: TG Mirror

#3259 [MIRROR] Command bar typing indicators (client side html version)
  code/modules/client/client_procs.dm
  code/modules/client/verbs/typing.dm
  code/modules/tgui_input/say_modal/typing.dm
  html/typing_indicator.html
  interface/skin.dmf
  tgstation.dme
Labels: TG Mirror

#3260 [MIRROR] Replace Heretic Phobia with Cursed Organs
  code/__DEFINES/antagonists.dm
  code/datums/ai/_ai_controller.dm
  code/datums/elements/corrupted_organ.dm
  code/datums/elements/relay_attackers.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/antagonists/heretic/items/corrupted_organs.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_buff.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_curse.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/surgery/organs/organ_movement.dm
  tgstation.dme
Labels: TG Mirror

#3261 [MIRROR] Fix tutorials not reappearing in some cases
  code/modules/tutorials/_tutorial.dm
Labels: TG Mirror

#3262 [MIRROR] The shuttle won't gib you anymore while you're in jaunt
  code/game/objects/effects/phased_mob.dm
Labels: TG Mirror

#3263 [MIRROR] undoes the 'weak against armor' nerf for shotguns
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Labels: Nova Mirror

#3264 [MIRROR] Minor map fixes - Interlink and Shuttle 8532
  _maps/RandomRuins/SpaceRuins/nova/shuttle8532.dmm
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification, Nova Mirror

#3265 [MIRROR] Lets roundstart slimes have hair colors again
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/species_features.tsx
Labels: Nova Mirror

#3266 [MIRROR] Fixes masspurbation erroring out when trying to give/remove cat tails from incompatible subspecies of humans
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: TG Mirror

#3269 [MIRROR] actually just removes stamina damage and knockdown from punches
  code/modules/mob/living/carbon/human/_species.dm
  modular_nova/modules/nut_shot/human.dm
Labels: TG Mirror

#3270 [MIRROR] Chance to become crab on DNA meltdown
  code/datums/dna.dm
  code/modules/mob/transform_procs.dm
Labels: TG Mirror

#3272 [MIRROR] Ports Razorwire Reskins and Tiny Damage Buff (+2) From Lethalstation
  modular_nova/modules/implants/code/augments_arms.dm
  modular_nova/modules/implants/icons/implants.dmi
  modular_nova/modules/implants/icons/inhands/lefthand.dmi
  modular_nova/modules/implants/icons/inhands/righthand.dmi
Labels: Sprites, Nova Mirror

#3273 [MIRROR] Synth Repair If It Was Epic
  _maps/nova/lazy_templates/deathmatch/deep_space.dmm
  modular_nova/master_files/code/modules/jobs/job_types/roboticist.dm
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/deforest_medical_items/code/healing_stack_items.dm
  modular_nova/modules/deforest_medical_items/code/injectors.dm
  modular_nova/modules/deforest_medical_items/code/medstation_designs/medical.dm
  modular_nova/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_nova/modules/deforest_medical_items/code/synth_healing.dm
  modular_nova/modules/deforest_medical_items/code/vendor.dm
  modular_nova/modules/deforest_medical_items/icons/injectors.dmi
  modular_nova/modules/deforest_medical_items/icons/stack_items.dmi
  modular_nova/modules/deforest_medical_items/icons/storage.dmi
  modular_nova/modules/medical/code/cargo/packs.dm
  modular_nova/modules/medical/code/medkit.dm
  modular_nova/modules/synths/code/reagents/reagents.dm
  tgstation.dme
Labels: Sprites, Map Modification, Nova Mirror

#3274 [MIRROR] Tweaks a donator item, makes sure it doesn't appear as a random poster anymore
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Nova Mirror

#3275 [MIRROR] Anosmia additions
  modular_nova/modules/mold/code/mold_disease.dm
  modular_nova/modules/pollution/code/pollution.dm
  modular_nova/modules/reagent_forging/code/forge.dm
Labels: Nova Mirror

#3276 [MIRROR] fixes fish huds hard delete
  code/modules/fishing/fishing_minigame.dm
Labels: TG Mirror

#3277 [MIRROR] Ports Piles of Bullets From Lethalstation
  modular_nova/modules/ammo_stacks/code/ammo_stack_base.dm
  modular_nova/modules/ammo_stacks/code/stack_types.dm
  modular_nova/modules/ammo_stacks/icons/ammo_stacks.dmi
  tgstation.dme
Labels: Sprites, Nova Mirror

#3278 [MIRROR] cleans up a collection of entirely unused defines from skyrat era gun stuff
  code/__DEFINES/~nova_defines/ammo_defines.dm
  code/__DEFINES/~nova_defines/projectiles.dm
  tgstation.dme
Labels: Nova Mirror

#3240 [MIRROR] Fix pride pin reskinning
  code/game/objects/items.dm
  code/game/objects/items_reskin.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories/_accessories.dm
  code/modules/clothing/under/accessories/badges.dm
Labels: TG Mirror

#3283 [MIRROR] Adds a filterless forked tongue
  modular_nova/modules/customization/modules/client/augment/organs.dm
  modular_nova/modules/organs/code/tongue.dm
Labels: Mirroring conflict, Nova Mirror

#3285 [MIRROR] Food vendors drop their appropriate parts when deconstructed
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  modular_nova/modules/imported_vendors/code/vendors.dm
Labels: Nova Mirror

#3286 [MIRROR] Gives the CE a RCF in their locker.
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Nova Mirror

#3287 [MIRROR] buffs the expeditionary corps surplus crate
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/exp_corps/code/clothing.dm
  modular_nova/modules/exp_corps/code/gear.dm
  modular_nova/modules/exp_corps/code/tomahawk.dm
  modular_nova/modules/modular_items/code/bags.dm
  modular_nova/modules/modular_weapons/code/cargo_crates/surplus_crates.dm
  tools/UpdatePaths/Scripts_Nova/2325_knife_repath.txt
Labels: Map Modification, Nova Mirror

#3288 [MIRROR] [REAL] Blueshift's own plaque
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  modular_nova/master_files/code/game/objects/structures/plaques/static_plaques.dm
  tgstation.dme
Labels: Map Modification, Nova Mirror

#3289 [MIRROR] Fix wooden seed and ration shelves
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
  modular_nova/modules/primitive_structures/code/storage_structures.dm
Labels: Map Modification, Nova Mirror

#3290 [MIRROR] mold blaster - mold structures are now mostly blastable
  modular_nova/modules/mold/code/mold_structures.dm
Labels: Nova Mirror

#3280 [MIRROR] Nerfs the required synth blunt T3 wound's burn wound to be T1, also shortens heating time
  modular_nova/modules/medical/code/wounds/synth/blunt/robotic_blunt.dm
  modular_nova/modules/medical/code/wounds/synth/blunt/robotic_blunt_T3.dm
Labels: Nova Mirror

#3281 [MIRROR] Rebalances the premium synth medkit, as well as decreasing the plasmide metabolization rate
  modular_nova/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_nova/modules/medical/code/wounds/synth/medicine_reagents.dm
Labels: Nova Mirror

#3293 [MIRROR] [Semi-Modular] Ports over additional Crusher varients from monkestation
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  modular_nova/modules/mining_crushers/code/miningweapons.dm
  modular_nova/modules/mining_crushers/icons/back.dmi
  modular_nova/modules/mining_crushers/icons/belt.dmi
  modular_nova/modules/mining_crushers/icons/items_and_weapons.dmi
  modular_nova/modules/mining_crushers/icons/melee_lefthand.dmi
  modular_nova/modules/mining_crushers/icons/melee_righthand.dmi
  modular_nova/modules/mining_vendor_additions/code/order_mining.dm
  tgstation.dme
Labels: Sprites, Nova Mirror

#3279 [MIRROR] Adds jousting to batons
  code/__DEFINES/~nova_defines/signals.dm
  code/datums/components/jousting.dm
  code/game/objects/items/melee/baton.dm
  modular_nova/master_files/code/datums/components/jousting.dm
  modular_nova/modules/modular_weapons/code/melee.dm
  tgstation.dme
Labels: Mirroring conflict, Nova Mirror

#3296 [MIRROR] Replica Parade Jacket for Donators
  modular_nova/master_files/icons/mob/clothing/suit.dmi
  modular_nova/master_files/icons/obj/clothing/suits.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/suit/suit.dmi
  modular_nova/modules/GAGS/json_configs/suits/r_parade_jacket/r_parade_jacket.json
  modular_nova/modules/GAGS/json_configs/suits/r_parade_jacket/r_parade_jacket_worn.json
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Sprites, Nova Mirror

#3299 [MIRROR] Fixes cultist blood rites runtime
  code/modules/antagonists/cult/blood_magic.dm
Labels: TG Mirror

#3300 [MIRROR] Void Raptor and Ouroboros receive own Commission Plaques
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_nova/master_files/code/game/objects/structures/plaques/static_plaques.dm
Labels: Map Modification, Nova Mirror

#3301 [MIRROR] Fixes a reversion to the greyscale plate armor
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites, TG Mirror

#3302 [MIRROR] Fixes destroyed solar panels dropping overlays
  code/modules/power/solar.dm
Labels: TG Mirror

#3303 [MIRROR] Fixes energy lost as heat for some machines
  code/game/machinery/cell_charger.dm
  code/game/machinery/rechargestation.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/vehicles/mecha/mech_bay.dm
Labels: TG Mirror

#3304 [MIRROR] Fixes kinetic accelerator fire sound div 0 runtime
  code/modules/projectiles/guns/energy.dm
Labels: TG Mirror
