Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-11, with the labels that each got.

#5140 [MIRROR] Hiss emote pannel + fix
  modular_nova/modules/emote_panel/code/emote_panel.dm
Labels: Fix, Nova Mirror

#5142 [MIRROR] retinal projector sprite adjustments: they clip through hair, ears and headwear less often
  modular_nova/modules/modular_items/icons/modular_glasses_mob.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5141 [MIRROR] Vibro-egg fix
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  tgui/packages/tgui/interfaces/Signalvib.jsx
Labels: Fix, Nova Mirror

#5143 [MIRROR] Assistant Bounties Modernization
  code/modules/cargo/bounties/assistant.dm
  modular_nova/modules/cargo/code/bounties/assistant.dm
  tgstation.dme
Labels: Feature, Removal, Nova Mirror

#5145 [MIRROR] New Interdyne ID Trims
  modular_nova/master_files/code/datums/id_trim/syndicate.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/master_files/icons/obj/card.dmi
Labels: Feature, Sprites, Nova Mirror

#5146 [MIRROR] Blueshift Cargo: Loading Door Buttons Fix
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/Snowglobe/snowglobe.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/nova/cargo_nova_delta.dmm
Labels: Map Modification, Fix, Nova Mirror

#5144 [MIRROR] Remove the Prybar from the RCF, Introduce the F.O.C.K. to hack doors, air alarms and APC's instead.
  modular_nova/modules/colony_fabricator/code/design_datums/tools.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_nova/modules/modular_items/code/fock.dm
  modular_nova/modules/modular_vending/code/tool.dm
  tgstation.dme
Labels: Feature, Balance, Quality of Life, Mirroring conflict, Nova Mirror

#5133 [TM-ONLY] Ребаланс хуйсонга и хоши
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
Labels: Balance

#5147 [MIRROR] Adds Interdrobe to ghost cafe and removes a certain vine from ghost cafe
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification, Nova Mirror

#5148 [MIRROR] Adds a missing wire next to Icebox Interdyne's library
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
Labels: Map Modification, Fix, Nova Mirror

#5149 [MIRROR] Add: Starfruit & Donator Item for Snailomi
  modular_nova/master_files/icons/obj/hydroponics/growing.dmi
  modular_nova/master_files/icons/obj/hydroponics/harvest.dmi
  modular_nova/master_files/icons/obj/hydroponics/seeds.dmi
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/customization/modules/hydroponics/grown/starfruit.dm
  modular_nova/modules/customization/modules/reagents/chemistry/reagents/food_reagents.dm
  tgstation.dme
Labels: Feature, Sprites, Mirroring conflict, Nova Mirror

#5122 Небольшой ремап NSS Journey / Box Station.
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Modification

#5151 [MIRROR] Gecko Tail!
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Nova Mirror

#5152 [MIRROR] Adds four new hairstyles
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Mirroring conflict, Nova Mirror

#5153 [MIRROR] fixes twitch exploit
  modular_nova/modules/deforest_medical_items/code/chemicals/twitch.dm
Labels: Fix, Nova Mirror

#5154 [MIRROR] Surgery speed rebalance and changes
  code/modules/surgery/surgery_step.dm
Labels: Balance, Nova Mirror

#5155 [MIRROR] Cleans up and fixes the Ouroboros medical department
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Modification, Fix, Nova Mirror

#5156 [MIRROR] Add: Personal Holosign Projector
  modular_nova/master_files/icons/effects/holosigns.dmi
  modular_nova/master_files/icons/obj/devices/tools.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/modular_implants/code/nifsofts/dorms.dm
  modular_nova/modules/modular_items/lewd_items/code/holosign.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5157 [MIRROR] Removes runed metal from the rare_materials drop table
  code/game/objects/effects/spawners/random/engineering.dm
Labels: Removal, Nova Mirror

#5158 [MIRROR] [MODULAR] Add: Ethereal & Synthetic Music Synthesizer
  modular_nova/master_files/code/modules/mob/living/carbon/human/species_type/ethereal.dm
  modular_nova/modules/species_synthesizer/README.md
  modular_nova/modules/species_synthesizer/sing_tones.dm
  modular_nova/modules/synths/code/species/synthetic.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#5162 [MIRROR] Fixes oversight in Evoker-type RSD Code
  modular_nova/modules/modular_implants/code/soulcatcher/handheld_soulcatcher.dm
Labels: Fix, Nova Mirror

#5163 [MIRROR] minor mantis blade sprite update: making it more visible
  modular_nova/modules/implants/icons/implanted_blade_lefthand.dmi
  modular_nova/modules/implants/icons/implanted_blade_righthand.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5165 [MIRROR] Fixes a few doubled up windows in metastation arrivals.
  _maps/nova/automapper/templates/metastation/metastation_arrivals.dmm
Labels: Map Modification, Fix, Nova Mirror

#5164 [MIRROR] Fix and animation berk_cape
  modular_nova/modules/gladiator/icons/berserk_suit.dmi
Labels: Feature, Sprites, Fix, Nova Mirror

#5161 Waistbags
  tff_modular/modules/clothing/backpack/backpack.dm
  tff_modular/modules/clothing/backpack/backpack.dmi
  tff_modular/modules/clothing/backpack/backpack_icon.dmi
  tff_modular/modules/redsec/code/vending.dm
  tff_modular/modules/vending/vends/clothing.dm
  tff_modular/modules/vending/vends/wardrobe/bar_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/cargo_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/engi_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/hydro_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/jani_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/medi_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/science_wardrobe.dm
  tgstation.dme
Labels: Feature, Sprites

#5167 Добавление поясных сумок в редактор персонажа
  code/__DEFINES/~ff_defines/flavor_misc.dm
  tff_modular/master_files/code/modules/client/preferences/clothing.dm
  tff_modular/master_files/code/modules/job/job_outfit.dm
  tgstation.dme
Labels: Feature

#5169 [MIRROR] Fixes floating lamp in Ouroboros maints
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Modification, Nova Mirror

#5170 [MIRROR] Reverts #1832 - Beepsky doesnt check weapons by default anymore.
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Quality of Life, Nova Mirror

#5173 [MIRROR] Add myself to maps codeowners.
  .github/CODEOWNERS
Labels: Nova Mirror

#5175 [MIRROR] Removes the boobytrapped bluespace cell from Wawa's asteroid
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/wawastation/wawastation_asteroidbluecell.dmm
Labels: Map Modification, Nova Mirror

#5177 [MIRROR] Snowglobe Cryo - Fire Alarm
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Nova Mirror

#5178 [MIRROR] Fixes delta cargo shuttle
  _maps/shuttles/nova/cargo_nova_delta.dmm
Labels: Map Modification, Fix, Nova Mirror

#5179 [MIRROR] Med Technician Kit Balance Pass
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/exp_corps/code/gear.dm
Labels: Balance, Nova Mirror

#5180 [MIRROR] Fixes Felinid tail wagging
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Fix, Nova Mirror

#5181 [MIRROR] Touches up Ouroboros's powernet.
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Modification, Nova Mirror

#5182 [MIRROR] Fix escape menu spacing
  modular_nova/modules/escape_menu/code/escape_menu_nova.dm
Labels: Fix, Nova Mirror

#5184 [MIRROR] crate chaos crate position randomizes again (early tg port)
  _maps/virtual_domains/psyker_shuffle.dmm
Labels: Map Modification, Fix, Nova Mirror

#5186 [MIRROR] Port of "Fix niche bitrunner avatar name bug and make net avatar ID take on avatar name" (but without TGS DMAPI)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: Fix, Quality of Life, Nova Mirror

#5187 [MIRROR] Port of "Bitrunning: falling into chasms returns back to body" (but without TGS DMAPI)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: Fix, Nova Mirror

#5188 [MIRROR] Adds new drinks and foods, giving starfruit functionality
  modular_nova/master_files/icons/mob/inhands/starfruitbook_lhand.dmi
  modular_nova/master_files/icons/mob/inhands/starfruitbook_rhand.dmi
  modular_nova/master_files/icons/obj/food/starfruit.dmi
  modular_nova/master_files/icons/obj/starfruitbook.dmi
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/customization/modules/hydroponics/grown/starfruit.dm
Labels: Feature, Sprites, Quality of Life, Mirroring conflict, Icon changes, Nova Mirror

#5189 [MIRROR] Fix oversized stomachs and implants being dropped on spawn
  modular_nova/modules/customization/modules/client/augment/implants.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_nova/modules/synths/code/species/synthetic.dm
Labels: Fix, Nova Mirror

#5190 [MIRROR] Snowglobe Sec Hotfix
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Nova Mirror

#5191 [MIRROR] Defaults all EMPs to being logged.
  code/game/objects/empulse.dm
Labels: Administration, Nova Mirror

#5192 [MIRROR] iskapass, october 2024
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_nova/master_files/icons/mob/clothing/hands.dmi
  modular_nova/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/taur.dmi
  modular_nova/master_files/icons/obj/clothing/gloves.dmi
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/pants_shorts_skirts_dresses/giant_scarf.json
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites, Quality of Life, Nova Mirror

#5193 [MIRROR] Disables self-assigning objectives for changeling, and traitor.
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Code modification, Nova Mirror

#5194 Fix conflict in config
  config/maps.txt
Labels: Config

#5196 [MIRROR] Bitrunning prefloading
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/util.dm
  modular_nova/modules/bitrunning/code/disks.dm
  modular_nova/modules/bitrunning/code/outfit.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#5197 [MIRROR] Add Shorg (New dog subtype)
  modular_nova/modules/pet_owner/pet_owner.dm
  modular_nova/modules/shorg/pets.dmi
  modular_nova/modules/shorg/pets_held_lh.dmi
  modular_nova/modules/shorg/pets_held_rh.dmi
  modular_nova/modules/shorg/shorg.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5198 [MIRROR] [MODULAR] Adds mag-fed turret limitations to pneumatic cannon
  modular_nova/master_files/code/game/objects/items/pneumaticCannon.dm
  tgstation.dme
Labels: Balance, Nova Mirror

#5199 [MIRROR] nerfs changeling to prepare for it being readded.
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/movespeed/modifiers/innate.dm
  modular_nova/master_files/code/modules/antagonists/changeling/changeling.dm
Labels: Balance, Nova Mirror

#5200 [MIRROR] Restocking part I, a semi-replacement of the Szot Dynamica guns we already have.
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/plasma.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_worn.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/inhands_64_left.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/inhands_64_right.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_32.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_48.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_64.dmi
Labels: Sprites, Balance, Code modification, Nova Mirror

#5201 [MIRROR] Fixes a typo in horrorform bone fragment embed datum
  modular_nova/modules/horrorform/code/true_changeling.dm
Labels: Fix, Nova Mirror

#5202 [MIRROR] Icemoon Interdyne photocopier is now free to use
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
Labels: Map Modification, Fix, Nova Mirror

#5203 [MIRROR] Fix OPFOR bluescreen
  modular_nova/modules/opposing_force/code/opposing_force_datum.dm
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
Labels: Fix, Nova Mirror

#5204 [MIRROR] Fixes disarming airbags as a ghost
  modular_nova/modules/window_airbags/code/window_airbag.dm
Labels: Fix, Nova Mirror

#5206 [MIRROR] fixes those silly little amollin pills lying to us
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
Labels: Fix, Nova Mirror

#5208 [MIRROR] Binyat Blacklist Tweak
  modular_nova/modules/implants/code/augments_head.dm
Labels: Balance, Nova Mirror

#5209 Poster contest
  tff_modular/modules/poster_contest/contraband.dm
  tff_modular/modules/poster_contest/official.dm
  tff_modular/modules/poster_contest/poster_contest.dmi
  tgstation.dme
Labels: Feature, Sprites
