Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-04, with the labels that each got.

#2683 [MIRROR] Eye of God Update: Loads of QoL, and makes it somewhat more useful to have permanently grafted to your face.
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_trophy.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
Labels: TG Mirror

#2684 [MIRROR] FIX: Makes Hatsune mi-go a (friendly) gold slime mob
  code/modules/mob/living/basic/space_fauna/netherworld/migo.dm
Labels: TG Mirror

#2685 [MIRROR] Let ethereals starve again
  code/__DEFINES/mobs.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
Labels: TG Mirror

#2686 [MIRROR] Uplinks now play a unique 'kaching' sound when purchasing any items.
  code/modules/uplink/uplink_items.dm
  sound/effects/kaching.ogg
Labels: TG Mirror

#2687 [MIRROR] Resprites supermatter theft
  icons/obj/antags/syndicate_tools.dmi
Labels: Sprites, TG Mirror

#2688 [MIRROR] Fixes some heartbeat things we didn't do
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
  code/modules/surgery/revival.dm
Labels: TG Mirror

#2689 [MIRROR] [No GBP] Fixes a slime speed config and ai controller null error in slime nutrition handling
  code/modules/mob/living/basic/slime/life.dm
  config/game_options.txt
Labels: Config, TG Mirror

#2690 [MIRROR] Makes Social Anxiety stuttering a lot less harsh
  code/__DEFINES/mobs.dm
  code/datums/quirks/negative_quirks/social_anxiety.dm
  code/datums/status_effects/debuffs/speech_debuffs.dm
Labels: TG Mirror

#2691 [MIRROR] cockroaches adapt to icebox atmos
  code/modules/mob/living/basic/vermin/cockroach.dm
Labels: TG Mirror

#2692 [MIRROR] Removes editorconfig and suggested extension
  .editorconfig
  .vscode/extensions.json
  tgui/.editorconfig
  tools/build/.editorconfig
Labels: TG Mirror

#2694 [MIRROR] [no gbp] Some more colony machinery power related fiksiks (for wind generators and coffee synthesizer)
  modular_nova/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_nova/modules/colony_fabricator/code/appliances/wind_turbine.dm
Labels: Nova Mirror

#2693 [MIRROR] Creates a node compatibility mode
  dependencies.sh
  tgui/.prettierignore
  tools/bootstrap/node
  tools/bootstrap/node_.ps1
Labels: TG Mirror

#2644 [MIRROR] Adds some generic species lore, descriptions, etc. to a few species
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_luminescent.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_roundstartslime.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_slime.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_stargazer.png
  config/game_options.txt
Labels: Config, TG Mirror, Mirroring conflict, Configs

#2695 [MIRROR] Makes the Captain's Spare safe actually secure from being smashed open now that it's been removed from a wall.
  code/game/objects/structures/secure_safe.dm
Labels: TG Mirror

#2697 [MIRROR] ai z level indicator
  code/__DEFINES/hud.dm
  code/_onclick/hud/ai.dm
  icons/hud/screen_ai.dmi
Labels: Sprites, TG Mirror

#2698 [MIRROR] Makes deconstruction of computer & machine frames consistent
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/machine_frame.dm
Labels: TG Mirror

#2700 [MIRROR] handheld Experimenters give more helpful feedback
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/random_scanning.dm
  code/modules/experisci/experiment/types/scanning.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
  code/modules/experisci/experiment/types/scanning_machinery.dm
  code/modules/experisci/experiment/types/scanning_material.dm
  code/modules/experisci/experiment/types/scanning_people.dm
  code/modules/experisci/experiment/types/scanning_plants.dm
  code/modules/experisci/experiment/types/scanning_points.dm
  code/modules/experisci/experiment/types/scanning_vatgrown.dm
Labels: TG Mirror

#2702 [MIRROR] Improved lathe error message
  code/game/machinery/autolathe.dm
  code/modules/power/apc/apc_main.dm
  code/modules/research/machinery/_production.dm
Labels: TG Mirror

#2703 [MIRROR] Adds new obj var for damage feedback, modular shields now tell you youre actually doing something when damaging them. Uncapitalizes Modular Shield Objects
  code/game/machinery/_machinery.dm
  code/game/machinery/modular_shield.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
Labels: TG Mirror

#2704 [MIRROR] Detective revolver no longer can be turned into a flawless .357 revolver; In this house our gun explodes from excessive pressure
  code/modules/projectiles/guns/ballistic.dm
Labels: TG Mirror

#2705 [MIRROR] Fixes prosthetic limb quirk preferences
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/prosthetic_limb.tsx
Labels: TG Mirror

#2706 [MIRROR] Clamps material market quantities & prices during cargo operations
  code/controllers/subsystem/stock_market.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/packs/_packs.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: TG Mirror

#2707 [MIRROR] Mechbay & modsuit recharger tweaks
  code/game/machinery/rechargestation.dm
  code/modules/vehicles/mecha/mech_bay.dm
  tgui/packages/tgui/interfaces/MechBayPowerConsole.jsx
Labels: TG Mirror

#2708 [MIRROR] Refactored admin backup saving. No longer at round end, more data backed up
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Labels: TG Mirror

#2709 [MIRROR] Halon combustion releases resin foam and pluoxium. Halon is formed by electrolysing BZ, and the reaction is much quicker.
  code/__DEFINES/reactions.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/components/electrolyzer/electrolyzer_reactions.dm
Labels: TG Mirror

#2710 [MIRROR] Makes highlander layer hoisting code actually work
  code/game/objects/items/weaponry.dm
Labels: TG Mirror

#2711 [MIRROR] Allows faxing of paintings
  code/modules/paperwork/fax.dm
Labels: TG Mirror

#2712 [MIRROR] adds evil seedlings to Perennial Growth blacklist
  code/modules/hydroponics/plant_genes.dm
Labels: TG Mirror

#2713 [MIRROR] Small Social Anxiety Fixes
  code/datums/status_effects/debuffs/speech_debuffs.dm
Labels: TG Mirror

#2720 [MIRROR] Odysseuss syring new UI
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
Labels: TG Mirror

#2714 [MIRROR] Fixes issues with multitools on power objects
  code/modules/power/floodlight.dm
  code/modules/power/power.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/smes.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/turbine/turbine.dm
Labels: TG Mirror

#2696 [MIRROR] Make it easier to click on heretic influences
  code/datums/components/redirect_attack_hand_from_turf.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/items/forbidden_book.dm
Labels: TG Mirror

#2715 [MIRROR] Gauge, knob, slider components -> typescript
  tgui/packages/tgui/components/Knob.tsx
  tgui/packages/tgui/components/RoundGauge.tsx
  tgui/packages/tgui/components/Slider.tsx
  tgui/packages/tgui/interfaces/ChemHeater.tsx
  tgui/packages/tgui/interfaces/ChemReactionChamber.tsx
  tgui/packages/tgui/interfaces/Jukebox.tsx
  tgui/packages/tgui/interfaces/MassSpec.tsx
Labels: TG Mirror

#2723 [MIRROR] Bumps up several GitHub `actions` to the Node 20 Version (#81770)
  .github/workflows/auto_changelog.yml
  .github/workflows/autowiki.yml
  .github/workflows/ci_suite.yml
  .github/workflows/codeowner_reviews.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/docker_publish.yml
  .github/workflows/gbp.yml
  .github/workflows/gbp_collect.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/remove_guide_comments.yml
  .github/workflows/rerun_flaky_tests.yml
  .github/workflows/run_integration_tests.yml
  .github/workflows/show_screenshot_test_results.yml
  .github/workflows/test_merge_bot.yml
  .github/workflows/tgs_test.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: TG Mirror

#2718 [MIRROR] Merge ordinance burn chamber with main lab for MetaStation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, TG Mirror

#2719 [MIRROR] Aheal no longer turns monkies in to humans
  code/datums/mutations/_mutations.dm
  code/datums/mutations/body.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: TG Mirror

#2721 [MIRROR] Emergency Birdshot Maintenance
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror

#2722 [MIRROR] Clown anomalous crystals turn the dead into living clowns, rather than anyone who speaks in proximity
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: TG Mirror

#2724 [MIRROR] Actually Caches The BYOND Installation in CI (#82364)
  .github/workflows/autowiki.yml
  .github/workflows/ci_suite.yml
  .github/workflows/run_integration_tests.yml
Labels: TG Mirror

#2725 [MIRROR] Compiling the servers works again
  dependencies.sh
  tools/bootstrap/node_.ps1
Labels: TG Mirror

#2727 [MIRROR] TGUI: bumps yarn version
  tgui/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  tgui/.yarn/releases/yarn-3.3.1.cjs
  tgui/.yarn/releases/yarn-4.1.1.cjs
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/yarn.lock
Labels: TG Mirror

#2726 [MIRROR] Lint with OpenDream (#81892)
  .github/workflows/ci_suite.yml
  .gitignore
  __odlint.dm
  code/__DEFINES/_helpers.dm
  code/__HELPERS/type2type.dm
  code/_compile_options.dm
  code/_onclick/item_attack.dm
  code/datums/components/food/edible.dm
  code/datums/wounds/burns.dm
  code/game/atom/atom_defense.dm
  code/game/atom/atoms_initializing_EXPENSIVE.dm
  code/game/machinery/doors/airlock.dm
  code/modules/admin/create_mob.dm
  code/modules/logging/log_holder.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  modular_nova/master_files/code/game/objects/items/holy_weapons.dm
  modular_nova/modules/borgs/code/robot_model.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/emotes/code/additionalemotes/turf_emote.dm
  tff_modular/modules/blooper/atoms_movable.dm
  tgstation.dme
  tools/ci/od_lints.dm
Labels: TG Mirror

#2728 [MIRROR] TGUI: updated dependencies
  tgui/.yarn/sdks/eslint/lib/unsupported-api.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/prettier/package.json
  tgui/.yarn/sdks/typescript/package.json
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/SmokeMachine.tsx
  tgui/packages/tgui/interfaces/SyndicateContractor.tsx
  tgui/packages/tgui/package.json
  tgui/tsconfig.json
  tgui/yarn.lock
Labels: TG Mirror, Mirroring conflict

#2738 [MIRROR] fixes material scanning, so we can scan again
  code/modules/experisci/experiment/types/scanning.dm
Labels: TG Mirror

#2729 [MIRROR] Destructive Analyzer input fixes and response
  code/game/objects/items/tools/crowbar.dm
  code/modules/research/destructive_analyzer.dm
  tgui/packages/tgui/interfaces/DestructiveAnalyzer.tsx
Labels: TG Mirror

#2734 [MIRROR] Adds a visual effect to breathing in cold environments
  code/game/objects/effects/particles/smoke.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  icons/effects/particles/smoke.dmi
Labels: Sprites, TG Mirror

#2735 [MIRROR] Fixes root beer rounding down to 0 delay for laser carbines/disabler SMGs
  code/datums/components/fullauto.dm
Labels: TG Mirror

#2737 [MIRROR] Prevents npcs from making progress bars
  code/__HELPERS/mobs.dm
Labels: TG Mirror

#2748 [MIRROR] Unapologetic Teshari Buffs Vol. 1
  code/datums/mutations/body.dm
  code/datums/quirks/positive_quirks/settler.dm
  code/game/objects/structures/tables_racks.dm
  modular_nova/master_files/icons/hud/actions.dmi
  modular_nova/master_files/icons/misc/language.dmi
  modular_nova/modules/bodyparts/code/teshari_bodyparts.dm
  modular_nova/modules/organs/code/ears.dm
  modular_nova/modules/teshari/code/_teshari.dm
  modular_nova/modules/teshari/code/schechi.dm
  tgstation.dme
Labels: Sprites, Nova Mirror

#2717 [MIRROR] Enable mech logging by default
  config/logging.txt
Labels: Config, TG Mirror, Configs

#2730 [MIRROR] GAGSifies the jester costume
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/jester_hat.json
  code/datums/greyscale/json_configs/jester_shoes.json
  code/datums/greyscale/json_configs/jester_suit.json
  code/modules/clothing/head/hat.dm
  code/modules/clothing/shoes/costume.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/under/civilian.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/under/civilian.dmi
  modular_nova/master_files/code/modules/clothing/shoes/costume.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/civilian/clown_mime.dm
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
  modular_nova/master_files/icons/mob/clothing/under/civilian_digi.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/autodrobe.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/82339_jester_repath.txt
Labels: Sprites, Map Modification, TG Mirror

#2731 [MIRROR] Clowns can no longer kill themselves with holographic eswords
  code/datums/components/transforming.dm
Labels: TG Mirror

#2732 [MIRROR] Fix all nighter runtimes
  code/datums/quirks/negative_quirks/all_nighter.dm
Labels: TG Mirror

#2733 [MIRROR] Fixes Alcoholic quirk selection and addiction in general not being forever.
  code/_globalvars/lists/quirks.dm
  code/datums/quirks/negative_quirks/addict.dm
  code/modules/client/preferences/addict.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  tgstation.dme
Labels: TG Mirror

#2736 [MIRROR] `heal_and_revive` restarts hearts
  code/modules/mob/living/carbon/carbon.dm
Labels: TG Mirror

#2740 [MIRROR] Fixes quirk being examined when observing
  code/modules/mob/living/carbon/human/examine.dm
Labels: TG Mirror

#2739 [MIRROR] Refactor APCs interaction chain from attackby to item_interaction
  code/game/objects/items/apc_frame.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/apc/apc_tool_act.dm
  modular_nova/modules/apc_arcing/apc.dm
Labels: TG Mirror

#2742 [MIRROR] Fixes access to borg panels
  code/modules/mob/living/silicon/robot/robot_defines.dm
Labels: TG Mirror

#2743 [MIRROR] Moves that one wall in NorthStar Maints
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Modification, TG Mirror

#2741 [MIRROR] Fix lings spending double the chemicals for reviving stasis (30->15)
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: TG Mirror

#2744 [MIRROR] Unapologetic Ethereal Electricitycreep Buff PR Vol. 1
  code/__DEFINES/apc_defines.dm
  code/__DEFINES/mobs.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/cell.dm
  code/modules/power/lighting/light.dm
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
  modular_nova/master_files/code/modules/mob/living/carbon/human/species_type/ethereal.dm
  modular_nova/modules/organs/code/lungs.dm
  modular_nova/modules/organs/code/stomach.dm
  tgstation.dme
Labels: Nova Mirror

#2745 [MIRROR] [Modular] Adds EMP effects for a few implants that were missing them
  modular_nova/modules/implants/code/augments_head.dm
Labels: Nova Mirror

#2750 [MIRROR] Inducer fixes for Syndie and Borg
  code/game/objects/items/inducer.dm
  code/game/objects/items/robot/robot_upgrades.dm
Labels: TG Mirror

#2751 [MIRROR] Makes attempting to refresh the logs not just throw a runtime error
  code/modules/logging/log_holder.dm
Labels: TG Mirror

#2752 [MIRROR] Updates cyborg cells created from borgifier to the SI standard
  code/game/machinery/transformer.dm
Labels: TG Mirror

#2753 [MIRROR] New operative reinforcement option: Intelligence Overwatch Agent
  _maps/templates/lazy_templates/nukie_base.dmm
  code/__DEFINES/cameranets.dm
  code/__DEFINES/dcs/signals/signals_operatives.dm
  code/__DEFINES/role_preferences.dm
  code/_globalvars/lists/mapping.dm
  code/game/objects/effects/landmarks.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/nukeop/datums/operative.dm
  code/modules/antagonists/nukeop/datums/operative_support.dm
  code/modules/antagonists/nukeop/datums/operative_team.dm
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/power/cable.dm
  code/modules/shuttle/syndicate.dm
  code/modules/uplink/uplink_items/nukeops.dm
  tgstation.dme
Labels: Map Modification, TG Mirror

#2756 [MIRROR] Reboots the CNS Rebooter Implant.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Labels: TG Mirror

#2755 [MIRROR] Fix "Aheal" for ears deafness
  code/modules/surgery/organs/_organ.dm
Labels: TG Mirror

#2757 [MIRROR] re-adds list of components for admins to remove
  code/modules/admin/view_variables/topic_basic.dm
Labels: TG Mirror

#2758 [MIRROR] Search string in catalogs in char prefs
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Labels: TG Mirror

#2759 [MIRROR] Fix slime `check_item_passthrough` effect
  code/modules/mob/living/basic/slime/defense.dm
Labels: TG Mirror

#2761 [MIRROR] adds prefrences to transhumanist
  code/_globalvars/lists/quirks.dm
  code/datums/quirks/neutral_quirks/transhumanist.dm
  code/modules/client/preferences/trans_prosthetic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/trans_prosthetic.tsx
Labels: TG Mirror

#2762 [MIRROR] CHEAP_HYPOTENUSE() no longer makes the differences between the coordinates absolute.
  code/__DEFINES/maths.dm
Labels: TG Mirror

#2763 [MIRROR] Neutered symptoms no longer activate
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
Labels: TG Mirror

#2764 [MIRROR] Fix captive xeno roundend report runtime
  code/modules/antagonists/xeno/xeno.dm
Labels: TG Mirror

#2765 [MIRROR] Fix `/datum/dimension_theme/fancy` never applying
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: TG Mirror

#2766 [MIRROR] `/datum/element/skill_reward` attempting to drop "itself" fix
  code/datums/elements/skill_reward.dm
Labels: TG Mirror

#2767 [MIRROR] [Semi-Modular] HMS Buffs
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
  code/datums/diseases/chronic_illness.dm
  code/modules/reagents/reagent_containers/pill.dm
  modular_nova/modules/HMS_Changes/sansufentanyl.dm
  tgstation.dme
Labels: Map Modification, Nova Mirror

#2769 [MIRROR] Medipens can't have reagents removed from them anymore.
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: TG Mirror

#2770 [MIRROR] Creates a "busy" animation for players
  code/__HELPERS/mobs.dm
  code/datums/cogbar.dm
  code/game/machinery/fat_sucker.dm
  code/game/objects/items/syndie_spraycan.dm
  code/game/objects/structures/syndicate_uplink_beacon.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mirror_walk.dm
  code/modules/antagonists/ninja/ninjaDrainAct.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/antagonists/spy/spy_uplink.dm
  code/modules/antagonists/traitor/objectives/infect.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/traitor/objectives/sabotage_machinery.dm
  code/modules/antagonists/traitor/objectives/steal.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/chameleon/chameleon_scanner.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  icons/effects/progressbar.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#2771 [MIRROR] Basic mobs now use z-level turnoff instead of simple
  code/__DEFINES/ai/ai.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/datums/ai/_ai_controller.dm
  code/game/world.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_defines.dm
  code/modules/unit_tests/limbsanity.dm
  code/modules/unit_tests/mouse_bite_cable.dm
  code/modules/unit_tests/suit_storage_icons.dm
  tgstation.dme
Labels: TG Mirror

#2773 [MIRROR] Watcher wreaths; Normal and Icewing varieties
  code/datums/components/crafting/tailoring.dm
  code/modules/cargo/bounties/mining.dm
  code/modules/clothing/neck/_neck.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: Sprites, TG Mirror

#2768 [MIRROR] Pre-516 tgui prep
  tgui/.gitignore
  tgui/global.d.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/panelFocus.js
  tgui/packages/tgui-polyfill/byondutils.js
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/index.tsx
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/stories/ByondUi.stories.jsx
  tgui/public/tgui.html
  tgui/public/utils.min.js
  tgui/yarn.lock
Labels: TG Mirror

#2772 [MIRROR] Revert "Pre-516 tgui prep (#82473)"
  tgui/.gitignore
  tgui/global.d.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/panelFocus.js
  tgui/packages/tgui-polyfill/byondutils.js
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/index.tsx
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/stories/ByondUi.stories.jsx
  tgui/public/tgui.html
  tgui/public/utils.min.js
  tgui/yarn.lock
Labels: TG Mirror

#2775 [MIRROR] Reverts reversion: tgui will 516 or else
  tgui/global.d.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/panelFocus.js
  tgui/packages/tgui-say/index.tsx
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/stories/ByondUi.stories.jsx
  tgui/public/tgui.html
  tgui/yarn.lock
Labels: TG Mirror

#2776 [MIRROR] Hats no longer cover mouths
  code/modules/surgery/surgery_helpers.dm
Labels: TG Mirror

#2777 [MIRROR] Fixes the color matrix editor
  tgui/packages/tgui/interfaces/ColorMatrixEditor.tsx
Labels: TG Mirror

#2778 [MIRROR] makes broken chameleon kit items immune to being EMP'd to unbreak them
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
Labels: TG Mirror

#2779 [MIRROR] Maint Mania dust runtime fix
  _maps/deathmatch/maint_mania.dmm
Labels: Map Modification, TG Mirror

#2780 [MIRROR] Fixes banned/days remaining preferences display for non-dynamic ruleset antagonists.
  code/modules/client/preferences/middleware/antags.dm
Labels: TG Mirror

#2781 [MIRROR] Final Objective: Battle Royale
  code/__DEFINES/antagonists.dm
  code/__DEFINES/dcs/signals/signals_traitor.dm
  code/controllers/subsystem/battle_royale.dm
  code/datums/components/simple_bodycam.dm
  code/datums/diseases/advance/symptoms/itching.dm
  code/game/objects/items/devices/battle_royale.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_battle_royale.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/modules/admin/verbs/manipulate_organs.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/traitor/objectives/final_objective/battle_royale.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/implant_removal.dm
  tgstation.dme
Labels: TG Mirror

#2783 [MIRROR] Change COGBAR_ANIMATION_TIME to seconds and not deciseconds
  code/datums/cogbar.dm
Labels: TG Mirror

#2784 [MIRROR] Very small atom examine tweaks
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/datums/elements/decals/blood.dm
  code/game/atom/atom_examine.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: TG Mirror

#2790 [MIRROR] Adds anosmia quirk
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/bakeable.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/mutations/olfaction.dm
  code/datums/quirks/negative_quirks/anosmia.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/oven.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  tgstation.dme
Labels: TG Mirror

#2785 [MIRROR] [Non-modular] Security bots now check if you're allowed to carry that gun by default
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Nova Mirror

#2786 [MIRROR] [MODULAR] Documents akula features in the perks window
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
Labels: Nova Mirror

#2788 [MIRROR] Fixes ethereal charging and recharge station charge speed.
  code/__DEFINES/apc_defines.dm
  code/__DEFINES/lights.dm
  code/__DEFINES/mobs.dm
  code/game/machinery/rechargestation.dm
  code/modules/mod/mod_core.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/cell.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
Labels: TG Mirror

#2796 [MIRROR] Reagent grinders display reagents on examination
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: TG Mirror

#2794 [MIRROR] Update lead acid batteries charge values
  code/game/objects/items/maintenance_loot.dm
Labels: TG Mirror

#2798 [MIRROR] Added on_surgical_insertion() and signals, to match on_surgical_removal
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/organ_movement.dm
Labels: TG Mirror

#2789 [MIRROR] Change setting item weight class to a setter to patch some weight class related shenanigans
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/inventory.dm
  code/datums/components/customizable_reagent_holder.dm
  code/datums/components/transforming.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/fish_case.dm
  code/game/objects/items.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/tools/spess_knife.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/antagonists/heretic/items/forbidden_book.dm
  code/modules/detectivework/evidence.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/food_and_drinks/plate.dm
  code/modules/hallucination/inhand_fake_item.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/storage.dm
Labels: TG Mirror

#2811 [MIRROR] Simple fix for Unicode in #591
  modular_nova/master_files/code/_globalvars/text.dm
Labels: Nova Mirror

#2787 [MIRROR] Adds Healthdoll to Basic Dexterous Mobs
  code/_onclick/hud/generic_dextrous.dm
Labels: TG Mirror

#2792 [MIRROR] Material datum color update, plus touching up some material items (knight armor, tiles)
  code/datums/materials/basemats.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/tiles.dmi
  icons/turf/composite.dmi
  icons/turf/floors.dmi
Labels: Sprites, TG Mirror

#2793 [MIRROR] Fixes some grammar on vorpal scythe execute
  code/modules/jobs/job_types/chaplain/chaplain_vorpal_scythe.dm
Labels: TG Mirror

#2795 [MIRROR] [no gbp] you may no longer get nullspaced by deathmatch
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_maps.dm
Labels: TG Mirror

#2797 [MIRROR] Mech mob deletion fix
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: TG Mirror

#2799 [MIRROR] Post-round blob zombies no longer offer themselves to ghosts
  code/modules/mob/living/basic/blob_minions/blob_zombie.dm
Labels: TG Mirror

#2800 [MIRROR] Gets [weird] with (spies) by adding protect and deuteragonist-flavored objectives.
  code/game/gamemodes/objective.dm
  code/modules/antagonists/spy/spy.dm
  strings/antagonist_flavor/spy_objective.json
Labels: TG Mirror

#2801 [MIRROR] Cells will only consider 0.1% of their charge when shocking a user.
  code/modules/power/cell.dm
Labels: TG Mirror

#2803 [MIRROR] [Modular] DS-2 QoL changes
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
Labels: Map Modification, Nova Mirror

#2818 [MIRROR] Ody sleeper new UI
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
Labels: TG Mirror

#2804 [MIRROR] [Moduler] Adjusts the limits before APC's ARC
  code/__DEFINES/~nova_defines/apc_defines.dm
Labels: Nova Mirror

#2806 [MIRROR] [Modular] Fixes synth power cord
  modular_nova/modules/synths/code/bodyparts/power_cord.dm
Labels: Nova Mirror

#2805 [MIRROR] [Modular] Fixes Telepathy quirk sending empty messages
  modular_nova/modules/telepathy_quirk/code/telepathy_action.dm
Labels: Nova Mirror

#2807 [MIRROR] Explosions Part I - Directional Explosions
  code/__DEFINES/explosions.dm
  code/controllers/subsystem/explosions.dm
  code/datums/elements/backblast.dm
  code/game/objects/items/grenades/plastic.dm
Labels: TG Mirror

#2808 [MIRROR] atmospherics documentation update
  code/modules/atmospherics/Atmospherics.md
Labels: TG Mirror

#2810 [MIRROR] Fix thing buy wiht no nif
  modular_nova/modules/modular_implants/code/nifsoft_catalog.dm
Labels: Nova Mirror

#2812 [MIRROR] New Battle Arcade
  code/__DEFINES/arcades.dm
  code/_globalvars/arcade.dm
  code/controllers/subsystem/ticker.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/arcade/_arcade.dm
  code/game/machinery/computer/arcade/amputation.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/computer/arcade/battle.dm
  code/game/machinery/computer/arcade/battle_gear.dm
  code/game/machinery/computer/arcade/orion.dm
  code/game/objects/structures/displaycase.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/verbs/server.dm
  code/modules/asset_cache/assets/arcade.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
  code/modules/power/singularity/singularity.dm
  code/modules/recycling/disposal/holder.dm
  icons/hud/radial.dmi
  icons/obj/machines/computer.dmi
  icons/ui_icons/arcade/fireplace.png
  icons/ui_icons/arcade/shopkeeper.png
  strings/arcade.json
  tgstation.dme
  tgui/packages/tgui/interfaces/BattleArcade.tsx
Labels: Sprites, TG Mirror

#2814 [MIRROR] Add balloon alerts to plunging
  code/game/machinery/medipen_refiller.dm
  code/modules/events/vent_clog.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/iv_drip.dm
Labels: TG Mirror

#2817 [MIRROR] You can no longer aggressive grab medbots
  code/modules/mob/living/basic/bots/medbot/medbot.dm
Labels: TG Mirror

#2819 [MIRROR] Autolathe computes custom material item print amounts correctly
  tgui/packages/tgui/interfaces/Autolathe.tsx
Labels: TG Mirror

#2820 [MIRROR] Atmos Tech Clothing QOL and Advanced Extinguisher Tweak
  code/game/objects/items/extinguisher.dm
  code/modules/clothing/suits/jobs.dm
Labels: TG Mirror

#2821 [MIRROR] Makes radiaton and bomb good helmets have the FOV effect...... its not my fault
  code/modules/clothing/suits/utility.dm
Labels: TG Mirror

#2822 [MIRROR] Cleans up the SS13_base lua file and adds a new lua file for easily handling multiple signals on different objects.
  code/modules/admin/verbs/lua/lua_state.dm
  lua/SS13_base.lua
  lua/docs/handler_group.md
  lua/handler_group.lua
  lua/state.lua
  lua/timer.lua
Labels: TG Mirror

#2833 [MIRROR] [MODULAR] Fixing unconnected modular consoles and not dir 2 any consoles
  _maps/RandomRuins/SpaceRuins/nova/port_tarkon.dmm
  modular_nova/modules/connecting_computer/code/_computer.dm
  modular_nova/modules/connecting_computer/code/connectable_component.dm
Labels: Map Modification, Nova Mirror

#2815 [MIRROR] Fix table top deconstruction
  code/game/objects/structures/tables_racks.dm
Labels: TG Mirror, Mirroring conflict

#2827 [MIRROR] Fixes a TG mirror i accidentialy Broke
  code/modules/cargo/bounties/mining.dm
Labels: Nova Mirror

#2829 [MIRROR] Fixes a very minor punctuation error
  code/game/machinery/_machinery.dm
  code/game/objects/objs.dm
Labels: TG Mirror

#2831 [MIRROR] Coffee machines carry over reagents from the beans
  code/modules/food_and_drinks/machinery/coffeemaker.dm
Labels: TG Mirror

#2832 [MIRROR] Removes goliath rider reacharound
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_mob.dm
Labels: TG Mirror

#2836 [MIRROR] General maintenance for chem master
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/obj/medical/chemical.dmi
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/interfaces/common/BeakerDisplay.tsx
Labels: Sprites, TG Mirror

#2837 [MIRROR] Clowns can now make balloon... toys. And also mallets and hats.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/crafting/melee_weapon.dm
  code/datums/components/crafting/tailoring.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weaponry.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/tophat.dm
  code/modules/clothing/suits/armor.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/library/skill_learning/job_skillchips/clown.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/research/designs/misc_designs.dm
  icons/mob/clothing/head/hats.dmi
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/mob/inhands/items/balloons_lefthand.dmi
  icons/mob/inhands/items/balloons_righthand.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/clothing/head/hats.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/storage/box.dmi
  icons/obj/toys/balloons.dmi
  icons/obj/toys/toy.dmi
  icons/obj/weapons/hammer.dmi
  modular_nova/modules/aesthetics/storage/storage.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#2840 [MIRROR] Fixes TGUI debugging tools
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/debug/KitchenSink.jsx
  tgui/packages/tgui/layouts/Pane.tsx
  tgui/packages/tgui/layouts/Window.tsx
  tgui/packages/tgui/routes.tsx
Labels: TG Mirror

#2838 [MIRROR] Fixes incorrect operator usage in mecha code
  code/modules/vehicles/mecha/_mecha.dm
Labels: TG Mirror

#2835 [MIRROR] Baisc Bot "Commission Emote" Tweak
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: TG Mirror

#2826 [MIRROR] Fixes spurious runtime on Icemoon caused by turf calling unimplemented LateInitialize()
  code/game/turfs/open/openspace.dm
Labels: TG Mirror

#2842 [MIRROR] Fixes spurious runtime caused by icemoon (again)
  code/game/turfs/open/openspace.dm
Labels: TG Mirror, Mirroring conflict

#2825 [MIRROR] Blueprints tgui
  _maps/RandomRuins/AnywhereRuins/golem_ship.dmm
  _maps/RandomRuins/SpaceRuins/nova/port_tarkon.dmm
  code/__DEFINES/_flags.dm
  code/__DEFINES/area_editor.dm
  code/__HELPERS/areas.dm
  code/__HELPERS/turfs.dm
  code/datums/wires/_wires.dm
  code/game/gamemodes/objective_items.dm
  code/game/machinery/barsigns.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/hallucination/fake_message.dm
  code/modules/mining/boulder_processing/brm.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/paperwork/photocopier.dm
  code/modules/photography/camera/camera.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/recycling/conveyor.dm
  code/modules/research/xenobiology/xenobiology.dm
  modular_nova/modules/tarkon/code/misc_fluff/fluff.dm
  modular_nova/modules/time_clock/code/console_tgui.dm
  sound/attributions.txt
  sound/items/paper_flip.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/Blueprints.tsx
  tools/UpdatePaths/Scripts/74147_tech_disk_repath.txt
  tools/UpdatePaths/Scripts/82565_blueprints_repath.txt
Labels: Map Modification, TG Mirror, Mirroring conflict

#2828 maru plushie belongs to donator module
  tff_modular/master_files/icons/donator/obj/toys/plushie.dmi
  tff_modular/modules/toys/code/loadout_datum_toys.dm
  tff_modular/modules/toys/code/plushes.dm
  tff_modular/modules/toys/icons/plushes.dmi
  tff_modular/modules/~donator/items/donator_items.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#2843 [MIRROR] Fix invalid List.Join() in chemsmoke logging
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
Labels: TG Mirror

#2844 [MIRROR] [MODULAR] Makes Tajarans able to land on their feet
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
Labels: Nova Mirror

#2845 [MIRROR] Bump pillow from 10.0.1 to 10.3.0 in /tools
  tools/requirements.txt
Labels: Nova Mirror

#2846 [MIRROR] Power outage operation fixes for chem master
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: TG Mirror

#2848 [MIRROR] Haloperidol Purges Itself while you're Stamcrit
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: TG Mirror

#2849 [MIRROR] Refactor renaming UNIQUE_RENAME items from the pen to an element
  code/__DEFINES/say.dm
  code/__DEFINES/traits/sources.dm
  code/datums/elements/tool_renaming.dm
  code/modules/paperwork/pen.dm
  code/modules/reagents/reagent_containers/cups/drinkingglass.dm
  tgstation.dme
Labels: TG Mirror

#2850 [MIRROR] Reverts 82333
  .editorconfig
  .vscode/extensions.json
  tgui/.editorconfig
  tools/build/.editorconfig
Labels: TG Mirror

#2851 [MIRROR] Fixes a typo in the cargo console.
  code/modules/cargo/packs/science.dm
Labels: TG Mirror

#2853 [MIRROR] Removes grid usage + heavy refactors
  tgui/packages/tgui/components/Grid.jsx
  tgui/packages/tgui/components/Grid.tsx
  tgui/packages/tgui/components/Table.tsx
  tgui/packages/tgui/interfaces/AirlockElectronics.tsx
  tgui/packages/tgui/interfaces/CircuitAccessChecker.tsx
  tgui/packages/tgui/interfaces/ClockworkSlab.jsx
  tgui/packages/tgui/interfaces/DnaVault.tsx
  tgui/packages/tgui/interfaces/EightBallVote.tsx
  tgui/packages/tgui/interfaces/EmergencyShuttleConsole.tsx
  tgui/packages/tgui/interfaces/LaunchpadConsole.jsx
  tgui/packages/tgui/interfaces/LaunchpadConsole.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
  tgui/packages/tgui/interfaces/NtosArcade.jsx
  tgui/packages/tgui/interfaces/NtosArcade.tsx
  tgui/packages/tgui/interfaces/NuclearBomb.tsx
  tgui/packages/tgui/interfaces/Roulette.jsx
  tgui/packages/tgui/interfaces/Roulette/BetTable.tsx
  tgui/packages/tgui/interfaces/Roulette/Board.tsx
  tgui/packages/tgui/interfaces/Roulette/NumberCell.tsx
  tgui/packages/tgui/interfaces/Roulette/helpers.tsx
  tgui/packages/tgui/interfaces/Roulette/index.tsx
  tgui/packages/tgui/interfaces/SyndContractor.jsx
  tgui/packages/tgui/interfaces/SyndicateContractor.tsx
  tgui/packages/tgui/interfaces/common/AccessConfig.jsx
  tgui/packages/tgui/interfaces/common/AccessConfig.tsx
Labels: TG Mirror

#2854 [MIRROR] Fixes AI lag by re-adding idle mode to all AI that was lost with the simple mob to basic mob conversion.
  code/__DEFINES/ai/ai.dm
  code/controllers/subsystem/ai_controllers.dm
  code/datums/ai/_ai_controller.dm
  code/datums/brain_damage/special.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/lavaland/mook/mook_ai.dm
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/unit_tests/mouse_bite_cable.dm
Labels: TG Mirror
