Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-03, with the labels that each got.

#2130 [MIRROR] bodytypes to do with body shape and sprite handling have their own var
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/datums/components/creamed.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/organs/external/_external_organ.dm
  code/modules/surgery/prosthetic_replacement.dm
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_nova/master_files/code/modules/clothing/base_clothes.dm
  modular_nova/master_files/code/modules/clothing/glasses/_glasses.dm
  modular_nova/master_files/code/modules/clothing/head/_head.dm
  modular_nova/master_files/code/modules/clothing/masks/_masks.dm
  modular_nova/master_files/code/modules/mod/modules/_module.dm
  modular_nova/modules/better_vox/code/vox_bodyparts.dm
  modular_nova/modules/bodyparts/code/_mutant_bodyparts.dm
  modular_nova/modules/bodyparts/code/akula_bodyparts.dm
  modular_nova/modules/bodyparts/code/aquatic_bodyparts.dm
  modular_nova/modules/bodyparts/code/lizard_bodyparts.dm
  modular_nova/modules/bodyparts/code/taur_bodyparts.dm
  modular_nova/modules/bodyparts/code/teshari_bodyparts.dm
  modular_nova/modules/bodyparts/code/vox_bodyparts.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_nova/modules/customization/modules/surgery/organs/taur_body.dm
  modular_nova/modules/digitigrade_cybernetics/code/robot_bodyparts.dm
  modular_nova/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_nova/modules/medical/code/wounds/medical.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_uniform.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_nova/modules/synths/code/bodyparts/limbs.dm
  modular_nova/modules/tesh_augments/code/robot_bodyparts.dm
  tff_modular/modules/nabbers/code/nabber_bodyparts.dm
Labels: TG Mirror

#1891 [MIRROR] Antag optin
  code/__DEFINES/~nova_defines/antag_optin_defines.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/cult/cult_objectives.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/examine.dm
  config/nova/config_nova.txt
  modular_nova/master_files/code/modules/mob/living/examine_tgui.dm
  modular_nova/modules/antag_opt_in/code/antag_optin_config.dm
  modular_nova/modules/antag_opt_in/code/antag_optin_preferences.dm
  modular_nova/modules/antag_opt_in/code/job.dm
  modular_nova/modules/antag_opt_in/code/mind.dm
  modular_nova/modules/antag_opt_in/code/objective.dm
  modular_nova/modules/antag_opt_in/code/objective_item.dm
  modular_nova/modules/antag_opt_in/readme.md
  modular_nova/modules/customization/modules/mob/living/silicon/examine.dm
  modular_nova/modules/opposing_force/code/opposing_force_datum.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/antag_optin.tsx
Labels: Stale, Config, Nova Mirror

#2181 [MIRROR] Fixes synth brains getting deleted when gibbed
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/death.dm
Labels: Nova Mirror

#2192 [MIRROR] Adds New Changeling Ability: Hive Head
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  icons/mob/actions/actions_changeling.dmi
  icons/mob/clothing/head/helmet.dmi
  icons/obj/clothing/head/helmet.dmi
  sound/creatures/bee_swarm.ogg
Labels: Sprites, TG Mirror

#2204 [MIRROR] Adds a multi-dimensional bomb payload to the black market.
  code/controllers/subsystem/materials.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/effects/anomalies/anomalies_dimensional.dm
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  modular_nova/master_files/code/modules/cargo/markets/market_items/weapons.dm
Labels: TG Mirror

#2196 MercReaper's commission
  tff_modular/master_files/icons/donator/mob/clothing/head.dmi
  tff_modular/master_files/icons/donator/mob/clothing/suit.dmi
  tff_modular/master_files/icons/donator/obj/clothing/suit.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#2194 [MIRROR] virtual pets
  code/__DEFINES/ai/pets.dm
  code/__DEFINES/dcs/signals/signals_action.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/cleaner.dm
  code/datums/elements/basic_eating.dm
  code/datums/elements/cleaning.dm
  code/datums/emotes.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_mobs.dm
  code/game/objects/items/food/sweets.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/basic/pets/orbie/orbie_abilities.dm
  code/modules/mob/living/basic/pets/orbie/orbie_ai.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
  code/modules/photography/camera/camera.dm
  icons/mob/simple/pets.dmi
  icons/obj/food/food.dmi
  icons/ui_icons/virtualpet/pet_state.dmi
  modular_nova/master_files/code/datums/emotes.dm
  modular_nova/modules/emote_panel/code/emote_panel.dm
  modular_nova/modules/emotes/code/synth_emotes.dm
  sound/items/orbie_level_up.ogg
  sound/items/orbie_notification_sound.ogg
  sound/items/orbie_send_out.ogg
  sound/items/orbie_trick_learned.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosVirtualPet.tsx
Labels: Sprites, TG Mirror

#2102 [MIRROR] Unapologetic Moth Buffs Vol. II: The Ride
  modular_nova/master_files/code/modules/surgery/organs/external/antennae.dm
  modular_nova/modules/customization/modules/surgery/organs/wings.dm
  modular_nova/modules/emotes/code/emotes.dm
  tgstation.dme
Labels: Nova Mirror

#2172 [MIRROR] Allow voting statistics to be hidden
  code/controllers/subsystem/vote.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  code/datums/votes/map_vote.dm
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: TG Mirror

#2175 [MIRROR] Fix rat heart
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
Labels: TG Mirror

#2190 [MIRROR] Logs holosign swatting.
  code/game/objects/structures/holosign.dm
Labels: TG Mirror

#2193 [MIRROR] Temporary bees animate on death and no longer produce corpses
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  code/modules/mob/living/basic/lavaland/hivelord/hivelord.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: TG Mirror, Mirroring conflict

#2188 [MIRROR] Fixes typo 'gladitoral'
  modular_nova/modules/mapping/code/lavaland.dm
Labels: Mirroring conflict, Nova Mirror

#2197 [MIRROR] Fixes bows not loosening their strings once fired
  code/modules/projectiles/guns/ballistic.dm
Labels: TG Mirror

#2199 [MIRROR] Makes shadow eyes sensitive to light
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: TG Mirror

#2200 [MIRROR] Fixes the M-90GL saying that it takes 5.56 when it actually takes .223. (Shush this is the same bullet)
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: TG Mirror

#2203 [MIRROR] bloody spreader now deletes itself once `blood_left` reaches 0
  code/datums/components/bloody_spreader.dm
Labels: TG Mirror

#2205 [MIRROR] Fixes oversight with DROP_BRAIN
  code/modules/mob/living/carbon/death.dm
Labels: TG Mirror, Mirroring conflict

#2206 [MIRROR] Allows dragging from boxes into All-In-One Grinders
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: TG Mirror

#2207 [MIRROR] Fixing the multi-dimensional bomb payload
  code/game/machinery/syndicatebomb.dm
Labels: TG Mirror, Mirroring conflict

#2198 [MIRROR] Removes unused tgui_id var
  code/game/machinery/_machinery.dm
  code/modules/power/monitor.dm
Labels: TG Mirror

#2208 [MIRROR] Fitness Title Change
  code/datums/skills/fitness.dm
Labels: TG Mirror

#2210 [MIRROR] Fixed the floortile crate, adds them to blackmarket
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/cargo/packs/imports.dm
  icons/mob/clothing/back/backpack.dmi
  icons/obj/storage/backpack.dmi
Labels: Sprites, TG Mirror

#2211 [MIRROR] Ghouls can (once again) replace their limbs with meat slabs
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: Nova Mirror

#2212 [MIRROR] Fix early return in airlock engineering override
  modular_nova/modules/aesthetics/airlock/icons/airlocks/abductor/overlays.dmi
  modular_nova/modules/airlock_override/code/airlock_override.dm
Labels: Sprites, Nova Mirror

#2213 [MIRROR] pipebomb
  code/datums/components/crafting/atmospheric.dm
  code/datums/components/crafting/chemistry.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/grenades/ghettobomb.dm
  code/game/objects/items/shrapnel.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/assembly/mousetrap.dm
  icons/obj/weapons/grenade.dmi
Labels: Sprites, TG Mirror

#2209 [MIRROR] adds extra explainer text on updated BB convert objective
  code/modules/antagonists/brother/brother.dm
Labels: TG Mirror

#1989 [MIRROR] Interaction System Update
  modular_nova/modules/interaction_menu/code/interaction_component.dm
  modular_nova/modules/interaction_menu/code/interaction_datum.dm
Labels: Stale, Nova Mirror

#2227 [MIRROR] another dono mask
  modular_nova/master_files/icons/donator/mob/clothing/mask.dmi
  modular_nova/master_files/icons/donator/obj/clothing/masks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, Nova Mirror

#2228 [MIRROR] donator item spellcheck heeheehoohoo
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Mirroring conflict, Nova Mirror

#2214 [MIRROR] Buying the advanced plastic surgery disk now gives you the right disk
  code/modules/uplink/uplink_items/job.dm
Labels: TG Mirror

#2216 [MIRROR] New Shields and Sprites for them
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/crafting/equipment.dm
  code/game/objects/items/shields.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_loneinfiltrator.png
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/obj/weapons/shields.dmi
Labels: Sprites, TG Mirror

#2218 [MIRROR] Ports a couple of of misc fixes
  modular_nova/modules/clock_cult/code/structures/prosperity_prism.dm
  modular_nova/modules/cortical_borer/code/cortical_borer.dm
  modular_nova/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Nova Mirror

#2219 [MIRROR] Ports New Horns From Bubberstation At 1 AM
  modular_nova/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/horns_big.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Sprites, Nova Mirror

#2215 [MIRROR] Don't use turf icons for abilities
  code/datums/actions/mobs/charge.dm
  code/game/objects/items/robot/items/hud.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_abilities.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  icons/mob/silicon/robot_items.dmi
Labels: Sprites, TG Mirror

#2220 [MIRROR] Removes weakref in forensics datum
  code/modules/forensics/_forensics.dm
Labels: TG Mirror

#2222 [MIRROR] Fishes love kronkaine + Examining fishing spots.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/fishing_spot.dm
  code/datums/skills/fishing.dm
  code/game/objects/items/food/bait.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: TG Mirror

#2221 [MIRROR] Pete's corpse no longer eats vines
  code/modules/mob/living/basic/farm_animals/goat/_goat.dm
Labels: TG Mirror

#2217 [MIRROR] Blueshift's toxins wont crater Atmos anymore + Virology gets their cuffs back
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification, Nova Mirror

#2223 [MIRROR] Fixes station trait jobs and bank accounts ignoring the concept of jobs being singletons
  code/datums/station_traits/job_traits.dm
  code/game/machinery/computer/accounting.dm
  code/game/objects/items/cards_ids.dm
Labels: TG Mirror

#2225 [MIRROR] Photocopier butt sprites refactor
  code/__DEFINES/mobs.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/paperwork/photocopier.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/plasmaman_bodyparts.dm
  code/modules/surgery/organs/external/tails.dm
  icons/ass/assalien.png
  icons/ass/asscat.png
  icons/ass/assdrone.png
  icons/ass/assfemale.png
  icons/ass/assgrey.png
  icons/ass/asslizard.png
  icons/ass/assmachine.png
  icons/ass/assmale.png
  icons/ass/assplasma.png
  icons/ass/asspodperson.png
  icons/ass/assslime.png
  icons/mob/butts.dmi
  modular_nova/modules/bodyparts/code/moth_bodyparts.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
Labels: Sprites, TG Mirror

#2224 [MIRROR] Remove 2 instances of duplicate argument names
  code/datums/components/uplink.dm
  code/game/objects/items/storage/storage.dm
  code/modules/lighting/lighting_area.dm
Labels: TG Mirror

#2226 [MIRROR] Makes the meridine medpen not genuinely completely useless by changing the ammoniated mercury to multiver
  modular_nova/modules/deforest_medical_items/code/injectors.dm
Labels: Nova Mirror

#2229 [MIRROR] Splits up a big file in the nukie antagonist folder
  code/modules/antagonists/nukeop/datums/operative.dm
  code/modules/antagonists/nukeop/datums/operative_leader.dm
  code/modules/antagonists/nukeop/datums/operative_lone.dm
  code/modules/antagonists/nukeop/datums/operative_reinforcement.dm
  code/modules/antagonists/nukeop/datums/operative_team.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/nukeop/outfits.dm
  tgstation.dme
Labels: TG Mirror

#2230 [MIRROR] Fixes custom pizzas magically generating dairy products and vegetables.
  code/game/objects/items/food/dough.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/pizza.dm
Labels: TG Mirror

#2231 [MIRROR] makes wooden fencing be on the same layer as regular railing is
  modular_nova/modules/primitive_structures/code/fencing.dm
Labels: Nova Mirror

#2232 [MIRROR] adds ckey to dono item
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Nova Mirror

#2233 [MIRROR] Adds COMPONENT_LIVING_BLOCK_SHOCK
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: TG Mirror

#2236 [MIRROR] Rebalances and adds more ambush-style cling abilities, buffs chameleon skin and adds a new ability! "Darkness Adaptation"
  code/datums/mutations/chameleon.dm
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
  code/modules/antagonists/changeling/powers/chameleon_skin.dm
  code/modules/antagonists/changeling/powers/darkness_adaptation.dm
  icons/mob/actions/actions_changeling.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#2237 [MIRROR] extremely small donator item adjustment
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Nova Mirror

#2235 [MIRROR] You can actually check what fishes can be caught while examining a spot now
  code/datums/components/fishing_spot.dm
Labels: TG Mirror

#2241 [MIRROR] Makes Ethereal Charging Loop Just About Everywhere
  code/modules/power/apc/apc_attack.dm
  code/modules/power/cell.dm
Labels: TG Mirror

#2239 [MIRROR] [MODULAR] fix ATs on crash.dmm
  _maps/RandomRuins/SpaceRuins/nova/crash.dmm
Labels: Map Modification, Nova Mirror

#2238 [MIRROR] Refactors how CI is handled and cleans up signals
  code/__DEFINES/~nova_defines/signals.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living_defense.dm
  modular_nova/modules/indicators/code/combat_indicator.dm
Labels: Nova Mirror

#2242 [MIRROR] Extremely tiny stupid nitpick changes to the smoking room ruin
  _maps/RandomRuins/IceRuins/icemoon_surface_smoking_room.dmm
Labels: Map Modification, TG Mirror

#2243 [MIRROR] Tram tile/bench fixes
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/research/designs/autolathe/engineering_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/transport/tram/tram_floors.dm
  icons/mob/inhands/items/tiles_lefthand.dmi
  icons/mob/inhands/items/tiles_righthand.dmi
  icons/obj/tiles.dmi
Labels: Sprites, TG Mirror

#2244 [MIRROR] Autotucking On Map Load
  code/datums/elements/bed_tucking.dm
  code/game/objects/items/plushes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
Labels: TG Mirror

#2245 [MIRROR] Tram icon cleanup
  code/game/objects/structures/girders.dm
  code/modules/transport/transport_module.dm
  icons/obj/structures.dmi
  icons/obj/tram/tram_wall.dmi
Labels: Sprites, TG Mirror

#2247 [MIRROR] [MODULAR] Character Headshots via files.byondhome.com
  modular_nova/master_files/code/modules/client/preferences/headshot.dm
Labels: Nova Mirror

#2246 [MIRROR] Lots of description changes and grammar fixes for heretics
  code/datums/brain_damage/severe.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/nightwatcher_rebirth.dm
  code/modules/antagonists/heretic/magic/rust_charge.dm
  code/modules/antagonists/heretic/magic/star_blast.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/mining/ores_coins.dm
Labels: TG Mirror

#2255 [MIRROR] A red spy has entered the base: Adds Spies, a roundstart antagonist inspired by Goonstation's Spy-Thief
  code/__DEFINES/antagonists.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/logging.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/uplink.dm
  code/__HELPERS/logging/antagonists.dm
  code/controllers/subsystem/blackmarket.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/mind/antag.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/antagonists/spy/spy.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/antagonists/spy/spy_bounty_handler.dm
  code/modules/antagonists/spy/spy_uplink.dm
  code/modules/cargo/markets/_market.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/hallucination/fake_sound.dm
  code/modules/logging/categories/log_category_uplink.dm
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/pins.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_spy.png
  code/modules/unit_tests/spies.dm
  code/modules/uplink/uplink_items.dm
  code/modules/uplink/uplink_items/ammunition.dm
  code/modules/uplink/uplink_items/bundle.dm
  code/modules/uplink/uplink_items/clownops.dm
  code/modules/uplink/uplink_items/contractor.dm
  code/modules/uplink/uplink_items/device_tools.dm
  code/modules/uplink/uplink_items/implant.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/nukeops.dm
  code/modules/uplink/uplink_items/species.dm
  code/modules/uplink/uplink_items/spy_unique.dm
  code/modules/uplink/uplink_items/stealthy.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
  icons/effects/effects.dmi
  icons/mob/huds/antag_hud.dmi
  modular_nova/modules/aesthetics/storage/storage.dm
  modular_nova/modules/faction/code/mapping/mapping_helpers.dm
  modular_nova/modules/mapping/code/lockers/des_two/command.dm
  modular_nova/modules/mapping/code/lockers/des_two/security.dm
  sound/ambience/antag/spy.ogg
  sound/ambience/license.txt
  strings/antagonist_flavor/spy_objective.json
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoSpy.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/spy.ts
  tgui/packages/tgui/interfaces/SpyUplink.tsx
Labels: Sprites, TG Mirror

#2248 [MIRROR] [no gbp] Lazy Templates can be configured to Place on Top, deathmatch does this now
  code/datums/lazy_template.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  code/modules/deathmatch/deathmatch_maps.dm
Labels: TG Mirror

#2259 [MIRROR] Minor Spy fixes, plus some bonus logging and feedback
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/antagonists/spy/spy_uplink.dm
Labels: TG Mirror, Mirroring conflict

#1953 [MIRROR] Interdyne/DS2 Rising: Revengeance
  _maps/RandomRuins/IceRuins/fluffy/icemoon_interdyne_base_ff.dmm
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/fluffy/lavaland_interdyne_base_ff.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  _maps/shuttles/nova/ruin_interdyne_cargo.dmm
  modular_nova/master_files/code/game/objects/items/storage/job_boxes.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/master_files/icons/mob/clothing/ears.dmi
  modular_nova/master_files/icons/mob/clothing/head.dmi
  modular_nova/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_nova/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_nova/master_files/icons/mob/clothing/suit.dmi
  modular_nova/master_files/icons/mob/clothing/suits/armor.dmi
  modular_nova/master_files/icons/mob/clothing/under/syndicate.dmi
  modular_nova/master_files/icons/mob/clothing/under/syndicate_digi.dmi
  modular_nova/master_files/icons/obj/clothing/hats.dmi
  modular_nova/master_files/icons/obj/clothing/suits.dmi
  modular_nova/master_files/icons/obj/clothing/suits/armor.dmi
  modular_nova/master_files/icons/obj/clothing/under/syndicate.dmi
  modular_nova/modules/Syndie_edits/code/area.dm
  modular_nova/modules/Syndie_edits/code/syndie_edits.dm
  modular_nova/modules/mapping/code/areas/space.dm
  modular_nova/modules/mapping/code/lockers/des_two/command.dm
  modular_nova/modules/mapping/code/mob_spawns.dm
  modular_nova/modules/mapping/code/shuttles.dm
  modular_nova/modules/mapping/code/wardrobes.dm
  modular_nova/modules/mapping/icons/obj/headset.dmi
  modular_nova/modules/mapping/icons/obj/vending.dmi
Labels: Sprites, Map Modification, Nova Mirror

#2249 [MIRROR] fixes extra prob() in living flesh Life proc
  code/modules/mob/living/basic/ruin_defender/flesh.dm
Labels: TG Mirror

#2250 [MIRROR] moon smile effect durations fix
  code/modules/antagonists/heretic/magic/moon_smile.dm
Labels: TG Mirror

#2251 [MIRROR] Medical/improvised gauze icons
  code/game/objects/items/stacks/medical.dm
  icons/obj/medical/stack_medical.dmi
Labels: Sprites, TG Mirror

#2252 [MIRROR] Added a new moth customisation set to the character setup
  code/datums/sprite_accessories.dm
  icons/mob/human/species/moth/moth_antennae.dmi
  icons/mob/human/species/moth/moth_markings.dmi
  icons/mob/human/species/moth/moth_wings.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/moth_wings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Sprites, TG Mirror

#2254 [MIRROR] New clown shoes: Moffers
  code/modules/clothing/shoes/clown.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/feet.dmi
  icons/obj/clothing/shoes.dmi
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
Labels: Sprites, TG Mirror

#2258 [MIRROR] Fixes synths spilling brains when gibbed in deathmatch
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/mob/living/death.dm
  modular_nova/master_files/code/modules/mob/living/carbon/death.dm
  modular_nova/master_files/code/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/surgery/organs/genitals.dm
  modular_nova/modules/interaction_menu/code/interaction_datum.dm
  modular_nova/modules/modular_items/lewd_items/code/verbs.dm
  tgstation.dme
Labels: Nova Mirror

#2260 [MIRROR] Universalizing ruin names
  code/datums/ruins/icemoon.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/map_template_loadverb.dm
Labels: TG Mirror

#2261 [MIRROR] Fixes Spy OD things
  code/modules/antagonists/spy/spy_bounty.dm
Labels: TG Mirror, Mirroring conflict

#2262 [MIRROR] DropDown buttons fix
  tgui/packages/tgui/components/Dropdown.tsx
Labels: TG Mirror

#2263 [MIRROR] Makes the Omen coupon only trigger bad luck once, like it used to
  code/modules/cargo/coupon.dm
Labels: TG Mirror

#2264 [MIRROR] Fixes missing args in a few procs registered to COMSIG_LIVING_ELECTROCUTE_ACT
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
Labels: TG Mirror

#2265 [MIRROR] Fix job time stuff not detecting the database was down.
  code/modules/client/client_procs.dm
Labels: TG Mirror

#2266 [MIRROR] Protected admins can skip 2fa if the db is down.
  code/modules/admin/holder2.dm
Labels: TG Mirror

#2267 [MIRROR] Adds missing items to Robotics crate
  code/modules/cargo/packs/science.dm
Labels: TG Mirror

#2269 [MIRROR] Extremely Minor Delta Morgue Fixes
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Modification, TG Mirror

#2270 [MIRROR] unarmored syndie clothes port
  modular_nova/master_files/code/modules/clothing/under/syndicate.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Nova Mirror

#2275 [MIRROR] Small bible / bullet catcher component code cleanup
  code/datums/components/bullet_intercepting.dm
  code/modules/library/bibles.dm
Labels: TG Mirror

#2271 [MIRROR] Fix shutdown hanging if the db went away. gives shutdowns a time out. improves db shutdown logging
  code/controllers/subsystem/dbcore.dm
Labels: TG Mirror

#2273 [MIRROR] Fix all bibles being carved
  code/modules/library/bibles.dm
Labels: TG Mirror

#2274 [MIRROR] Fixes jank with moving down Zs as a ghost
  code/modules/mob/dead/observer/observer_movement.dm
Labels: TG Mirror

#2276 [MIRROR] Changes animation of status alerts (makes it bounce slightly like Project Zomboid)
  code/_onclick/hud/alert.dm
Labels: TG Mirror

#2277 [MIRROR] Lockers and crates shake when someone is trying to break out of them
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: TG Mirror

#2280 [MIRROR] Prevents polymorph using specific mobs for deleting items/people
  code/modules/clothing/belts/polymorph_belt.dm
  code/modules/spells/spell_types/shapeshift/_shape_status.dm
Labels: TG Mirror

#2253 [MIRROR] Fixes the unusable machine frames in DS2 and Interdyne
  _maps/shuttles/nova/ruin_interdyne_cargo.dmm
Labels: Map Modification, Mirroring conflict, Nova Mirror

#2288 [MIRROR] Arcargo: Balance Pass v2 on the Stock Market
  code/__DEFINES/construction/material.dm
  code/__DEFINES/economy.dm
  code/controllers/subsystem/stock_market.dm
  code/datums/stock_market_events.dm
  code/modules/cargo/materials_market.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: TG Mirror

#2281 [MIRROR] fixes basic mobs with ranged attacks attacking in containers
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
Labels: TG Mirror

#2282 [MIRROR] Makes revenants able to emag medibots (and other basic bots)
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
Labels: TG Mirror

#2284 [MIRROR] Adding a blood brother via the team panel sets it up correctly
  code/modules/admin/antag_panel.dm
  code/modules/antagonists/brother/brother.dm
Labels: TG Mirror

#2285 [MIRROR] Feeds OOC messages back to client if blocked in validate_client()
  code/__DEFINES/client.dm
  code/__HELPERS/clients.dm
  code/modules/client/verbs/ooc.dm
Labels: TG Mirror

#2286 [MIRROR] Unique icons for lock path spells
  code/modules/antagonists/heretic/magic/apetravulnera.dm
  code/modules/antagonists/heretic/magic/ascended_shapeshift.dm
  code/modules/antagonists/heretic/magic/caretaker.dm
  icons/mob/actions/actions_ecult.dmi
Labels: Sprites, TG Mirror

#2287 [MIRROR] refactor db connection timeouts
  code/controllers/subsystem/dbcore.dm
Labels: TG Mirror

#2289 [MIRROR] [MODULAR] Pet Code Improvements + Donator item for Centralsmith
  modular_nova/master_files/icons/mob/donator_pets.dmi
  modular_nova/modules/customization/modules/mob/living/basic/pets/pet_holder.dm
  modular_nova/modules/customization/modules/mob/living/basic/pets/pets_mothroach.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_nova/modules/pet_owner/pet_owner.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/pet_owner.tsx
Labels: Sprites, Mirroring conflict, Nova Mirror

#2290 [MIRROR] Makes some armor that shouldnt be burning immune to being burned
  modular_nova/modules/specialist_armor/code/hardened.dm
  modular_nova/modules/specialist_armor/code/peacekeeper.dm
  modular_nova/modules/specialist_armor/code/sacrificial.dm
Labels: Nova Mirror

#2291 [MIRROR] Alternate job titles such as chef and department security get injected to the manifest normally, and show up as the right department.
  code/controllers/subsystem/job.dm
  code/datums/records/manifest.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/security_officer.dm
Labels: TG Mirror

#2292 [MIRROR] Adds a small cafeteria behind the right wing shutters of the museum.
  _maps/RandomRuins/SpaceRuins/meatderelict.dmm
  _maps/RandomZLevels/museum.dmm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/sound.dm
  code/__DEFINES/time.dm
  code/__DEFINES/traits/sources.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/persistence/piggy_banks.dm
  code/controllers/subsystem/queuelinks.dm
  code/datums/elements/can_shatter.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_items.dm
  code/datums/greyscale/json_configs/piggy_bank.json
  code/datums/materials/basemats.dm
  code/game/area/areas/away_content.dm
  code/game/objects/effects/posters/contraband.dm
  code/game/objects/effects/spawners/random/vending.dm
  code/game/objects/items/busts_and_figurines.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/game/objects/items/piggy_bank.dm
  code/game/objects/items/puzzle_pieces.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/tank_holder.dm
  code/game/sound.dm
  code/modules/food_and_drinks/plate.dm
  code/modules/holiday/holidays.dm
  code/modules/mapfluff/ruins/objects_and_mobs/museum.dm
  code/modules/mapfluff/ruins/spaceruin_code/meatderelict.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/vending/_vending.dm
  code/modules/vending/hotdog.dm
  icons/obj/fluff/general.dmi
  icons/obj/fluff/puzzle_small.dmi
  icons/obj/food/containers.dmi
  icons/obj/machines/vending.dmi
  icons/obj/machines/wallmounts.dmi
  icons/obj/poster.dmi
  modular_nova/modules/implants/code/augments_head.dm
  sound/attributions.txt
  sound/items/rattle1.ogg
  sound/items/rattle2.ogg
  sound/items/rattle3.ogg
  tgstation.dme
  tools/UpdatePaths/Scripts/81465_puzzle machinery.txt
Labels: Sprites, Map Modification, TG Mirror

#2293 [MIRROR] Food Bar Updates, moves it out of the alert "stack" and to the left of mood, makes it more snappy
  code/__DEFINES/alerts.dm
  code/__DEFINES/hud.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/mood.dm
  code/datums/mood_events/needs_events.dm
  code/modules/antagonists/nightmare/nightmare_species.dm
  code/modules/hallucination/fake_alert.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  icons/hud/screen_alert.dmi
  icons/hud/screen_gen.dmi
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
Labels: Sprites, TG Mirror

#2295 [MIRROR] Adds an icon for Deathmatch
  icons/hud/screen_ghost.dmi
Labels: Sprites, TG Mirror

#2294 [MIRROR] Webedit, fixes sanity checks for tackle and wellcheers. (WEBEDIT PR, TESTED IN VSC.)
  code/datums/components/tackle.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: TG Mirror

#2297 [MIRROR] Spider web graphics
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
  _maps/map_files/Deathmatch/mech_madness.dmm
  _maps/map_files/Deathmatch/starwars.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/spiderwebs.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider_subtrees.dm
  code/modules/mob/living/basic/space_fauna/spider/spider_abilities/web.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
  icons/effects/web.dmi
  icons/mob/actions/actions_animal.dmi
  icons/obj/smooth_structures/stickyweb.dmi
  icons/obj/smooth_structures/stickyweb.png
  icons/obj/smooth_structures/stickyweb.png.toml
  icons/obj/smooth_structures/stickyweb_rotated.dmi
  icons/obj/smooth_structures/stickyweb_rotated.png
  icons/obj/smooth_structures/stickyweb_rotated.png.toml
  icons/obj/smooth_structures/stickyweb_spikes.dmi
  icons/obj/smooth_structures/stickyweb_spikes.png
  icons/obj/smooth_structures/stickyweb_spikes.png.toml
  icons/obj/smooth_structures/webwall.dmi
  icons/obj/smooth_structures/webwall.png
  icons/obj/smooth_structures/webwall.png.toml
  icons/obj/smooth_structures/webwall_dark.dmi
  icons/obj/smooth_structures/webwall_dark.png
  icons/obj/smooth_structures/webwall_dark.png.toml
  icons/obj/smooth_structures/webwall_reflector.dmi
  icons/obj/smooth_structures/webwall_reflector.png
  icons/obj/smooth_structures/webwall_reflector.png.toml
  tools/UpdatePaths/Scripts/81839_webs.txt
Labels: Sprites, Map Modification, TG Mirror

#2296 [MIRROR] New Moffers Footstep Sound
  code/modules/clothing/shoes/clown.dm
  sound/effects/footstep/moffstep01.ogg
Labels: TG Mirror

#2299 [MIRROR] Makes Metastation Pharmacy and Chemistry more consistent with other maps.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, TG Mirror

#2300 [MIRROR] Light It Up! - Craftable wall-mounted torches
  code/__HELPERS/global_lists.dm
  modular_nova/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_nova/modules/primitive_structures/code/wall_torch.dm
  modular_nova/modules/primitive_structures/icons/lighting.dmi
Labels: Sprites, Nova Mirror

#2301 [MIRROR] OpenDream TypeMaker Prep
  code/__DEFINES/procpath.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_transformation_simple.dm
  modular_nova/modules/mentor/code/mentorhelp.dm
  modular_nova/modules/mentor/code/mentorsay.dm
  modular_nova/modules/modular_implants/code/soulcatcher/soulcatcher_mob.dm
  modular_nova/modules/panicbunker/code/panicbunker.dm
  modular_nova/modules/verbs/code/looc.dm
Labels: TG Mirror

#2303 [MIRROR] Add ability to swap IDs inside computers
  code/modules/modular_computers/computers/item/computer.dm
  modular_nova/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: TG Mirror

#2304 [MIRROR] Add smooth transition between hidden and visible pipes
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/game/machinery/pipe/construction.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/pipes/pipe_spritesheet_helper.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
  icons/obj/pipes_n_cables/!pipe_gas_overlays.dmi
  icons/obj/pipes_n_cables/!pipes_bitmask.dmi
  icons/obj/pipes_n_cables/pipe_template_pieces.dmi
Labels: Sprites, TG Mirror

#2305 [MIRROR] fix ore vents spawning the wrong wolves and remove simple wolves
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: TG Mirror

#2309 [MIRROR] Fixes female teshari having broken worn icons for certain jumpsuits
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_nova/modules/teshari/code/_teshari.dm
Labels: Nova Mirror

#2310 [MIRROR] Fixes null faction causing tons of runtimes
  _maps/RandomRuins/SpaceRuins/nova/shuttle8532.dmm
Labels: Map Modification, Nova Mirror

#2311 [MIRROR] Add compile option for compiling in `MAP_TEST` mode, which disables common annoyances when testing new maps
  code/__HELPERS/logging/debug.dm
  code/_compile_options.dm
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/minor_mapping.dm
  code/controllers/subsystem/processing/station.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/power/lighting/light.dm
Labels: TG Mirror

#2312 [MIRROR] Let's you talk through action figures, plushies, and toy mechs with `.l` and `.r`. Also a big clean up of `say` because its support for non-mobs was lackluster.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/say.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/components/blob_minion.dm
  code/datums/components/chuunibyou.dm
  code/datums/components/marionette.dm
  code/datums/components/sign_language.dm
  code/datums/elements/toy_talk.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/toy_mechs.dm
  code/game/objects/items/toys.dm
  code/game/say.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/assembly/voice.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/living/basic/space_fauna/netherworld/migo.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/basic/space_fauna/statue/statue.dm
  code/modules/mob/living/brain/brain_say.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/mob_say.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/vending/_vending.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  modular_nova/modules/cortical_borer/code/cortical_borer.dm
  modular_nova/modules/modular_implants/code/soulcatcher/soulcatcher_mob.dm
  tgstation.dme
Labels: TG Mirror

#2313 [MIRROR] Add watering cans and syringes to tram botany
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, TG Mirror

#2318 Another shork plushie
  tff_modular/modules/toys/code/loadout_datum_toys.dm
  tff_modular/modules/toys/code/plushes.dm
  tff_modular/modules/toys/icons/plushes.dmi
  tff_modular/modules/toys/sounds/rrr.ogg
Labels: Sprites

#2314 [MIRROR] [Bugfix] Worn lolipops properly consume reagents
  code/game/objects/items/food/sweets.dm
Labels: Nova Mirror

#2315 [MIRROR] Fixes tgui text input trimming the last char if the input hits the max length
  code/__DEFINES/text.dm
  code/game/objects/items/food/sweets.dm
  code/modules/tgui_input/text.dm
Labels: TG Mirror, Mirroring conflict

#2337 [MIRROR] Fix bridge assistant and veteran advisor not having hud icons
  modular_nova/master_files/icons/mob/huds/hud.dmi
Labels: Sprites, Nova Mirror

#2341 [MIRROR] Bump min compiler version to 515.1627
  .github/alternate_byond_versions.txt
  code/__byond_version_compat.dm
Labels: TG Mirror

#2335 [MIRROR] Uninverts the top left corner of the treatment center in Icebox medbay
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, TG Mirror

#2324 [MIRROR] [no GBP] (webedit) removes a nanomachine pizza box from meat tower
  _maps/map_files/Deathmatch/meatower.dmm
Labels: Map Modification, TG Mirror

#2317 [MIRROR] Giant Qani-Laaca Nerf (Unusable)
  modular_nova/modules/implants/code/augments_head.dm
Labels: Nova Mirror

#2320 [MIRROR] Adds new Lavaland ruin: Colonist Homestead
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_prefab_homestead.dmm
  modular_nova/master_files/code/game/area/areas/ruins/lavaland.dm
  modular_nova/modules/mapping/code/lavaland.dm
Labels: Map Modification, Nova Mirror

#2321 [MIRROR] [MODULAR] Shapeshifter Quirk
  modular_nova/master_files/code/datums/traits/good.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_action.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_quirk.dm
  modular_nova/modules/shapeshifter_quirk/icons/actions_shapeshift.dmi
  tgstation.dme
Labels: Sprites, Nova Mirror

#2323 [MIRROR] Makes mystery boxes funnier by adding some of our stuff to them
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/implants/code/augments_arms.dm
  modular_nova/modules/implants/code/augments_head.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/gunsets.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_nova/modules/modular_weapons/code/overrides/mystery_box_additions.dm
  modular_nova/modules/specialist_armor/code/sacrificial.dm
  tgstation.dme
Labels: Nova Mirror

#2325 [MIRROR] Blesses the codebase with Blahaj
  code/datums/components/crafting/entertainment.dm
  code/datums/components/crafting/tailoring.dm
  code/modules/clothing/suits/costume.dm
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/suits/costume.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/suits/costume.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Sprites, TG Mirror

#2327 [MIRROR] Fixes spies having multi-use autosurgeons
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items/nukeops.dm
  code/modules/uplink/uplink_items/spy_unique.dm
Labels: TG Mirror

#2328 [MIRROR] Fixes forensics hard del
  code/modules/forensics/forensics_helpers.dm
Labels: TG Mirror

#2329 [MIRROR] Fix access management program not updating on ID authentication
  code/modules/modular_computers/file_system/programs/card.dm
Labels: TG Mirror

#2330 [MIRROR] Extends the metric prefixes.
  code/__HELPERS/maths.dm
  code/modules/unit_tests/siunit.dm
Labels: TG Mirror

#2331 [MIRROR] adds EVA to common access
  code/__DEFINES/access.dm
Labels: TG Mirror

#2332 [MIRROR] Chem stun reductions now all use AdjustAllImmobility, and the AllImmobility procs now adjust unconscious
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: TG Mirror

#2333 [MIRROR] Curtains behave like curtains should, by not being a wall
  code/game/objects/structures/watercloset.dm
Labels: TG Mirror

#2334 [MIRROR] Fixes that one id card context runtime
  code/game/objects/items/cards_ids.dm
Labels: TG Mirror

#2338 [MIRROR] Makes wheat and meatwheat wearable
  code/modules/hydroponics/grown/cereals.dm
  icons/mob/clothing/head/hydroponics.dmi
  icons/mob/clothing/mask.dmi
Labels: Sprites, TG Mirror

#2336 [MIRROR] Minor cleanup for machine frames & boulder machines
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/machine_frame.dm
  code/modules/mining/boulder_processing/_boulder_processing.dm
  code/modules/mining/boulder_processing/brm.dm
  code/modules/mining/boulder_processing/refinery.dm
Labels: TG Mirror

#2340 [MIRROR] Shuttle gibbing code improvements
  code/__DEFINES/_flags.dm
  code/_globalvars/bitfields.dm
  code/game/objects/effects/effects.dm
  code/modules/antagonists/wizard/grand_ritual/finales/immortality.dm
  code/modules/mob/living/basic/pets/parrot/poly.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/shuttle/on_move.dm
Labels: TG Mirror

#2342 [MIRROR] Adds more syndie-kits! 3 of them to be exact.
  code/game/objects/items/storage/uplink_kits.dm
Labels: TG Mirror

#2343 [MIRROR] Use a common list for acceptable silo materials
  code/__DEFINES/construction/material.dm
  code/datums/components/material/remote_materials.dm
  code/datums/materials/basemats.dm
  code/game/machinery/recycler.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_silo.dm
  code/modules/mod/modules/modules_general.dm
Labels: TG Mirror

#2348 [MIRROR] Bitrunning 1.5: Secondary Objectives
  _maps/virtual_domains/stairs_and_cliffs.dmm
  code/__DEFINES/access.dm
  code/controllers/subsystem/bitrunning.dm
  code/modules/bitrunning/objects/byteforge.dm
  code/modules/bitrunning/objects/landmarks.dm
  code/modules/bitrunning/objects/loot_box.dm
  code/modules/bitrunning/objects/loot_crate.dm
  code/modules/bitrunning/objects/quantum_console.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/server/util.dm
  code/modules/bitrunning/virtual_domain/domains/abductor_ship.dm
  code/modules/bitrunning/virtual_domain/domains/beach_bar.dm
  code/modules/bitrunning/virtual_domain/domains/bubblegum.dm
  code/modules/bitrunning/virtual_domain/domains/clown_planet.dm
  code/modules/bitrunning/virtual_domain/domains/pipedream.dm
  code/modules/bitrunning/virtual_domain/domains/psyker_zombies.dm
  code/modules/bitrunning/virtual_domain/domains/stairs_and_cliffs.dm
  code/modules/bitrunning/virtual_domain/domains/syndicate_assault.dm
  code/modules/bitrunning/virtual_domain/domains/vaporwave.dm
  code/modules/bitrunning/virtual_domain/domains/xeno_nest.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  code/modules/clothing/head/hat.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  code/modules/unit_tests/bitrunning.dm
  icons/mob/clothing/head/costume.dmi
  icons/mob/inhands/equipment/briefcase_lefthand.dmi
  icons/mob/inhands/equipment/briefcase_righthand.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/storage/case.dmi
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/virtual_domain.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
Labels: Sprites, Map Modification, TG Mirror

#2346 [MIRROR] Warns in VScode about commits to master
  .vscode/settings.json
Labels: TG Mirror

#2344 [MIRROR] Fix mode-toggle examine in simple health analyzers
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: TG Mirror

#2345 [MIRROR] Re-implements reinforcement operative antag datum, adds support cyborg datums
  code/__DEFINES/role_preferences.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/nukeop/datums/operative_reinforcement.dm
Labels: TG Mirror

#2347 [MIRROR] Fixes tts docker
  tools/tts/tts-api/Dockerfile
  tools/tts/tts-api/tts-api.py
Labels: TG Mirror

#2349 [MIRROR] Nerfs flare and glowstick burn durations
  code/game/objects/items/devices/flashlight.dm
Labels: TG Mirror

#2350 [MIRROR] Makes robotic talk use GetVoice for carbons, fixing voice changer issue
  code/modules/mob/living/silicon/silicon_say.dm
Labels: TG Mirror

#2351 [MIRROR] Mini-Nukie Update: The Bulldog is a 2-shot burst fire gun edition (and lone ops get some spare ammo for their bulldog)
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/uplink/uplink_items/nukeops.dm
Labels: TG Mirror

#2352 [MIRROR] Overlay Lighting Color/Intensity Pass
  code/__DEFINES/lighting.dm
  code/__HELPERS/paths/path.dm
  code/datums/components/overlay_lighting.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/song_effects.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/effects/lighting.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/clothing/head/cakehat.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/basic/minebots/minebot.dm
  code/modules/mob/living/basic/space_fauna/ghost.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/mob.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/mod_core.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/paperwork/pen.dm
  code/modules/photography/camera/camera.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/religion/festival/instrument_rites.dm
  code/modules/research/ordnance/doppler_array.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/screenshots/screenshot_high_luminosity_eyes_light_on.png
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/cars/vim.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/durand.dm
Labels: TG Mirror

#2354 [MIRROR] [Modular] Cryo tubes now announce on department channels when heads of staff cryo.
  modular_nova/modules/cryosleep/code/ai.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/cryosleep/code/jobs.dm
  tgstation.dme
Labels: Nova Mirror
