Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-08, with the labels that each got.

#4832 [MIRROR] Fix justice design and mecha melee attack to other mechs.
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
Labels: Fix, TG Mirror

#4835 [MIRROR] Fixes emergency climbing hooks spawning on not multi-z stations.
  code/game/objects/items/storage/boxes/job_boxes.dm
Labels: Fix, TG Mirror

#4836 [MIRROR] Fridge UI adjustments
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgui/packages/tgui/interfaces/SmartVend.tsx
Labels: Fix, Quality of Life, TG Mirror

#4837 [MIRROR] Scanner gate fixes
  code/game/machinery/scanner_gate.dm
Labels: Fix, TG Mirror, Sound changes

#4838 [MIRROR] Machines check their parts during initialization
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: Code modification, Quality of Life, TG Mirror

#4839 [MIRROR] [no gbp] Fixes rods not having sound_vary on
  code/game/objects/items/stacks/rods.dm
Labels: Fix, TG Mirror

#4840 [MIRROR] Sentience potions can now be used without a summon reason
  code/modules/research/xenobiology/xenobiology.dm
Labels: Quality of Life, TG Mirror

#4841 [MIRROR] fix: add support for multibyte chars for `truncate`, `stripped_input`, `tgui_input_text`
  code/__HELPERS/text.dm
  code/modules/tgui_input/text.dm
Labels: TG Mirror

#4842 [MIRROR] Bow Update: Fletching instruction manual, bows using projectile damage multipliers, unhardcoded bow sprites, hot pink death
  code/datums/components/crafting/entertainment.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/granters/crafting/fletching.dm
  code/modules/capture_the_flag/medieval_sim/medisim_classes.dm
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/service.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  icons/obj/toys/dice.dmi
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  modular_nova/master_files/code/modules/projectiles/guns/ballistic/bows/_bow.dm
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/reagent_forging/code/forge_items.dm
  modular_nova/modules/tribal_extended/code/crafting.dm
  modular_nova/modules/tribal_extended/code/recipes.dm
  modular_nova/modules/tribal_extended/code/weapons/bow.dm
  modular_nova/modules/tribal_extended/icons/ammo.dmi
  modular_nova/modules/tribal_extended/icons/dice.dmi
  modular_nova/modules/tribal_extended/icons/projectile.dmi
  tgstation.dme
Labels: Feature, Sprites, Code modification, Fix, TG Mirror

#4843 [MIRROR] [no gbp] adds a hand labeller to wawa pharmacy
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification, Fix, TG Mirror

#4844 [MIRROR] NODE drones now show their wave progress on the sprite
  code/__DEFINES/mining.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/basic/lavaland/node_drone/node_drone.dm
  icons/obj/mining.dmi
Labels: Sprites, Quality of Life, TG Mirror

#4847 [MIRROR] The Soundening: Security and guns edition.
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/holsters.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/reagents/reagent_containers/spray.dm
  sound/items/attributions.txt
  sound/items/grenade_drop.ogg
  sound/items/grenade_pick_up.ogg
  sound/items/gun_drop.ogg
  sound/items/gun_pick_up.ogg
  sound/items/handcuff_finish.ogg
  sound/items/handcuffs_drop.ogg
  sound/items/handcuffs_pick_up.ogg
  sound/items/holster.ogg
  sound/items/pepper_spray_drop.ogg
  sound/items/pepper_spray_pick_up.ogg
  sound/items/plastic_shield_drop.ogg
  sound/items/plastic_shield_pick_up.ogg
  sound/items/stun_baton_drop.ogg
  sound/items/stun_baton_pick_up.ogg
Labels: TG Mirror, Sound changes

#4848 [MIRROR] Fixes echolocation creating the wrong screen overlay state when used with default arguments
  code/datums/components/echolocation.dm
Labels: Fix, TG Mirror

#4849 [MIRROR] [no gbp] Assorted birdshot engineering feedback
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, Fix, TG Mirror

#4853 [MIRROR] Peg limbs can now be removed via surgery
  code/modules/surgery/amputation.dm
Labels: Fix, TG Mirror

#4854 [MIRROR] Unfucks all the broken vendors that I broke [no gbp]
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: TG Mirror

#4798 Balance: prybar only in ruins
  modular_nova/modules/colony_fabricator/code/design_datums/tools.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Balance

#4855 [MIRROR] Fixes flashdark
  code/game/objects/items/devices/flashlight.dm
Labels: Fix, TG Mirror

#4856 [MIRROR] Add some missing mob traits to VV list
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
Labels: TG Mirror, Administration

#4859 [MIRROR] Adds a bronze dimensional theme
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: Feature, TG Mirror

#4846 [MIRROR] Melon Armours, Mock up wizardry, and other cool botany stuff, Gnomes and Gardens style.
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/melee_weapon.dm
  code/datums/components/crafting/tailoring.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/datums/dog_fashion.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/knives.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/head/wizard.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/wizard.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/mob/inhands/items/food_lefthand.dmi
  icons/mob/inhands/items/food_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/weapons/staves_lefthand.dmi
  icons/mob/inhands/weapons/staves_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/mob/simple/corgi_head.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/head/wizard.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/wizard.dmi
  icons/obj/service/hydroponics/growing_vegetables.dmi
  icons/obj/service/hydroponics/harvest.dmi
  icons/obj/service/hydroponics/seeds.dmi
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  icons/obj/weapons/shields.dmi
  icons/obj/weapons/stabby.dmi
  icons/obj/weapons/staff.dmi
  icons/obj/weapons/sword.dmi
Labels: Feature, Sprites, TG Mirror, Mirroring conflict

#4850 [MIRROR] Grass sheath now holds parsnip sabres, fixed grammar for the latter
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
Labels: Fix, TG Mirror, Mirroring conflict, Grammar

#4852 [MIRROR] Durathread robes can now hold botany gear
  code/modules/clothing/suits/wiz_robe.dm
Labels: TG Mirror, Mirroring conflict

#4857 [MIRROR] Fixed rice hat toggling, now toggle uses alt click
  code/modules/clothing/head/hat.dm
Labels: Fix, TG Mirror, Mirroring conflict

#4858 [MIRROR] Bamboo staffs can now be wielded, bostaff no longer disappears forever when wielded
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: Fix, TG Mirror, Mirroring conflict

#4861 [MIRROR] New Uplink UI
  code/__DEFINES/uplink.dm
  code/datums/components/uplink.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/uplink/uplink_items/bundle.dm
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: Quality of Life, TG Mirror

#4862 [MIRROR] Gives one of the canisters in SerenityStation's atmos the correct one
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Map Modification, Fix, Nova Mirror

#4863 [MIRROR] Spies can now set their own custom objectives
  code/modules/antagonists/spy/spy.dm
  tgui/packages/tgui/interfaces/AntagInfoSpy.tsx
Labels: Feature, TG Mirror

#4864 [MIRROR] Chem master containers use DMIcon
  code/modules/reagents/chemistry/machinery/chem_master.dm
  tgui/packages/tgui/interfaces/ChemMaster.tsx
Labels: TG Mirror, Icon changes

#4865 [MIRROR] shoving someone over onto a table and knocking them down causes them to be shove stun vulnerable.
  code/game/objects/structures/tables_racks.dm
Labels: Fix, TG Mirror

#4868 [MIRROR] Stuffing people into contractor pods now unbuckles them first
  code/modules/cargo/supplypod.dm
Labels: Fix, TG Mirror

#4869 [MIRROR] Fixes the darkened coloration of the bug snout & adds a variant where the eyes are layered below hair and eyewear.
  modular_nova/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Sprites, Icon changes, Nova Mirror

#4876 [MIRROR] [READY] Fixes the bee wing's transparency & makes the side sprites a little neater.
  modular_nova/master_files/icons/mob/sprite_accessory/wings.dmi
Labels: Sprites, Icon changes, Nova Mirror

#4877 [MIRROR] Makes cyborg damage more... showy
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  icons/mob/silicon/robots.dmi
Labels: Sprites, Quality of Life, TG Mirror

#4871 [MIRROR] Emotes by default will not be heard through walls
  code/datums/emotes.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  modular_nova/modules/emotes/code/emotes.dm
Labels: TG Mirror, Sound changes

#4873 [MIRROR] Fixes lua function SS13.wait.
  lua/timer.lua
Labels: Fix, TG Mirror, Mirroring conflict

#4872 [MIRROR] Accessory that makes you wet
  modular_nova/master_files/icons/mob/clothing/accessories.dmi
  modular_nova/master_files/icons/obj/clothing/accessories.dmi
  modular_nova/modules/cargo/code/goodies.dm
  modular_nova/modules/customization/modules/clothing/under/accessories.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_accessory.dm
Labels: Feature, Sprites, Nova Mirror

#4878 [MIRROR] Skills are passed down to bitrunning avatars and then back to the original body.
  code/modules/bitrunning/components/avatar_connection.dm
Labels: Quality of Life, TG Mirror

#4866 [MIRROR] Stop clientless lobstrosities from fishing other lobstrosities and the necropolis chest
  code/modules/fishing/sources/_fish_source.dm
Labels: Balance, Fix, TG Mirror

#4879 [MIRROR] (Black)market Telepad (LTSRBT) Update: Restocking Edition
  code/__DEFINES/dcs/signals/signals_market.dm
  code/__DEFINES/market.dm
  code/controllers/subsystem/market.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/cargo/markets/_market.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/hostages.dm
  code/modules/cargo/markets/market_items/stolen_goods.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/cargo/markets/market_uplink.dm
  code/modules/cargo/packs/imports.dm
  code/modules/mob/living/living.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/blackmarket.dm
  code/modules/unit_tests/market.dm
  icons/obj/machines/telecomms.dmi
  tgstation.dme
Labels: Feature, Sprites, Balance, TG Mirror

#4880 [MIRROR] Cleans up the colony core wording in the NRI surplus company.
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: Grammar, Nova Mirror

#4870 [MIRROR] Replaces Auxlua with the byondapi-based Dreamluau
  .github/workflows/run_integration_tests.yml
  .gitignore
  auxlua.dll
  code/__HELPERS/_auxtools_api.dm
  code/__HELPERS/_dreamluau.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/text.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/lua.dm
  code/datums/callback.dm
  code/datums/datum.dm
  code/game/atom/_atom.dm
  code/game/atoms_movable.dm
  code/game/world.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/lua/README.md
  code/modules/admin/verbs/lua/_hooks.dm
  code/modules/admin/verbs/lua/_wrappers.dm
  code/modules/admin/verbs/lua/helpers.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  code/modules/error_handler/error_handler.dm
  dependencies.sh
  dreamluau.dll
  lua/SS13_base.lua
  lua/handler_group.lua
  lua/state.lua
  lua/timer.lua
  tgstation.dme
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/components/TextArea.tsx
  tgui/packages/tgui/interfaces/LuaEditor/CallModal.tsx
  tgui/packages/tgui/interfaces/LuaEditor/ChunkViewModal.tsx
  tgui/packages/tgui/interfaces/LuaEditor/ListMapper.jsx
  tgui/packages/tgui/interfaces/LuaEditor/ListMapper.tsx
  tgui/packages/tgui/interfaces/LuaEditor/Log.jsx
  tgui/packages/tgui/interfaces/LuaEditor/Log.tsx
  tgui/packages/tgui/interfaces/LuaEditor/StateSelectModal.tsx
  tgui/packages/tgui/interfaces/LuaEditor/TaskManager.tsx
  tgui/packages/tgui/interfaces/LuaEditor/index.jsx
  tgui/packages/tgui/interfaces/LuaEditor/index.tsx
  tgui/packages/tgui/interfaces/LuaEditor/types.ts
  tgui/packages/tgui/package.json
  tgui/yarn.lock
  tools/ci/install_auxlua.sh
  tools/ci/install_dreamluau.sh
Labels: TG Mirror, Administration

#4875 [MIRROR] Turfs in lua will no longer null out their reference on deletion.
  code/__DEFINES/_flags.dm
  code/datums/datum.dm
  code/game/atom/_atom.dm
  code/game/turfs/turf.dm
Labels: TG Mirror, Mirroring conflict, Administration

#4882 [MIRROR] Adds the missing linux binaries for Dreamluau
  libdreamluau.so
Labels: Nova Mirror

#4883 [MIRROR] Raising lobstrosities from chrabs is now a component. Adds in tadpoles which become frogs.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/SerenityStation/SerenityStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fish_growth.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/aquarium/fish.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Aquarium.tsx
Labels: Feature, Sprites, Map Modification, Quality of Life, TG Mirror

#4884 [MIRROR] Cable coil and welding tool healing now loops. Fixed heal message not displaying when healing someone else
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: Fix, Quality of Life, TG Mirror

#4887 [MIRROR] Fixes and polish for collars
  modular_nova/modules/customization/modules/clothing/neck/collars.dm
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/kink_collars.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/shockcollar.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
Labels: Fix, Quality of Life, Nova Mirror

#4886 [MIRROR] [READY] Fixes all of the broken medical record consoles in SerenityStation.
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Map Modification, Fix, Nova Mirror

#4885 add skrelluq
  tff_modular/modules/drinks/icons.dmi
  tff_modular/modules/drinks/skrelluq/glass.dm
  tff_modular/modules/drinks/skrelluq/reaction.dm
  tff_modular/modules/drinks/skrelluq/reagent.dm
  tgstation.dme
Labels: Feature, Sprites

#4811 Balance: Voltaic Combat Cyberheart
  code/modules/research/techweb/nodes/research_nodes.dm
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Balance, Code modification

#4889 [MIRROR] Exploit Patch + Forge changes
  modular_nova/modules/reagent_forging/code/anvil.dm
  modular_nova/modules/reagent_forging/code/crafting_bench.dm
  modular_nova/modules/reagent_forging/code/forge.dm
Labels: Fix, Quality of Life, Nova Mirror

#4890 [MIRROR] adds the autopsy scanner to the big deforest medical kit (dufflebag?) allowed items
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
Labels: Quality of Life, Nova Mirror

#4891 [MIRROR] [Non-modular] Hides 'no texture' checkerboard sprite on worn medkits
  code/game/objects/items/storage/medkit.dm
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
Labels: Quality of Life, Nova Mirror

#4894 [MIRROR] Snowglobe Station - A new icemoon station for nova!
  _maps/map_files/Snowglobe/snowglobe.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/snowglobe.json
  config/maps.txt
  modular_nova/modules/automapper/code/area_spawn_subsystem.dm
  modular_nova/modules/mapping/code/areas/station.dm
Labels: Feature, Map Modification, Config, Mirroring conflict, Configs, Config changes, Nova Mirror

#4896 [MIRROR] Snowglobe service guard kiosk windoor access fix
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Fix, Mirroring conflict, Nova Mirror

#4895 [MIRROR] [MODULAR] Fixes Service Guards not being able to use their batons in the Bar Lounge or the Delta Service Promenade.
  modular_nova/modules/goofsec/code/department_guards.dm
Labels: Fix, Nova Mirror

#4897 [MIRROR] Donation Items for SQN
  modular_nova/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Nova Mirror

#4898 [MIRROR] Returns xenohybrid resin heal
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Balance, Nova Mirror

#4899 [MIRROR] [MODULAR] Donator item for CosmicLAER
  modular_nova/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_nova/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/fancy_under/half_leotard.json
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites, Nova Mirror

#4892 [MIRROR] Allows Ghost Roles To Avoid Being From Being Given Random Mutant Parts
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
Labels: Fix, Nova Mirror

#4900 Merc Donated Suits
  tff_modular/master_files/icons/donator/mob/clothing/gloves.dmi
  tff_modular/master_files/icons/donator/mob/clothing/head.dmi
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/mob/clothing/shoes.dmi
  tff_modular/master_files/icons/donator/mob/clothing/under.dmi
  tff_modular/master_files/icons/donator/obj/clothing/cloaks.dmi
  tff_modular/master_files/icons/donator/obj/clothing/gloves.dmi
  tff_modular/master_files/icons/donator/obj/clothing/head.dmi
  tff_modular/master_files/icons/donator/obj/clothing/shoes.dmi
  tff_modular/master_files/icons/donator/obj/clothing/suit.dmi
  tff_modular/master_files/icons/donator/obj/clothing/under.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Feature, Sprites, Fix

#4907 [MIRROR] Adds a flat cardboard box
  modular_nova/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_nova/modules/box_extra/_icon/box.dmi
  modular_nova/modules/box_extra/code/boxes.dm
  modular_nova/modules/customization/__HELPERS/global_lists.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#4908 [MIRROR] miecz ammo name fixes
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/magazines.dm
Labels: Grammar, Nova Mirror

#4910 [MIRROR] Adds a new Loadout Category
  code/__DEFINES/~nova_defines/loadouts.dm
  code/modules/client/preferences.dm
  code/modules/loadout/loadout_menu.dm
  modular_nova/modules/customization/__HELPERS/global_lists.dm
  modular_nova/modules/loadouts/loadout_categories.dm
  modular_nova/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_belts.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/storage.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/index.tsx
Labels: Feature, Nova Mirror

#4904 [MIRROR] [s] Guide on how to mirror Pull requests from TG
  README.md
  modular_nova/mirroring_guide.md
Labels: Mirroring conflict, Nova Mirror

#4909 [MIRROR] Uh oh! The NT board of workplace safety is trying to blacklist the Akhter Co. Prybar!
  modular_nova/master_files/code/modules/cargo/markets/market_items/tool.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Balance, Mirroring conflict, Nova Mirror

#4913 [MIRROR] Extra Plasmaman Envirosuits and Envirosuit Kits
  modular_nova/modules/envirosuit_kits/code/cosmetic_envirosuits.dm
  modular_nova/modules/envirosuit_kits/code/envirosuit_boxes.dm
  modular_nova/modules/envirosuit_kits/readme.md
  modular_nova/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#4915 [MIRROR] Expands the ckey whitelist of the feathered serenity cloak to SomeNetwork
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Quality of Life, Nova Mirror

#4917 [MIRROR] Colonial clothing/pouches/ration in the loadout
  modular_nova/modules/food_replicator/code/storage.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature, Fix, Nova Mirror

#4919 [MIRROR] Fix elevation component jank (fix bed elevation jank, gut old code)
  modular_nova/modules/modular_items/lewd_items/code/lewd_helpers/misc.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_structures/pillow.dm
Labels: Fix, Quality of Life, Nova Mirror

#4920 [MIRROR] Removes emote ignores walls var on some emotes
  modular_nova/modules/emotes/code/emotes.dm
Labels: Sound changes, Nova Mirror

#4922 [MIRROR] Fix clothing that shows anthro ears hiding belt items
  code/__DEFINES/inventory.dm
Labels: Fix, Nova Mirror

#4923 [MIRROR] Improves & GAGS-ifies the Wedding Dress + Adds a Ribbon variant
  modular_nova/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_nova/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_nova/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/pants_shorts_skirts_dresses/wedding_dress.json
  modular_nova/modules/GAGS/json_configs/pants_shorts_skirts_dresses/wedding_dress_ribbon.json
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/autodrobe.dm
Labels: Sprites, Icon changes, Nova Mirror

#4914 [MIRROR] Missed mirror, fixes supermatter sliver extraction
  code/game/objects/items/theft_tools.dm
Labels: Fix, Nova Mirror

#4921 [MIRROR] Akula species (balance) change
  modular_nova/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_nova/master_files/code/modules/jobs/job_types/_job_attire.dm
  modular_nova/master_files/icons/obj/clothing/under/akula.dmi
  modular_nova/modules/akula/code/wetsuit.dm
  modular_nova/modules/customization/modules/clothing/outfits/akula.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_nova/modules/deathmatch/deathmatch_loadouts.dm
Labels: Sprites, Balance, Fix, Nova Mirror

#4926 [MIRROR] Fix some implants not being droppable when removed
  modular_nova/modules/implants/code/augments_arms.dm
  modular_nova/modules/implants/code/augments_head.dm
Labels: Fix, Nova Mirror

#4928 [MIRROR] Loadout customization checks briefcase recursively
  modular_nova/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
Labels: Fix, Nova Mirror

#4929 [MIRROR] Makes medibots ignore wounded synths
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
Labels: Fix, Nova Mirror

#4927 [MIRROR] Fix ashwalker bows being invisible
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
Labels: Map Modification, Fix, Nova Mirror

#4925 [MIRROR] Fix some near-empty smes units on serenity
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Map Modification, Fix, Nova Mirror

#4932 [MIRROR] recipes for produce orders console exclusives
  modular_nova/modules/cook_console_recipes/icons.dmi
  modular_nova/modules/cook_console_recipes/intermediatefoods.dm
  modular_nova/modules/cook_console_recipes/recipes.dm
  tgstation.dme
Labels: Feature, Sprites, Quality of Life, Nova Mirror

#4933 tweak(skrelluq): add some narcotic effect & reduce *wurble count
  tff_modular/modules/drinks/skrelluq/reagent.dm
Labels: Fix

#4901 Вариант блюсек жилета.
  tff_modular/modules/clothing/suit/suit.dm
  tff_modular/modules/clothing/suit/suit.dmi
  tff_modular/modules/clothing/suit/suit_icon.dmi
  tff_modular/modules/redsec/code/vending.dm
Labels: Feature, Sprites

#4934 [MIRROR] Removes Unintended Helmet Light from Prototype Envirosuit
  modular_nova/modules/envirosuit_kits/code/cosmetic_envirosuits.dm
Labels: Fix, Nova Mirror

#4935 [MIRROR] Fix for wings from upstream
  modular_nova/master_files/icons/mob/body_markings/moth_markings.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/moth_wings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings_moth.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Sprites, Fix, Nova Mirror

#4939 Donator item for Romontesque
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/obj/clothing/cloaks.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#4942 [MIRROR] [NONMODULAR]let pAI go walkies - allows pAI to holoform even when in a MODsuit
  code/modules/mod/mod_ai.dm
Labels: Quality of Life, Nova Mirror

#4940 [MIRROR] Milsim Tweaks [after eight whole months of being abandoned]
  _maps/safehouses/ancientmilsim_nova.dmm
  _maps/virtual_domains/ancientmilsim_nova.dmm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/area.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/choice_beacon.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/fog_of_war.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/ghost_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/health_station.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/iv_drip.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/loot_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mine.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mobs.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mod.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/outfit.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/turret.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/virtual_domain.dm
  modular_nova/modules/bitrunning/icons/health_station.dmi
  tgstation.dme
Labels: Feature, Sprites, Map Modification, Balance, Fix, Removal, Nova Mirror

#4931 Making max drones "-1"
  tff_modular/modules/drone/code/droneDispenser.dm
  tgstation.dme
Labels: Code modification, Removal

#4941 [MIRROR] Meowing faster, everything faster! | Reduces global emote CDs drastically.
  modular_nova/modules/emotes/code/emotes.dm
Labels: Quality of Life, Mirroring conflict, Nova Mirror

#4943 [MIRROR] Xenohybrids use the xenomorph blood decals
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/projectiles/projectile.dm
  modular_nova/master_files/icons/effects/x_bleed_overlays.dmi
  modular_nova/master_files/icons/effects/x_blood.dmi
  modular_nova/modules/bodyparts/code/xenohybrid_bodyparts.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Feature, Sprites, Nova Mirror

#4944 [MIRROR] [MODULAR] Species Limbs in Augs+
  modular_nova/modules/customization/modules/client/augment/limbs.dm
  modular_nova/modules/customization/modules/client/augment/species_limbs.dm
  modular_nova/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
  modular_nova/modules/customization/modules/surgery/bodyparts/robot_bodyparts.dm
  tgstation.dme
Labels: Feature, Fix, Nova Mirror

#4945 [MIRROR] Removes two unmaintained modular space ruins
  _maps/RandomRuins/SpaceRuins/nova/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/nova/salvagepost.dmm
  config/spaceruinblacklist.txt
  modular_nova/modules/mapping/code/fluff.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/mapping/icons/obj/fluff.dmi
  modular_nova/modules/mapping/sounds/MachineDeath.ogg
Labels: Sprites, Map Modification, Config, Removal, Nova Mirror

#4946 [MIRROR] Ghostship Ruin redux
  _maps/RandomRuins/SpaceRuins/nova/ghostship.dmm
  config/spaceruinblacklist.txt
  modular_nova/modules/mapping/code/fluff.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/mapping/icons/obj/fluff.dmi
  modular_nova/modules/mapping/sounds/MachineDeath.ogg
Labels: Feature, Sprites, Map Modification, Config, Nova Mirror

#4948 [MIRROR] Fixes medical records not being viewable to observers
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, Nova Mirror

#4949 [MIRROR] Plumbers and toolbelt
  code/game/objects/items/storage/belt.dm
Labels: Quality of Life, Nova Mirror

#4951 [MIRROR] Fixes Malf AI modules affecting protected areas
  code/__HELPERS/~nova_helpers/areas.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_nova/master_files/code/game/objects/items/devices/mod_link.dm
  modular_nova/master_files/code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_nova/modules/ghostcafe/code/ghost_role_spawners.dm
  tgstation.dme
Labels: Fix, Nova Mirror

#4952 [MIRROR] Fixes stone bricks and clay making the metal drop/pickup sound
  code/__DEFINES/~nova_defines/sound.dm
  modular_nova/master_files/code/game/sound.dm
  modular_nova/master_files/sound/items/bricks/attributions.txt
  modular_nova/master_files/sound/items/bricks/brick_drop_1.ogg
  modular_nova/master_files/sound/items/bricks/brick_drop_2.ogg
  modular_nova/master_files/sound/items/bricks/brick_drop_3.ogg
  modular_nova/master_files/sound/items/bricks/brick_pick_up_1.ogg
  modular_nova/master_files/sound/items/bricks/brick_pick_up_2.ogg
  modular_nova/modules/primitive_production/code/ceramics.dm
  modular_nova/modules/stone/code/stone.dm
Labels: Fix, Nova Mirror

#4954 [MIRROR] Removes improper use of a bitflag
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
  modular_nova/modules/customization/modules/clothing/suits/coats.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/latex_catsuit.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/lewd_shoes.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_legs.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_uniform.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/stripper_outfit.dm
Labels: Sprites, Fix, Nova Mirror

#4955 Holiday removal
  code/modules/holiday/holidays.dm
Labels: Removal

#4953 Orange glasses sechud
  tff_modular/modules/redsec_reskins/code/redsec.dm
Labels: Quality of Life

#3912 Кастомные задачи
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/brother/brother.dm
  config/tff/HOW_TO.txt
  config/tff/custom_objectives.json
  tff_modular/modules/custom_objectives/code/custom_objectives.dm
  tgstation.dme
Labels: Config, Test Merged

#4956 Lafrien donator clothing
  code/datums/greyscale/json_configs/wakamo.json
  code/datums/greyscale/json_configs/wakamo_halo.json
  code/datums/greyscale/json_configs/wakamo_halo_worn.json
  code/datums/greyscale/json_configs/wakamo_worn.json
  tff_modular/master_files/icons/donator/mob/clothing/head.dmi
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/obj/clothing/head.dmi
  tff_modular/master_files/icons/donator/obj/clothing/neck.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/grayscale/grayscale.dm
  tff_modular/modules/~donator/loadout.dm
  tgstation.dme
Labels: Sprites

#4960 [MIRROR] Snowglobe touchups.
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Fix, Nova Mirror

#4961 [MIRROR] Fixes a hard del in character directory
  modular_nova/modules/character_directory/code/character_directory.dm
Labels: Nova Mirror

#4962 [MIRROR] Revert "Fixes bedsheets laid incorrectly onto beds (#85837)"
  code/game/objects/items/plushes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
Labels: Fix, Nova Mirror

#4963 [MIRROR] [MODULAR] Digitigrade Augs+ Limb Support
  modular_nova/modules/customization/modules/client/augment/limbs.dm
  modular_nova/modules/customization/modules/client/augment/species_limbs.dm
Labels: Fix, Nova Mirror

#4965 [MIRROR] Mood Buff while on special dorms
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_nova/modules/mapping/code/areas/centcom.dm
Labels: Quality of Life, Nova Mirror

#4966 [MIRROR] Fixes Akula lung oversight
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
Labels: Fix, Nova Mirror

#4967 [MIRROR] Modernizes the SEVA allowed items
  modular_nova/modules/SEVA_suit/code/seva_obj.dm
Labels: Quality of Life, Nova Mirror

#4968 [MIRROR] Buffs the AFAD
  modular_nova/modules/cargo/code/items/AFAD.dm
Labels: Balance, Nova Mirror

#4971 [MIRROR] Ghost cafe kitchen/botany tweaks
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification, Quality of Life, Nova Mirror

#4972 [MIRROR] Neck Gaiter improvements and fixes
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  modular_nova/master_files/code/game/objects/items/storage/job_boxes.dm
  modular_nova/master_files/code/modules/clothing/under/syndicate.dm
  modular_nova/master_files/icons/mob/clothing/mask.dmi
  modular_nova/master_files/icons/obj/clothing/masks.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/masks.dmi
  modular_nova/modules/GAGS/json_configs/gaiter/gaiter.json
  modular_nova/modules/GAGS/json_configs/gaiter/gaiter_worn.json
  modular_nova/modules/Syndie_edits/code/syndie_edits.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/outfit.dm
  modular_nova/modules/contractor/code/datums/midround/outfit.dm
  modular_nova/modules/customization/modules/clothing/masks/gaiter.dm
  modular_nova/modules/deathmatch/deathmatch_loadouts.dm
  modular_nova/modules/interdyne_pharma/mod.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_nova/modules/mapping/code/lockers/des_two/security.dm
  modular_nova/modules/mapping/code/wardrobes.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
  modular_nova/modules/opposing_force/code/equipment/clothing.dm
  modular_nova/modules/primitive_catgirls/code/clothing.dm
  modular_nova/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_nova/modules/primitive_catgirls/icons/clothing_greyscale.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts_Nova/2767_poppy_to_basic.txt
  tools/UpdatePaths/Scripts_Nova/4186_neck_gaiter_repaths.txt
Labels: Feature, Sprites, Map Modification, Fix, Icon changes, Nova Mirror

#4936 Следы для ГБСов и наг
  code/__DEFINES/cleaning.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  icons/effects/footprints.dmi
  modular_nova/modules/taur_mechanics/code/serpentine_taur.dm
  tff_modular/modules/nabbers/code/nabber_bodyparts.dm
Labels: Feature, Sprites, Icon changes

#4959 Bunny suits
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  tff_modular/modules/bunny/code/bunnydrobe.dm
  tff_modular/modules/bunny/code/cargo.dm
  tff_modular/modules/bunny/code/clothing/boots.dm
  tff_modular/modules/bunny/code/clothing/hat.dm
  tff_modular/modules/bunny/code/clothing/neck.dm
  tff_modular/modules/bunny/code/clothing/suit.dm
  tff_modular/modules/bunny/code/clothing/under.dm
  tff_modular/modules/bunny/icons/mob/feet.dmi
  tff_modular/modules/bunny/icons/mob/hats.dmi
  tff_modular/modules/bunny/icons/mob/neck.dmi
  tff_modular/modules/bunny/icons/mob/suit.dmi
  tff_modular/modules/bunny/icons/mob/suit_digi.dmi
  tff_modular/modules/bunny/icons/mob/under.dmi
  tff_modular/modules/bunny/icons/mob/under_digi.dmi
  tff_modular/modules/bunny/icons/obj/feet.dmi
  tff_modular/modules/bunny/icons/obj/hats.dmi
  tff_modular/modules/bunny/icons/obj/neck.dmi
  tff_modular/modules/bunny/icons/obj/suit.dmi
  tff_modular/modules/bunny/icons/obj/under.dmi
  tff_modular/modules/bunny/icons/obj/vending.dmi
  tgstation.dme
Labels: Feature, Sprites

#4964 Новые смайты(Бойкиссеры, клоун, наковальня и вознесение)
  tff_modular/modules/custom_smites/anvil.dm
  tff_modular/modules/custom_smites/floor_clown.dm
  tff_modular/modules/custom_smites/floor_gay_vulpes.dm
  tff_modular/modules/custom_smites/icons/32x192.dmi
  tff_modular/modules/custom_smites/icons/96x96.dmi
  tff_modular/modules/custom_smites/icons/floors.dmi
  tff_modular/modules/custom_smites/rapture.dm
  tff_modular/modules/custom_smites/sounds/cartoon_fall.ogg
  tff_modular/modules/custom_smites/sounds/dont_leave_me_here.ogg
  tff_modular/modules/custom_smites/sounds/floor_clown_ambience.ogg
  tff_modular/modules/custom_smites/sounds/heaven.ogg
  tgstation.dme
Labels: Sprites, Administration

#4974 Правлю название спрайта блексек баллистиков
  tff_modular/master_files/icons/donator/obj/clothing/glasses.dmi
Labels: Sprites, Fix

#4975 [MIRROR] Fixes character directory previews being black screens
  modular_nova/modules/character_directory/code/character_directory.dm
Labels: Fix, Nova Mirror

#4976 [MIRROR] readds improved sutures/mesh to company imports
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: Feature, Nova Mirror

#4980 ReadMe - обновление о контрибьюции
  README.md
Labels: Fix, Icon changes

#4981 [MIRROR] A Junkdrawer of misc fixes (some ports from Skyrat)
  code/datums/mood.dm
  code/modules/antagonists/changeling/changeling.dm
  modular_nova/master_files/code/modules/antagonists/changeling/changeling.dm
  modular_nova/master_files/icons/mob/clothing/suit.dmi
  modular_nova/modules/GAGS/icons/suit.dmi
  modular_nova/modules/huds/code/designs.dm
  modular_nova/modules/huds/code/glasses/HUD_Glasses.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/modular_items/code/modular_glasses.dm
  modular_nova/modules/reagent_forging/code/anvil.dm
  modular_nova/modules/taur_mechanics/code/constrict.dm
Labels: Sprites, Fix, Quality of Life, Nova Mirror
