Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-01, with the labels that each got.

#1413 [MIRROR] Fixes some runtimes in pathfinding (and bonus)
  code/controllers/subsystem/movement/movement_types.dm
  code/modules/admin/verbs/debug.dm
Labels: Fix, TG Mirror

#1414 [MIRROR] Space Ruin - Space hotel Pipenet, Powernet and disposal fixes
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
Labels: Map Modification, Fix, Nova Mirror

#1415 [MIRROR] Saving Private Oversized: Quirk balancing adjustments
  code/controllers/subsystem/processing/quirks.dm
  modular_nova/modules/oversized/code/door.dm
Labels: Balance, Fix, Nova Mirror

#1416 [MIRROR] [s]Fix exploit that allows players to close every single tgui window for all players
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
Labels: TG Mirror

#1417 [MIRROR] Stops qdeleting progressbar /images
  code/datums/progressbar.dm
Labels: Code modification, TG Mirror

#1418 [MIRROR] Fix blobbernaut attack runtime on non-living mobs
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/blobstrains/_reagent.dm
  code/modules/antagonists/blob/blobstrains/debris_devourer.dm
Labels: Fix, TG Mirror

#1419 [MIRROR] Dead code removal, redundant text macros, drying rack now applies TRAIT_FOOD_CHEF_MADE.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/dryable.dm
  code/datums/elements/food/processable.dm
  code/datums/recipe.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgstation.dme
Labels: Fix, TG Mirror

#1420 [MIRROR] Guardian actions now work while sleeping/unconscious
  code/modules/mob/living/basic/guardian/guardian_verbs.dm
Labels: Fix, TG Mirror

#1421 [MIRROR] Fix Fugu applying wall tearer element to the wrong thing
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
Labels: Fix, TG Mirror

#1422 [MIRROR] Make server announcement OOC
  code/__DEFINES/span.dm
  code/__HELPERS/announcements.dm
  code/modules/admin/verbs/admin.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Fix, TG Mirror

#1423 [MIRROR] More (easy) tgui components in typescript
  tgui/packages/tgui/components/BlockQuote.tsx
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Collapsible.jsx
  tgui/packages/tgui/components/Collapsible.tsx
  tgui/packages/tgui/components/ColorBox.jsx
  tgui/packages/tgui/components/ColorBox.tsx
  tgui/packages/tgui/components/Dimmer.tsx
  tgui/packages/tgui/components/Divider.tsx
  tgui/packages/tgui/components/LabeledControls.tsx
  tgui/packages/tgui/components/Modal.tsx
  tgui/packages/tgui/components/NoticeBox.jsx
  tgui/packages/tgui/components/NoticeBox.tsx
  tgui/packages/tgui/components/ProgressBar.tsx
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/AccountingConsole.tsx
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
  tgui/packages/tgui/interfaces/ChemFilter.tsx
  tgui/packages/tgui/interfaces/ColorBlindTester.tsx
  tgui/packages/tgui/interfaces/ExoscannerConsole.tsx
  tgui/packages/tgui/interfaces/LibraryAdmin.tsx
  tgui/packages/tgui/interfaces/LogViewer.tsx
  tgui/packages/tgui/interfaces/MedicalRecords/NoteKeeper.tsx
  tgui/packages/tgui/interfaces/PlayerTicketHistory.tsx
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/AnnouncementTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/MessageViewTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/RequestsConsoleHeader.tsx
  tgui/packages/tgui/interfaces/Uplink/ObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/common/Connections.tsx
Labels: TG Mirror

#1424 [MIRROR] [SEMI-MODULAR] AI Vox Now uses announcments
  code/modules/mob/living/silicon/ai/ai_say.dm
  modular_nova/modules/alt_vox/code/vox_procs.dm
Labels: Fix, Refactoring, Nova Mirror

#1425 [MIRROR] Saves some free lag by removing some in area (in world) loops
  code/__DEFINES/time.dm
  code/controllers/subsystem/job.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/effects/anomalies/anomalies_ectoplasm.dm
  code/game/objects/items/blueprints.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/antagonists/revenant/haunted_item.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/holiday/holidays.dm
  code/modules/holodeck/items.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/apc/apc_power_proc.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/shuttle/arrivals.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/special.dm
  code/modules/shuttle/supply.dm
  modular_nova/modules/advanced_shuttles/code/shuttles.dm
  modular_nova/modules/aesthetics/lightswitch/code/lightswitch.dm
  modular_nova/modules/automapper/code/area_spawn_subsystem.dm
  modular_nova/modules/clock_cult/code/structures/technologists_lectern.dm
Labels: Fix, TG Mirror

#1427 [MIRROR] [Semi-modular] Gives Xeno-hybrids some xeno-organs in trade for high temperature weakness
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Feature, Balance, Nova Mirror

#1428 [MIRROR] Masquerade masks can now be toggled to hide your identity
  modular_nova/modules/customization/modules/clothing/masks/masquerade_mask.dm
  modular_nova/modules/modular_vending/code/autodrobe.dm
Labels: Fix, Nova Mirror

#1429 [MIRROR] Expands the rapid construction fabricator's appliances to be more than four (4) things!
  code/__DEFINES/~skyrat_defines/colony_fabricator_misc.dm
  modular_nova/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_nova/modules/colony_fabricator/code/appliances/co2_cracker.dm
  modular_nova/modules/colony_fabricator/code/appliances/foodricator.dm
  modular_nova/modules/colony_fabricator/code/appliances/recycler.dm
  modular_nova/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_nova/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/machine_boards.dm
  modular_nova/modules/colony_fabricator/code/design_datums/rations_printer_designs/ingredients.dm
  modular_nova/modules/colony_fabricator/code/design_datums/rations_printer_designs/reagents.dm
  modular_nova/modules/colony_fabricator/code/design_datums/rations_printer_designs/seeds.dm
  modular_nova/modules/colony_fabricator/code/design_datums/rations_printer_designs/snacks.dm
  modular_nova/modules/colony_fabricator/code/design_datums/rations_printer_designs/utensils.dm
  modular_nova/modules/colony_fabricator/icons/chemistry_machines.dmi
  modular_nova/modules/colony_fabricator/icons/foodricator.dmi
  modular_nova/modules/colony_fabricator/icons/parts_kits.dmi
  modular_nova/modules/colony_fabricator/icons/portable_machines.dmi
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_nova/modules/paycheck_rations/code/reagents.dm
  modular_nova/modules/paycheck_rations/icons/food_containers.dmi
  tgstation.dme
Labels: Feature, Sprites, Icon changes, Nova Mirror

#1434 [MIRROR] fixes universal scanners being invisible when not set to export scanning
  code/modules/cargo/universal_scanner.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/devices/scanner.dmi
  icons/obj/devices/tool.dmi
Labels: Sprites, Fix, TG Mirror

#1430 [MIRROR] [PORT] [SEMI-MODULAR] [100% FREE LAG] Chat Colors
  code/__DEFINES/~skyrat_defines/colors.dm
  code/datums/chatmessage.dm
  code/modules/mob/mob.dm
  modular_nova/master_files/code/modules/client/preferences.dm
  modular_nova/modules/chat_colors/code/chat_color.dm
  modular_nova/modules/customization/game/objects/items/devices/ttsdevice.dm
  modular_nova/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_nova/modules/synths/code/bodyparts/silicon_alt_brains.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/chat_color.tsx
Labels: Feature, Fix, Nova Mirror

#1435 [MIRROR] Fix incorrect carpet reskin options
  code/game/objects/items/stacks/tiles/tile_types.dm
Labels: Fix, TG Mirror

#1457 [MIRROR] Ancient Milsim Patch
  _maps/virtual_domains/skyrat_ancientmilsim.dmm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/area.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mapping_helpers.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/virtual_domain.dm
  tgstation.dme
Labels: Feature, Map Modification, Balance, Fix, Nova Mirror

#1451 [MIRROR] Fixes netpod healing exploit
  code/modules/bitrunning/components/netpod_healing.dm
Labels: Fix, TG Mirror

#1431 [MIRROR] fixes moon heretic ascension
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/magic/lunatic_track.dm
Labels: Fix, TG Mirror

#1432 [MIRROR] Fixes redundant "integrity"
  tgui/packages/tgui/interfaces/common/AtmosControls.tsx
Labels: Fix, TG Mirror

#1433 [MIRROR] cliffs respect gravity
  code/game/turfs/open/cliff.dm
Labels: Fix, TG Mirror

#1436 [MIRROR] Fixes a runtime in throwthings
  code/controllers/subsystem/throwing.dm
Labels: Fix, TG Mirror

#1437 [MIRROR] Fixes sections not scrolling on hover [no gbp]
  tgui/packages/tgui/components/Section.tsx
Labels: Fix, TG Mirror

#1438 [MIRROR] Birdshot: Prisoners can leave the gulag again
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, Fix, TG Mirror

#1439 [MIRROR] Fixes some observer hard dels
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, TG Mirror

#1440 [MIRROR] Closet screentip clarification
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, TG Mirror

#1441 [MIRROR] [no gbp] adds options for bots to bypass adding unreachable items to their blacklist
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/hygienebot/hygienebot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
Labels: Fix, TG Mirror

#1442 [MIRROR] Logging for amputation shears
  code/modules/surgery/tools.dm
Labels: TG Mirror, Administration

#1443 [MIRROR] Fixes path of moon and path of lock sidepaths, replaces brains with other organs
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  tgstation.dme
Labels: Balance, Quality of Life, TG Mirror

#1444 [MIRROR] Gibtonite ore in ice planet gulags is no longer the volcanic subtype
  code/game/turfs/closed/minerals.dm
Labels: Fix, TG Mirror

#1447 [MIRROR] Icebox: Adds a fire alarm to the upstairs fore hallway.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, Fix, TG Mirror

#1445 [MIRROR] Fixes a punctuation error with Luini Amaretto
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
Labels: TG Mirror, Grammar

#1448 [MIRROR] Fixes some image hard dels, and adds context to qdeleting images.
  code/datums/datum.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Code modification, Fix, TG Mirror

#1449 [MIRROR] Fixes a minor bug in buildmode map export
  code/modules/buildmode/submodes/map_export.dm
Labels: Fix, TG Mirror

#1452 [MIRROR] Resprites onmob cone sprite
  code/modules/clothing/head/cone.dm
  icons/mob/clothing/head/utility.dmi
Labels: Sprites, TG Mirror, Icon changes

#1453 [MIRROR] Adds logging to door remote bolting
  code/game/objects/items/control_wand.dm
Labels: TG Mirror

#1454 [MIRROR] Fixes some character prefs issues
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/RandomizationButton.tsx
Labels: Fix, TG Mirror

#1455 [MIRROR] Refactor all the things - cleans up and standardizes modular lists
  modular_nova/master_files/code/modules/research/designs/limbgrower_designs.dm
  modular_nova/master_files/code/modules/research/designs/medical_designs.dm
  modular_nova/master_files/code/modules/research/designs/misc_designs.dm
  modular_nova/modules/advanced_engineering/code/adv_engineering.dm
  modular_nova/modules/ammo_workbench/code/design_disks.dm
  modular_nova/modules/borg_buffs/code/robot.dm
  modular_nova/modules/borg_buffs/code/snack_dispensor.dm
  modular_nova/modules/borgs/code/mechafabricator_designs.dm
  modular_nova/modules/borgs/code/robot_upgrade.dm
  modular_nova/modules/cargo_teleporter/code/cargo_teleporter.dm
  modular_nova/modules/cellguns/code/medigun_research.dm
  modular_nova/modules/colony_fabricator/code/design_datums/construction.dm
  modular_nova/modules/colony_fabricator/code/design_datums/equipment.dm
  modular_nova/modules/colony_fabricator/code/design_datums/tools.dm
  modular_nova/modules/company_imports/code/objects/hud_glasses.dm
  modular_nova/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_nova/modules/customization/game/objects/items/devices/crutch.dm
  modular_nova/modules/food_replicator/code/rationpacks.dm
  modular_nova/modules/holdingfashion_port/code/bluespace_design.dm
  modular_nova/modules/huds/code/designs.dm
  modular_nova/modules/hyposprays/code/autolathe_designs.dm
  modular_nova/modules/implants/code/medical_designs.dm
  modular_nova/modules/imported_vendors/code/vendor_food.dm
  modular_nova/modules/imported_vendors/code/vendor_snacks.dm
  modular_nova/modules/medical_designs/medical_designs.dm
  modular_nova/modules/microfusion/code/microfusion_designs.dm
  modular_nova/modules/modular_implants/code/nif_research.dm
  modular_nova/modules/modular_items/code/designs.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/shockcollar.dm
  modular_nova/modules/modular_weapons/code/autolathe_designs.dm
  modular_nova/modules/modular_weapons/code/pepperball_gun.dm
  modular_nova/modules/moretraitoritems/code/weapons.dm
  modular_nova/modules/mutants/code/mutant_cure.dm
  modular_nova/modules/mutants/code/mutant_techweb.dm
  modular_nova/modules/polarized_windows/polarizer.dm
  modular_nova/modules/primitive_cooking_additions/code/big_mortar.dm
  modular_nova/modules/primitive_cooking_additions/code/millstone.dm
  modular_nova/modules/primitive_production/code/glassblowing.dm
  modular_nova/modules/resleeving/code/research/resleeving_research.dm
  modular_nova/modules/salon/code/hair_tie.dm
  modular_nova/modules/shotgunrebalance/code/autolathe_design.dm
  modular_nova/modules/space_vines/scythes.dm
  modular_nova/modules/stasisrework/code/medical_designs.dm
  modular_nova/modules/stone/code/stone.dm
  modular_nova/modules/synths/code/bodyparts/ears.dm
  modular_nova/modules/synths/code/bodyparts/eyes.dm
  modular_nova/modules/synths/code/bodyparts/heart.dm
  modular_nova/modules/synths/code/bodyparts/liver.dm
  modular_nova/modules/synths/code/bodyparts/lungs.dm
  modular_nova/modules/synths/code/bodyparts/stomach.dm
  modular_nova/modules/synths/code/bodyparts/tongue.dm
  modular_nova/modules/time_clock/code/console.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
Labels: Refactoring, Nova Mirror

#1456 [MIRROR] Fixes Queen bee not working after being grown in a vat (#80766)
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
Labels: Fix, TG Mirror

#1459 [MIRROR] Ghosts can see info about Wanted Status and Sec Records (#80692)
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life, TG Mirror

#1458 [MIRROR] Delete blackmesa.dmm
  _maps/RandomZLevels/blackmesa.dmm
Labels: Map Modification, Removal, Nova Mirror

#1460 [MIRROR] There Is Always One Thing That Slips By
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Labels: Fix, Mirroring conflict, Nova Mirror

#1461 [MIRROR] lets the organic rations printer actually be printed
  modular_nova/modules/colony_fabricator/code/design_datums/appliances.dm
Labels: Fix, Nova Mirror

#1462 [MIRROR] Fixes the width of the quirk pane
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
Labels: Fix, Nova Mirror

#1463 [MIRROR] General code maint + fixes
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/vending/_vending.dm
  modular_nova/modules/ashwalkers/code/buildings/ash_tendril.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/climax.dm
  tgui/packages/tgui/interfaces/ClockworkSlab.jsx
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Fix, Removal, Nova Mirror

#1464 [MIRROR] Lo(v)re Wins: Mothic Language return
  modular_nova/master_files/icons/misc/language.dmi
  modular_nova/modules/customization/modules/language/_language_holder.dm
  modular_nova/modules/customization/modules/language/chitinclick.dm
  modular_nova/modules/customization/modules/language/mothic.dm
  tgstation.dme
Labels: Feature, Sprites, Icon changes, Nova Mirror

#1465 [MIRROR] Fix hub shuttle time (#80819)
  code/game/world.dm
Labels: Fix, TG Mirror

#1466 [MIRROR] Hub Entry shows Next Map and Shuttle Time, removes Alert #80705
  code/game/world.dm
Labels: Quality of Life, TG Mirror

#1467 [MIRROR] fix tgs version feedbackdb logging (#80774)
  code/controllers/subsystem/server_maint.dm
Labels: TG Mirror

#1468 [MIRROR] conveyors stop conveying whatever exits their z level (#80787)
  code/modules/recycling/conveyor.dm
Labels: Fix, TG Mirror

#1469 [MIRROR] russian mobsters are no longer ridicilously fast (#80788)
  code/modules/mob/living/basic/trooper/abductor.dm
  code/modules/mob/living/basic/trooper/nanotrasen.dm
  code/modules/mob/living/basic/trooper/pirate.dm
  code/modules/mob/living/basic/trooper/russian.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
Labels: Fix, TG Mirror

#1470 [MIRROR] Fixes security batons reporting to cyborgs that they're stunning them (#80781)
  code/game/objects/items/melee/baton.dm
Labels: Fix, TG Mirror

#1472 [MIRROR] Fixes every instance of 'kenetic' in the codebase (#80782)
  _maps/shuttles/whiteship_kilo.dmm
  code/datums/actions/mobs/projectileattack.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/space_fauna/netherworld/migo.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  sound/weapons/kinetic_accel.ogg
  sound/weapons/kinetic_reload.ogg
Labels: Map Modification, TG Mirror, Grammar

#1473 [MIRROR] fixes touching minebots not changing combat mode (#80789)
  code/modules/mob/living/basic/minebots/minebot.dm
Labels: Fix, TG Mirror

#1474 [MIRROR] fixes the eZ-13 MK2 heavy pulse rifle (#80791)
  code/modules/projectiles/projectile/beams.dm
Labels: Fix, TG Mirror

#1476 [MISSED MIRROR] Fixes `COMSIG_LIVING_EARLY_UNARMED_ATTACK` arguments (#80783)
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/other_mobs.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/basic/guardian/guardian_types/explosive.dm
  code/modules/mob/living/basic/guardian/guardian_types/gravitokinetic.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix, TG Mirror

#1426 [MIRROR] Period Era Re-Enactment: Basic autopunctuation
  code/modules/mob/living/living_say.dm
  code/modules/unit_tests/say.dm
  modular_nova/master_files/code/_globalvars/regexes.dm
  modular_nova/master_files/code/_globalvars/text.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#1477 [MIRROR] Fixes runtime which prevents Sentience Fun Balloons working.
  code/modules/admin/fun_balloon.dm
Labels: Fix, TG Mirror

#1478 [MIRROR] Input changes take XII: Responsive small lists (#80720)
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/interfaces/CameraConsole.tsx
  tgui/packages/tgui/interfaces/common/SearchBar.tsx
Labels: Fix, TG Mirror

#1479 [MIRROR] Replaces most useLocalState with useState (#80784)
  tgui/packages/tgui/interfaces/Achievements.jsx
  tgui/packages/tgui/interfaces/AdminFax.jsx
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/ApcControl.jsx
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher.jsx
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/ChemPress.tsx
  tgui/packages/tgui/interfaces/ChemReactionChamber.tsx
  tgui/packages/tgui/interfaces/CommandReport.tsx
  tgui/packages/tgui/interfaces/CommunicationsConsole.jsx
  tgui/packages/tgui/interfaces/EmotePanel.tsx
  tgui/packages/tgui/interfaces/Fabrication/MaterialAccessBar.tsx
  tgui/packages/tgui/interfaces/FishCatalog.tsx
  tgui/packages/tgui/interfaces/FishingCalculator.tsx
  tgui/packages/tgui/interfaces/InfuserBook.tsx
  tgui/packages/tgui/interfaces/LibraryAdmin.tsx
  tgui/packages/tgui/interfaces/LibraryConsole.jsx
  tgui/packages/tgui/interfaces/LightController.tsx
  tgui/packages/tgui/interfaces/LightSpawn.tsx
  tgui/packages/tgui/interfaces/LingMMITalk.tsx
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/MafiaPanel.tsx
  tgui/packages/tgui/interfaces/Mecha/index.tsx
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/index.tsx
  tgui/packages/tgui/interfaces/NtosNotepad.tsx
  tgui/packages/tgui/interfaces/PaperSheet.tsx
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
  tgui/packages/tgui/interfaces/PlayerTicketHistory.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/AntagsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/GamePreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/names.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/Reagents.jsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
  tgui/packages/tgui/interfaces/RequestsConsole/MessageWriteTab.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordPrint.tsx
  tgui/packages/tgui/interfaces/SelectEquipment.jsx
  tgui/packages/tgui/interfaces/Techweb.jsx
  tgui/packages/tgui/interfaces/TramController.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/interfaces/WarrantConsole.tsx
  tgui/packages/tgui/interfaces/common/AccessConfig.jsx
  tgui/packages/tgui/interfaces/common/AtmosHandbook.tsx
  tgui/packages/tgui/interfaces/common/EditableText.tsx
  tgui/packages/tgui/stories/ByondUi.stories.jsx
  tgui/packages/tgui/stories/Flex.stories.jsx
  tgui/packages/tgui/stories/Input.stories.jsx
  tgui/packages/tgui/stories/Tabs.stories.jsx
Labels: TG Mirror

#1481 [MISSED MIRROR] Fixes morgue trays husking corpses, caps freezing burn damage (#80811)
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/organs/internal/_internal_organ.dm
Labels: Fix, TG Mirror

#1482 [MIRROR] Deletes all of assault ops, yippie!
  _maps/map_files/generic/CentCom_nova_z2.dmm
  _maps/shuttles/nova/goldeneye_cruiser.dmm
  _maps/shuttles/nova/pirate_nri_raider.dmm
  code/__DEFINES/sound.dm
  code/game/objects/structures/morgue.dm
  code/modules/admin/admin_verbs.dm
  code/modules/antagonists/nukeop/equipment/pinpointer.dm
  modular_nova/modules/alerts/code/default_announcer.dm
  modular_nova/modules/assault_operatives/code/areas.dm
  modular_nova/modules/assault_operatives/code/armaments/_armament_primary.dm
  modular_nova/modules/assault_operatives/code/armaments/_armament_secondary.dm
  modular_nova/modules/assault_operatives/code/armaments/armament_explosives.dm
  modular_nova/modules/assault_operatives/code/armaments/armament_implants.dm
  modular_nova/modules/assault_operatives/code/armaments/armament_medical.dm
  modular_nova/modules/assault_operatives/code/armaments/armament_modules.dm
  modular_nova/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_nova/modules/assault_operatives/code/armaments/assaultops_armament_station.dm
  modular_nova/modules/assault_operatives/code/assault_operatives.dm
  modular_nova/modules/assault_operatives/code/assault_operatives_outfits.dm
  modular_nova/modules/assault_operatives/code/base_alarm.dm
  modular_nova/modules/assault_operatives/code/dynamic_rulsesets_roundstart.dm
  modular_nova/modules/assault_operatives/code/equipment_items/misc_items.dm
  modular_nova/modules/assault_operatives/code/equipment_items/stealth_mod.dm
  modular_nova/modules/assault_operatives/code/goldeneye.dm
  modular_nova/modules/assault_operatives/code/interrogator.dm
  modular_nova/modules/assault_operatives/code/keycard_doors.dm
  modular_nova/modules/assault_operatives/code/shuttle.dm
  modular_nova/modules/assault_operatives/code/sunbeam.dm
  modular_nova/modules/assault_operatives/code/turrets.dm
  modular_nova/modules/assault_operatives/code/vending_machine.dm
  modular_nova/modules/assault_operatives/icons/alarm.dmi
  modular_nova/modules/assault_operatives/icons/goldeneye.dmi
  modular_nova/modules/assault_operatives/icons/guns/guns.dmi
  modular_nova/modules/assault_operatives/icons/guns/guns_lefthand.dmi
  modular_nova/modules/assault_operatives/icons/guns/guns_righthand.dmi
  modular_nova/modules/assault_operatives/icons/guns/guns_worn.dmi
  modular_nova/modules/assault_operatives/icons/guns/magazines.dmi
  modular_nova/modules/assault_operatives/icons/modsuits/mod.dmi
  modular_nova/modules/assault_operatives/icons/modsuits/wornmod.dmi
  modular_nova/modules/assault_operatives/icons/radial.dmi
  modular_nova/modules/assault_operatives/icons/sunbeam.dmi
  modular_nova/modules/assault_operatives/sound/assault_operatives_greet.ogg
  modular_nova/modules/assault_operatives/sound/goldeneyealarm.ogg
  modular_nova/modules/assault_operatives/sound/icarus_alarm.ogg
  modular_nova/modules/assault_operatives/sound/sunbeam_fire.ogg
  modular_nova/modules/assault_operatives/sound/sunbeam_loop.ogg
  modular_nova/modules/black_mesa/code/armaments/armament_medical.dm
  modular_nova/modules/encounters/code/nri_raiders.dm
  tgstation.dme
Labels: Sprites, Map Modification, Removal, Nova Mirror

#1483 [MIRROR] Hotfixing Interdynes
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
Labels: Map Modification, Fix, Quality of Life, Nova Mirror

#1484 [MIRROR] Properly adds in and tweaks some unused shirts.
  modular_nova/master_files/icons/mob/clothing/underwear.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature, Sprites, Grammar, Nova Mirror

#1485 [MIRROR] [Modular] Adjusts mutant modsuit icon handling, adds digi/muzzle variants of some missing them
  modular_nova/master_files/code/modules/mod/mod_clothes.dm
  modular_nova/master_files/code/modules/mod/modules/_module.dm
  modular_nova/master_files/icons/mob/clothing/modsuit/mod_clothing_mutant.dmi
  modular_nova/master_files/icons/mob/clothing/modsuit/mod_modules_mutant.dmi
  modular_nova/master_files/icons/mob/mod.dmi
Labels: Sprites, Icon changes, Nova Mirror

#1486 [MIRROR] Ports Bubbers Synth QOL for their internal computer and charge change
  modular_nova/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  modular_nova/modules/synths/code/bodyparts/power_cord.dm
Labels: Feature, Balance, Quality of Life, Nova Mirror

#1487 [MIRROR] [Modular] Removes CME entirely from the code
  modular_nova/master_files/code/game/objects/items/devices/anomaly_neutralizer.dm
  modular_nova/modules/cme/code/_cme_defines.dm
  modular_nova/modules/cme/code/cme.dm
  modular_nova/modules/cme/icons/cme_effect.dmi
  modular_nova/modules/cme/readme.md
  modular_nova/modules/cme/sound/cme.ogg
  modular_nova/modules/cme/sound/cme_warning.ogg
  modular_nova/modules/ices_events/code/ICES_event_config.dm
  tgstation.dme
Labels: Sprites, Removal, Nova Mirror

#1488 [MIRROR] vents that are turned off animate once
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  icons/obj/machines/atmospherics/unary_devices.dmi
Labels: Sprites, Fix, TG Mirror

#1491 [MIRROR] Add dominatrix borg module to lustwish
  modular_nova/modules/borgs/code/robot_upgrade.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Feature, Mirroring conflict, Nova Mirror

#1492 [MIRROR] Makes SMES deconstructible normally again | Adds pre-charged variants of the stationary batteries for mappers
  modular_nova/modules/colony_fabricator/code/machines/power_storage_unit.dm
Labels: Code modification, Fix, Quality of Life, Nova Mirror

#1493 [MIRROR] Jetpack Joyride | Makes Wyloms throw small users back when shot
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_nova/modules/modular_weapons/code/gun_launches_little_guys_element.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#1494 [MIRROR] Cache heretic delusion icon so it doesn't call `getFlatIcon` li ke 600 times a life tick or something
  code/modules/hallucination/delusions.dm
Labels: Fix, TG Mirror

#1495 [Manual Mirror] Nova PR 364
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/virtual_domains/clown_planet.dmm
  code/__HELPERS/visual_effects.dm
  code/controllers/subsystem/modular_computers.dm
  code/datums/components/crafting/tailoring.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/cargo/packs/emergency.dm
  html/changelogs/AutoChangeLog-pr-80622.yml
  html/changelogs/AutoChangeLog-pr-80712.yml
  html/changelogs/AutoChangeLog-pr-80718.yml
  html/changelogs/AutoChangeLog-pr-80771.yml
  html/changelogs/AutoChangeLog-pr-80793.yml
  html/changelogs/AutoChangeLog-pr-80795.yml
  html/changelogs/AutoChangeLog-pr-80801.yml
  html/changelogs/AutoChangeLog-pr-80803.yml
  html/changelogs/AutoChangeLog-pr-80810.yml
  tgui/packages/tgui/components/VirtualList.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/AirAlarm.tsx
  tgui/packages/tgui/interfaces/CommunicationsConsole.jsx
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: Map Modification

#1498 [MIRROR] Makes deployable thermomachines correctly update their pipe direction when placed down
  modular_nova/modules/colony_fabricator/code/machines/thermomachine.dm
Labels: Fix, Nova Mirror

#1500 [MIRROR] cuffbusters - wirecutter-mode powered drivers can snip cablecuffs/zipties
  modular_nova/modules/colony_fabricator/code/tools/tools.dm
Labels: Quality of Life, Nova Mirror

#1505 [MIRROR] Fixes Cameras views on clients 515.1615 or greater (#80818)
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Labels: Fix, TG Mirror

#1497 [MIRROR] Cleanup and additions to cyborg modules
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_nova/modules/borg_buffs/code/robot.dm
Labels: Feature, Removal, Nova Mirror

#1499 [MIRROR] Removes the ability for shocks to stop your heart
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance, Nova Mirror

#1503 [MIRROR] Six shots, more than enough to kill anything that moves | Removes the detective revolver sprite override
  modular_nova/modules/aesthetics/guns/code/guns.dm
  modular_nova/modules/aesthetics/guns/icons/guns.dmi
Labels: Sprites, Icon changes, Nova Mirror

#1504 [MIRROR] Makes all three sol rifles more visually distinct from one another, and removes .40 sol drum magazines
  modular_nova/modules/black_mesa/code/armaments/_armament_primary.dm
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns48x.dmi
Labels: Sprites, Removal, Mirroring conflict, Icon changes, Nova Mirror

#1512 [MIRROR] [MODULAR] Chat color tweaks!
  modular_nova/modules/chat_colors/code/chat_color.dm
Labels: Quality of Life, Nova Mirror

#1510 [MIRROR] Runechat color now goes by voice rather than name
  code/datums/chatmessage.dm
  code/game/atom/atom_examine.dm
  code/game/say.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
Labels: Fix, TG Mirror

#1508 [MIRROR] Correctly offsets bayonets on pipeguns
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix, TG Mirror

#1509 [MIRROR] Make list clear nulls faster
  code/__HELPERS/_lists.dm
Labels: TG Mirror

#1511 [MIRROR] Fixes borg polymorph
  code/modules/mob/living/brain/MMI.dm
Labels: Fix, TG Mirror

#1514 [MIRROR] teshari arm bands
  modular_nova/master_files/icons/mob/clothing/species/teshari/accessories.dmi
Labels: Feature, Sprites, Nova Mirror

#1513 [MIRROR] Fixing a potential issue with liquid turfs
  modular_nova/modules/liquids/code/liquid_systems/liquid_controller.dm
  modular_nova/modules/liquids/code/liquid_systems/liquid_turf.dm
Labels: Nova Mirror

#1515 [MIRROR] Adds a Debug command to stop all weather.
  code/controllers/subsystem/weather.dm
  code/modules/admin/admin_verbs.dm
Labels: TG Mirror, Administration

#1534 [MIRROR] Improves popper/dropdown performance
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.jsx
  tgui/yarn.lock
Labels: Fix, TG Mirror

#1516 [MIRROR] Fix bad assumption in syndicate teleporter code
  code/datums/chatmessage.dm
  code/game/objects/items/teleportation.dm
Labels: TG Mirror, Mirroring conflict

#1517 [MIRROR] FIxes being unable to heal constructs with certain cult spells
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_items.dm
Labels: Fix, TG Mirror

#1518 [MIRROR] Fix badass balloon ghost alert passing the wrong thing to it
  code/modules/uplink/uplink_items/badass.dm
Labels: Fix, TG Mirror

#1519 [MIRROR] Fixes chameleon hooded suits not making chameleon hats into chameleon hoods
  code/modules/clothing/chameleon/chameleon_action_subtypes.dm
Labels: Fix, TG Mirror

#1520 [MIRROR] Fixes improper use of audible_message
  code/datums/diseases/advance/symptoms/fire.dm
Labels: TG Mirror

#1521 [MIRROR] Fixes Blood Drunk Miner (Hunter) dash runtime
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
Labels: Fix, TG Mirror

#1522 [MIRROR] Fixes weird use of `repeat_string` to try to loop over something in Ringleader's Rise spell
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
Labels: Fix, TG Mirror

#1523 [MIRROR] Fix supermatter component runtime on non-supermatters
  code/datums/components/supermatter_crystal.dm
Labels: TG Mirror

#1524 [MIRROR] Fixed runtime from unowned cooldown actions (carp rift)
  code/datums/actions/cooldown_action.dm
Labels: TG Mirror

#1525 [MIRROR] Fixes the contractor program being on the syndicate store
  code/modules/modular_computers/file_system/programs/antagonist/contractor_program.dm
Labels: Fix, TG Mirror

#1526 [MIRROR] Nightmare's Light Eater Gets "Critical Hits" (See Inside)
  code/modules/antagonists/nightmare/nightmare_equipment.dm
  tgui/packages/tgui/interfaces/AntagInfoNightmare.tsx
Labels: Balance, TG Mirror

#1527 [MIRROR] Adds missing light switch/fire alarm to Icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, Fix, TG Mirror

#1528 [MIRROR] Fixed healing simplemobs with medical stacks + grammar/formatting/user feedback
  code/game/objects/items/stacks/medical.dm
Labels: Fix, TG Mirror, Grammar

#1529 [MIRROR] Makes BSA logging easier to find
  code/modules/station_goals/bsa.dm
  modular_nova/modules/bsa_overhaul/code/bsa_cannon.dm
Labels: TG Mirror, Administration

#1531 [MIRROR] [MODULAR] Fixes borg temp ftext overlay + popout window
  modular_nova/modules/borgs/code/update_icons.dm
  modular_nova/modules/customization/modules/mob/living/living.dm
  modular_nova/modules/customization/modules/mob/living/silicon/topic.dm
  modular_nova/modules/indicators/code/combat_indicator.dm
Labels: Fix, Nova Mirror

#1532 [MIRROR] SS14 Liquid Plasma Sprite
  icons/turf/floors.dmi
Labels: Sprites, TG Mirror, Icon changes

#1533 [MIRROR] Autopunctuation improvements: Now with correctly-handled chat markdown!
  modular_nova/master_files/code/_globalvars/regexes.dm
  modular_nova/master_files/code/_globalvars/text.dm
Labels: Fix, Nova Mirror

#1535 [MIRROR] Adds sanity checks to `/obj/projectile/moon_parade`
  code/modules/antagonists/heretic/magic/moon_parade.dm
Labels: Fix, TG Mirror

#1536 [MIRROR] Futureproofs the nodrop check added in #80673
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Code modification, TG Mirror

#1538 [MIRROR] Ports over the recent undershirt resprite.
  modular_nova/master_files/icons/mob/clothing/underwear.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature, Sprites, Icon changes, Nova Mirror

#1539 [MIRROR] Makes placing plating on lava-proof rods delete the rods and not break lighting on that tile for the rest of the round
  code/game/objects/structures/lattice.dm
Labels: Code modification, Fix, Quality of Life, TG Mirror

#1540 [MIRROR] Fixes the deployable component rotating things it isnt supposed to
  code/datums/components/deployable.dm
Labels: Fix, TG Mirror

#1541 [MIRROR] Id context fix
  code/game/objects/items/cards_ids.dm
Labels: Fix, Quality of Life, TG Mirror

#1542 [MIRROR] Fixes there being 3 progressbars when welding self as a synth
  code/game/objects/items/tools/weldingtool.dm
  modular_nova/master_files/code/game/objects/items/tools/weldingtool.dm
Labels: Fix, Nova Mirror

#1543 [MIRROR] Makes lizard wine (and some other crafting menu drink recipe drinks) produce their intended reagents
  code/datums/components/crafting/crafting.dm
Labels: Fix, TG Mirror

#1544 [MIRROR] Significantly improves forged armor's worn sprites
  modular_nova/modules/reagent_forging/code/crafting_bench.dm
  modular_nova/modules/reagent_forging/code/crafting_bench_recipes.dm
  modular_nova/modules/reagent_forging/code/forge_clothing.dm
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_digi.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_newvox.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_oldvox.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_teshari.dmi
  modular_nova/modules/reagent_forging/icons/obj/forge_clothing.dmi
Labels: Sprites, Removal, Icon changes, Nova Mirror

#1545 [MIRROR] Makes chemical reactions that need a certain container, but accept subtypes of that container, actually work again
  code/modules/reagents/chemistry/holder/reactions.dm
  modular_nova/master_files/code/modules/client/preferences/brain.dm
  modular_nova/modules/customization/modules/client/augment/limbs.dm
  modular_nova/modules/synths/code/bodyparts/brain.dm
Labels: Fix, TG Mirror

#1546 [MIRROR] Tramstation utilities routing adjustments
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, Fix, Quality of Life, TG Mirror

#1570 [MIRROR] Partially reverts popper component [no gbp]
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.tsx
  tgui/yarn.lock
Labels: Fix, TG Mirror

#1548 [MIRROR] Update byond version for ci. Makes unit tests 30 seconds faster.
  .tgs.yml
  dependencies.sh
Labels: TG Mirror

#1549 [MIRROR] Fixes react version warning
  tgui/.eslintrc.yml
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/renderer.ts
Labels: TG Mirror

#1550 [MIRROR] [No GBP] Fixes all borg apparatus-type tools
  code/game/objects/items/robot/items/storage.dm
Labels: Fix, TG Mirror

#1551 [MIRROR] Headslug Eggs Work Again + More Consistent Timing
  code/modules/antagonists/changeling/headslug_eggs.dm
  code/modules/mob/living/basic/space_fauna/changeling/headslug.dm
Labels: Fix, TG Mirror

#1552 [MIRROR] Fixes the "Saw this admin message" button not working
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
Labels: TG Mirror, Administration

#1553 [MIRROR] Peacock Tail
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Nova Mirror

#1554 [MIRROR] [MODULAR] Removes Arbitrary Loadout Restrictions
  modular_nova/modules/customization/modules/clothing/head/head.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature, Quality of Life, Nova Mirror

#1555 [MIRROR] Chem Heater with empty buffers can be refilled again
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Fix, TG Mirror

#1558 [MIRROR] Adds Combat Button to Living HUD (Simple + Basic Mob HUD)
  code/_onclick/hud/living.dm
Labels: Quality of Life, TG Mirror

#1559 [MIRROR] Previous Blueshift edits + adds a forge
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  modular_nova/modules/mapping/code/areas/station.dm
  modular_nova/modules/mapping/icons/areas/areas_station.dmi
Labels: Feature, Sprites, Map Modification, Balance, Nova Mirror

#1560 [MIRROR] Fixes Rat King's Abilities To No Longer Require Two Clicks Again
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat_actions.dm
Labels: Fix, TG Mirror

#1561 [MIRROR] Over(sized) and Under: Oversized combat adjustments
  code/__DEFINES/~nova_defines/combat.dm
  modular_nova/modules/oversized/code/oversized_quirk.dm
Labels: Balance, Nova Mirror

#1563 [MIRROR] fixes null plane debuggers for admins
  code/modules/admin/holder2.dm
Labels: TG Mirror

#1564 [MIRROR] Fixes two minute grand ritual things
  code/modules/antagonists/wizard/grand_ritual/finales/grand_ritual_finale.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
Labels: Fix, TG Mirror

#1565 [MIRROR] Fixes round event controller pirate spawns
  code/modules/antagonists/pirate/pirate_event.dm
Labels: Fix, TG Mirror

#1566 [MIRROR] the fugu gland now uses `update_transform` rather than scale transform directly.
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
Labels: Fix, TG Mirror

#1567 [MIRROR] Fix Tramstation sign/missing power cable
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, Fix, TG Mirror

#1569 [MIRROR] Eldritch paining cleanup
  code/modules/antagonists/heretic/items/eldritch_painting.dm
Labels: Fix, TG Mirror

#1557 [MIRROR] [MODULAR] Resprites and sorts Nova underwear for more consistency and parity with TG
  modular_nova/master_files/icons/mob/clothing/underwear.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/spines.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/bras.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/socks.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/undershirts.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/underwear.dm
  tgstation.dme
Labels: Feature, Sprites, Mirroring conflict, Icon changes, Nova Mirror

#1571 [MIRROR] [MODULAR] porting digi-cybernetics
  modular_nova/modules/digitigrade_cybernetics/code/all_nodes.dm
  modular_nova/modules/digitigrade_cybernetics/code/limbs.dm
  modular_nova/modules/digitigrade_cybernetics/code/mechfabricator_designs.dm
  modular_nova/modules/digitigrade_cybernetics/code/robot_bodyparts.dm
  modular_nova/modules/digitigrade_cybernetics/icons/advanced_digitigrade_parts.dmi
  modular_nova/modules/digitigrade_cybernetics/icons/digitigrade_parts.dmi
  tgstation.dme
Labels: Feature, Sprites, Icon changes, Nova Mirror

#1572 [MIRROR] Better errors for adding element to qdeling datum
  code/datums/elements/_element.dm
Labels: TG Mirror

#1573 [MIRROR] Lawyer badge now points instead of giving a message in chat
  code/modules/clothing/under/accessories/badges.dm
Labels: Quality of Life, TG Mirror

#1575 [MIRROR] fix bileworm ai going insane after eating someone
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_ai.dm
Labels: Fix, TG Mirror

#1585 [MIRROR] [MODULAR] porting teshari cybernetics
  modular_nova/modules/tesh_augments/code/all_nodes.dm
  modular_nova/modules/tesh_augments/code/limbs.dm
  modular_nova/modules/tesh_augments/code/mechfabricator_designs.dm
  modular_nova/modules/tesh_augments/code/robot_bodyparts.dm
  modular_nova/modules/tesh_augments/icons/advanced_augments_teshari.dmi
  modular_nova/modules/tesh_augments/icons/augments_teshari.dmi
  modular_nova/modules/tesh_augments/icons/sbipc_raptor.dmi
  modular_nova/modules/tesh_augments/icons/surplus_augments_teshari.dmi
  modular_nova/modules/tesh_augments/readme.md
  tgstation.dme
Labels: Feature, Sprites, Icon changes, Nova Mirror

#1595 [MIRROR] New Ore Silo UI
  code/datums/components/material/remote_materials.dm
  code/modules/mining/machine_silo.dm
  tgui/packages/tgui/interfaces/Fabrication/MaterialAccessBar.tsx
  tgui/packages/tgui/interfaces/OreSilo.tsx
Labels: TG Mirror, Refactoring

#1579 [MIRROR] Refactors pod launcher UI
  tgui/packages/tgui/interfaces/CentcomPodLauncher.jsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/DelayHelper.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodBays.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodLaunch.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodSounds.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodStatusPage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PresetsPage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ReverseMenu.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/StylePage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Tabs.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Timing.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ViewTabHolder.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/hooks.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/index.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
Labels: TG Mirror

#1578 [MIRROR] Hub shows if restarting, starting, time to start; Time is more accurate
  code/game/world.dm
Labels: Code modification, TG Mirror

#1577 [MIRROR] [NO-GBP] Fixes radshelter not radprotecting against nebula storm
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix, TG Mirror

#1576 [MIRROR] Remove unused `output` var from `sql_message_system.dm`
  code/modules/admin/sql_message_system.dm
Labels: TG Mirror
