Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-02, with the labels that each got.

#1769 [MIRROR] Bumps CI running byond version to latest
  .tgs.yml
  dependencies.sh
Labels: TG Mirror

#1770 [MIRROR] Removes overly optimistic warn on byond version
  code/controllers/globals.dm
Labels: TG Mirror

#1682 [PORT] "Frozen Moonlight" Interdyne
  _maps/RandomRuins/IceRuins/fluffy/icemoon_interdyne_base_ff.dmm
  _maps/RandomRuins/LavaRuins/fluffy/lavaland_interdyne_base_ff.dmm
  modular_nova/modules/mapping/code/icemoon.dm
  modular_nova/modules/mapping/code/lavaland.dm
  tff_modular/modules/interdyne-remap/interdyne.dm
  tgstation.dme
Labels: Map Modification, Test Merged

#1772 [MIRROR] Fixes some issues with slime feeding
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: TG Mirror

#1773 [MIRROR] Icebox service changes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, TG Mirror

#1774 [MIRROR] Fixes being able to flip holographic tables into reality and harvest them for materials
  modular_nova/modules/tableflip/code/flipped_table.dm
Labels: Nova Mirror

#1775 [MIRROR] Pirate-themed guns now fit on pirate clothes
  code/modules/clothing/suits/costume.dm
Labels: TG Mirror

#1776 [MIRROR] Fix Ore Vent's well being on improper plane
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: TG Mirror

#1777 [MIRROR] northstar mail sorting room access and door nitpick
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Modification, TG Mirror

#1780 [MIRROR] Fixes Cult voting for a leader
  code/__DEFINES/polls.dm
  code/controllers/subsystem/polling.dm
  code/datums/candidate_poll.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_comms.dm
Labels: TG Mirror

#1781 [MIRROR] Station Goals are now handled by SSstation instead of a global list
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/processing/station.dm
  code/controllers/subsystem/ticker.dm
  code/game/machinery/satellite/satellite_control.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/generate_goals.dm
  code/modules/station_goals/meteor_shield.dm
  code/modules/station_goals/station_goal.dm
  modular_nova/master_files/code/game/gamemodes/dynamic.dm
  modular_nova/modules/central_command_module/code/computers/station_goal_computer.dm
Labels: TG Mirror

#1782 [MIRROR] [SEMI-MODULAR] GAGS-based Camo Shorts
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  modular_nova/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_nova/master_files/icons/mob/clothing/under/shorts_pants_shirts.dmi
  modular_nova/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_nova/master_files/icons/obj/clothing/under/shorts_pants_shirts.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/pants_shorts_skirts_dresses/camo_pants.json
Labels: Sprites, Nova Mirror

#1783 [MIRROR] Refactor jukebox, jukebox datum, now jukebox audio is positional. And it fully respects deaf people.
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
  code/datums/components/jukebox.dm
  code/game/machinery/dance_machine.dm
  code/modules/mod/modules/modules_maint.dm
  modular_nova/modules/jukebox/code/dance_machine.dm
  modular_nova/modules/jukebox/code/jukebox_subsystem.dm
  modular_nova/modules/jukebox/icons/stationobjs.dmi
  modular_nova/modules/jukebox/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/Jukebox.tsx
Labels: Sprites, Map Modification, TG Mirror

#1784 [MIRROR] Mech wire panels can no longer be accessed while the mech is occupied.
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: TG Mirror

#1785 [MIRROR] Lathes no use power to print piecemeal AND respect area.requires_power
  code/game/machinery/autolathe.dm
  code/modules/power/power.dm
  code/modules/research/machinery/_production.dm
Labels: TG Mirror

#1786 [MIRROR] Fix teleportation putting you outside of reservations
  code/datums/helper_datums/teleport.dm
Labels: TG Mirror

#1788 [MIRROR] Fixes copy pasted arg in robocontrol app
  code/modules/modular_computers/file_system/programs/robocontrol.dm
Labels: TG Mirror

#1789 [MIRROR] Bit of reference handling for custom food holders
  code/datums/components/customizable_reagent_holder.dm
Labels: TG Mirror

#1790 [MIRROR] New Experimentor UI
  code/modules/research/experimentor.dm
  tgui/packages/tgui/interfaces/Experimentator.tsx
Labels: TG Mirror

#1791 [MIRROR] Adds a small chance to be a smartass when affected by Voice of God
  code/datums/voice_of_god_command.dm
Labels: TG Mirror

#1792 [MIRROR] Exosuit-mounted RCD now works like the handheld version
  code/__DEFINES/construction/rcd.dm
  code/__DEFINES/mecha.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RHD.dm
  code/game/turfs/open/floor/plating.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
Labels: TG Mirror

#1795 [MIRROR] Fix robotic voicebox tongue using the wrong proc.
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: TG Mirror

#1796 [MIRROR] fixes the most severe of grammar mistakes, the greatest fault
  modular_nova/modules/goofsec/code/solfed_clothing.dm
Labels: Nova Mirror

#1798 [MIRROR] Fixes Mob Action Cooldowns (Ash Drake)
  code/datums/actions/mobs/assume_form.dm
  code/datums/actions/mobs/defensive_mode.dm
  code/datums/actions/mobs/fire_breath.dm
Labels: TG Mirror

#1800 [MIRROR] Cupcake Sprite Changes
  icons/obj/food/food.dmi
Labels: Sprites, TG Mirror

#1801 [MIRROR] The "Guide to Advanced Mimery" series now make but the faintest noise when turning their pages
  code/game/objects/items/granters/magic/mime.dm
Labels: TG Mirror

#1802 [MIRROR] [s] Fixing cleanbot AI related CI runtimes
  code/datums/ai/generic/find_and_set.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
Labels: Nova Mirror

#1803 [MIRROR] Less laughing from trace nitrous
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: TG Mirror

#1804 [MIRROR] Fixes tram alt-click interactions
  code/modules/transport/tram/tram_remote.dm
  code/modules/transport/tram/tram_signals.dm
Labels: TG Mirror

#1805 [MIRROR] Kills off /obj/item/onetankbomb, assembly bombs now handled by the tank itself
  code/game/objects/items/tanks/tanks.dm
  code/modules/assembly/bomb.dm
  code/modules/research/experimentor.dm
  tgstation.dme
Labels: TG Mirror

#1807 [MIRROR] Fixes burning a bible giving you an infinite amount of curses.
  code/datums/components/omen.dm
Labels: TG Mirror

#1808 [MIRROR] fleet colours and ckey unrestrict
  modular_nova/master_files/icons/donator/mob/clothing/head.dmi
  modular_nova/master_files/icons/donator/mob/clothing/suit.dmi
  modular_nova/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_nova/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_nova/master_files/icons/donator/obj/clothing/hats.dmi
  modular_nova/master_files/icons/donator/obj/clothing/suits.dmi
  modular_nova/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, Nova Mirror

#1810 [MIRROR] [FIX] Removes Donator Item from Blueshift + Silly
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification, Nova Mirror

#1811 [MIRROR] Removes lidocaine's addiction values.
  modular_nova/modules/modular_reagents/code/reagents/medicine.dm
Labels: Nova Mirror

#1813 [MIRROR] [MODULAR] Removes op table numbing
  code/game/objects/structures/tables_racks.dm
  modular_nova/master_files/code/game/objects/structures/tables_racks.dm
Labels: Nova Mirror

#1814 [MIRROR] Adds Climbing to a Bunch of Old Stuff
  code/game/machinery/spaceheater.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: TG Mirror

#1815 [MIRROR] [FIX] Removes accidental? RR from contractor GBJ
  code/modules/antagonists/traitor/contractor/syndicate_contract.dm
Labels: TG Mirror

#1816 [MIRROR] Makes *turf usable while buckled
  modular_nova/modules/emotes/code/additionalemotes/turf_emote.dm
Labels: Nova Mirror

#1817 [MIRROR] Tinacusiate doesn't futz with things it doesn't need to futz with
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: TG Mirror

#1818 [MIRROR] A few more alternative job titles
  modular_nova/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Nova Mirror

#1819 [MIRROR] Science Uniform Resprites - Removes overrides, updates Digi sprites
  modular_nova/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/centcom.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/civilian/civilian.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/command.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/security.dm
  modular_nova/master_files/code/modules/clothing/under/syndicate.dm
  modular_nova/master_files/icons/mob/clothing/under/rnd.dmi
  modular_nova/master_files/icons/mob/clothing/under/rnd_digi.dmi
  modular_nova/master_files/icons/obj/clothing/under/rnd.dmi
  modular_nova/modules/command_vendor/code/vending.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
Labels: Sprites, Nova Mirror

#1820 [MIRROR] Don't gain every faction of a mob you make sentient
  code/datums/mind/antag.dm
Labels: TG Mirror

#1821 [MIRROR] Reading a newspaper conceals your identity
  code/game/machinery/newscaster/newspaper.dm
  icons/obj/service/bureaucracy.dmi
Labels: Sprites, TG Mirror

#1822 [MIRROR] tape recorder altclick sanity
  code/game/objects/items/devices/taperecorder.dm
Labels: TG Mirror

#1823 [MIRROR] ethereal disco ball altclick sanity
  code/game/objects/items/etherealdiscoball.dm
Labels: TG Mirror

#1827 [MIRROR] [MODULAR] Adds various chaplain drip to the loadout
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Nova Mirror

#1828 [MIRROR] I Cooka Da Pizza: Void Raptor Kitchen tweaks
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification, Nova Mirror

#1830 [MIRROR] Mothic Fleet Rations now leave trash
  code/game/objects/items/food/moth.dm
  code/game/objects/items/trash.dm
  icons/obj/food/moth.dmi
  icons/obj/service/janitor.dmi
Labels: Sprites, TG Mirror

#1824 [MIRROR] pillow altclick sanity
  code/game/objects/items/pillow.dm
Labels: TG Mirror

#1825 [MIRROR] health assembly altclick sanity
  code/modules/assembly/health.dm
Labels: TG Mirror

#1771 [MIRROR] Bumps min compiler version to 1621 / adds min compiler version to alternate_byond_versions
  .github/alternate_byond_versions.txt
  code/__byond_version_compat.dm
Labels: TG Mirror

#1794 [MIRROR] Gloves changes featuring nerfed shove cuffing
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/martial/krav_maga.dm
  code/game/objects/items/handcuffs.dm
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/combat.dm
  code/modules/clothing/gloves/special.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_security.dm
Labels: TG Mirror, Mirroring conflict

#1809 [MIRROR] blacklists the mantis blade implant from being hacked by the hackerman implant
  modular_nova/modules/implants/code/augments_head.dm
Labels: Nova Mirror

#1831 [MIRROR] Update to Hearthkin Map
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_upper.dmm
Labels: Map Modification, Nova Mirror

#1832 [MIRROR] Automated IV drips now respect the layer set in the plumbing constructor
  code/modules/plumbing/plumbers/iv_drip.dm
Labels: TG Mirror

#1833 [MIRROR] Fix `/datum/ui_state/greyscale_menu_state` for non-atom datums
  code/modules/tgui/states/greyscale_menu.dm
Labels: TG Mirror

#1799 [MIRROR] Kicks Martial Arts out of the attack chain (yippee), makes it use signals, plus a large clean up of existing martial arts
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/melee.dm
  code/_onclick/click.dm
  code/datums/brain_damage/special.dm
  code/datums/components/tackle.dm
  code/datums/martial/_martial.dm
  code/datums/martial/boxing.dm
  code/datums/martial/cqc.dm
  code/datums/martial/hugs_of_the_gondola.dm
  code/datums/martial/krav_maga.dm
  code/datums/martial/mushpunch.dm
  code/datums/martial/plasma_fist.dm
  code/datums/martial/psychotic_brawl.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/martial/wrestling.dm
  code/datums/mind/_mind.dm
  code/game/atoms_movable.dm
  code/game/machinery/dna_infuser/organ_sets/gondola_organs.dm
  code/game/objects/items/granters/martial_arts/_martial_arts.dm
  code/game/objects/items/granters/martial_arts/cqc.dm
  code/game/objects/items/implants/implant_krav_maga.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/library/skill_learning/job_skillchips/chef.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/unit_tests/spell_mindswap.dm
  tgstation.dme
Labels: TG Mirror, Mirroring conflict

#1806 [MIRROR] Lowers contractor baton cost. Baton can only be bought by roundstart traitors, while midroll/latejoin traitors cannot buy a baton (They must buy the contractor kit for one).
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/uplink/uplink_items/contractor.dm
  code/modules/uplink/uplink_items/stealthy.dm
Labels: TG Mirror, Mirroring conflict

#1834 [MIRROR] Fixes some irregularities in heretic research tree
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
Labels: TG Mirror

#1835 [MIRROR] The CC Commander Headset now can be set to high-volume
  code/game/objects/items/devices/radio/headset.dm
Labels: TG Mirror

#1836 [MIRROR] Gives paradox clone their own ghost polling icon
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/paradox_clone/paradox_clone.dm
Labels: TG Mirror

#1837 [MIRROR] Cryo tubes will dump legions spawned inside them when opened
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: TG Mirror

#1838 [MIRROR] Fix Blink component indexing null props
  tgui/packages/tgui/components/Blink.jsx
Labels: TG Mirror

#1839 [MIRROR] Adds new Role restricted Traitor item: Reticence Assasination Exosuit
  code/modules/uplink/uplink_items/job.dm
  code/modules/vehicles/mecha/combat/reticence.dm
Labels: TG Mirror

#1840 [MIRROR] Science Xenos no longer turn the roundend report all bold
  code/modules/antagonists/xeno/xeno.dm
Labels: TG Mirror

#1841 [MIRROR] [FIX] Prevents Buckling Megas, Blobs, Constructs, Slimes, and Dragons
  code/modules/mob/living/basic/blob_minions/blob_mob.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: TG Mirror

#1843 [MIRROR] RD and QM coats can hold their telebatons. QM coat can also hold items that a regular jacket can hold
  code/modules/clothing/suits/jobs.dm
Labels: TG Mirror

#1844 [MIRROR] autolathe altclick sanity
  code/game/machinery/autolathe.dm
Labels: TG Mirror

#1845 [MIRROR] Machinery cannot be interacted with by AI when its turf is off-camera
  code/game/machinery/_machinery.dm
Labels: TG Mirror

#1846 [MIRROR] Makes DM side changes to preferences propagate to UI properly.
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Labels: TG Mirror

#1848 [MIRROR] Mechs now use proper name when renamed
  code/modules/vehicles/mecha/mecha_ui.dm
Labels: TG Mirror

#1849 [MIRROR] Material container drops sheets only on object deconstruct & not destroy.
  code/datums/components/material/material_container.dm
Labels: TG Mirror

#1850 [MIRROR] Service now has their own color in crew monitor
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsole.jsx
Labels: TG Mirror

#1851 [MIRROR] You can no longer convert objective targets to your blood brother team
  code/modules/antagonists/brother/brother.dm
Labels: TG Mirror

#1852 [MIRROR] [FIX] Makes Ghetto Surgery Behave In Line With Expectations
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/surgery_step.dm
Labels: TG Mirror

#1853 [MIRROR] Tramstation Isolation cell doors actually open on their timer
  _maps/map_files/tramstation/tramstation.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/brigdoors.dm
Labels: Map Modification, TG Mirror

#1826 [MIRROR] Fixes a spurious runtime in AI code
  code/datums/ai/generic/find_and_set.dm
  code/modules/jobs/job_types/spawner/ghost_role.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/ghost_role.dm
  tgstation.dme
Labels: TG Mirror, Mirroring conflict

#1854 [MIRROR] Restore non-functional ash mark ability
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
Labels: TG Mirror

#1855 [MIRROR] Fixes Alien Hunter's Pounce Visuals
  code/modules/mob/living/carbon/alien/adult/caste/hunter.dm
  icons/mob/nonhuman-player/alienleap.dmi
Labels: Sprites, TG Mirror

#1856 [MIRROR] Fix bad reference management in object overlay circuit
  code/modules/wiremod/components/bci/hud/object_overlay.dm
Labels: TG Mirror

#1857 [MIRROR] Fix set_light colour parameters for ethereal disco ball
  code/game/objects/items/etherealdiscoball.dm
Labels: TG Mirror

#1860 [MIRROR] Fixes to gas station ruin in icebox
  _maps/RandomRuins/IceRuins/icemoon_surface_gas.dmm
Labels: Map Modification, TG Mirror

#1858 [MIRROR] Fix some copy paste UI errors
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/modular_computers/file_system/programs/coupon.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/mafia_ntos.dm
  code/modules/modular_computers/file_system/programs/notepad.dm
  code/modules/modular_computers/file_system/programs/nt_pay.dm
Labels: TG Mirror

#1859 [MIRROR] Fixes text effects for runechat.
  code/game/say.dm
  strings/tips.txt
Labels: TG Mirror

#1862 [MIRROR] Barcode scanners can now be printed.
  code/modules/library/barcode_scanner.dm
  code/modules/research/designs/autolathe/service_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: TG Mirror

#1863 [MIRROR] Refactors fancy type generation
  code/__DEFINES/stat_tracking.dm
  code/__HELPERS/type_processing.dm
  code/modules/admin/admin_verbs.dm
Labels: TG Mirror

#1864 [MIRROR] Adds a suicide_act() to the smite spell
  code/modules/spells/spell_types/touch/smite.dm
Labels: TG Mirror

#1866 [MIRROR] Adds head-only target hotkey
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
Labels: TG Mirror

#1870 [MIRROR] Fix Krav Maga not shoving
  code/datums/martial/krav_maga.dm
Labels: TG Mirror

#1871 [MIRROR] Legcuffs on Aliens Work as Intended
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: TG Mirror

#1875 [MIRROR] Comprehensive cleanup of storage datum, replaces the weakrefs with just refs (because they were managed already)
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__HELPERS/atoms.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/datums/storage/subtypes/cards.dm
  code/datums/storage/subtypes/duffel_bag.dm
  code/datums/storage/subtypes/extract_inventory.dm
  code/datums/storage/subtypes/fish_case.dm
  code/datums/storage/subtypes/implant.dm
  code/datums/storage/subtypes/pockets.dm
  code/datums/storage/subtypes/rped.dm
  code/datums/storage/subtypes/surgery_tray.dm
  code/datums/storage/subtypes/trash.dm
  code/game/atom/atom_storage.dm
  code/game/objects/items.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/implants/implant_storage.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/game/objects/items/storage/boxes/medical_boxes.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/sixpack.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/surgery_tray.dm
  code/game/objects/items/tcg/tcg.dm
  code/game/objects/structures/secure_safe.dm
  code/game/objects/structures/toiletbong.dm
  code/modules/clothing/outfits/vv_outfit.dm
  code/modules/clothing/under/accessories/_accessories.dm
  code/modules/explorer_drone/exodrone.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/food_and_drinks/machinery/griddle.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/photography/photos/album.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/guns/energy/dueling.dm
  code/modules/recycling/disposal/bin.dm
  modular_nova/modules/customization/modules/clothing/storage/belts.dm
  modular_nova/modules/goofsec/code/sec_clothing_overrides.dm
Labels: TG Mirror

#1869 [MIRROR] SM cascade warnings only show to players in game
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
Labels: TG Mirror

#1895 [MIRROR] ARC Mining - Granite Fixes it Edition
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/game/turfs/closed/minerals.dm
Labels: Map Modification, Mirroring conflict, Nova Mirror

#1868 [MIRROR] Reactions now use volume averaged purity
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder/reactions.dm
Labels: TG Mirror

#1876 [MIRROR] Makes point_types not be dumb
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/__techweb_helpers.dm
  code/modules/research/techweb/_techweb.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: TG Mirror

#1877 [MIRROR] She can't keep getting away with it | Adds a cropped jacket
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/crop_jacket.dmi
  modular_nova/modules/GAGS/icons/crop_jacket_worn.dmi
  modular_nova/modules/GAGS/json_configs/crop_jacket/crop_jacket.json
  modular_nova/modules/customization/modules/clothing/suits/coats.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Sprites, Nova Mirror

#1878 [MIRROR] Fixes Hilbert Hotel and adds a beach condo
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_nova/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_nova/modules/hotel_rooms/apartment.dmm
  modular_nova/modules/hotel_rooms/beach_condo.dmm
Labels: Nova Mirror

#1881 [MIRROR] Implements rgb2num, uses it to replace all our manual rgb reading. Redoes HSV management
  _maps/map_files/generic/CentCom_nova_z2.dmm
  code/__DEFINES/gradient.dm
  code/__DEFINES/lighting.dm
  code/__HELPERS/colors.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/matrices.dm
  code/__HELPERS/type2type.dm
  code/game/objects/items/frog_statue.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/rcd/RLD.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/power/lighting/light.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_nova/master_files/code/game/objects/items/hhmirror.dm
  modular_nova/modules/aesthetics/airlock/code/airlock.dm
  modular_nova/modules/aesthetics/lights/code/lighting.dm
  modular_nova/modules/emotes/code/additionalemotes/turf_emote.dm
Labels: Map Modification, TG Mirror

#1882 [MIRROR] Scene Girls Listening to Gloomy Bangers: Resprites Emo Long & All Gloomy Bangs variants
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
Labels: Sprites, Nova Mirror

#1883 [MIRROR] donator item switch
  modular_nova/master_files/icons/donator/mob/clothing/mask.dmi
  modular_nova/master_files/icons/donator/obj/clothing/masks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, Nova Mirror

#1884 [MIRROR] [MODULAR] Fixes synthetic organ manipulation surgery proccing pain
  modular_nova/modules/synths/code/surgery/mechanic_steps.dm
Labels: Nova Mirror

#1886 [MIRROR] Fixes some tiny and unnoticable icon inconsistencies in the White and Tan Suits
  icons/mob/clothing/under/suits.dmi
  modular_nova/master_files/icons/mob/clothing/under/suits.dmi
Labels: Sprites, TG Mirror

#1890 [MIRROR] fixes the crystallizer providing itself as the dangerous recipe made + fixes the max temperature on the HFR interface
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  tgui/packages/tgui/interfaces/Hypertorus/Recipes.tsx
Labels: TG Mirror

#1892 [MIRROR] Fix `get_visual_offset` results being reversed
  code/__HELPERS/turfs.dm
Labels: TG Mirror

#1893 [MIRROR] Fix finger gun chat messages
  code/modules/spells/spell_types/pointed/finger_guns.dm
Labels: TG Mirror

#1894 [MIRROR] `pixel_w` and `pixel_z` are included in `get_visual_offset`
  code/__HELPERS/turfs.dm
Labels: TG Mirror

#1897 [MIRROR] Removes Halloween Screen Tint
  code/_onclick/hud/rendering/render_plate.dm
Labels: TG Mirror

#1898 [MIRROR] [Fix] Visually closing fakewalls when in fact they shouldn't be closed
  code/game/objects/structures/false_walls.dm
Labels: TG Mirror

#1899 [MIRROR] Health analyzer displays blood alcohol content
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/blood.dm
  tgui/packages/tgui/interfaces/MedicalKiosk.jsx
Labels: TG Mirror

#1900 [MIRROR] Minor update to admin secrets panel (free antags for everyone)
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: TG Mirror

#1861 [MIRROR] Disable rust version checking in tgs precompile.sh hook
  tools/tgs_scripts/PreCompile.sh
Labels: TG Mirror

#1885 [MIRROR] toilet bong altclick sanity
  code/game/objects/structures/toiletbong.dm
Labels: TG Mirror, Mirroring conflict

#1880 [MIRROR] fix return_inv() returning a null sometimes, causing get_all_gear() to runtime
  code/datums/storage/storage.dm
Labels: TG Mirror, Mirroring conflict

#1888 [MIRROR] Better Ghost Hair
  code/modules/mob/dead/observer/observer.dm
Labels: TG Mirror, Mirroring conflict

#1907 [MIRROR] [NoGBP] Fixes Equipment Slowdown
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
Labels: TG Mirror

#1896 [MIRROR] [MODULAR] [POLICY] Drone Changes
  modular_nova/master_files/code/modules/language/language_holder.dm
  modular_nova/modules/drones/_drone.dm
  tgstation.dme
Labels: Mirroring conflict, Nova Mirror

#1901 [MIRROR] [MODULAR] Outfit GAGSification Batch 1
  code/modules/clothing/under/trek.dm
  modular_nova/master_files/code/modules/clothing/head/_head.dm
  modular_nova/master_files/code/modules/clothing/suits/_suits.dm
  modular_nova/master_files/code/modules/clothing/under/costume.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_nova/master_files/icons/mob/clothing/head/chaplain.dmi
  modular_nova/master_files/icons/mob/clothing/suits/chaplain.dmi
  modular_nova/master_files/icons/mob/clothing/under/costume.dmi
  modular_nova/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_nova/master_files/icons/mob/clothing/under/suits.dmi
  modular_nova/master_files/icons/mob/clothing/under/suits_digi.dmi
  modular_nova/master_files/icons/obj/clothing/head/chaplain.dmi
  modular_nova/master_files/icons/obj/clothing/suits/chaplain.dmi
  modular_nova/master_files/icons/obj/clothing/under/costume.dmi
  modular_nova/master_files/icons/obj/clothing/under/suits.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/costumes/chappy_habit.json
  modular_nova/modules/GAGS/json_configs/costumes/lunar_japanese.json
  modular_nova/modules/GAGS/json_configs/costumes/lunar_japanese_bicol.json
  modular_nova/modules/GAGS/json_configs/costumes/lunar_japanese_tricol.json
  modular_nova/modules/GAGS/json_configs/costumes/monk_habit.json
  modular_nova/modules/GAGS/json_configs/costumes/monk_habit_hood.json
  modular_nova/modules/GAGS/json_configs/suits/fancysuit/fancysuit_bicol.json
  modular_nova/modules/GAGS/json_configs/suits/fancysuit/fancysuit_quadcol.json
  modular_nova/modules/GAGS/json_configs/suits/pencilskirt/pencilskirt.json
  modular_nova/modules/GAGS/json_configs/suits/pencilskirt/pencilskirt_bicol.json
  modular_nova/modules/GAGS/json_configs/suits/pencilskirt/pencilskirt_quadcol.json
  modular_nova/modules/GAGS/json_configs/suits/pencilskirt/pencilskirt_tricol.json
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Sprites, Mirroring conflict, Nova Mirror

#1902 [MIRROR] Reviving stasis now puts you in stasis
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: TG Mirror

#1889 [MIRROR] You can now move and talk through statues and mannequins
  code/datums/components/marionette.dm
  code/datums/components/rotation.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/structures/mannequin.dm
  code/game/objects/structures/toiletbong.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/game/objects/structures/window.dm
  code/modules/art/statues.dm
  code/modules/assembly/infrared.dm
  code/modules/basketball/hoop.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  tgstation.dme
Labels: TG Mirror, Mirroring conflict

#1903 [MIRROR] settlers can rename their pets
  code/datums/components/tameable.dm
Labels: TG Mirror

#1904 [MIRROR] Adds an IS_CHANGELING helper
  code/__DEFINES/antagonists.dm
  code/datums/saymode.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/antagonists/changeling/powers/void_adaption.dm
  code/modules/mob/living/basic/guardian/guardian_creator.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/unit_tests/changeling.dm
Labels: TG Mirror

#1906 [MIRROR] HOTFIX: Camo Them Leggies!
  modular_nova/modules/GAGS/greyscale_configs.dm
Labels: Nova Mirror

#1909 [MIRROR] Fixes screwdriver cocktail not being a screwdriver.
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
Labels: TG Mirror

#1910 [MIRROR] [MODULAR] ICSpawning Module: Quirks, Loadout, and BST RPED buff
  modular_nova/modules/icspawning/code/observer.dm
  modular_nova/modules/icspawning/code/standard.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: Nova Mirror

#1912 [MIRROR] Billions must trauma team | Makes healthcare cheaper | DO NOT CROSS THE WARNING LINE | Freeman, take this medkit
  code/__DEFINES/~nova_defines/colony_fabricator_misc.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/deforest_medical_items/code/cargo_packs.dm
  modular_nova/modules/deforest_medical_items/code/healing_stack_items.dm
  modular_nova/modules/deforest_medical_items/code/illegal_injectors.dm
  modular_nova/modules/deforest_medical_items/code/injectors.dm
  modular_nova/modules/deforest_medical_items/code/medstation.dm
  modular_nova/modules/deforest_medical_items/code/medstation_designs/blood.dm
  modular_nova/modules/deforest_medical_items/code/medstation_designs/medical.dm
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/deforest_medical_items/code/treatment_zone_projector.dm
  modular_nova/modules/deforest_medical_items/code/vendor.dm
  modular_nova/modules/deforest_medical_items/icons/medstation.dmi
  modular_nova/modules/deforest_medical_items/icons/telegraph_96x96.dmi
  modular_nova/modules/deforest_medical_items/icons/vendor.dmi
  modular_nova/modules/imported_vendors/code/vendors.dm
  tgstation.dme
Labels: Sprites, Nova Mirror

#1913 [MIRROR] New Clothes For Hearthkin
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/ferroniere.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/ferroniere_worn.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tailored_dress.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tailored_dress_worn.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tunic.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tunic_worn.json
  modular_nova/modules/primitive_catgirls/code/clothing.dm
  modular_nova/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_nova/modules/primitive_catgirls/icons/clothing_greyscale.dmi
Labels: Sprites, Nova Mirror

#1914 [MIRROR] Nerfs probability that a rat decides to bite a cable
  code/datums/ai/hunting_behavior/hunting_mouse.dm
Labels: TG Mirror

#1915 [MIRROR] Cucumber Lemonade now has a price
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: TG Mirror

#1916 [MIRROR] Space dragon no longer turns the entire roundend report bold
  code/modules/antagonists/space_dragon/space_dragon.dm
Labels: TG Mirror

#1917 [MIRROR] Fixes the typepath of the shove blocker module.
  code/modules/mod/modules/modules_security.dm
Labels: TG Mirror

#1918 [MIRROR] Fixes high power consumption for lathes
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
Labels: TG Mirror

#1919 [MIRROR] Fixes raw ectoplasmic anomaly refining
  code/__DEFINES/research/anomalies.dm
  code/controllers/subsystem/research.dm
Labels: TG Mirror

#1921 [MIRROR] Fix last words being double-encoded when done from the alert popup
  code/_onclick/hud/alert.dm
Labels: TG Mirror

#1922 [MIRROR] Mining Bluespace Survival Capsule's "Stand back!" alert now actually has meaning
  code/modules/mining/equipment/survival_pod.dm
Labels: TG Mirror

#1923 [MIRROR] Adds fire ants as a chem
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: TG Mirror

#1924 [MIRROR] Freedom implant and Biodegrade works on knotted shoes
  code/game/objects/items/implants/implant_freedom.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
Labels: TG Mirror

#1925 [MIRROR] two new tgui commands (for coders)
  tgui/package.json
Labels: TG Mirror

#1926 [MIRROR] [FIX] Makes Deathtrap Recycler Movable
  code/game/machinery/recycler.dm
  code/game/objects/objs.dm
Labels: TG Mirror

#1927 [MIRROR] Moves teleblocker/beacon implants to the techweb, new research node. Exile implants can now be printed
  code/__DEFINES/research/research_categories.dm
  code/modules/cargo/packs/security.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: TG Mirror

#1928 [MIRROR] Fixes the energy cake slice's on-eat effect triggering before it is eaten
  code/game/objects/items/food/cake.dm
Labels: TG Mirror

#1929 [MIRROR] Adds a signal to buying items from the uplink (& fixes TC misinfo)
  code/__DEFINES/dcs/signals/uplink.dm
  code/datums/components/uplink.dm
  code/datums/elements/uplink_reimburse.dm
  code/datums/mind/_mind.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/traitor/traitor_objective.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/mob/living/basic/drone/extra_drone_types.dm
  code/modules/modular_computers/computers/item/disks/virus_disk.dm
  code/modules/uplink/uplink_items.dm
  tgstation.dme
Labels: TG Mirror

#1938 [MIRROR] Changes the icon for sharp claws
  modular_nova/master_files/code/datums/traits/good.dm
Labels: Nova Mirror

#1931 [MIRROR] Refactors fire overlays once again to make it not get stuck so often
  code/__DEFINES/mobs.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/permanent_fire_overlay.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/turfs/open/lava.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  modular_nova/modules/borgs/code/update_icons.dm
  modular_nova/modules/xenos_nova_redo/code/base_nova_xeno.dm
  tgstation.dme
Labels: TG Mirror

#1932 [MIRROR] Allows shakers to pour drinks with custom names and descriptions
  code/__DEFINES/dcs/signals/signals_reagent.dm
  code/__DEFINES/traits/sources.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/drinkingglass.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
Labels: TG Mirror

#1933 [MIRROR] Fixes Hilbert Hotel room spawns
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_nova/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_nova/modules/hotel_rooms/beach_condo.dmm
Labels: Nova Mirror

#1936 [MIRROR] Replaces beach bar virtual domain varedited bar closets with prefabs
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/virtual_domains/beach_bar.dmm
Labels: Map Modification, TG Mirror

#1920 Небольшое дополнение для рескинов одежды СБ
  tff_modular/modules/redsec/code/vending.dm
  tff_modular/modules/redsec_reskins/code/beret_reskin.dm
  tff_modular/modules/redsec_reskins/code/hood_reskin.dm
  tff_modular/modules/redsec_reskins/code/redsec.dm
  tff_modular/modules/redsec_reskins/icons/belt_obj.dmi
  tff_modular/modules/redsec_reskins/icons/belt_worn.dmi
  tgstation.dme
Labels: Sprites

#1934 [MIRROR] Fix Flaky Failure From Fire
  code/datums/elements/permanent_fire_overlay.dm
  code/game/turfs/open/lava.dm
Labels: TG Mirror, Mirroring conflict

#1935 [MIRROR] MuleBOT UI/ID Fixes
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  tgui/packages/tgui/interfaces/Mule.jsx
  tgui/packages/tgui/interfaces/NtosRoboControl.jsx
  tools/UpdatePaths/Scripts/81380_mulebot_vars.txt
Labels: Map Modification, TG Mirror

#1937 [MIRROR] Adds a Touchy quirk
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative_quirks/unusual.dm
  tgstation.dme
Labels: TG Mirror
