Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-12, with the labels that each got.

#5211 [MIRROR] fixes the mining drill (implant) addition removing all the other options in the adv_mining techtree addon
  modular_nova/modules/implants/code/medical_nodes.dm
Labels: Fix, Nova Mirror

#5205 Кнопочка в ВВ-шке для добавления наркотических зависимостей
  code/__DEFINES/~ff_defines/vv.dm
  tff_modular/modules/extra_vv/extra_carbon_vv.dm
  tgstation.dme
Labels: Stale, Administration

#5214 [MIRROR] tg 88082 early port - armor helps against getting your eye exploded
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Balance, Mirroring conflict, Nova Mirror

#5215 [MIRROR] sets the CIN jumpsuit, and belts to be recolorable in the loadout
  modular_nova/modules/novaya_ert/code/surplus_armor.dm
Labels: Quality of Life, Nova Mirror

#5216 [MIRROR] Fixes the starfruit BBQ platter failing to consume crafting ingredients.
  modular_nova/modules/customization/modules/hydroponics/grown/starfruit.dm
Labels: Fix, Nova Mirror

#5217 [MIRROR] gives contractor modsuits cuff assist + baton resist modules, comparable to traitor modsuits
  modular_nova/modules/contractor/code/items/modsuit/modsuit.dm
Labels: Fix, Nova Mirror

#5220 [MIRROR] xenomorph larva can evolve again
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix, Nova Mirror

#5210 Poster Contest Items
  tff_modular/modules/poster_contest/winners_items/code.dm
  tff_modular/modules/poster_contest/winners_items/icons.dmi
  tff_modular/modules/poster_contest/winners_items/tesh_icons.dmi
  tgstation.dme
Labels: Stale, Feature, Sprites

#5185 Minor Box Station fix
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Stale, Map Modification, Fix

#5222 Новая погода - снегопад
  tff_modular/modules/snowfall/snowfall.dm
  tgstation.dme
Labels: Feature

#5221 [MIRROR] Bitrunning Easy mode
  code/modules/bitrunning/server/loot.dm
  modular_nova/modules/bitrunning/code/disks.dm
  modular_nova/modules/bitrunning/code/flair.dm
  modular_nova/modules/bitrunning/code/loot.dm
  tgstation.dme
Labels: Balance, Quality of Life, Nova Mirror

#5225 [MIRROR] Railgun PKAs can no longer be fired on-station
  modular_nova/modules/mining_pka/code/firing_pin.dm
  modular_nova/modules/mining_pka/code/kinetic_accelerator.dm
Labels: Balance, Code modification, Nova Mirror

#5227 [MIRROR] Sec helmet fixes
  modular_nova/master_files/icons/mob/clothing/head/helmet.dmi
  modular_nova/master_files/icons/mob/clothing/head/helmet_muzzled.dmi
  modular_nova/master_files/icons/obj/clothing/head/helmet.dmi
  modular_nova/modules/goofsec/code/sec_clothing_overrides.dm
  modular_nova/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Sprites, Fix, Nova Mirror

#5228 [MIRROR] [No GBP] Fixes of the Special Bitrunning Vending Machine
  modular_nova/modules/bitrunning/code/disks.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
Labels: Fix, Nova Mirror

#5231 [MIRROR] changes up alot of the underwears to be better shaded, in piecemeal
  modular_nova/master_files/icons/mob/clothing/underwear.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/bras.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/socks.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/underwear.dm
Labels: Sprites, Icon changes, Nova Mirror

#5233 [MIRROR] reduced the items used, and the time to make for most improvised tools
  modular_nova/modules/modular_items/code/recipes_misc.dm
Labels: Balance, Nova Mirror

#5234 [MIRROR] Fixes ears getting sprites they shouldn't be getting when they're set to not having visuals
  code/modules/surgery/organs/internal/_internal_organ.dm
Labels: Fix, Nova Mirror

#5235 [MIRROR] Blind-people canes should be allowed to fit in suit storage slots
  code/modules/clothing/suits/_suits.dm
  modular_nova/master_files/code/game/objects/items/weaponry.dm
  tgstation.dme
Labels: Quality of Life, Nova Mirror

#5229 [MIRROR] Slime-hybrid revival fixes
  modular_nova/modules/bodyparts/code/roundstartslime_bodyparts.dm
  modular_nova/modules/bodyparts/icons/slime_parts_greyscale.dmi
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Sprites, Fix, Nova Mirror

#5232 [MIRROR] Snouts, tails, ears for acradors
  modular_nova/master_files/icons/mob/sprite_accessory/ears_big.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Nova Mirror

#5238 [MIRROR] Adds a half-bob hairstyle
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Mirroring conflict, Icon changes, Nova Mirror

#5240 [MIRROR] adjusts Bitrunning rewards based on feedback and testing
  code/modules/bitrunning/server/loot.dm
Labels: Balance, Nova Mirror

#5241 [MIRROR] Add Mannitol and Other Items to Imports
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_nova/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
Labels: Feature, Quality of Life, Nova Mirror

#5242 [MIRROR] Reflavors Cybersun SNPCs into Cybersun pseudo-Bitrunners
  modular_nova/modules/bitrunning/code/ghost_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/island_brawl/ghost_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/pirates/ghost_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/syndicate_assault/ghost_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/syndicate_assault/mod.dm
  modular_nova/modules/bitrunning/code/virtual_domains/syndicate_assault/outfit.dm
  tgstation.dme
Labels: Feature, Nova Mirror

#5236 [MIRROR] Allows golem arms to dredge boulders from ore vents
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: Nova Mirror

#5244 [MIRROR] Snowglobe medical redo
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Feature, Map Modification, Nova Mirror

#5243 [MIRROR] Gun safety on deathmatch and bitdomains are off by default
  code/modules/projectiles/gun.dm
  modular_nova/modules/gun_safety/code/safety_component.dm
Labels: Quality of Life, Nova Mirror

#5246 [MIRROR] New non lethal gun - P207 + Fixes to the pepperball gun logistics
  code/__DEFINES/~nova_defines/projectiles.dm
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_nova/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_nova/modules/modular_vending/code/security.dm
  modular_nova/modules/modular_weapons/code/autolathe_design.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/ammo.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/magazine.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/pistol.dm
  modular_nova/modules/modular_weapons/code/pepperball_gun.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/bolt_fabrications/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/bolt_fabrications/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/riotrubberbullet.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/stingstopbox.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/stingtop.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/type207.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/type207magazine.dmi
  tgstation.dme
Labels: Feature, Sprites, Fix, Quality of Life, Nova Mirror

#5249 [MIRROR] Allows Felinids to shower
  code/datums/status_effects/neutral.dm
Labels: Quality of Life, Mirroring conflict, Nova Mirror

#5245 Streletz collection
  tff_modular/modules/redsec/code/vending.dm
  tff_modular/modules/streletz/code/clothing.dm
  tff_modular/modules/streletz/icons/mob/hat.dmi
  tff_modular/modules/streletz/icons/mob/suit.dmi
  tff_modular/modules/streletz/icons/obj/hat.dmi
  tff_modular/modules/streletz/icons/obj/suit.dmi
  tgstation.dme
Labels: Feature, Sprites

#5251 [MIRROR] Tinypaks, backpacks, but tiny [SLIGHTLY LESS MODULAR]
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences/clothing.dm
  code/modules/jobs/job_types/_job.dm
  modular_nova/modules/clothing_improvements/code/clothing.dmi
  modular_nova/modules/clothing_improvements/code/clothing_worn.dmi
  modular_nova/modules/clothing_improvements/code/tinypacks.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5250 [MIRROR] civil defense symptom kitis now available for purchase
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: Fix, Nova Mirror

#5159 Поднимаем урон ТГ антагов (в поисках идеала в баладе о крысопушках)
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/magic/blood_cleave.dm
  code/modules/antagonists/heretic/magic/blood_siphon.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/magic/void_phase.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/antagonists/nightmare/nightmare_equipment.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
Labels: Balance, Do Not Merge, Test Merged, Discuss First

#4973 Апгрейд ивентоделов
  SQL/optimisations_2017-02-19.sql
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/speech_channels.dm
  code/__DEFINES/~ff_defines/_globalvars/lists/hidden_verbs.dm
  code/__DEFINES/~ff_defines/_globalvars/logging.dm
  code/__DEFINES/~ff_defines/span.dm
  code/__HELPERS/hearted.dm
  code/controllers/subsystem/admin_verbs.dm
  code/controllers/subsystem/stickyban.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/admin/admin.dm
  code/modules/admin/known_alts.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/stickyban.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/maprotation.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/admin/verbs/server.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/tgui_input/say_modal/modal.dm
  code/modules/tgui_input/say_modal/speech.dm
  config/nova/config_nova.txt
  config/nova/eventmakers.txt
  modular_nova/master_files/code/modules/logging/categories/log_category_game.dm
  modular_nova/modules/player_ranks/code/subsystem/player_ranks.dm
  tff_modular/modules/eventers/eventmaker.dm
  tff_modular/modules/eventers/eventmaker_verbs.dm
  tff_modular/modules/eventers/random_stuff_ban.dm
  tgstation.dme
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/constants/index.tsx
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: Feature, Config, Test Merged

#5247 [MIRROR] make new skrell appearance
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  modular_nova/master_files/code/modules/client/preferences_savefile.dm
  modular_nova/master_files/icons/mob/clothing/head/skrell_chains.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/skrell_hair.dmi
  modular_nova/master_files/icons/obj/clothing/hats.dmi
  modular_nova/modules/customization/modules/clothing/head/head.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_accessory_handler.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_nova/modules/customization/modules/surgery/organs/skrell_hair.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites, Fix, Mirroring conflict, Nova Mirror

#5256 [MIRROR] Fixes damage falloff doing the opposite of that for some modular guns
  modular_nova/modules/marines/code/smartgun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Labels: Fix, Nova Mirror

#5255 [MIRROR] Removes whitelisting from some of the previously Akula-restricted Loadout gear
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Quality of Life, Nova Mirror

#5254 "Update icemoon_interdyne_base_ff.dmm" или "вендоманты у дайна вновь бесплатные"
  _maps/RandomRuins/IceRuins/fluffy/icemoon_interdyne_base_ff.dmm
Labels: Map Modification, Fix

#5259 [MIRROR] Fixes xeno maid not having a sprite
  modular_nova/master_files/code/modules/mob/basic/alien/_alien.dm
Labels: Fix, Nova Mirror

#5261 [MIRROR] Add Neglected Mobs to Gold Slime Spawns
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_nova/master_files/code/modules/mob/living/pets/dog/doberman.dm
  modular_nova/modules/mold/code/mold_mobs.dm
  modular_nova/modules/more_gold_slime_monsters/code/more_gold_slime_monsters.dm
  tgstation.dme
Labels: Feature, Fix, Mirroring conflict, Nova Mirror

#5263 [MIRROR] The Kitsunes shall wag
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Nova Mirror

#5262 Christmas music without copyright
  tff_modular/master_files/content/jukebox_music/All I Want for Christmas is you+2430+5+7.ogg
  tff_modular/master_files/content/jukebox_music/Angels We Have Heard On High+2610+5+9.ogg
  tff_modular/master_files/content/jukebox_music/Angels from the Realms of Glory+2460+5+8.ogg
  tff_modular/master_files/content/jukebox_music/Auld Lang Syne+1470+5+10.ogg
  tff_modular/master_files/content/jukebox_music/Jingle Bell+1340+5+11.ogg
  tff_modular/master_files/content/jukebox_music/Let It Snow+1150+5+12.ogg
Labels: Sound changes

#5264 [MIRROR] Makes Jaunters react anywhere in your inmediate inventory (same as bitrunning disks)
  code/datums/components/chasm.dm
Labels: Quality of Life, Nova Mirror

#5265 [MIRROR] Fixes the layering for the Kitsune (Ann) and Fox Alt 3
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
Labels: Sprites, Nova Mirror

#5266 [MIRROR] Allows the construction of tiny fans (Now plasma powered )
  modular_nova/modules/modular_items/code/fan.dm
  tgstation.dme
Labels: Feature, Nova Mirror
