Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2024-06, with the labels that each got.

#3573 [MIRROR] Gives the Lawyer a pet goldfish
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/vending/wardrobes.dm
Labels: Map Modification, TG Mirror

#3566 [MIRROR] Fish update just dropped. New fish, aquarium type, two traits and a research node.
  code/__DEFINES/fish.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/aquarium_content.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/aquarium/aquarium_upgrades.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/aquarium.dmi
  icons/obj/aquarium/fish.dmi
  icons/obj/aquarium/supplies.dmi
  icons/obj/aquarium/tanks.dmi
  icons/obj/aquarium/wide.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#3567 [MIRROR] STATION TRAIT GAMEMODE: Station-Wide Background Checks
  code/__DEFINES/dynamic.dm
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
  config/dynamic.json
Labels: Config, TG Mirror

#3568 [MIRROR] Fixes Minebots ordered through cargo being stuck in idle mode
  code/modules/mob/living/basic/minebots/minebot.dm
Labels: TG Mirror

#3569 [MIRROR] Fixes railings being invisible
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/game/objects/structures/railings.dm
Labels: Map Modification, TG Mirror

#3571 [MIRROR] Reworks Adrenaline Glands into Repurposed Glands (Realingment)
  code/__DEFINES/combat.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: TG Mirror

#3574 [MIRROR] [Metastation] MetaCargo: The Spring-Cleanening
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, TG Mirror, Mirroring conflict

#3572 [MIRROR] Lets pharmacist labcoat hold chemistry bags
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
Labels: Nova Mirror

#3575 [MIRROR] Stops janiborgs from killing the machinery subsystem by charging light replacers 200000 times a charge tick
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_nova/modules/ghostcafe/code/robot_ghostcafe.dm
Labels: TG Mirror

#3576 [MIRROR] fixes positive viruses being hidden
  code/datums/diseases/advance/advance.dm
Labels: TG Mirror

#3577 [MIRROR] Fixes runtime with serializing photo metadata
  code/datums/datum.dm
  code/modules/photography/_pictures.dm
Labels: TG Mirror

#3579 [MIRROR] Fix imaginary friend trauma and message range
  code/datums/brain_damage/imaginary_friend.dm
Labels: TG Mirror

#3581 [MIRROR] adds missing context tips to atmos canisters
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: TG Mirror

#3578 [MIRROR] print 5 cable coils instead of 1 in lathes
  code/modules/research/designs/autolathe/multi-department_designs.dm
Labels: TG Mirror

#3582 [MIRROR] Allows the fermenting (wooden) barrel to be emptied and to be wrenched + add contextual helpers to help visualize its interactions
  code/modules/hydroponics/fermenting_barrel.dm
Labels: TG Mirror

#3583 [MIRROR] projectile dismemberment respects limb dismemberability
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: TG Mirror

#3584 [MIRROR] Restrict AI floor bolt external manipulation
  code/modules/mob/living/silicon/ai/ai_defense.dm
Labels: TG Mirror

#3297 [MIRROR] once and for all removes the robohand gun
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_nova/modules/moretraitoritems/code/syndicate.dm
  modular_nova/modules/moretraitoritems/code/weapons.dm
  modular_nova/modules/moretraitoritems/icons/3516.dmi
  modular_nova/modules/moretraitoritems/icons/3516_mag.dmi
  modular_nova/modules/moretraitoritems/sound/fire2.ogg
  modular_nova/modules/moretraitoritems/sound/release.ogg
  modular_nova/modules/moretraitoritems/sound/reload.ogg
  modular_nova/modules/moretraitoritems/sound/slide.ogg
Labels: Sprites, Map Modification, Nova Mirror

#3586 [MIRROR] Fix not being able to stop looking vertically
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: TG Mirror

#3587 [MIRROR] Adds an ion storm law that affects the humanity status of station pets
  code/modules/events/ion_storm.dm
  strings/ion_laws.json
Labels: TG Mirror

#3589 [MIRROR] Makes the Shaft Miner's Explorer Suit sprite more consistent!
  icons/mob/clothing/suits/utility.dmi
Labels: Sprites, TG Mirror

#3590 [MIRROR] Makes disease airborne spread more realistic
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/modules/events/disease_outbreak.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: TG Mirror

#3591 [MIRROR] Minor code clean-up for Cryo
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: TG Mirror

#3592 [MIRROR] Toilet and urinal updates (flushing dead fish included)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  code/game/objects/items/clown_items.dm
  code/game/objects/structures.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/water_structures/sink.dm
  code/game/objects/structures/water_structures/toilet.dm
  code/game/objects/structures/water_structures/urinal.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
  sound/attributions.txt
  sound/machines/toilet_flush.ogg
  tgstation.dme
Labels: Sprites, Map Modification, TG Mirror

#3593 [MIRROR] Refactored ghetto chem separator
  code/datums/components/crafting/chemistry.dm
  code/modules/reagents/chemistry/colors.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/chem_separator.dm
  tgui/packages/tgui/interfaces/ChemSeparator.tsx
Labels: TG Mirror

#3594 [MIRROR] Patches exploit with (and pre-emptively bumps the usage costs) to the new Adrenal Glands
  code/modules/antagonists/changeling/powers/adrenaline.dm
Labels: TG Mirror

#3595 [MIRROR] Fixes being permanently attached to tram
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/transport_module.dm
Labels: TG Mirror

#3598 [MIRROR] Improves the NTSS Independence's medical bay
  _maps/shuttles/emergency_cruise.dmm
  code/game/machinery/sleepers.dm
Labels: Map Modification, TG Mirror

#3599 [MIRROR] Cuffed people can sign (to a limited degree), signing tone emotes improvement
  code/datums/components/sign_language.dm
  code/modules/mob/mob_helpers.dm
Labels: TG Mirror

#3600 [MIRROR] Mining armor and suit storage cleanup/generalization/modernization
  code/__DEFINES/inventory.dm
  code/datums/actions/items/beserk.dm
  code/datums/components/armor_plate.dm
  code/datums/components/crafting/tailoring.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mod/mod_theme.dm
Labels: TG Mirror

#3601 [MIRROR] Fixes COMSIG_ATOM_POST_DIR_CHANGE having the same definition as COMSIG_ATOM_DIR_CHANGE
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
Labels: TG Mirror

#3602 [MIRROR] Borgs: the moduling (Various fixups to borg module code)
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: TG Mirror

#3603 [MIRROR] Adds Crutches to Medbay & Crafting
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/status_effects/wound_effects.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/living.dm
  code/modules/vending/medical.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/weapons/staff.dmi
  modular_nova/modules/customization/game/objects/items/devices/crutch.dm
  modular_nova/modules/modular_vending/code/medical.dm
Labels: Sprites, TG Mirror

#3585 [MIRROR] Pillow now consumes stamina in both unwielded and wielded states
  code/game/objects/items/pillow.dm
Labels: TG Mirror

#3597 [MIRROR] Fixes css issue in orbit menu [no gbp]
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: TG Mirror

#3605 [MIRROR] Floor diseases are easier to cure
  code/datums/diseases/advance/floor_diseases/carpellosis.dm
  code/datums/diseases/advance/floor_diseases/gastritium.dm
  code/datums/diseases/advance/floor_diseases/nebula_nausea.dm
Labels: TG Mirror

#3564 Язык лунатиков
  modular_nova/master_files/code/modules/language/language_holder.dm
  tff_modular/modules/selestial_language/language.dm
  tff_modular/modules/selestial_language/selestial.dmi
  tgstation.dme
Labels: Sprites

#3604 [MIRROR] Graveyard update take two
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/datums/elements/gravedigger.dm
  code/game/area/areas/mining.dm
  code/game/turfs/open/asteroid.dm
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/mining/equipment/mining_tools.dm
  icons/area/areas_station.dmi
  icons/obj/storage/crates.dmi
  tgstation.dme
Labels: Sprites, Map Modification, TG Mirror

#3606 [MIRROR] unhardcodes modsuit parts
  code/__DEFINES/dcs/signals/signals_mod.dm
  code/__DEFINES/mod.dm
  code/__HELPERS/mobs.dm
  code/modules/bitrunning/antagonists/cyber_tac.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/mod/adding_new_mod.md
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_paint.dm
  code/modules/mod/mod_part.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/mod_ui.dm
  code/modules/mod/modules/_module.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/module_pathfinder.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_maint.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/mod/modules/modules_science.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/mod/modules/modules_timeline.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/unit_tests/modsuit.dm
  code/modules/unit_tests/suit_storage_icons.dm
  modular_nova/master_files/code/modules/entombed_quirk/code/entombed.dm
  modular_nova/master_files/code/modules/entombed_quirk/code/entombed_alt_actions.dm
  modular_nova/master_files/code/modules/entombed_quirk/code/entombed_mod.dm
  modular_nova/master_files/code/modules/mod/modules/_module.dm
  modular_nova/master_files/code/modules/mod/modules/modules_supply.dm
  modular_nova/modules/blueshield/code/modsuit/mod_theme.dm
  modular_nova/modules/contractor/code/items/modsuit/modules.dm
  modular_nova/modules/contractor/code/items/modsuit/theme.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_accessory_handler.dm
  modular_nova/modules/kahraman_equipment/code/clothing/mod.dm
  modular_nova/modules/marines/code/mod.dm
  modular_nova/modules/marines/code/modsuit_modules.dm
  modular_nova/modules/novaya_ert/code/mod_suit.dm
  modular_nova/modules/tarkon/code/clothing/mod.dm
  tff_modular/modules/blueshield-mod/code.dm
  tff_modular/modules/police_nt/code/modsuit.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MODsuit.tsx
Labels: TG Mirror

#3607 [MIRROR] Dehardcoded modsuit fixes
  code/modules/mod/mod_paint.dm
  code/modules/mod/mod_theme.dm
  code/modules/wiremod/shell/module.dm
Labels: TG Mirror, Mirroring conflict

#3617 [MIRROR] [Fix] Removes ability from non-cargonia plebians to confirm cargo orders from request console
  tgui/packages/tgui/interfaces/Cargo/CargoCart.tsx
Labels: TG Mirror

#3608 [MIRROR] Added the zipzap to the ocean sources
  code/modules/fishing/sources/source_types.dm
Labels: TG Mirror

#3609 [MIRROR] [MODULAR] Tweaks Tarkon Smes' (again)
  modular_nova/modules/tarkon/code/machines/smes.dm
Labels: Nova Mirror

#3611 [MIRROR] Revert "Blade creation ritual returns lost blades"
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: TG Mirror

#3612 [MIRROR] Fix null authors breaking test merge bot
  tools/test_merge_bot/main.js
Labels: TG Mirror

#3613 [MIRROR] Adds Soup boiling SFX
  code/datums/looping_sounds/machinery_sounds.dm
  code/modules/food_and_drinks/machinery/stove_component.dm
  sound/attributions.txt
  sound/effects/soup_boil1.ogg
  sound/effects/soup_boil2.ogg
  sound/effects/soup_boil3.ogg
  sound/effects/soup_boil4.ogg
  sound/effects/soup_boil5.ogg
  sound/effects/soup_boil_end.ogg
Labels: TG Mirror

#3615 [MIRROR] One more Crew Monitor PR I Swear - Fixes Bouncers, Prisoners and Barbers
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsoleNova.tsx
Labels: Nova Mirror

#3618 [MIRROR] Minor Spider Rebalance
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
Labels: TG Mirror

#3620 [MIRROR] [Birdshot] Dorms Remap and Station Aesthetic Cleanup.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/birdshot/birdshot_armory.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_arrivals.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_barber.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_cryo.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_ntrep_office.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_virologist.dmm
  _maps/nova/automapper/templates/deltastation/deltastation_virologist.dmm
  _maps/nova/automapper/templates/icebox/icebox_cryo.dmm
  _maps/nova/automapper/templates/icebox/icebox_virologist.dmm
  _maps/nova/automapper/templates/metastation/metastation_virologist.dmm
  _maps/nova/automapper/templates/northstar/northstar_virologist.dmm
  _maps/nova/automapper/templates/tramstation/tramstation_virologist.dmm
  modular_nova/modules/automapper/code/area_spawn_entries.dm
Labels: Map Modification, TG Mirror

#3621 [MIRROR] Tribal tweaks for upcoming chemistry
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_upper.dmm
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
Labels: Map Modification, Nova Mirror

#3622 [MIRROR] Fixes crutches crippling you and giving infinite speedboosts
  code/game/objects/items/weaponry.dm
Labels: TG Mirror

#3624 [MIRROR] [MODULAR] Adds a new deathmatch modifier: Loadout enabled
  modular_nova/modules/deathmatch/deathmatch_modifier.dm
  tgstation.dme
Labels: Nova Mirror

#3619 [CI] А вы знали, что карты надо добавлять в список, чтобы они компилировались в юнит-тесте для карта? А я вот не знал.
  _maps/_basemap.dm
  _maps/map_files/KiloStation2/KiloStation2.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Modification

#3626 [MIRROR] Fixes incorrect arguments in Status Displays
  code/game/machinery/status_display.dm
Labels: TG Mirror

#3627 [MIRROR] Removes references to no-longer-existent "Tesla Energy Relay" from nukeop uplink
  code/modules/uplink/uplink_items/nukeops.dm
Labels: TG Mirror

#3628 [MIRROR] Fixes grammar in cat_house.dm
  code/game/objects/structures/cat_house.dm
Labels: TG Mirror

#3629 [MIRROR] Fix Meta cargo lobby being unconnected to power
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, TG Mirror

#3631 [MIRROR] Adds a tiny fan to Tramstation's disposals room
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification, TG Mirror

#3632 [MIRROR] Make AI's jump to AI Core button work while on backup power
  code/_onclick/hud/ai.dm
Labels: TG Mirror

#3633 [MIRROR] The memories for Smoker and Alcoholic now actually mention the preferred brand
  code/datums/memory/key_memories.dm
Labels: TG Mirror

#3625 [MIRROR] New Hearthkin Beds: Pelt Beds
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_upper.dmm
  modular_nova/modules/icemoon_additions/code/icecat_recipes.dm
  modular_nova/modules/primitive_catgirls/code/spawner.dm
  modular_nova/modules/tribal_extended/icons/tribal_beds.dmi
Labels: Sprites, Map Modification, Mirroring conflict, Nova Mirror

#3640 [MIRROR] [METASTATION] Connects the vault APC to the powernet
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification, TG Mirror

#3630 [MIRROR] Ash Ascension spells have high transparency
  code/modules/antagonists/heretic/magic/ash_ascension.dm
Labels: TG Mirror

#3634 [MIRROR] removes the force drop when trying to attack with an unwielded crusher
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: TG Mirror

#3635 [MIRROR] Removes the possibility to grief with the Anomalous Crystal
  code/modules/mining/lavaland/necropolis_chests.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
Labels: Nova Mirror

#3637 [MIRROR] Fixes another image harddel in station blueprints (and more) (#80780)
  code/datums/components/lock_on_cursor.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/shuttle/navigation_computer.dm
Labels: TG Mirror

#3641 [MIRROR] Resprites: Antag mechs
  icons/mob/mecha.dmi
Labels: Sprites, TG Mirror

#3643 [MIRROR] Adds Biomes to the Cave Generator, for all of your procedurally-placed cave biome needs!
  code/__DEFINES/maps.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/game/turfs/turf.dm
Labels: TG Mirror

#3644 [MIRROR] nerfs the frog ear rape
  sound/effects/huuu.ogg
  sound/effects/reee.ogg
Labels: TG Mirror

#3645 [MIRROR] Updates wendigo, adamantine and berserker armor icons
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites, TG Mirror

#3646 [MIRROR] cult stun gets weaker at when cult gets red eyes, and then also halo stage
  code/modules/antagonists/cult/blood_magic.dm
Labels: TG Mirror

#3647 [MIRROR] Cultist shades no longer count as cultists for the purposes of invoking runes until a minute after being released
  code/modules/antagonists/cult/cult_other.dm
  code/modules/antagonists/cult/datums/constructs.dm
  code/modules/antagonists/cult/datums/cult_team.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/cult/datums/shade.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  tgstation.dme
Labels: TG Mirror

#3648 [MIRROR] Legioned Monkeys create different mobs
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_monkey.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#3649 [MIRROR] Mutadone restores your original monkey status
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/mutations/body.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: TG Mirror

#3650 [MIRROR] Increase wildcard slots on grey and silver IDs
  code/__DEFINES/id_cards.dm
Labels: TG Mirror

#3652 [MIRROR] Sentient mobs can slowly subtract slime stacks by shaking
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/status_effects/debuffs/slime/slimed.dm
  code/datums/wounds/slash.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/basic/pets/dog/_dog.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: TG Mirror

#3653 [MIRROR] [MODULAR] Adds Tarkon Clothing to Loadouts (and fixes welding cap cover flag)
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/tarkon/code/clothing/head.dm
Labels: Nova Mirror

#3654 [MIRROR] [NON-MODULAR] Fixes orbit menu missing all Novas jobs icons
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
Labels: Nova Mirror

#3655 [MIRROR] Fixes ability to call cargo shuttle from cargo request console
  tgui/packages/tgui/interfaces/Cargo.jsx
Labels: Nova Mirror

#3656 [MIRROR] Fixes some runtimes that can happen from the examine menu still being opened and displaying a mob that's been deleted
  modular_nova/master_files/code/modules/mob/living/carbon/human/human.dm
  modular_nova/master_files/code/modules/mob/living/examine_tgui.dm
  modular_nova/master_files/code/modules/mob/living/sillicon/silicon.dm
  modular_nova/modules/borgs/code/robot_defines.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  modular_nova/modules/customization/modules/mob/living/silicon/topic.dm
Labels: Nova Mirror

#3659 [MIRROR] Fixes Using 'ESC' Key To Unbind Keybindings + Adds Function to Check It Elsewhere
  tgui/packages/common/keys.ts
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/components/NumberInput.tsx
  tgui/packages/tgui/components/TextArea.tsx
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/KeybindingsPage.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: TG Mirror

#3660 [MIRROR] Makes transferring functional wings to new bodies actually work
  code/modules/surgery/organs/external/wings/functional_wings.dm
Labels: TG Mirror

#3661 [MIRROR] Paradox clones copy the voice.
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: TG Mirror

#3664 [MIRROR] Fixes drake empowerment for berserker armor by adding drake remains, which are used to make drake armor and empower the suit
  code/datums/components/crafting/tailoring.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/mining/lavaland/tendril_loot.dm
Labels: TG Mirror

#3665 [MIRROR] Syndicate AI fixes
  code/__HELPERS/mobs.dm
  code/datums/wires/robot.dm
  code/game/machinery/computer/law.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: TG Mirror

#3667 [MIRROR] Fixes a sorting pipe in Birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification, TG Mirror

#3668 [MIRROR] Fixes RLD glowsticks not actually glowing
  code/game/objects/items/rcd/RLD.dm
Labels: TG Mirror

#3671 [MIRROR] janitor keyring now spawns in all janitor's backpacks instead of only the first one's
  code/modules/jobs/job_types/janitor.dm
  modular_nova/master_files/code/modules/jobs/job_types/janitor.dm
  tgstation.dme
Labels: TG Mirror

#3669 [MIRROR] Fixes Bubblegums Melee Cooldown
  code/datums/actions/mobs/charge.dm
Labels: TG Mirror

#3670 [MIRROR] Fix Pre-Loaded Syndicate AI appearing in PDA messenger
  code/game/objects/items/devices/aicard_evil.dm
Labels: TG Mirror

#3690 [MIRROR] Fixes Icebox active turfs in an attempt to save Peter Junior from cold
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification, TG Mirror

#3672 [MIRROR] Makes the Clown Stamp give out clown cells
  code/modules/paperwork/stamps.dm
Labels: TG Mirror

#3673 [MIRROR] Fixes some coffee inconsistencies
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: TG Mirror

#3674 [MIRROR] Auto Lathe Runtime Fixes
  code/game/machinery/autolathe.dm
Labels: TG Mirror

#3675 [MIRROR] Little QOL change for AI cyborg display power
  code/modules/mob/living/silicon/ai/ai.dm
Labels: TG Mirror

#3676 [MIRROR] Fixes curator whip disarming even after getting parried
  code/_onclick/item_attack.dm
  code/game/objects/items/melee/misc.dm
Labels: TG Mirror

#3677 [MIRROR] Blindfold Color Preference
  code/datums/quirks/negative_quirks/blindness.dm
  code/modules/client/preferences/blindfold_color.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/blindfold_color.tsx
Labels: TG Mirror

#3678 [MIRROR] Fix actionspeed modifiers with IDs being broken
  code/modules/actionspeed/_actionspeed_modifier.dm
Labels: TG Mirror

#3679 [MIRROR] making installing card readers and airlock electronics into closets easier and more intuitive.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: TG Mirror

#3680 [MIRROR] Only add the armor plate prefix once.
  code/datums/components/armor_plate.dm
Labels: TG Mirror

#3681 [MIRROR] Tram crossing signal logic fixes
  code/__DEFINES/transport.dm
  code/datums/components/energized.dm
  code/modules/transport/tram/tram_signals.dm
Labels: TG Mirror

#3682 [MIRROR] Fixes brig cell timer adjusting reducing the time by the time served for every operation. The maximum allowed time is based on the timer and not time served.
  code/game/machinery/doors/brigdoors.dm
Labels: TG Mirror

#3683 [MIRROR] Fixes laugh emote not playing prefs-selected audio
  modular_nova/modules/emotes/code/laugh_emotes.dm
Labels: Nova Mirror

#3684 [MIRROR] Fixes techfab print runtime for non apc areas
  code/modules/research/machinery/_production.dm
Labels: TG Mirror

#3686 [MIRROR] remove human requirement for invisible_wall
  code/modules/spells/spell_types/conjure/invisible_wall.dm
Labels: TG Mirror

#3685 [MIRROR] Change the pAI display face selection to a radial
  code/modules/pai/software.dm
Labels: TG Mirror

#3687 [MIRROR] Only filled graves will provide a mood modifier
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: TG Mirror

#3688 [MIRROR] Fix smoking pipe sprite typo
  code/game/objects/items/cigs_lighters.dm
Labels: TG Mirror

#3689 [MIRROR] Post-Rust Heretic's Rework adjustments.
  code/datums/elements/rust.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: TG Mirror

#3691 [MIRROR] Adds a few more pulsar star station trait reports
  code/controllers/subsystem/dynamic/dynamic.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
Labels: TG Mirror

#3692 [MIRROR] Fix icon cutter readme file
  tools/icon_cutter/README.md
Labels: TG Mirror

#3693 [MIRROR] Fix admin borg panel unable to install/remove upgrades
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/admin/verbs/borgpanel.dm
Labels: TG Mirror

#3695 [MIRROR] Fixes a weird formatting problem with the intern announcer
  code/datums/announcers/intern_announcer.dm
Labels: TG Mirror

#3694 [MIRROR] Fix wrench screentip typo for smart fridge
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: TG Mirror

#3696 [MIRROR] Icemoon Comms agent
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent.dmm
  code/datums/ruins/icemoon.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/area/areas/ruins/icemoon.dm
  code/modules/mapfluff/ruins/icemoonruin_code/commsagent.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/photography/photos/album.dm
  tgstation.dme
Labels: Map Modification, TG Mirror

#3697 [MIRROR] Fix borg emag modules stuck in inventory/screen after losing emag status
  code/_onclick/hud/robot.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: TG Mirror

#3698 [MIRROR] Fixes hearthkin bath salts.
  modular_nova/modules/primitive_catgirls/code/smelling_salts.dm
Labels: Nova Mirror

#3699 [MIRROR] New operating sounds for wrench, crowbar and wirecutter
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/tools.dm
  code/game/objects/items.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  sound/items/crowbar_prying.ogg
  sound/items/ratchet_fast.ogg
  sound/items/ratchet_slow.ogg
  sound/items/screwdriver_operating.ogg
  sound/items/wirecutter_cut.ogg
Labels: TG Mirror

#3700 [MIRROR] Adds a TRAIT_NO_TRANSFORM check to AI movement.
  code/datums/ai/movement/_ai_movement.dm
Labels: TG Mirror

#3701 [MIRROR] Makes The Automute Thingo Yell At You A Bit Louder
  code/modules/client/client_procs.dm
Labels: TG Mirror

#3702 [MIRROR] Plexagon Access Management now tells you that you need a Trim to use Templates for ID cards
  tgui/packages/tgui/interfaces/NtosCard.tsx
Labels: TG Mirror

#3703 [MIRROR] Fixes borg chargers constantly (abet slowly) draining borg cells.
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: TG Mirror

#3704 [MIRROR] Fix air alarm silicon lock/unlock
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_interact.dm
Labels: TG Mirror

#3705 [MIRROR] Centcom/Nukie mechs receive better innate armor but cannot be upgraded
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/energy.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/marauder.dm
Labels: TG Mirror

#3706 [MIRROR] Adds a random martial arts modifier to deathmatch + Adds a blacklisted map framework to modifiers
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_modifier.dm
Labels: TG Mirror

#3707 [MIRROR] [no gbp] fixes lobstrosities fishing infinite resources
  code/datums/components/profound_fisher.dm
Labels: TG Mirror

#3708 [MIRROR] Add circuit component cameras
  code/game/machinery/rechargestation.dm
  code/modules/photography/camera/camera.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/atom/remotecam.dm
  code/modules/wiremod/shell/airlock.dm
  code/modules/wiremod/shell/drone.dm
  tgstation.dme
Labels: TG Mirror

#3709 [MIRROR] Moves Blueshift Atmos Indoors
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification, Nova Mirror

#3710 [MIRROR] Fixes space ruin blacklist
  config/spaceruinblacklist.txt
Labels: Config, TG Mirror

#3711 [MIRROR] Sneeze Rework: Projectile Combat Edition
  code/datums/components/shielded.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/diseases/cold.dm
  code/datums/diseases/cold9.dm
  code/datums/diseases/dna_spread.dm
  code/datums/diseases/fake_gbs.dm
  code/datums/diseases/flu.dm
  code/datums/diseases/fluspanish.dm
  code/datums/diseases/wizarditis.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/effects/cursor_catcher.dm
  code/modules/events/fake_virus.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/sneeze.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  icons/obj/weapons/guns/projectiles.dmi
  tgstation.dme
Labels: Sprites, TG Mirror

#3712 [MIRROR] adds final destination deathmatch map
  _maps/deathmatch/finaldestination.dmm
  code/game/turfs/open/_open.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_maps.dm
Labels: Map Modification, TG Mirror

#3713 [MIRROR] Fixes admins not being able to force some rulesets with Stationwide Background Checks station trait
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: TG Mirror

#3714 [MIRROR] reactive armor spelling
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/nova/vaulttango.dmm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/research/designs/misc_designs.dm
Labels: Map Modification, TG Mirror

#3715 [MIRROR] Fix crew records not accounting for quirks for latejoiners
  code/modules/mob/dead/new_player/new_player.dm
Labels: TG Mirror

#3731 Donate Item | romontesque
  tff_modular/master_files/icons/donator/mob/clothing/neck.dmi
  tff_modular/master_files/icons/donator/obj/clothing/cloaks.dmi
  tff_modular/modules/~donator/clothes/donator_clothing.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#3716 [MIRROR] Adds overflow back to the orbit menu
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: TG Mirror

#3717 [MIRROR] Implements some unused mood events into their relevant phobias.
  code/datums/brain_damage/phobia.dm
Labels: TG Mirror

#3720 [MIRROR] Adds a chat message for fishing in a chasm with a normal and rescue hook
  code/datums/components/fishing_spot.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
Labels: TG Mirror

#3718 [MIRROR] Fixes some Raptor grammar
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
Labels: TG Mirror

#3722 [MIRROR] stacking machine consoles check in area instead of a tiny view range on init
  code/modules/mining/machine_stacking.dm
Labels: TG Mirror

#3723 [MIRROR] Spooky element fixes
  code/datums/elements/spooky.dm
Labels: TG Mirror

#3724 [MIRROR] lowers mutadone pill volume from 50 to 5
  code/modules/reagents/reagent_containers/pill.dm
Labels: TG Mirror

#3725 [MIRROR] [NO-GBP] Fixes my borg moduling fuckup
  code/game/objects/items/robot/robot_upgrades.dm
Labels: TG Mirror

#3728 [MIRROR] Removes the unpowered door subtype
  _maps/templates/small_shuttle_1.dmm
  code/game/machinery/doors/unpowered.dm
  tgstation.dme
Labels: Map Modification, TG Mirror

#3729 [MIRROR] Adds Atmos-themed Rebar Crossbow Ammo Types (and minor balance changes)
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/rebarxbowsyndie.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/uplink/uplink_items/job.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/weapons/bows/quivers.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/items/xbow_lock.ogg
Labels: Sprites, TG Mirror

#3730 [MIRROR] Fix coders leaving coderbus
  _maps/RandomRuins/SpaceRuins/bus.dmm
Labels: Map Modification, TG Mirror

#3732 [MIRROR] Tram malfunction adjustments
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/controllers/subsystem/transport.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/tram_malfunction.dm
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/tram/tram_machinery.dm
  icons/obj/tram/tram_controllers.dmi
  icons/obj/tram/tram_display.dmi
Labels: Sprites, Map Modification, TG Mirror

#3733 [MIRROR] Tram door fixes
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/modules/transport/tram/tram_doors.dm
Labels: TG Mirror

#3721 [MIRROR] Fixes basic bots being targeted by turrets
  code/modules/mob/living/basic/bots/_bots.dm
Labels: TG Mirror

#3734 [MIRROR] Wawastation automapper templates
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/wawastation/wawastation_armory.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_barber.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_corridor.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_elevator.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_lockers.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_ntrep_office.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_supermatter.dmm
  modular_nova/master_files/code/game/objects/structures/signs/signs_maps.dm
  modular_nova/master_files/icons/obj/sign.dmi
  tgstation.dme
Labels: Sprites, Map Modification, Nova Mirror
