Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-06, with the labels that each got.

#5589 Добавить армадайн одежду в секдроб
  modular_nova/modules/sec_haul/code/misc/vending.dm
  modular_nova/modules/sec_haul/code/security_clothing/armadyne_clothing.dm
Labels: Feature

#5595 Название сервера в ченджлоге
  tgui/packages/tgui/interfaces/Changelog.jsx
Labels: Fix

#5605 Novabatch 16/06
  html/changelogs/AutoChangeLog-pr-5404.yml
  html/changelogs/AutoChangeLog-pr-5630.yml
  html/changelogs/AutoChangeLog-pr-5634.yml
  html/changelogs/AutoChangeLog-pr-5636.yml
  modular_nova/modules/aesthetics/flag/code/signs_flags.dm
  modular_nova/modules/aesthetics/flag/icons/flags.dmi
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/gun_cases.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_worn.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns32x.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns48x.dmi
Labels: Sprites

#5607 Novabatch 19/06
  README.md
  code/__DEFINES/hud.dm
  code/_onclick/hud/ghost.dm
  code/controllers/subsystem/ticker.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  html/changelogs/AutoChangeLog-pr-5501.yml
  html/changelogs/AutoChangeLog-pr-5629.yml
  html/changelogs/AutoChangeLog-pr-5632.yml
  html/changelogs/AutoChangeLog-pr-5633.yml
  html/changelogs/AutoChangeLog-pr-5635.yml
  html/changelogs/AutoChangeLog-pr-5641.yml
  html/changelogs/AutoChangeLog-pr-5646.yml
  html/changelogs/AutoChangeLog-pr-5651.yml
  html/changelogs/AutoChangeLog-pr-5653.yml
  interface/interface.dm
  modular_nova/master_files/code/game/objects/items/wiki_manuals.dm
  modular_nova/master_files/code/modules/client/preferences/ghost.dm
  modular_nova/master_files/code/modules/mob/living/human/species_types/kobold.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/projectiles/boxes_magazines/external/rifle.dm
  modular_nova/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_nova/master_files/icons/hud/screen_ghost.dmi
  modular_nova/master_files/icons/mob/actions/actions_nif.dmi
  modular_nova/master_files/icons/mob/clothing/back.dmi
  modular_nova/master_files/icons/mob/clothing/eyes.dmi
  modular_nova/master_files/icons/mob/inhands/clothing/backpack_lefthand.dmi
  modular_nova/master_files/icons/mob/inhands/clothing/backpack_righthand.dmi
  modular_nova/master_files/icons/obj/clothing/backpacks.dmi
  modular_nova/master_files/icons/obj/clothing/glasses.dmi
  modular_nova/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_nova/modules/ashwalkers/code/buildings/planttank.dm
  modular_nova/modules/ashwalkers/code/buildings/railroad.dm
  modular_nova/modules/ashwalkers/code/buildings/simple_tree.dm
  modular_nova/modules/ashwalkers/code/items/ash_tool.dm
  modular_nova/modules/ashwalkers/code/items/food.dm
  modular_nova/modules/ashwalkers/icons/ashwalker_tools.dmi
  modular_nova/modules/ashwalkers/icons/food.dmi
  modular_nova/modules/ashwalkers/icons/plant.dmi
  modular_nova/modules/ashwalkers/icons/railroad.dmi
  modular_nova/modules/ashwalkers/icons/tree.dmi
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/customization/modules/clothing/glasses/glasses.dm
  modular_nova/modules/customization/modules/clothing/storage/backpacks.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/mapping/code/wardrobes.dm
  modular_nova/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
  modular_nova/modules/opposing_force/code/opposing_force_datum.dm
  modular_nova/modules/opposing_force/code/opposing_force_subsystem.dm
  tgstation.dme
Labels: Sprites

#5591 МОД контрактора больше не замедляет.
  modular_nova/modules/contractor/code/items/modsuit/theme.dm
Labels: Balance
