Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-01, with the labels that each got.

#5268 Возвращение тех ТГМС-шных ксеноморфов
  code/modules/mob/living/carbon/human/human_defense.dm
  tff_modular/modules/tgmc_xenos/code/base_nova_xeno.dm
  tff_modular/modules/tgmc_xenos/code/human_defense.dm
  tff_modular/modules/tgmc_xenos/code/larva.dm
  tff_modular/modules/tgmc_xenos/code/tgmc_alien_event.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/defender.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/drone.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/praetorian.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/queen.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/ravager.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/rouny.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/sentinel.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/spitter.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/warrior.dm
  tff_modular/modules/tgmc_xenos/icons/big_xenos.dmi
  tff_modular/modules/tgmc_xenos/icons/xeno_actions.dmi
  tff_modular/modules/tgmc_xenos/sound/alien_hiss.ogg
  tff_modular/modules/tgmc_xenos/sound/alien_queen_screech.ogg
  tff_modular/modules/tgmc_xenos/sound/alien_roar1.ogg
  tff_modular/modules/tgmc_xenos/sound/alien_roar2.ogg
  tff_modular/modules/tgmc_xenos/sound/alien_spitacid.ogg
  tff_modular/modules/tgmc_xenos/sound/alien_spitacid2.ogg
  tff_modular/modules/tgmc_xenos/sound/alien_tail_swipe.ogg
  tgstation.dme
Labels: Feature, Sprites, Do Not Merge, Discuss First

#5272 [MIRROR] [MODULAR] Disables a few required experiments
  modular_nova/modules/research/techweb/nodes/disabled-experiments.dm
  tgstation.dme
Labels: Quality of Life, Nova Mirror

#5270 [MIRROR] Fixes a bug with hash grinding
  code/modules/hydroponics/grown/cannabis.dm
  modular_nova/modules/morenarcotics/code/thc.dm
Labels: Stale, Fix, Nova Mirror

#5271 [MIRROR] Adds in digitigrade variants for the coroner outfits.
  modular_nova/master_files/icons/mob/clothing/under/medical.dmi
  modular_nova/master_files/icons/mob/clothing/under/medical_digi.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5276 [MIRROR] Malicious Intent - adds mauling people with entrenching tools and machetes
  code/__DEFINES/inventory.dm
  code/__DEFINES/~nova_defines/colony_fabricator_misc.dm
  modular_nova/master_files/code/modules/surgery/amputation.dm
  modular_nova/modules/mauling_melees/icons/back.dmi
  modular_nova/modules/mauling_melees/icons/lefthands.dmi
  modular_nova/modules/mauling_melees/icons/objects.dmi
  modular_nova/modules/mauling_melees/icons/righthands.dmi
  modular_nova/modules/mauling_melees/mauling_element.dm
  modular_nova/modules/mauling_melees/mauling_melees.dm
  modular_nova/modules/mauling_melees/sounds/rifle_draw.ogg
  modular_nova/modules/modular_weapons/code/cargo_crates/surplus_crates.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5278 [MIRROR] Places the right amount of HFR corner boxes on snowglobe
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification, Nova Mirror

#5279 [MIRROR] Makes the interlink shuttle slightly faster.
  modular_nova/modules/advanced_shuttles/code/shuttles.dm
Labels: Quality of Life, Nova Mirror

#5280 [MIRROR] Detectives get Security Huds on loadout
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Quality of Life, Nova Mirror

#5281 [MIRROR] Re-adds the custom sprites for Hospital Gowns
  code/datums/storage/subtypes/surgery_tray.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/surgery_tray.dm
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/modules/cellguns/code/medigun_cells.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/mapping/voidraptor/code/clothing.dm
  modular_nova/modules/medical_designs/medical_designs.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
Labels: Sprites, Icon changes, Nova Mirror

#5277 [MIRROR] Changes Nanotrasen Consultant and Blueshield's ID trims to be limited while preventing self-service AA
  code/modules/modular_computers/file_system/programs/card.dm
  modular_nova/master_files/code/datums/id_trim/jobs.dm
  modular_nova/master_files/code/game/objects/items/cards_ids.dm
  modular_nova/modules/blueshield/code/blueshield.dm
  modular_nova/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: Balance, Mirroring conflict, Nova Mirror

#5275 Фикс ТГМС-ксеносов
  code/game/objects/structures/aliens.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  tff_modular/modules/tgmc_xenos/code/alien_egg.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/queen.dm
  tgstation.dme
Labels: Fix

#5284 [MIRROR] [Early Mirror]Adds a .NET 9 SDK setup action to linters (#88988)
  .github/workflows/ci_suite.yml
Labels: Code modification, Nova Mirror

#5286 SnakeKongar donator plushies
  tff_modular/master_files/icons/donator/obj/toys/plushie.dmi
  tff_modular/modules/toys/code/soulmate_plushes.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Sprites

#5288 [MIRROR] Update rust_g to 3.5.1
  code/__DEFINES/rust_g.dm
  dependencies.sh
Labels: Nova Mirror

#5289 [MIRROR] [MODULAR] Minor MagFed Turret Tweaks
  modular_nova/modules/magfed_turret/code/turret_framework.dm
Labels: Fix, Nova Mirror

#5290 [MIRROR] Brand intelligence unanchors rebellious vending machines
  modular_nova/modules/modular_vending/code/vending.dm
Labels: Quality of Life, Nova Mirror

#5291 [MIRROR] Tune .460 Ceres AP Rounds
  modular_nova/modules/aesthetics/guns/code/guns.dm
Labels: Balance, Nova Mirror

#5292 [MIRROR] Adds vials to chemistry bag's list
  code/game/objects/items/storage/bags.dm
Labels: Quality of Life, Nova Mirror

#5287 Удаление сикей лока на предметы zanozkin
  tff_modular/modules/~donator/loadout.dm
Labels: Feature

#5295 [MIRROR] Fixes for the [Semi-Modular] Mounted Machine Gun
  _maps/virtual_domains/ancientmilsim_nova.dmm
  code/modules/projectiles/ammunition/_firing.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mod.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mounted_machine_gun.dm
  modular_nova/modules/mounted_machine_gun/code/ammobox.dm
  modular_nova/modules/mounted_machine_gun/code/mounted_machine_gun.dm
  modular_nova/modules/mounted_machine_gun/icons/turret.dmi
  tgstation.dme
Labels: Sprites, Map Modification, Balance, Fix, Quality of Life, Nova Mirror

#5219 Делаю(ем) медицину менее доступной
  code/datums/id_trim/jobs.dm
  modular_nova/master_files/code/datums/id_trim/jobs.dm
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/imported_vendors/code/vendors.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_nova/modules/modular_vending/code/tool.dm
  tff_modular/modules/cargo/goodies.dm
  tff_modular/modules/cargo/packs/medical.dm
  tff_modular/modules/deforest_medical_items/deforest_cargo_packs.dm
  tff_modular/modules/deforest_medical_items/deforest_medical.dm
  tgstation.dme
Labels: Balance, Removal, Test Merged

#5301 Нерф телепортирования при помощи БС кристалов
  code/game/objects/items/stacks/bscrystal.dm
Labels: Balance

#5299 [MIRROR] Bitrunning server ghost communication and domain anchor balancing
  modular_nova/modules/bitrunning/code/anchor.dm
  modular_nova/modules/bitrunning/code/outfit.dm
  modular_nova/modules/bitrunning/code/server.dm
  tgstation.dme
Labels: Balance, Quality of Life, Nova Mirror

#5304 [MIRROR] [MODULAR] Tarkon Content Update part 1: Backpacks and uniform updates
  modular_nova/modules/tarkon/code/clothing/backpack.dm
  modular_nova/modules/tarkon/code/misc_fluff/spawner.dm
  modular_nova/modules/tarkon/icons/mob/clothing/backpack.dmi
  modular_nova/modules/tarkon/icons/mob/clothing/uniform.dmi
  modular_nova/modules/tarkon/icons/mob/clothing/uniform_digi.dmi
  modular_nova/modules/tarkon/icons/mob/inhands/lefthand.dmi
  modular_nova/modules/tarkon/icons/mob/inhands/righthand.dmi
  modular_nova/modules/tarkon/icons/obj/clothing/backpack.dmi
  tgstation.dme
Labels: Feature, Sprites, Fix, Quality of Life, Icon changes, Nova Mirror

#5298 [MIRROR] [MODULAR] Add: Voice Actor Quirk
  modular_nova/modules/voice_actor_quirk/code/alter_voice_action.dm
  modular_nova/modules/voice_actor_quirk/code/voice_actor_preferences.dm
  modular_nova/modules/voice_actor_quirk/code/voice_actor_quirk.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/voice_actor.tsx
Labels: Feature, Nova Mirror

#5297 [MIRROR] Add Sensitive Hearing: Teshari ears for everyone
  code/__DEFINES/~nova_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/processing/quirks.dm
  modular_nova/master_files/code/datums/traits/good.dm
  modular_nova/modules/organs/code/ears.dm
Labels: Feature, Fix, Nova Mirror

#5300 [MIRROR] Syndicate Assault domain (relatively minor) rework
  _maps/virtual_domains/syndicate_assault_nova.dmm
  modular_nova/modules/bitrunning/code/virtual_domains/syndicate_assault/virtual_domain.dm
  tgstation.dme
Labels: Map Modification, Quality of Life, Nova Mirror

#5314 [MIRROR] Removing regal condor crafting recipe from obtaining
  code/modules/cargo/packs/imports.dm
Labels: Removal, Nova Mirror

#5311 [MIRROR] Add the Donk Manufacturer to toy guns that lacked it
  modular_nova/modules/manufacturer_examine/code/gun_company_additions.dm
Labels: Fix, Nova Mirror

#5313 [MIRROR] Adds the hand labeler to the Security lathe
  modular_nova/modules/security_designs/code/security_designs.dm
  tgstation.dme
Labels: Quality of Life, Nova Mirror

#5312 [MIRROR] Fixes American Sausage being uncraftable
  modular_nova/modules/customization/modules/food_and_drinks/food/scottish.dm
Labels: Fix, Nova Mirror

#5315 [MIRROR] [Feature] Adds Flora Turtle to the Pet Lover Quirk List
  modular_nova/modules/pet_owner/pet_owner.dm
Labels: Feature, Nova Mirror

#5316 [MIRROR] The Spidering Pt 1
  modular_nova/modules/spider/giant_spider/giant_spiders.dm
  modular_nova/modules/spider/icons/spider.dmi
  modular_nova/modules/spider/spider_abilities/spider_abilities.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5319 [MIRROR] Adds a Camera Status toggle to robotact (but not AI's)
  code/modules/modular_computers/file_system/programs/robotact.dm
  tgui/packages/tgui/interfaces/NtosRobotact.jsx
Labels: Quality of Life, Nova Mirror

#5320 [MIRROR] Add Some Extra Stuff to Bitrunning Disks
  modular_nova/master_files/code/modules/bitrunning/orders/disks.dm
  modular_nova/modules/bitrunning/code/disks.dm
Labels: Feature, Balance, Nova Mirror

#5305 Фикс целей генокрадов
  modular_nova/master_files/code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#5324 Fix caps
  tff_modular/modules/redsec/code/cloth.dm
Labels: Fix

#5325 DeadSpace mod-reskins addition
  tff_modular/modules/deadspace/code/mod_variants/antag.dm
  tff_modular/modules/deadspace/code/mod_variants/civilian.dm
  tff_modular/modules/deadspace/code/mod_variants/engineering.dm
  tff_modular/modules/deadspace/code/mod_variants/mining.dm
  tff_modular/modules/deadspace/code/mod_variants/science.dm
  tff_modular/modules/deadspace/code/mod_variants/security.dm
  tff_modular/modules/deadspace/icons/mob/clothing/mod_clothing.dmi
  tff_modular/modules/deadspace/icons/mob/clothing/mod_clothing_mutant.dmi
  tff_modular/modules/deadspace/icons/obj/clothing/mod_clothing.dmi
  tgstation.dme
Labels: Feature, Sprites

#5334 [MIRROR] Making bulky pets more bulky
  modular_nova/modules/pet_size/pet_size.dm
  tgstation.dme
Labels: Balance, Nova Mirror

#5331 [MIRROR] Removes the fire trail from .460 Ceres incendiary rounds
  modular_nova/modules/aesthetics/guns/code/guns.dm
Labels: Removal, Nova Mirror

#5333 [MIRROR] Adds "Psychiatric Hold Prisoner" to the list of alternate Prisoner job titles
  modular_nova/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature, Nova Mirror

#5335 [MIRROR] Fixes some fuel pool/hotspot CI failures/hard del (#89195)
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Nova Mirror

#5337 [MIRROR] Replaces the Bogseo in the Blueshield's gun beacon with the NT20, a new, nerfed variant of the C20-r.
  modular_nova/modules/blueshield/code/blueshield.dm
  modular_nova/modules/modular_weapons/code/autolathe_design.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_armouries/ballistic.dmi
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_armouries/rifle.dm
  modular_nova/modules/security_designs/code/security_designs.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5339 [MIRROR] Gives hat defines for Wide and Tall borgs so they stay on their heads
  code/modules/modular_computers/file_system/programs/robotact.dm
  modular_nova/modules/borgs/code/robot_model.dm
Labels: Fix, Quality of Life, Nova Mirror

#5340 [MIRROR] Charlie Station with your loadout
  modular_nova/modules/charlie/spawner.dm
  tgstation.dme
Labels: Quality of Life, Nova Mirror

#5341 [MIRROR] [Balance] Minor Adjustment to Xenoarch rewards
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_reward.dm
Labels: Balance, Nova Mirror

#5336 [MIRROR] Adds tasers to the security vendor, and of course guncargo (+changes)
  code/modules/projectiles/projectile/energy/stun.dm
  modular_nova/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_nova/modules/modular_weapons/code/overrides/energy.dm
  modular_nova/modules/sec_haul/code/misc/vending.dm
Labels: Feature, Balance, Nova Mirror

#5343 [MIRROR] Undoes my buff i gave to Blobs
  code/__DEFINES/blob_defines.dm
Labels: Balance, Nova Mirror

#5345 [MIRROR] Gives cin_surplus suit sensors
  modular_nova/modules/novaya_ert/code/surplus_armor.dm
Labels: Quality of Life, Nova Mirror

#5346 [MIRROR] Adjusts the P207 based on the feedback (removes bounce, added 50% more ammo per mag)
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/ammo.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/magazine.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/pistol.dm
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/type207magazine.dmi
Labels: Sprites, Quality of Life, Nova Mirror

#5347 [MIRROR] Fix department batons being invisible
  modular_nova/modules/goofsec/code/department_guards.dm
  modular_nova/modules/goofsec/icons/departmental_batons.dmi
Labels: Sprites, Fix, Nova Mirror

#5348 [MIRROR] removes two entire pixels from m_snout_hshark_ADJ_secondary
  modular_nova/master_files/icons/mob/sprite_accessory/snouts.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5349 [MIRROR] magazine muck-about-ery: m9mm mag fixes, sol mag inventory sizing, ammo case throwing
  modular_nova/master_files/code/game/objects/items/storage/toolbox.dm
  modular_nova/modules/aesthetics/guns/code/magazine.dm
  modular_nova/modules/aesthetics/guns/icons/magazine.dmi
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/magazines.dm
  tgstation.dme
Labels: Sprites, Balance, Fix, Nova Mirror

#5350 [MIRROR] Adds a new pistol, the Zashch 10mm
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/pistol.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/ammo.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_32.dmi
Labels: Feature, Sprites, Nova Mirror

#5351 [FIX] NT20 in Blueshield beacon
  tff_modular/modules/blueshield-rearm/code/weapon_beacon.dm
Labels: Fix

#5353 [MIRROR] lets synth persocoms use NT IRN Imports
  modular_nova/modules/company_imports/code/armament_component.dm
Labels: Fix, Nova Mirror

#5355 [MIRROR] Fixes sound prefs not being respected
  code/game/objects/items/devices/radio/radio.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
Labels: Fix, Nova Mirror

#5354 [MIRROR] [QoL] Turn off by default talking and Soulcatcher on the Hoshi and the Hyeseong.
  modular_nova/modules/modular_implants/code/soulcatcher/soulcatcher_devices.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  tgstation.dme
Labels: Quality of Life, Nova Mirror

#5359 Fix stihar plush
  tff_modular/modules/~donator/loadout.dm
Labels: Fix

#5330 No guncargo
  tff_modular/modules/cargo/consoles.dm
  tff_modular/modules/cargo/imports/akh.dm
  tff_modular/modules/cargo/imports/deforest.dm
  tff_modular/modules/cargo/imports/donk.dm
  tff_modular/modules/cargo/imports/microstar.dm
  tff_modular/modules/cargo/imports/nakamura.dm
  tff_modular/modules/cargo/imports/nri.dm
  tff_modular/modules/cargo/imports/sol.dm
  tff_modular/modules/cargo/imports/vitezstvi.dm
  tgstation.dme
Labels: Balance

#5323 Возврат скорости зарядки Новы
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
Labels: Balance

#5358 Small Guncase Limit
  tff_modular/modules/guncase/guncase.dm
  tgstation.dme
Labels: Balance
