Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-04, with the labels that each got.

#5524 Бафф Голопаразитов (Прошлый ПР сломался)
  code/modules/mob/living/basic/guardian/guardian_verbs.dm
  tff_modular/modules/guardianbuff/code/guardianbuffs.dm
  tff_modular/modules/guardianbuff/code/other_creator.dm
Labels: Feature, Balance

#5536 Точки в конце фраз для кириллицы
  modular_nova/master_files/code/_globalvars/regexes.dm
Labels: Fix

#5560 tweak katyusha/ weight
  tff_modular/modules/gun_balance/shotgun.dm
Labels: Balance

#5566 Разнерф веспы
  tff_modular/modules/gun_balance/pistols.dm
Labels: Balance

#5569 Отключаем компиляцию карт тг
  .github/workflows/compile_all_maps.yml
  _maps/_basemap.dm
Labels: Map Modification

#5514 Бафф пауков
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/basic/space_fauna/spider/spider.dm
  tff_modular/modules/spiderbuff/giant_spiders.dm
  tff_modular/modules/spiderbuff/spider_ability.dm
  tff_modular/modules/spiderbuff/spidersecondstage_subtypes.dm
  tff_modular/modules/spiderbuff/spiderstages.dm
  tgstation.dme
Labels: Feature, Balance, Removal

#5542 Fuck you shotguns part 1: нарезка
  tff_modular/master_files/code/game/objects/items/ammo/shotammo.dm
  tgstation.dme
Labels: Balance
