Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-07, with the labels that each got.

#5621 fix the defenestreur blackmarket kit not spawning
  tff_modular/master_files/code/modules/cargo/markets/market_items/weapons.dm
Labels: Fix

#5618 fix commsagent loadout and prefs
  _maps/RandomRuins/IceRuins/fluffy/icemoon_underground_comms_agent_ff.dmm
  _maps/RandomRuins/SpaceRuins/fluffy/listeningstation_ff.dmm
  config/iceruinblacklist.txt
  config/lavaruinblacklist.txt
  config/spaceruinblacklist.txt
  tff_modular/modules/commsagent_tweaks/mining_roles.dm
  tff_modular/modules/commsagent_tweaks/space.dm
  tgstation.dme
Labels: Config Update, Balance, Fix, Quality of Life

#5623 Fixing my mistakes
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/update_tgs_dmapi.yml
  _maps/fluffy_frontier/automapper/README_AUTOMAPPER.md
  html/changelogs/AutoChangeLog-pr-5151.yml
  html/changelogs/AutoChangeLog-pr-5404.yml
  html/changelogs/AutoChangeLog-pr-5658.yml
  html/changelogs/archive/2025-07.yml
  modular_nova/modules/GAGS/json_configs/nabber_fallbacks/belt.json
  modular_nova/modules/GAGS/json_configs/nabber_fallbacks/gloves.json
  modular_nova/modules/GAGS/json_configs/nabber_fallbacks/neck.json
  modular_nova/modules/GAGS/json_configs/nabber_fallbacks/uniform.json
  strings/fluffy/femboy_flavor.json
  strings/fluffy/localized_codewords.json
  tff_modular/modules/clothing/readme.md
  tff_modular/modules/greyscale/json_configs/fjacket.json
  tff_modular/modules/greyscale/json_configs/fjacket_worn.json
Labels: Map Edit, GitHub, Code modification
