Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-05, with the labels that each got.

#5571 Nova batch 1-05
  code/__DEFINES/~nova_defines/techweb_nodes.dm
  code/game/machinery/medipen_refiller.dm
  html/changelogs/AutoChangeLog-pr-3577.yml
  html/changelogs/AutoChangeLog-pr-5418.yml
  html/changelogs/AutoChangeLog-pr-5423.yml
  modular_nova/master_files/code/modules/clothing/under/accessories.dm
  modular_nova/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_nova/master_files/code/modules/reagents/chemistry/holder.dm
  modular_nova/master_files/code/modules/reagents/reagent_containers/hypospray.dm
  modular_nova/master_files/icons/mob/clothing/under/shorts_pants_shirts.dmi
  modular_nova/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_nova/master_files/icons/obj/clothing/under/shorts_pants_shirts.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/pants_shorts_skirts_dresses/chaps.json
  modular_nova/modules/lathe_medipens/README.md
  modular_nova/modules/lathe_medipens/code/autolathe_designs.dm
  modular_nova/modules/lathe_medipens/code/hypospray.dm
  modular_nova/modules/lathe_medipens/code/medbay_nodes.dm
  modular_nova/modules/lathe_medipens/icons/medical_lefthand.dmi
  modular_nova/modules/lathe_medipens/icons/medical_righthand.dmi
  modular_nova/modules/lathe_medipens/icons/reagent_fillings.dmi
  modular_nova/modules/lathe_medipens/icons/syringe.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/tesh_augments/code/robot_bodyparts.dm
  tgstation.dme
Labels: Sprites

#5573 Блэклист квирков, небольшой дебафф гемофагов и нет регенерации слаймам
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_tongue.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  tff_modular/master_files/code/modules/quirks_balance/quirks.dm
  tgstation.dme
Labels: Balance, Fix

#5580 Небольшой фикс ЮРЛов и гайдбуков
  config/config.txt
  config/interviews.txt
  config/nova/config_nova.txt
  tgui/packages/tgui/interfaces/AntagInfoRules.tsx
Labels: Config
