Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-02, with the labels that each got.

#5361 [BALANCE] Выпил Zashch из карго
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: Balance

#5365 [MIRROR] Making batons great again (not actually)
  modular_nova/master_files/code/game/objects/items/melee/baton.dm
Labels: Balance, Nova Mirror

#5366 [MIRROR] Snowglobe detective shutters
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Feature, Map Modification, Nova Mirror

#5368 [MIRROR] Restocking II, electric boogaloo (solfed pistols)
  modular_nova/modules/ammo_stacks/code/stack_types.dm
  modular_nova/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/ammo.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/revolver.dm
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/trappiste_fabriek/ammo.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/trappiste_fabriek/guns32x.dmi
Labels: Sprites, Balance, Icon changes, Grammar, Nova Mirror

#5373 Деактивация выбора побочек у триторов
  code/modules/antagonists/traitor/uplink_handler.dm
Labels: Balance

#5374 [MIRROR] Minor QoL for Ghost Cafe
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification, Fix, Quality of Life, Nova Mirror

#5379 [MIRROR] [MODULAR] Resetting Ore Vents and Boulder Collectors
  _maps/RandomRuins/IceRuins/nova/icemoon_surface_geosite.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_geosite.dmm
  _maps/RandomRuins/SpaceRuins/nova/space_geosite.dmm
  modular_nova/master_files/code/modules/research/designs/mining_designs.dm
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
  modular_nova/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_nova/modules/ghost_mining/code/boulder_collector.dm
  modular_nova/modules/ghost_mining/code/ghost_vent.dm
  modular_nova/modules/ghost_mining/icons/mining.dmi
  modular_nova/modules/mapping/code/icemoon.dm
  modular_nova/modules/mapping/code/lavaland.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/tarkon/code/misc_fluff/research.dm
  tgstation.dme
Labels: Feature, Sprites, Map Modification, Nova Mirror

#5375 [MIRROR] brings the bulldog back in line with its tg iteration
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Balance, Nova Mirror

#5364 Бердыш
  tff_modular/modules/redsec/code/vending.dm
  tff_modular/modules/security-rearm/code/baton.dm
  tff_modular/modules/security-rearm/icons/mob/berdish_back.dmi
  tff_modular/modules/security-rearm/icons/mob/berdish_lefthand.dmi
  tff_modular/modules/security-rearm/icons/mob/berdish_righthand.dmi
  tff_modular/modules/security-rearm/icons/obj/berdish.dmi
  tgstation.dme
Labels: Feature, Sprites

#5369 [MIRROR] Three new not-NRI:tm: Police Clothing Pieces
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/food_replicator/icons/clothing.dmi
  modular_nova/modules/food_replicator/icons/clothing_worn.dmi
  modular_nova/modules/novaya_ert/code/police_outfit.dm
Labels: Feature, Sprites, Nova Mirror

#5380 [MIRROR] Lowers the price/Increases the stock of BR-38 packs, adds the gun to Company Imports
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: Feature, Balance, Nova Mirror

#5332 [MIRROR] Fixes SecDrobe emissives (+ cleans up bluesec vendor file)
  modular_nova/modules/sec_haul/code/misc/vending.dm
  modular_nova/modules/sec_haul/icons/vending/vending.dmi
  tff_modular/modules/redsec/code/vending.dm
Labels: Sprites, Fix, Nova Mirror

#5382 Удаление изменений по бульдогу
  tff_modular/modules/uplink_item/code/guns.dm
  tgstation.dme
Labels: Balance

#5370 [MIRROR] Colonial Stun Guns and Tasers
  code/__DEFINES/~nova_defines/manufacturer_strings.dm
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/novaya_ert/code/mod_suit.dm
  modular_nova/modules/novaya_ert/code/police_outfit.dm
  modular_nova/modules/novaya_ert/code/stun_gun.dm
  modular_nova/modules/novaya_ert/code/taser.dm
  modular_nova/modules/novaya_ert/icons/stun_gun.dmi
  modular_nova/modules/novaya_ert/icons/stun_gun_left.dmi
  modular_nova/modules/novaya_ert/icons/stun_gun_right.dmi
  modular_nova/modules/novaya_ert/icons/taser.dmi
  modular_nova/modules/novaya_ert/icons/taser_left.dmi
  modular_nova/modules/novaya_ert/icons/taser_right.dmi
  tgstation.dme
Labels: Feature, Sprites, Mirroring conflict, Nova Mirror

#5317 [MIRROR] Revert #4772, increase the Regal Condor's recipe price
  code/modules/cargo/packs/imports.dm
  modular_nova/modules/cargo/code/packs.dm
Labels: Feature, Balance, Nova Mirror

#5376 [MIRROR] Crank taser and stun gun buffs
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/novaya_ert/code/stun_gun.dm
  modular_nova/modules/novaya_ert/code/taser.dm
Labels: Balance, Fix, Mirroring conflict, Nova Mirror

#5377 [MIRROR] nerfs liquid spill slips, and the paralyze it had for some reason
  modular_nova/modules/liquids/code/liquid_systems/liquid_effect.dm
Labels: Balance, Nova Mirror

#5384 [MIRROR] Makes the gorillas no longer GBJ you
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  modular_nova/modules/basic_mobs/code/gorilla.dm
  tgstation.dme
Labels: Balance, Nova Mirror

#5356 [MIRROR] Fixes jobs page expanding infinitely
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/JobsPage.tsx
Labels: Fix, Mirroring conflict, Nova Mirror

#5386 [MIRROR] fixes ablative trenchcoat and digitigrade
  modular_nova/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Fix, Nova Mirror

#5387 [MIRROR] Fix icebox NTRep office
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/icebox/icebox_ntrep_office.dmm
Labels: Map Modification, Nova Mirror

#5392 [MIRROR] [MODULAR] Fixing asteroid with engines evac shuttle
  code/game/turfs/closed/minerals.dm
  modular_nova/master_files/code/game/turfs/closed/minerals.dm
  tgstation.dme
Labels: Fix, Nova Mirror

#5390 [MIRROR] [Removal] Vendors dont Crit anymore, they just deal damage instead of insta trauma
  code/modules/vending/_vending.dm
Labels: Removal, Nova Mirror

#5391 [MIRROR] Type 213 Submachine gun
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/longarm.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/magazine.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/bolt_fabrications/pistol.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/bolt_fabrications/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/bolt_fabrications/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/type207magazine.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/type213.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/bolt_fabrications/type213magazine.dmi
  tgstation.dme
Labels: Feature, Sprites, Fix, Nova Mirror

#5396 Zanozka
  tff_modular/modules/~donator/loadout.dm
Labels: Feature

#5400 [MIRROR] [QoL] Adds GPS to the RCF and to Cargo Imports
  modular_nova/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/tools.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Quality of Life, Nova Mirror

#5401 [MIRROR] Increases the amount of ammo for BR-38 mags (as such the degradation thresholds too) and reduces their size
  modular_nova/master_files/code/modules/projectiles/boxes_magazines/external/rifle.dm
  modular_nova/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  tgstation.dme
Labels: Balance, Nova Mirror

#5403 [MIRROR] Adds the Carrier Spider
  code/__DEFINES/~nova_defines/traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/game/data_huds.dm
  modular_nova/modules/spider/giant_spider/giant_spiders.dm
  modular_nova/modules/spider/spider_abilities/spideregg_organ.dm
  tgstation.dme
Labels: Feature, Balance, Nova Mirror

#5404 [MIRROR] Fixes Crusher variants Mark speed and balances the claw bonus damage
  modular_nova/modules/mining_crushers/code/miningweapons.dm
Labels: Balance, Fix, Nova Mirror

#5405 [MIRROR] Convert Researcher Labcoat to GAGS
  code/game/objects/items/storage/garment.dm
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/fancy_labcoat.dmi
  modular_nova/modules/GAGS/json_configs/fancy_labcoat/fancy_labcoat.json
  modular_nova/modules/GAGS/json_configs/fancy_labcoat/fancy_labcoat_tesh_worn.json
  modular_nova/modules/GAGS/json_configs/fancy_labcoat/fancy_labcoat_worn.json
  modular_nova/modules/Syndie_edits/code/syndie_edits.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/mapping/code/lockers/des_two/command.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
  tools/UpdatePaths/Scripts_Nova/4869_FancyLabcoat_repath.txt
Labels: Sprites, Icon changes, Nova Mirror

#5399 RD MOD reskin removal
  tff_modular/modules/deadspace/code/mod_variants/science.dm
  tff_modular/modules/deadspace/icons/mob/clothing/mod_clothing.dmi
  tff_modular/modules/deadspace/icons/mob/clothing/mod_clothing_mutant.dmi
  tff_modular/modules/deadspace/icons/obj/clothing/mod_clothing.dmi
  tgstation.dme
Labels: Sprites

#5397 Мелкий твик по сек-вендомату
  tff_modular/modules/redsec/code/vending.dm
  tff_modular/modules/security-rearm/code/baton.dm
Labels: Fix, Quality of Life

#5398 Еще пара фиксов для ксеносов
  tff_modular/modules/tgmc_xenos/code/base_nova_xeno.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/defender.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/drone.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/praetorian.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/queen.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/ravager.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/rouny.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/sentinel.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/spitter.dm
  tff_modular/modules/tgmc_xenos/code/xeno_types/warrior.dm
Labels: Balance, Code modification, Fix

#5402 [MIRROR] Even more stun gun fixes
  modular_nova/modules/novaya_ert/code/stun_gun.dm
Labels: Balance, Fix, Nova Mirror

#5407 [MIRROR] Prison cryopod fix
  modular_nova/modules/cryosleep/code/cryopod.dm
Labels: Fix, Nova Mirror

#5408 [MIRROR] Attempts to optimize cargo imports window
  modular_nova/modules/company_imports/code/armament_component.dm
Labels: Fix, Nova Mirror

#5394 Rebalanced guns
  tff_modular/modules/gun_balance/pistols.dm
  tgstation.dme
Labels: Balance

#5363 Возвращение Detomatrix. Возвращение Crab 17 (accidental) (я случайно закрыл прошлый)
  tff_modular/modules/uplink_item/code/categories/device_tools.dm
  tff_modular/modules/uplink_item/code/categories/explosive.dm
  tgstation.dme
Labels: Feature, Balance

#5328 Восстановление оружия удаленного крысами в аплинк, изменение стоимости огнестрела
  tff_modular/modules/uplink_item/code/categories/ammuniton.dm
  tff_modular/modules/uplink_item/code/categories/dangerous.dm
  tgstation.dme
Labels: Feature, Test Merged

#5195 Псионика!!!
  tff_modular/modules/psyonics/code/_psyonics.dm
  tff_modular/modules/psyonics/code/_quirk.dm
  tff_modular/modules/psyonics/code/coersion.dm
  tff_modular/modules/psyonics/code/cyberimp.dm
  tff_modular/modules/psyonics/code/documents.dm
  tff_modular/modules/psyonics/code/energistics.dm
  tff_modular/modules/psyonics/code/psychokinesis.dm
  tff_modular/modules/psyonics/code/redaction.dm
  tff_modular/modules/psyonics/icons/actions.dmi
  tff_modular/modules/psyonics/icons/card.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/tff/psyonic_school.tsx
  tgui/packages/tgui/interfaces/PsyonicLicense.tsx
Labels: Feature, Sprites, Test Merged

#5406 [MIRROR] Fix some modular comment issues, other nitpicks
  code/_globalvars/lists/canisters.dm
  code/modules/uplink/uplink_items/device_tools.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
  modular_nova/modules/mining_crushers/code/miningweapons.dm
Labels: Mirroring conflict, Nova Mirror

#5410 [MIRROR] [Fix] Adds the Unlimited Fishing flag to the Ghost Cafe so any fishing done there doesnt remove loot from the fishing loot tables.
  modular_nova/modules/mapping/code/areas/centcom.dm
Labels: Fix, Nova Mirror

#5411 [MIRROR] Tones back a few of the downsides of oversized, by alot.
  modular_nova/modules/oversized/code/door.dm
  modular_nova/modules/oversized/code/oversized_quirk.dm
  tgstation.dme
Labels: Balance, Nova Mirror

#5412 [MIRROR] Adds Anime-Styled Eye Markings
  modular_nova/master_files/icons/mob/body_markings/other_markings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Feature, Sprites, Nova Mirror

#5413 [MIRROR] Fancy labcoatfix
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
Labels: Fix, Nova Mirror

#5414 [MIRROR] Icon for the marines MOD suit for characters with digitigrade legs
  code/__DEFINES/mod.dm
  code/__DEFINES/species_clothing_paths.dm
  code/__DEFINES/~nova_defines/species_clothing_paths.dm
  code/modules/mod/mod_theme.dm
  modular_nova/master_files/code/modules/mod/mod_clothes.dm
  modular_nova/modules/marines/code/mod.dm
  modular_nova/modules/marines/icons/mod_worn_mutant.dmi
Labels: Sprites, Code modification, Icon changes, Nova Mirror

#5415 [MIRROR] [Feature] New Papersacks designs by JR
  modular_nova/master_files/icons/obj/storage/paperbag.dmi
  modular_nova/modules/aesthetics/storage/storage.dm
Labels: Feature, Sprites, Nova Mirror

#5416 [MIRROR] [Experimental] Makes Several Melee Mobs Telegraph Their Attacks, & Buff Carps
  modular_nova/modules/modular_creatures/code/carp.dm
  modular_nova/modules/modular_creatures/code/telegraph_overrides.dm
  tgstation.dme
Labels: Balance, Quality of Life, Nova Mirror

#5417 [MIRROR] Fix skillsoft stations reconstructing into smart fridges
  modular_nova/master_files/code/modules/library/skill_learning/skill_station.dm
Labels: Fix, Nova Mirror

#5418 [MIRROR] Nuclear Generation is cool (but this is entirely unrelated to the RBMK)
  modular_nova/modules/colony_fabricator/code/appliances/wind_turbine.dm
  modular_nova/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_nova/modules/colony_fabricator/code/machines/power_storage_unit.dm
  modular_nova/modules/colony_fabricator/code/machines/rtg.dm
  modular_nova/modules/colony_fabricator/code/machines/solid_fuel_generator.dm
  modular_nova/modules/colony_fabricator/code/machines/stirling_generator.dm
Labels: Balance, Nova Mirror

#5419 [MIRROR] reverts the ID default age to the tg-standard (30)
  code/game/objects/items/cards_ids.dm
Labels: Nova Mirror

#5421 [MIRROR] Adds the Napad submachine gun
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_worn.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/ammo.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_48.dmi
Labels: Feature, Sprites, Nova Mirror

#5420 [MIRROR] Adds utility NIFsofts; unshackles HUD NIFsofts from glasses
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
  modular_nova/modules/modular_implants/code/nif_research.dm
  modular_nova/modules/modular_implants/code/nifsofts/detective_summoner.dm
  modular_nova/modules/modular_implants/code/nifsofts/huds.dm
  modular_nova/modules/modular_implants/code/nifsofts/prop_summoner.dm
  modular_nova/modules/modular_implants/code/nifsofts/service_summoner.dm
  modular_nova/modules/modular_implants/code/nifsofts/surgery_summoner.dm
  modular_nova/modules/modular_implants/code/nifsofts/tool_summoner.dm
  modular_nova/modules/modular_vending/code/boozeomat.dm
  modular_nova/modules/modular_vending/code/dinnerware.dm
  modular_nova/modules/modular_vending/code/engivend.dm
  modular_nova/modules/modular_vending/code/medical.dm
  modular_nova/modules/modular_vending/code/megaseed.dm
  modular_nova/modules/modular_vending/code/security.dm
  modular_nova/modules/modular_vending/code/tool.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
  modular_nova/modules/novaya_ert/code/police_outfit.dm
  tgstation.dme
Labels: Feature, Fix, Quality of Life, Mirroring conflict, Nova Mirror

#5424 [MIRROR] lets contractors flick out their baton, without needing the gloves out
  modular_nova/modules/contractor/code/items/modsuit/modules.dm
Labels: Balance, Nova Mirror

#5441 [MIRROR] Turns the Food Replicator order into a flatpack; properly applies its inherent efficiency debuffs
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/food_replicator/code/replicator.dm
Labels: Balance, Quality of Life, Nova Mirror

#5429 [MIRROR] [QoL] Toggles (Most) Eating and Drinking sounds
  code/datums/components/food/edible.dm
  code/datums/elements/basic_eating.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  modular_nova/master_files/code/modules/client/preferences/sounds.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/nova/sounds.tsx
Labels: Quality of Life, Nova Mirror

#5435 [MIRROR] [Feature] Adds Pet Treats that make them Inmune to Space - Port from ABoxFaux + own twist
  code/__DEFINES/~nova_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  modular_nova/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_nova/modules/modular_items/code/pet_items.dm
  modular_nova/modules/modular_items/icons/pet_items.dmi
  modular_nova/modules/pet_owner/pet_owner.dm
  tgstation.dme
Labels: Feature, Sprites, Nova Mirror

#5432 Передел маячка (замена веспы на П207, замена дизейблера на АдвТазер)
  tff_modular/modules/security-rearm/code/p207.dm
  tff_modular/modules/security-rearm/code/security_beacon.dm
  tgstation.dme
Labels: Balance

#5438 Добавляет контрактнику тазер
  tff_modular/modules/antagonism_updates/contractor_gear.dm
  tgstation.dme
Labels: Feature

#5431 [MIRROR] Restocking III, rifles-and-shotguns galore (for solfed, atleast)
  code/modules/projectiles/guns/ballistic/shotgun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_worn.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns48x.dmi
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Labels: Sprites, Balance, Removal, Do Not Merge, Icon changes, Nova Mirror, Discuss First

#5445 FIX DEMILITARISATION
  tff_modular/modules/security-rearm/code/p207.dm
  tff_modular/modules/security-rearm/code/p213.dm
  tff_modular/modules/security-rearm/code/security_beacon.dm
  tgstation.dme
Labels: Fix

#5389 [MIRROR] Removes the Counterfeit mail device and Tram Remote from OPFOR and Traitor Uplinks
  code/modules/uplink/uplink_items/device_tools.dm
  modular_nova/modules/opposing_force/code/equipment/gadgets.dm
  tff_modular/modules/opposing_force/code.dm
  tgstation.dme
Labels: Removal, Nova Mirror

#5442 [MIRROR] adds two mr-2543 kits into the armory, that's about it.
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/gunsets.dm
  modular_nova/modules/sec_haul/code/guns/armory_spawns.dm
Labels: Balance, Do Not Merge, Nova Mirror, Discuss First

#5443 [MIRROR] adds mini-egun, sindano, and guepe to the uplink (priced accordingly)
  modular_nova/modules/traitor-uplinks/code/categories/dangerous.dm
Labels: Balance, Nova Mirror

#5451 [MIRROR] snips the 'breast overlay' from the Enterprise Managment feline suit.
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/latex_catsuit.dm
  modular_nova/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-snake.dmi
  modular_nova/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform.dmi
Labels: Sprites, Code modification, Nova Mirror

#5450 [MIRROR] [Feature] Allows to make Material Fishing Rods in the workbench
  modular_nova/modules/reagent_forging/code/crafting_bench.dm
  modular_nova/modules/reagent_forging/code/crafting_bench_recipes.dm
Labels: Feature, Nova Mirror

#5452 Moved bunny to contrabundy
  tff_modular/modules/vending/vends/wardrobe/atmos_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/bar_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/cargo_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/cent_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/chap_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/chef_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/chem_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/coroner_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/curator_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/det_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/engi_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/hydro_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/jani_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/law_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/medi_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/robo_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/science_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/sec_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/syndie_wardrobe.dm
  tff_modular/modules/vending/vends/wardrobe/viro_wardrobe.dm
Labels: Code modification

#5459 [MIRROR] adds crusher retool kits to loadout
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: Feature, Nova Mirror

#5458 [MIRROR] Adds tailored jacket to the clothesmate
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Nova Mirror

#5446 Бульдог, ЦР привязаны к прогрессии, выпилены дубликаты у нюкопс, лоноп аплинков
  tff_modular/modules/uplink_item/code/categories/ammuniton.dm
  tff_modular/modules/uplink_item/code/categories/dangerous.dm
Labels: Balance

#5440 bye bye skild
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: Balance

#5460 Zashch returns
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: Balance

#5439 Увеличивает скорость взросления cocktical vorer, увеличивает хим реген
  modular_nova/modules/cortical_borer/code/cortical_borer.dm
  tff_modular/modules/borer-rebalance/borer_ff.dm
  tgstation.dme
Labels: Balance

#5457 [MIRROR] Adds missing Nova constants to 516 TGUI Say
  tgui/packages/tgui-say/516/constants.ts
  tgui/packages/tgui-say/516/styles/colors.scss
Labels: Fix, Nova Mirror

#5464 Fixed sol rifle and Zashch ammo
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_nova/modules/sec_haul/code/guns/armory_spawns.dm
Labels: Balance

#5463 [MIRROR] Duo Hermits
  _maps/RandomRuins/IceRuins/nova/icemoon_duo_hermit.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_duo_hermit.dmm
  config/iceruinblacklist.txt
  config/lavaruinblacklist.txt
  modular_nova/modules/mapping/code/icemoon.dm
  modular_nova/modules/mapping/code/lavaland.dm
Labels: Map Modification, Config, Nova Mirror

#5465 [MIRROR] [Fix] Hydro Wild mutation experiment no longer gives you 1500 research points upon researching scythes
  modular_nova/modules/space_vines/scythes.dm
Labels: Fix, Nova Mirror

#5466 [MIRROR] [QoL] Chipped and Chip Connector no longer cause brain damage / remove your brain.
  code/datums/quirks/positive_quirks/chipped.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Labels: Quality of Life, Nova Mirror

#5456 Одна карта в битране убивает клиенты. Это "фикс"
  config/maps.txt
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/virtual_domain.dm
Labels: Config

#5302 Фикс доступов для обделённых (НТР и БЩ эдишен) (битраннер пеид длц) (атмосы не должны страдать (или должны?))
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/datums/id_trim/jobs.dm
  modular_nova/modules/cargo/code/packs.dm
  tff_modular/master_files/code/datum/id_trim/jobs.dm
  tgstation.dme
Labels: Map Modification, Balance, Test Merged

#5468 [MIRROR] [perhaps a testmerge] sample-run of what if the colonial modsuit (essentially unused) went on the belt, and was spaceproof (but also had like, no mod complexity)
  modular_nova/modules/company_imports/code/armament_datums/kahraman_industries.dm
  modular_nova/modules/kahraman_equipment/code/clothing/mod.dm
  modular_nova/modules/kahraman_equipment/icons/modsuits/mod.dmi
  modular_nova/modules/kahraman_equipment/icons/modsuits/mod_worn.dmi
Labels: Sprites, Balance, Nova Mirror
