Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-03, with the labels that each got.

#5425 [MIRROR] Doubles the amount of pens for the colonial medipen pouch; adds a colonial general purpose pouch and an accessory webbing vest
  code/modules/loadout/categories/accessories.dm
  modular_nova/modules/food_replicator/code/clothing.dm
  modular_nova/modules/food_replicator/code/replicator_designs/replicator_clothing.dm
  modular_nova/modules/food_replicator/code/replicator_designs/replicator_medical.dm
  modular_nova/modules/food_replicator/code/storage.dm
  modular_nova/modules/food_replicator/icons/clothing.dmi
  modular_nova/modules/food_replicator/icons/clothing_worn.dmi
  modular_nova/modules/food_replicator/icons/pouch.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  tff_modular/modules/guncase/guncase.dm
  tff_modular/modules/pouch/pouch.dm
Labels: Feature, Sprites, Balance, Mirroring conflict, Nova Mirror

#5473 [MIRROR] Dragonfly Snout Variant
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Nova Mirror

#5474 [MIRROR] replaces 5 whole pixels on the defensteur's sprite
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/trappiste_fabriek/guns32x.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5475 [MIRROR] Adds a few various new alt-titles
  modular_nova/modules/alternative_job_titles/code/alt_job_titles.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Feature, Nova Mirror

#5477 [MIRROR] Restocking I, .2, miecz and lanca redo
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_worn.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/ammo.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_48.dmi
Labels: Sprites, Balance, Icon changes, Nova Mirror

#5470 [MIRROR] 2 line change, nerfs the wound-chance of .40 long-sol
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: Balance, Nova Mirror

#5471 [MIRROR] [MODULAR] Adds the makeshift stun-knife.
  code/datums/storage/subtypes/pockets.dm
  modular_nova/modules/novaya_ert/code/stun_gun.dm
  modular_nova/modules/novaya_ert/icons/stun_knife.dmi
  modular_nova/modules/novaya_ert/icons/stun_knife_left.dmi
  modular_nova/modules/novaya_ert/icons/stun_knife_right.dmi
  modular_nova/modules/sec_haul/code/misc/vending.dm
Labels: Feature, Sprites, Nova Mirror

#5472 [MIRROR] Robotic repair patches now come in stacks (of three)
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/deforest_medical_items/code/medstation_designs/medical.dm
  modular_nova/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_nova/modules/deforest_medical_items/code/synth_healing.dm
  modular_nova/modules/deforest_medical_items/code/vendor.dm
  modular_nova/modules/deforest_medical_items/icons/stack_items.dmi
Labels: Sprites, Balance, Quality of Life, Nova Mirror

#5467 [MIRROR] Replaces the black raptor spawn with red in the hermit spawner
  _maps/RandomRuins/LavaRuins/nova/lavaland_duo_hermit.dmm
Labels: Map Modification, Mirroring conflict, Nova Mirror

#5476 [MIRROR] [Various] Small fixes and backlog clearing
  modular_nova/master_files/code/modules/research/designs/mechfabricator_designs.dm
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
  modular_nova/modules/ammo_stacks/code/stack_types.dm
  modular_nova/modules/colony_fabricator/code/design_datums/tools.dm
  modular_nova/modules/colony_fabricator/code/tools/tools.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_nova/modules/company_imports/code/armament_datums/kahraman_industries.dm
  modular_nova/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_nova/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_nova/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_nova/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/kahraman_equipment/code/clothing/armor_datums.dm
  modular_nova/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_nova/modules/kahraman_equipment/code/clothing/storage.dm
  modular_nova/modules/modular_items/code/bags.dm
  modular_nova/modules/modular_items/code/materials.dm
  modular_nova/modules/modular_items/code/pet_items.dm
  modular_nova/modules/modular_items/code/storage.dm
  modular_nova/modules/modular_weapons/code/cargo_crates/armory_guns.dm
  modular_nova/modules/opposing_force/code/equipment/ammo.dm
  modular_nova/modules/reagent_forging/code/forge_recipes.dm
  modular_nova/modules/shotgunrebalance/code/ammobox.dm
  tgstation.dme
Labels: Feature, Balance, Code modification, Quality of Life, Mirroring conflict, Do Not Merge, Grammar, Nova Mirror, Discuss First

#5478 [MIRROR] Voskhod MOD conversion kit, and consequently the Voskhod MOD
  modular_nova/master_files/icons/mob/clothing/modsuit/mod_clothing_mutant.dmi
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/outfit.dm
  modular_nova/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_nova/modules/deforest_medical_items/code/medstation_designs/medical.dm
  modular_nova/modules/novaya_ert/code/ert.dm
  modular_nova/modules/novaya_ert/code/mod_suit.dm
  modular_nova/modules/novaya_ert/code/outfit.dm
  modular_nova/modules/novaya_ert/icons/mod.dmi
  modular_nova/modules/novaya_ert/icons/refit_kit.dmi
  modular_nova/modules/novaya_ert/icons/wornmod.dmi
  modular_nova/modules/opposing_force/code/equipment/modsuit.dm
  modular_nova/modules/underworld_connections/code/markets/base_black_market.dm
  tff_modular/modules/cargo/imports/nri.dm
  tgstation.dme
Labels: Feature, Sprites, Removal, Nova Mirror

#5479 [MIRROR] Fixes some maintenance spawners that are located in invalid locations
  _maps/RandomRuins/SpaceRuins/nova/drones_derelict.dmm
  _maps/RandomRuins/SpaceRuins/nova/vaulttango.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Modification, Nova Mirror

#5481 [MIRROR] Lowers the cost of various uplink items
  code/modules/uplink/uplink_items/job.dm
  modular_nova/modules/traitor-uplinks/code/categories/dangerous.dm
  tff_modular/modules/uplink_item/code/categories/dangerous.dm
Labels: Feature, Balance, Nova Mirror

#5482 [MIRROR] Reworked Legion Types & Ruin ID Removal
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_syndidome.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/map_files/Mining/Lavaland.dmm
  code/modules/mob_spawn/corpses/mining_corpses.dm
  modular_nova/modules/new_legion_types/code/modules/mob_spawn/corpses/mining_corpses.dm
  modular_nova/modules/new_legion_types/code/modules/mob_spawn/corpses/noid_corpses.dm
  tgstation.dme
Labels: Feature, Map Modification, Balance, Nova Mirror

#5483 [MIRROR] people who have been husked by changelings can be unhusked again
  code/__DEFINES/~nova_defines/reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  modular_nova/master_files/code/modules/reagents/medicine_reagents/medicine_reagents.dm
Labels: Balance, Fix, Nova Mirror

#5485 [MIRROR] Add `Merge Commit` suggestion to `mirroring_guide.md`
  modular_nova/mirroring_guide.md
Labels: Nova Mirror

#5486 [MIRROR] explodes the modular glaive reskin
  modular_nova/master_files/icons/mob/64x64_lefthand.dmi
  modular_nova/master_files/icons/mob/64x64_righthand.dmi
  modular_nova/master_files/icons/mob/clothing/back.dmi
  modular_nova/master_files/icons/obj/kinetic_glaive.dmi
  modular_nova/modules/mining_vendor_additions/code/order_mining.dm
Labels: Sprites, Removal, Nova Mirror

#5487 [MIRROR] Adds a cargo system to Interdyne and DS-2 [PORTED]
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  code/__DEFINES/~nova_defines/economy.dm
  code/controllers/subsystem/economy.dm
  modular_nova/master_files/code/game/machinery/department_balance.dm
  modular_nova/master_files/code/game/machinery/syndiepad.dm
  modular_nova/master_files/icons/mob/inhands/budget_cards_left.dmi
  modular_nova/master_files/icons/mob/inhands/budget_cards_right.dmi
  modular_nova/master_files/icons/obj/budget_cards.dmi
  modular_nova/modules/Department_Budgets/cards.dm
  modular_nova/modules/cargo/code/expressconsole.dm
  modular_nova/modules/mapping/code/lockers/des_two/command.dm
  tgstation.dme
Labels: Feature, Sprites, Map Modification, Code modification, Icon changes, Nova Mirror

#5488 [MIRROR] Bump tgstation/discord-notify from 2 to 3
  .github/workflows/discord_pr_announce.yml
Labels: Mirroring conflict, Nova Mirror

#5484 [MIRROR] Fixes a potential source of brain trauma hard dels
  modular_nova/master_files/code/datums/components/damage_tracker.dm
Labels: Nova Mirror

#5448 [MIRROR] resets oversized speed back to its original value.
  modular_nova/modules/oversized/code/oversized_quirk.dm
Labels: Balance, Do Not Merge, Nova Mirror, Discuss First

#5491 [MIRROR] Adds GAGs Support for Port Tarkon Uniform
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/tarkon/tarkonuniform.json
  modular_nova/modules/GAGS/json_configs/tarkon/tarkonuniform_worn.json
  modular_nova/modules/tarkon/code/clothing/uniform.dm
  modular_nova/modules/tarkon/icons/mob/clothing/uniform.dmi
  modular_nova/modules/tarkon/icons/mob/clothing/uniform_digi.dmi
  modular_nova/modules/tarkon/icons/obj/clothing/uniform.dmi
Labels: Sprites, Icon changes, Nova Mirror

#5492 [MIRROR] Opens up the gateways
  config/awaymissionconfig.txt
  config/game_options.txt
Labels: Config, Configs, Config changes, Nova Mirror

#5496 [MIRROR] changes the miecz firing sound to something more fitting
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_nova/modules/modular_weapons/sounds/ak_shoot.ogg
  modular_nova/modules/modular_weapons/sounds/attributions.txt
Labels: Sound changes, Nova Mirror

#5498 [MIRROR] makes strongarm not restricted to medical
  modular_nova/master_files/code/modules/cargo/packs/medical.dm
  tgstation.dme
Labels: Balance, Nova Mirror

#5499 [MIRROR] a 1 line change giving the blueshield's beret its armor values
  modular_nova/modules/blueshield/code/clothing.dm
Labels: Fix, Mirroring conflict, Nova Mirror

#5462 Maido suito
  tff_modular/modules/antagonism_updates/syndi_badass_armor/clothes.dm
  tff_modular/modules/uplink_item/code/categories/badass.dm
  tgstation.dme
Labels: Feature

#5469 [МОДУЛЬНО] Нёрф/ребаланс еретического зелья прохождения сквозь стены.
  tff_modular/modules/crucible_soul_potion_rebalance/crucible_soul_tweak.dm
  tgstation.dme
Labels: Balance, Test Merged

#5310 Yet Another Interdyne & DS-2 Rework by Enny_Diaz
  _maps/RandomRuins/IceRuins/fluffy/icemoon_interdyne_base_ff.dmm
  _maps/RandomRuins/LavaRuins/fluffy/lavaland_interdyne_base_ff.dmm
  _maps/RandomRuins/SpaceRuins/fluffy/des_two.dmm
  code/controllers/subsystem/research.dm
  tff_modular/master_files/code/modules/mapping/interdyne_ds2_improved_spawn.dm
  tff_modular/modules/interdyne_ds2_improved/interdyne_ds2_improved.dm
  tff_modular/modules/interdyne_ds2_improved/interdyne_ds2_improved_radio.dm
  tff_modular/modules/interdyne_ds2_improved/interdyne_ds2_improved_remap.dm
  tff_modular/modules/interdyne_ds2_improved/interdyne_ds2_improved_supply.dm
  tff_modular/modules/interdyne_ds2_improved/interdyne_ds2_improved_weapons.dm
  tgstation.dme
Labels: Feature, Map Modification, Test Merged

#5501 Перемещаем ~ff_defines\__HELPERS
  code/__DEFINES/~ff_defines/_globalvars/lists/blooper.dm
  code/__HELPERS/~ff_helpers/is_helpers.dm
  code/__HELPERS/~ff_helpers/names.dm
  tgstation.dme
Labels: Code modification

#5509 quickfix bags
  tff_modular/master_files/code/game/objects/items/storage/bags.dm
  tgstation.dme
Labels: Fix

#5502 Возможность отключить для игроков кнопку Observe в лобби
  code/modules/mob/dead/new_player/new_player.dm
  tff_modular/modules/observing/observing.dm
  tgstation.dme
Labels: Administration, Test Merged

#5461 чинит название пути security-rearm на security_rearm. возвращает стардасты как отдельный тип патронов
  tff_modular/modules/cargo/imports/vitezstvi.dm
  tff_modular/modules/security_rearm/code/baton.dm
  tff_modular/modules/security_rearm/code/outfit.dm
  tff_modular/modules/security_rearm/code/p213.dm
  tff_modular/modules/security_rearm/code/security_beacon.dm
  tff_modular/modules/security_rearm/code/shotgun/ammobox.dm
  tff_modular/modules/security_rearm/code/shotgun/shotgunammo.dm
  tff_modular/modules/security_rearm/code/wespe.dm
  tff_modular/modules/security_rearm/icons/mob/berdish_back.dmi
  tff_modular/modules/security_rearm/icons/mob/berdish_lefthand.dmi
  tff_modular/modules/security_rearm/icons/mob/berdish_righthand.dmi
  tff_modular/modules/security_rearm/icons/obj/berdish.dmi
  tff_modular/modules/security_rearm/icons/obj/shotbox.dmi
  tgstation.dme
Labels: Feature, Sprites, Fix

#5515 Перемещение одного файла в наших модулях
  tff_modular/modules/custom_smites/femboyfication.dm
  tgstation.dme
Labels: Code modification

#5521 Senior & Host plushie update
  tff_modular/modules/toys/code/loadout_datum_toys.dm
  tff_modular/modules/toys/code/plushes.dm
  tff_modular/modules/toys/icons/plushes.dmi
  tff_modular/modules/toys/sounds/fox.ogg
Labels: Sprites, Icon changes

#5520 Руссификация префиксов чата + микрофикс
  tgui/packages/tgui-say/516/constants.ts
  tgui/packages/tgui-say/516/helpers.ts
  tgui/packages/tgui-say/516/styles/colors.scss
Labels: Feature, Fix

#5518 Половина маршрутки плакала: Отключение выбора ЕРП предметов в лодауте
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
Labels: Removal

#5525 Donator plushie
  tff_modular/master_files/icons/donator/obj/toys/plushie.dmi
  tff_modular/modules/~donator/items/donator_items.dm
  tff_modular/modules/~donator/loadout.dm
Labels: Feature, Sprites

#5526 карпум нефрум
  tff_modular/modules/martial/sleeping_carp.dm
Labels: Feature

#5527 Nova batch 01-04 (not joking)
  code/__DEFINES/~nova_defines/DNA.dm
  code/__DEFINES/~nova_defines/lewd_defines.dm
  code/modules/bitrunning/objects/vendor.dm
  code/modules/cargo/packs/_packs.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/general.dm
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/cargo/packs/materials.dm
  code/modules/cargo/packs/medical.dm
  code/modules/unit_tests/cargo_crate_sanity.dm
  html/changelogs/AutoChangeLog-pr-5125.yml
  html/changelogs/AutoChangeLog-pr-5138.yml
  modular_nova/modules/customization/_globalvars/lists.dm
  modular_nova/modules/customization/modules/surgery/organs/genitals.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/_aphrodisiac.dm
  modular_nova/modules/voxes/code/organs.dm
  modular_nova/modules/voxes/icons/organs.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/genitals.tsx
Labels: Sprites
