Repository Fluffy-Frontier/FluffySTG, pull requests merged in 2025-09, with the labels that each got.

#5624 Фиксы для ГБСов и еще немного больше
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/living_say.dm
  tff_modular/modules/cqd_holsters/code/holster.dm
  tff_modular/modules/greyscale/json_configs/nabber_fallbacks/belt.json
  tff_modular/modules/greyscale/json_configs/nabber_fallbacks/gloves.json
  tff_modular/modules/greyscale/json_configs/nabber_fallbacks/neck.json
  tff_modular/modules/greyscale/json_configs/nabber_fallbacks/uniform.json
  tff_modular/modules/nabbers/code/GAGS/nabber_gags.dm
  tff_modular/modules/nabbers/code/_nabbers.dm
  tff_modular/modules/nabbers/code/abilites/nabber_combat_effect.dm
  tff_modular/modules/nabbers/code/abilites/toggle_arms.dm
  tff_modular/modules/nabbers/code/nabber_bodyparts.dm
  tff_modular/modules/nabbers/code/nabber_bolaimmunity.dm
  tff_modular/modules/nabbers/code/nabber_huds.dm
  tff_modular/modules/nabbers/code/nabber_language.dm
  tff_modular/modules/nabbers/code/nabber_organs.dm
Labels: Code Improvement, Fix

#5637 DeZaibas - послабление пулемета и снайперской пульсовки.
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/magazines.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/pulse_rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/pulse_sniper.dm
Labels: Balance

#5643 Fix nss journey pt3
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#5648 CHANGE IN REPO ONLY [TEST]
  .github/workflows/compile_changelogs.yml
Labels: GitHub

#5649 наплак демона резни
  code/modules/mob/living/basic/space_fauna/demon/demon_subtypes.dm
  code/modules/spells/spell_types/jaunt/bloodcrawl.dm
Labels: Balance, Removal
